[2020-04-23 10:16] mzueva commented on #1040
@sidoruka One more concern: how should we mount if parent and child storages are allowed for user? E.g. user has access to s3://bucket and s3://bucket/folder - shall we filter such intersections and mount only parent?

[2020-04-23 10:33] sidoruka commented on #1072
@mzueva  Can we have this for both?

[2020-04-23 10:35] sidoruka commented on #1040
@mzueva if we are talking about the "in-instance" mounts (i.e. s3fs, goofys, pipe storage mount) - then we, probably, shall not care about that.
if there are intersections - the folders will be just "mounted over" each other.

[2020-04-23 13:06] rodichenko commented on #1072
@sidoruka GUI part implemented, backported to `release/0.15` via 25a55fab3c2548532a1c6442f90ccb6163fd2c81

[2020-04-23 16:17] NShaforostov commented on #1040
I've verified "**Mounts on running instances**".
Some notes below:

#### goofys

For mounted buckets with the **WRITE** permission:
1. `fallocate` operations aren't supported (files are being created with the error `fallocate: fallocate failed: Operation not supported` and empty)
2. `truncate` command is being executed without errors, but all created by the `truncate` command files have the null s

[2020-04-23 16:31] mzueva commented on #1040
@NShaforostov fixes are provided in build 5162.

- **GUI** p.1 and p.2 are fixed, p.3 and p.4 - will remain as is for now.
- **pipe cli** mkdir command is fixed
- **pipe mount** shall be fixed
- **s3fs mount** shall be fixed but only for newly registered buckets

[2020-04-23 19:08] NShaforostov commented on #1040
@mzueva, verified:
1. **GUI** p.1 and p.2 are fixed
2. **pipe cli** `mkdir` is fixed
3. **pipe mount**:
   - `truncate`/`fallocate` errors are still here:
   ![image](https://user-images.githubusercontent.com/45459424/80135697-3bf37680-85a9-11ea-964d-e7730db892d4.png)
   - others errors are fixed
4. **s3fs mount** is fixed

[2020-04-24 09:26] tcibinan commented on #1072
Cherry-picked backend to `release/0.15` via 999f44cf1766461930cb0bcb6db6b2a3296fd5e3.

[2020-04-24 10:46] NShaforostov commented on #1065
@rodichenko
Verified

[2020-04-24 10:46] #1065 closed, assigned to rodichenko

[2020-04-24 14:06] mzueva commented on #1040
@NShaforostov `fallocate` and `truncate` are fixed, could you please, verify?

[2020-04-24 15:34] NShaforostov commented on #1040
@mzueva verified. Works well!

[2020-04-28 10:48] tcibinan opened #1077 "Inner data storages navigation bar fails to navigate"
**Describe the bug**

Currently navigation bar for so-called inner data storages produces *You cannot navigate to another storage* in case of any interaction with it.

**To Reproduce**

Steps to reproduce the behavior:
1. Create data storage with some inner path f.e. *data-storage/inner/path*.
2. Double click the navigation bar and press *Enter*.
3. See error.

**Expected behavior**

Navigation ba

[2020-04-28 21:52] NShaforostov commented on #911
@ekazachkova I've tried to verify this feature. In general, it works well.
Some notes about it:
1. No tools are printed in the full object accessible list for any user (including admins). And `pipe view-user-objects -t tool <user_name>` prints empty table.
2. No Docker registries are printed in the full object accessible list for any user (including admins). And `pipe view-user-objects -t docker_r

[2020-04-29 07:59] rodichenko commented on #1077
@tcibinan fixed, could you check please?

[2020-04-29 09:26] tcibinan commented on #1077
Looks fine, thanks!

[2020-04-29 09:26] #1077 closed, assigned to rodichenko

[2020-04-29 11:54] maryvictol opened #1080 "CP entities created in the locked folder isn't locked automatically"
**Describe the bug**
CP entities created in the locked folder isn't locked automatically.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Library' tab
2. Lock any Folder
3. Create any CP entities (Folder/Upload Metadata...) in the locked Folder
4. See that created CP entity isn't locked automatically

**Expected behavior**
CP entities created in the locked folder is locked automatical

[2020-04-29 17:23] kamyshova opened #1081 "`pipe set-acl` command fails to set permissions for the object by object name"
**Describe the bug**
According to the documentation, `pipe set-acl` command sets permissions for the object by object name or object id. However, the `pipe set-acl` command works just by object id. When we specify the command by object name we get the following error:
`Error: Failed to fetch data from server. Server responded with message: Could not read document: Can not deserialize value of type

[2020-04-30 15:12] mzueva commented on #1081
@kamyshova fix branch is merged

[2020-04-30 15:34] mzueva commented on #911
@NShaforostov regarding item 4: some groups may not be registered in DB (e.g. loaded from SAML) so I'd suggest not throw error, but just log `No permissions available for group <>` for both cases.

[2020-04-30 16:03] NShaforostov commented on #911
@mzueva, I agree. But maybe to change the word `permissions` to `accessible objects` in the suggested message?

[2020-05-01 09:49] sidoruka opened #1085 "Allow to run "pipe" commands on behalf of the other user"
**Background**
Quite often administrators need to perform some operations on behalf of the other user (e.g. check permissions/act as a service account/etc.).
At the moment, the only way to do so - is to generate the JWT key via the `jwt-generator.jar`. This is a quite tedious task.
We need to simplify this a lot.

**Approach**
* Add a common option to all the `pipe` commands (except the `configure

[2020-05-01 09:50] sidoruka commented on #1085
Shall be backported to `release/0.15`

[2020-05-01 10:21] sidoruka opened #1086 "Launch Command can't run in Windows correctly"
**Background**
The `Launch Command` generation (introduced by #892), uses single-quotes to wrap the `-cmd` value.
E.g.
![image](https://user-images.githubusercontent.com/20998291/80798849-07d21400-8bae-11ea-918e-0557db916212.png)

This causes when running the generate commands from the Windows environment. As the Windows CMD shell can't resolve it correctly (the command value is still split by the

[2020-05-01 10:21] sidoruka commented on #1086
Please backport to `release/0.15`

[2020-05-01 10:50] sidoruka commented on #1086
Just realized, that this won't help. As the user may get the launch command from the Windows OS, but use in linux. This will cause issues with the env vars ($VAR) wrapped with the double-quotes.
Do not consider this for implementation for now.

[2020-05-01 10:55] sidoruka opened #1087 "Implement a LONG_PAUSING_RESUMING notification type"
**Approach**
Please add a separate notification type (LONG_PAUSING_RESUMING):
* Shall be triggered if a certain job is in the PAUSE/RESUME state for some time
* The thresholds shall be similar to LONG_RUNNING notification
* Add a default template to the deployment script for this notification

[2020-05-01 10:56] sidoruka commented on #1087
Please backport to `release/0.15`

[2020-05-01 11:14] sidoruka opened #1088 "s3fs mount option shall write logs and ensure a temp disk size is available"
**Background**
At the moment, Cloud Pipeline may fail to mount a certain bucket (or a bucket will "unmount" during a processing step) if a local fs is too small to keep the s3fs's caches.

**Approach**
* First of all - let's add the logs to the s3fs setup, at the moment they are not written anywhere
* Then let's consider the following s3fs option to restrict the local fs usage: [ensure_diskfree](h

[2020-05-01 11:21] sidoruka opened #1089 "GUI shall allow to configure the Launch Command format"
**Background**
At the moment, Cloud Pipeline GUI shows the Launch Command exactly from the API response.
Let's add some customization options

**Approach**
* Add a separate preference `ui.launch.command.template` (`User Interface` section, empty by default)
* It shall be used to display the Launch Command's CLI representation
* When displayed - show it "as-is", but replace the `{LAUNCH_COMMAND}` p

[2020-05-01 11:21] sidoruka commented on #1089
Cherry pick to `release/0.15`

[2020-05-05 13:16] mzueva commented on #1087
@sidoruka Would it be also helpful to add some check of pausing/resuming runs at the API server start up? We could try to resume these processes, if it is possible.

[2020-05-06 09:34] sidoruka opened #1090 "Launch Command does not wrap the parameter values with the quotes"
**Describe the bug**
At the moment, if a user specifies the values of the parameters with "spaces" (e.g. selection of the input parameter value from the GUI bucket browser) - this brakes the command format.

**To Reproduce**
Steps to reproduce the behavior:
1. Run a job with the input parameter `input1` and the following value: `s3://bucket/file1.txt, s3://bucket/file2.txt`
2. Click on 'Launch Com

[2020-05-06 12:15] rodichenko commented on #1089
@sidoruka done, backported to `release/0.15` via 01d408727881a8f97ca6caede06dffa9a57ee29e

[2020-05-07 12:06] rodichenko commented on #1086
@sidoruka GUI part implemented, backported to `release/0.15` via ad5329135e01ce8e2650d90d0cdb1be0fddd7f11

[2020-05-07 12:56] mzueva commented on #1090
@sidoruka Done and backported to `release/0.15`

[2020-05-07 12:56] mzueva commented on #1086
@sidoruka Done and backported to `release/0.15`

[2020-05-07 12:57] mzueva commented on #1089
@sidoruka SystemPreference was added to `develop` and `release/0.15` branches

[2020-05-08 09:02] sidoruka opened #1095 "User shall be able to create "symlinks" for the tools in the registry"
**Background**
A clear and concise description of what the problem is. Ex. At the moment, Cloud Pipeline does not allow [...] and it would be nice to [...] because [...]

**Approach**
A clear and concise description of what you want to happen.

**Other options**
A clear and concise description of any alternative solutions or features you've considered.

[2020-05-08 10:40] sidoruka opened #1096 "Billing shall include the disks costs, produced by the FSAutoscaler"
**Background**
A clear and concise description of what the problem is. Ex. At the moment, Cloud Pipeline does not allow [...] and it would be nice to [...] because [...]

**Approach**
A clear and concise description of what you want to happen.

**Other options**
A clear and concise description of any alternative solutions or features you've considered.

[2020-05-08 13:58] kamyshova commented on #1081
Fixed. Thanks!

[2020-05-08 13:58] #1081 closed, assigned to ekazachkova, kamyshova

[2020-05-08 14:23] kamyshova opened #1097 "`pipe storage restore` command works incorrectly for not removed file"
**Describe the bug**

If we try to restore a file in a bucket without a **Delete marker**, `pipe storage restore cp://{bucket_name}/{file_name}` command should return the following error message:
`Error: Latest version in the buckets is not a delete marker. Please specify "--version" parameter.`
However, the `pipe storage restore` command returns '0' exit code without any error.

Besides, if we se

[2020-05-08 14:50] tcibinan opened #1098 "Collect LFS mount, master and chunk logs"
**Background**

Currently, shared file system master and chunk logs are collected for only a subset of Linux distributions. Moreover mounting logs are not available at all.

**Approach**

It would be great to collect all the available shared file system logs for all Linux distributions. By the way an additional run parameter can be introduced to optionally collect debug logs.

[2020-05-08 16:06] sidoruka opened #1099 "Billing GUI shall display a friendly names of the users"
**Background**
At the moment, Cloud Pipeline displays the users' ids in the billing reports, which is not convenient for the majority of the use-cases

**Approach**
* Introduce a preference to control, which user's attribute is used to display the users in the billing reports
* GUI shall use this preference when rendering charts and tables

[2020-05-08 16:09] sidoruka opened #1100 "Billing GUI shall allow to reorganise the layout"
**Background**
At the moment, Cloud Pipeline's billing reports layout is hardcoded. But in certain cases, it is required to change the size/location of certain charts/tables.

**Approach**
* We shall implement an approach, similar to the "Home Dashboard" when the user can move the items and resize them.
* User shall be also able to "Restore default layout"
* User shall not be able to close/hide th

[2020-05-08 16:15] rodichenko commented on #1099
@mzueva GUI part implemented; preference name `billing.reports.user.name.attribute`

[2020-05-12 15:44] sidoruka commented on #1088
Backported to `release/0.15` via 61c42b2

[2020-05-13 10:55] mzueva commented on #1036
@Wedds Let's proceed with the first part of server-side implementation:
1. Add boolean `sensitive` attribute to `AbstractDatastorage` entity and persist to the database
2. Restrict all server methods to get file content from `senstitive` buckets

[2020-05-13 13:08] SilinPavel opened #1104 "NoMachine images begin to be unusable after commit"
**Describe the bug**
Any NoMachine-based images that user creates with CloudPipeline commit operation will be unusable by other user.

**To Reproduce**
Steps to reproduce the behavior:
1. Start any NoMachine-based image
2. commit it to some other image
3. Start commited image with other user
4. try to login to virtual session with NoMachine client
5. See a massage like "wait for confirmation from

[2020-05-13 18:22] sergeyistominepam opened #1107 "pipectl location"
Hi there,

I'm trying to install cloud-pipeline, but cannot locate pipectl. I was directed to find the link here: https://travis-ci.org/github/epam/cloud-pipeline/jobs/686543890 Job #5319.6.
But there is no link to pipectl itself, but only to the cloudpipeline webapp.

[2020-05-13 18:58] sidoruka commented on #1107
Hi @sergeyistominepam, all the `pipectl` installer scripts, as well as the source binaries, are published to the `s3://cloud-pipeline-oss-builds/builds` S3 location. This location is publicly available.
The `/build` prefix contains a number of folders, two of them might be interesting for you:
* `/build/develop/` - contains latest versions, built from `develop` branch
* `/build/release/` - contain

[2020-05-14 17:29] sergeyistominepam commented on #1107
Thanks a lot. It worked!

[2020-05-14 17:29] #1107 closed, assigned to sidoruka

[2020-05-14 18:19] sergeyistominepam opened #1111 "Installation process hangs on..."
Hi guys,
I attached log of installation. For a some reason the process of installation hangs on:
INFO: Waiting for deployment/pod cp-api-srv creation...
INFO: Deployment/pod cp-api-srv created
INFO: Waiting for pod "cp-api-srv-2901743932-c2dgb" readiness...

I tried to get info through kubectl - but it doesn't connected to the kubernetes cluster.
The instance type is m5.16xlarge

[output3.txt](htt

[2020-05-15 09:27] maryvictol commented on #911
I've tried to verify new commands through the pipe CLI (OS Windows).
Command pipe view-user-objects <USER_NAME> (pipe view-group-objects <GROUP_NAME>) gives error:
![image](https://user-images.githubusercontent.com/47791878/82033854-03c1ee00-96a6-11ea-83ed-7645674082a6.png)

[2020-05-15 09:53] sidoruka commented on #911
@mzueva @ekazachkova please take a look into the @maryvictol comments asap.

[2020-05-15 11:37] maryvictol commented on #1035
@rodichenko
If specify the Cloud Region that belongs to another Cloud Provider, select Instance type for it and then return initial Cloud Region, then selected instance type for another Cloud Provider remains in the field.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the tool settings
2. Set the Cloud Region different from the current one >> "Instance type" field is cleaned
3. Select

[2020-05-15 11:47] sidoruka commented on #1096
GUI "estimated price" shall behave in the same manner as now.
@rodichenko just add the tooltip with the following info when hovering the price (wherever it is shown):
[code]

[2020-05-15 12:01] mzueva commented on #1096
@tcibinan, @sidoruka  As we discussed:
- All API methods returning estimated price for a run shall be left as is (this prices includes only compute price and requested by user disk size)
- `PipelineRun` field `pricePerHour`, which is used for GUI, shall include: compute price, requested disk (adjusted to docker size), boot disk and swap disk
- Billing service shall calculate full price for instanc

[2020-05-15 12:40] rodichenko commented on #1096
@sidoruka tooltip added (to Log form, Launch form, Configuration form, Runs table, Home Dashboard, Global Search)

[2020-05-15 14:54] rodichenko commented on #1036
@sidoruka GUI part implemented via 9c2f9e1fb273ce29b518d7cef55f2410c0cbb5f6

[2020-05-15 15:18] rodichenko commented on #1035
@maryvictol should be fixed via f62041519016246264634aef3b8ca38785c44a75, could you verify this please?

[2020-05-18 09:37] maryvictol commented on #1034
@SilinPavel
Now  If the parameter is set to **None** the Cloud Region's storages aren't mounted in the current region.
**Expected:** If the parameter is set to **None**: the Cloud Region's storages shall not be mounted anywhere, except the current region.

[2020-05-19 09:24] SilinPavel opened #1117 "Systemd integration for centos images"
**Background**
Currently on a Cloud Pipeline user can't use systemd features when work with centos-based images.
This issue aims to solve this problem.

**Approach**
Currently official centos docker images already have all necessary dependency installed, all we need to do is to determinate is particular image based on centos image that meets this requirements and if so - mount additional volume to

[2020-05-19 11:23] maryvictol opened #1118 "Block/Unblock Group shall be tracked in the System Logs"
**Describe the bug**
Block/Unblock Group shall be tracked in the System Logs

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Settings' > 'User management' > 'Groups'
2. Click on 'Edit' button for any Group and Block it.
3. Open 'System Logs' and check the record about blocking Group.
4. Repeat Steps 1-3 for Unblock Group.

**Actual behavior**
Block/Unblock Group isn't tracked in the S

[2020-05-19 14:02] maryvictol opened #1119 "Information that User blocked shall be displayed for User from a blocked Group"
**Describe the bug**
Information that User blocked shall be displayed in 'Users' tab and in the export file for User from a blocked Group.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Settings' > 'User management'
2. Add User to any Group and Block this Group.
3. Check User blocked via Group in 'Users' tab
4. Export Users and check User blocked via Group in the export file

**Actua

[2020-05-19 18:10] mzueva commented on #1096
@tcibinan We need to change the way of compute (run) billing is calculated in `billing-report-service`. Currently `RunToBillingRequestConverter` class uses run's `pricePerHour` field to calculate price for instance, change it to include compute (instance) price for VM running time and price for all disks for all instance existence time.

[2020-05-20 12:04] rodichenko commented on #1036
@sidoruka GUI part backported to `release/0.15` via d17ebe1845b22fc7ab84b3c4b24b799290ee5f28

[2020-05-21 09:47] sidoruka opened #1122 "Allow to "symlink" the tools between the tools groups"
**Background**
At the moment, the majority of the tools are managed by the administrators and are available via the `library` tool group.
But some of the users would like to have separate tool groups, which are going to contain a mix of the custom tools (managed by the users) and the `library` tools (managed by the admins).
The latter ones shall be "symlinked" to the users' tool groups. The follow

[2020-05-21 13:07] rodichenko commented on #759
@NShaforostov fixed, backported to `release/0.15` via 439238db7a7051dc4bcd620310b97fe54a20ae1b

[2020-05-21 13:34] maryvictol opened #1123 "The additional worker instance isn't scaled down at case typo in submit job command."
**Describe the bug**
The additional worker instance isn't scaled down at case typo in submit job command.

**To Reproduce**
Steps to reproduce the behavior:
1. Open any tool/pipeline.
2. Select the Custom settings near the Run button
3. Click the Configure cluster control in the "Exec environment" section
4. In the appeared popup click the Auto-scaled cluster: Set the "Auto-scaled up to" value('2'

[2020-05-21 14:43] mzueva opened #1124 "Allow to handle sensitive runs"
**Background**
With addition of sensitive datastorages (#1036) `PipelineRuns` with such storages attached shall be handled in a special way. `PipelineRun` is considered sensitive if `CP_CAP_LIMIT_MOUNTS` is defined in run parameters and it contains at least one sesitive storage.
1. Such runs shall be marked as `sensitive` (new field stored in DB). This field shall be exposed to the container as en

[2020-05-21 14:46] mzueva commented on #1036
@sidoruka handling of `sensitive` runs is described in a new issue #1124

[2020-05-21 18:21] NShaforostov opened #1125 "Attempts to run `centos-nomachine` tool fail by error of the `python` packages setup"
**Describe the bug**
Any attempts to run `centos-nomachine` or `centos-nomachine-cuda` tools fail with the following error:

![image](https://user-images.githubusercontent.com/45459424/82591926-be6f5600-9ba8-11ea-84ad-ad08d3d24523.png)

**Environment:**
 - Cloud Provider: AWS, Azure
 - Version 0.16.0.5444.1cd6cc4bac1282f13600916980bdb849363d9418
 - Browser: N/A

[2020-05-21 20:45] sidoruka opened #1126 "`pipe run` custom parameters parsing issue"
**Describe the bug**
For some reason, `pipe` can't execute a `run` command if it uses a custom parameter with a `-q main.q` value. If I change this to `-q my.q` (or whatever name) - it works.

**To Reproduce**
Steps to reproduce the behavior:
1. Execute
[code]
2. Observed
[code]

**Expected behavior**
Command shall fail with:
[code]

[2020-05-22 10:08] NShaforostov commented on #759
@rodichenko thanks! Verified. Now, it works correctly.

[2020-05-22 11:03] mzueva commented on #1126
Seems to be related to https://github.com/pallets/click/issues/249

[2020-05-22 11:04] kamyshova commented on #1097
Fixed.

[2020-05-22 11:04] #1097 closed, assigned to mzueva, ekazachkova

[2020-05-22 11:14] rodichenko commented on #857
@NShaforostov fixed by #1128, could you verify this please?

[2020-05-22 11:39] SilinPavel opened #1129 "NFS storages for Azure regions shall support not only SMB protocol"
**Background**
Currently for all nfs storages that registered in any Azure region CP will automaticlly add mount options that related only to SMB protocol. This behavior should be changed.

**Approach**
There are 2 places where changes should be applied:

- NFSHelper class when generates mounts options for NFS storage to be registered

- mount_storage.py in NFSMounter class,  when generates mounts

[2020-05-22 12:18] mzueva commented on #1126
@ekazachkova We need to change the generation of `pipe run` command on the server-side: pipeline run parameters shall be attached at the end of the command and shall be preceded by **"--"** chars.

It also would be great add a new line sign (**"\\"** for Linux and **"^"** for Windows) to each chunk of generated command.

[2020-05-22 12:59] mzueva commented on #1129
It would be really helpful to add a new API method something like `datastorage/{id}/mountCmd` to have logic related to different storages and protocols in one place since we have multiple services which require storage mounts.

TBD:
* for object storages we have different mount tools (goofys, s3fs, pipe mount)
* command may vary for different OS
* credentials handling (maybe return as placeholders

[2020-05-22 13:00] maryvictol opened #1130 "Command pipe set-acl doesn't work in pipe CLI for Windows"
**Describe the bug**
Command pipe set-acl doesn't work in pipe CLI for Windows

**To Reproduce**
Steps to reproduce the behavior:

    Install CLI for Windows. Perform the CLI pipe set-acl command, e.g.:
        pipe set-acl -t folder -s <User_Name> -d wx -a r <folder_name>

**Actual behavior**
Error:
[code]
Note: It works correctly in SSH.

**Expected behavior**
Permissions set

**Environment:**

[2020-05-22 13:32] maryvictol opened #1131 "Command pipe ssh doesn't work"
**Describe the bug**
Command pipe ssh doesn't work in pipe CLI for Windows

**To Reproduce**
Steps to reproduce the behavior:
Install CLI for Windows. Perform the CLI pipe ssh command, e.g.:
    pipe ssh <RUN_ID>

**Actual behavior**
Error:
`Error: Error reading SSH protocol banner'utf-8' codec can't decode byte 0xfc in position 3: invalid start byte`

**Expected behavior**
An interactive session

[2020-05-22 13:34] sidoruka commented on #1131
@maryvictol  Is it a duplicate of #899 or something different?

[2020-05-22 13:35] NShaforostov commented on #1131
It's a duplicate of #899

[2020-05-22 13:35] #1131 closed, assigned to nobody

[2020-05-22 16:39] mzueva commented on #1126
cherry-pick to release/0.15 beb66d138c02a30284aaa93781629eaa275448c6

[2020-05-22 17:28] NShaforostov commented on #857
@rodichenko, verified. Works nice

[2020-05-22 17:38] mike-miroliubov commented on #1111
Hi Sergey,

From the first glance I don't see anything wrong happening here... I would suggest to try connecting kubectl to cluster and check logs of `cp-api-srv-2901743932-c2dgb` pod to see why is it stalling

[2020-05-22 18:12] NShaforostov commented on #1117
Verified

[2020-05-22 18:17] maryvictol opened #1135 "Some "pipe" commands work incorrect with --user|-u option."
**Describe the bug**
Some "pipe" commands work incorrect with [--user|-u option](https://github.com/epam/cloud-pipeline/issues/1085).

**1. storage mkdir** command with --user|-u option returns an incorrect error message for User that doesn't have permission to create a folder in this storage.
 For ex. perform command:
`pipe storage mkdir cp://output-results-storage/new-folder -u <USER_NAME>`

**A

[2020-05-25 06:50] maryvictol commented on #1135
4. **pipe storage rm** command with --user|-u option returns an incorrect error message for User that doesn't have permission to delete folders/files from data storage.
For ex. perform command:
pipe storage rm -r <folder_Name> -u <USER_NAME>

**Actual behavior**
Error: Failed to fetch data from server. Server responded with message: Error: data storage with id: 'folder_Name' was not found.
**Expec

[2020-05-25 10:06] maryvictol commented on #1135
5. **pipe storage set-object-tags/get-object-tags/delete-object-tags** command with --user|-u option returns an incorrect error message for User that doesn't have permission to set/get/delete data storage files attributes.
    For ex. perform command:
    pipe storage get-object-tags <Path> -u <USER_NAME>

**Actual behavior**
In pipe CLI for Windows:
![image](https://user-images.githubusercontent.

[2020-05-25 19:33] NShaforostov commented on #989
Docs were added via #991

[2020-05-26 10:40] maryvictol commented on #1135
7. pipe storage create -n test-results -p output-results-storage -f <folder_Name>  -u USER
Runtime error with error stacktrace for User that doesn't have permission to create data storage:

[code]
**Expected behavior**
Error message "Error: Failed to fetch data from server. Server responded with message: Access is denied

[2020-05-26 10:55] maryvictol commented on #1130
Verified and closed (Cloud Pipeline CLI, version 0.16.0.5479).

[2020-05-26 10:55] #1130 closed, assigned to ekazachkova

[2020-05-26 12:43] tcibinan commented on #1095
Duplicate of #1122.

[2020-05-26 12:43] #1095 closed, assigned to nobody

[2020-05-27 10:51] maryvictol commented on #1135
Verified on Cloud Pipeline CLI, version 0.16.0.5494:
1, 2, 3, 7 items work correctly

[2020-05-27 13:13] SilinPavel opened #1139 "Cloud Pipeline should support CLI based autentication for Azure"
**Background**
For now while automatic deployment on Azure, only specifying of CP_CLOUD_CREDENTIALS_FILE is supported.
We can also support use case when user want to authenticate with Azure CLI authentication

**Approach**
During deployment if CP_CLOUD_CREDENTIALS_FILE is missing we can check for CLI authentication and if it is in place - use it as auth method

[2020-05-27 20:35] sidoruka opened #1140 "Display the tool creation history for the tools versions"
**Background**
At the moment, Cloud Pipeline provides a listing of the packages, retrieved by the `docker-comp-scanner` service. This is useful to get general information and find a tool, which contains specific software.
In certain cases, users would like to know how the image was built. As the Dockerfiles are not always available, we shall try to extract this information form the image/layers ma

[2020-05-27 20:36] sidoruka commented on #1140
Let's backport to `release/0.15` if these changes are not intersecting much with the other functionality

[2020-05-29 08:46] sidoruka commented on #1111
Logs of the API service are also written into `/opt/api/logs` directory.
`pipeline.log`, `error.log`, `spring.log` would help to investigate

[2020-05-29 15:11] SilinPavel opened #1143 "Add possibility to restrict creation of public ips for azure worker nodes"

[2020-05-29 17:12] mzueva commented on #1140
@rodichenko API method `tool/{id}/history` is ready

[2020-06-01 14:22] rodichenko commented on #989
@NShaforostov fixed by 74e4c78f9dfe96520edaf3ef1d1e61b48c81d5e2

[2020-06-01 15:09] NShaforostov commented on #989
@rodichenko, verified. Works well

[2020-06-01 15:22] rodichenko commented on #1140
@sidoruka GUI part implemented (29332537f3e20371407fa9adae4fe45a5e548be7)

[2020-06-01 17:23] rodichenko commented on #1140
@sidoruka @NShaforostov GUI part backported to `release/0.15` (02697fc28267974b9dc85aa23f1316229ace2ad2)

[2020-06-02 12:27] NShaforostov opened #1146 "Expand info about user authentication in System Logs"
**Background**
At the moment, in the System Logs of the platform, there are lots of similar repeating messages about users authentication:
![image](https://user-images.githubusercontent.com/45459424/83519716-2ac15200-a4e5-11ea-90d4-128c2fc76756.png)
It is necessary to provide some additional information about such events, which will allow users to understand the cause of their occurrence.

**Appro

[2020-06-02 12:49] NShaforostov opened #1147 "Add more "readability" into the System Logs"
**Background**
At the moment, some messages in Cloud Pipeline system logs can be displayed not intuitive for users. We should add more "readability" into the System Logs records.

**Approach**
1. When displaying an event with any Cloud Pipeline object (`CONFIGURATION`, `DATA_STORAGE`, `DOCKER_REGISTRY`, `FOLDER`, `PIPELINE`, `TOOL`, `TOOL_GROUP`), not only the object ID should be shown but also th

[2020-06-02 13:52] NShaforostov commented on #852
The problem described in https://github.com/epam/cloud-pipeline/issues/852#issuecomment-569635696 was fixed by 92921612794aa62e9b361fef4d0842146625fbfd.

[2020-06-02 14:54] NShaforostov commented on #852
@SilinPavel cherry-pick the changes to `release/0.15`, please

[2020-06-02 14:59] SilinPavel commented on #852
@NShaforostov @sidoruka cherry-picked to 0.15

[2020-06-03 13:16] maryvictol opened #1149 "Billing GUI issues"
**1.** User grid shall be sorted on Billing General page.
**To reproduce:**
1. Open Billing
2. Select any Billing centre and check summary table for Users
**Actual result:** Users aren't sorted by any column
**Expected result:** Users are sorted by 'Spendings' column

**2.** Filter by All Users/Groups issue
**To reproduce:**
1. Open Billing
2. Type any symbol to 'All Users/Groups' filter field
3.

[2020-06-03 13:20] rodichenko commented on #1149
@maryvictol fixed (259f21858b9738767f578c8182572b3a3a54436f), could you please verify this issue?

[2020-06-04 09:07] maryvictol commented on #1149
**3**. Control 'All users/groups', period selector and calendar control aren't updated at returning back to the previous page.
**To reproduce:**
1) Open Billing
2) Select any User (or Billing center)/change period for the report
3) Click 'Page go back' button
**Actual result:** Info/charts are reverted back. Control 'All users/groups', period selector and calendar control aren't reverted to their

[2020-06-04 10:14] maryvictol commented on #1149
The same behaviour (point 3) occurs for the Report type menu.

[2020-06-04 15:11] rodichenko commented on #1149
@maryvictol fixed by 32b9673651d8d47d8097f848d727263601458f3c, could you please verify this?

[2020-06-05 11:19] SilinPavel opened #1151 "Cannot save azure region if azure policy is not specified"
**Describe the bug**
Cannot save azure region if azure policy is not specified

**Expected behavior**
Can save azure region if azure policy is not specified,  if azure policy is empty - delete policy when update region

[2020-06-05 14:24] NShaforostov opened #1153 "`pipe run` command shall support input of "friendly" URL for a run"
**Background**
Currently, via the GUI, users can specify a "friendly" URL when launching a tool with an interactive service endpoint. It allows to configure the pretty view of the interactive service endpoint.
It would be convenient to allow users to set a "friendly" URL when launching such a tool via the `pipe` CLI.

**Approach**
- add a new option to the `pipe run` command - e.g., `-fu` (`--frie

[2020-06-05 14:41] sidoruka opened #1154 "Allow to add a description to the pipeline parameters"
**Background**
Once any "pipeline" matures - it gets a lot of configuration parameters. And it becomes quite hard to remember the purpose of each.
While it's possible to build a good set of docs, but switching between documentation page to the pipeline run form - takes time.
We'd need to add "in-place" help snippets to simplify the job run setup.

**Approach**
* Allow specifying a `description` fi

[2020-06-05 14:41] sidoruka commented on #1154
Shall be backported to `release/0.15`

[2020-06-05 15:06] sidoruka opened #1155 "Allow to override price type for the autoscaled worker nodes"
**Background**
At the moment, Cloud Pipeline'd GE autoscale feature always uses the master's price type to spin up the worker nodes.
It would be nice to have this configurable to save costs.

**Approach**
* Backend - add an appropriate parameter (e.g. `CP_CAP_AUTOSCALE_PRICE_TYPE`) which shall be set to one of:
  * `spot`
  * `on-demand`
* GE autoscaler shall use this parameter to create the autos

[2020-06-05 15:07] sidoruka commented on #1155
@tcibinan @rodichenko please backport this to `release/0.15`

[2020-06-05 15:08] tcibinan commented on #1123
Should be fixed now. Could you please verify it @maryvictol?

[2020-06-05 16:00] #1098 closed, assigned to tcibinan

[2020-06-05 16:12] NShaforostov opened #1156 "Ability to share runs via the `pipe` CLI"
**Background**
For certain use cases, it is beneficial to be able to share applications with other users/groups.
Currently, Cloud Pipeline supports the ability to access runs environments for several users, not only for the user, who launched the run (OWNER).
On the GUI, it's implemented via the "Sharing" feature that allows to share runs as the interactive tools endpoints and SSH sessions for sev

[2020-06-08 17:17] SilinPavel opened #1158 "Pipe storage mount should trail user name if it is represented by email"
**Describe the bug**
For now when you mount storages by

[code]
It doesn't trail user name while mount and form url for WebDAV as: user@domain, while WebDAV actually trail names of directories while sync step

**Expected behavior**
pipe mount should trail usernames

[2020-06-09 08:54] kamyshova opened #1161 "AWS: Auto-scaled cluster child nodes are not started"
**Describe the bug**

When the auto-scaled cluster was launched auto-scaled cluster child nodes are not started. **GrigEngineAutoscaling** run task hangs with the following message:

`Scaling step has failed due to Command 'pipe run --yes --quiet --instance-disk 20 --instance-type m5.large --docker-image [docker-registry]/library/centos:7 --cmd-template "sleep infinity" --parent-id 32233 --price-t

[2020-06-09 09:08] tcibinan commented on #1161
@kamyshova My bad. I did enforce `centos` tool to use only on-demand instances and forgot to turn it off. Could you please check that now it works fine in aws dev environment.

Errored configuration looked like the following.

![image](https://user-images.githubusercontent.com/16464586/84128782-b9842080-aa49-11ea-96cf-e9a916bab0f6.png)

[2020-06-09 10:50] maryvictol commented on #1123
Verified and closed

[2020-06-09 10:50] #1123 closed, assigned to tcibinan

[2020-06-09 10:54] maryvictol commented on #1149
Verified and closed

[2020-06-09 10:54] #1149 closed, assigned to nobody

[2020-06-09 10:56] kamyshova commented on #1161
@tcibinan Fixed. Thank you!

[2020-06-09 10:56] #1161 closed, assigned to nobody

[2020-06-09 13:13] tcibinan commented on #1123
Cherry-picked to `release/0.15` via c7b8fd667ff19d1daf829f2fdde05f62110112ce.

[2020-06-09 13:13] mzueva commented on #1154
Done

[2020-06-09 13:56] rodichenko commented on #1154
@sidoruka done, backported to `release/0.15` (1d64f6467d337410f85d1f935700b501be8d624d)

[2020-06-10 10:47] NShaforostov commented on #1122
I've tried to verify the feature.
In general, it works nicely.

The following issues were encountered during the verifying:

1. Imagine the case:
- admin create tool group (no matters - personal or not)
- admin give all permissions (R/W/X) to that group for the user (not admin, but with the `ROLE_TOOL_GROUP_MANAGER` role)
- the user creates a "symlink"-tool in that group
- the user tries to open t

[2020-06-10 11:48] rodichenko commented on #1122
@NShaforostov fixed by c56ffa5eb9298617c96f2794295374b21d39e2d8

[2020-06-10 13:04] NShaforostov commented on #1122
@rodichenko verified

[2020-06-10 15:09] rodichenko commented on #889
@NShaforostov styles fixed (cd2f7375db23169de5335b6c8c055188d09019ea)

[2020-06-10 15:52] rodichenko commented on #1155
@sidoruka GUI part implemented (707c591c3100030cd20f1b9baff7de09b7d56791), backported to `release/0.15` (0346e8b9666cafb740dbdb68b61cccd7b07da115)

[2020-06-10 15:59] tcibinan commented on #1155
Same for backend (b453a81ee863fa3b9a6c6d8baa87e893fb2a3ebc), backported to `release/0.15` (https://github.com/epam/cloud-pipeline/commit/237bd80e23a728a99081980395b6d13a392073f3).

[2020-06-11 16:21] mzueva opened #1166 "Docker in docker feature shall support GPU computation"
**Background**
Currently we enable  Nvidia CUDA drivers when a run is started on an instance with GPU, this allows users to perform computation on GPUs.
It would be helpful to support GPU computation for runs with `Docker in Docker` feature enabled, when user runs inner docker containers inside of the run.

[2020-06-14 15:00] mzueva commented on #1122
@NShaforostov This case is fixed

[2020-06-15 10:15] NShaforostov commented on #1122
@mzueva Verified

[2020-06-16 14:56] tcibinan opened #1170 "Orphan previous pod after node reassign"
**Describe the bug**

Once pipeline run is stopped there is an extremely rare chance for run's pod to keep being alive. Furthermore such run nodes can be then reassigned to another runs which may experience resource starvation because of a previous containers still being alive.

Interestingly such pods are not managed by kubernetes and cannot be found in any pod listing.

**To Reproduce**

There i

[2020-06-17 12:47] mzueva opened #1173 "Pipe mount shall support Google Cloud Storage buckets"
**Background**
`pipe mount` command shall support mounting Google Cloud Storage buckets with `gs://` scheme.

[2020-06-19 13:53] sidoruka opened #1175 "EDGE shall block certain URLs if requests"
To address the #1036 "per-app" restrictions, EDGE shall block certain requests, based on the job configuration (e.g. some parameter is set).

Specifically, if the job is marked as "sensitive", the following URLs shall return 401:
* RStudio:
  * POST /upload
  * GET /export
  * GET /files

* JupyterNotebook and JupyterLab:
  * PUT /api/contents
  * GET /files

[2020-06-19 14:00] sidoruka opened #1176 "User shall be able to clone the pipelines"
**Background**
At the moment, Cloud Pipeline allows to "clone" the projects. This feature makes a copy of the project into the selected parent directory.
Now we need to implement a similar feature for the pipeline object and the underlying GitLab repository.

**Approach**
* GUI
  * Add a "clone" button to the pipeline's details page
  * Once clicked, user shall be able to select the destination di

[2020-06-19 14:01] sidoruka commented on #1176
@mzueva, please feel free to extend the API approach. As far as I know, there are a lot of details regarding the forking process (or provide the implementation description in the upcoming PR)

[2020-06-19 14:01] sidoruka commented on #1176
Please backport to `release/0.15`

[2020-06-22 15:26] mzueva commented on #1038
### Approach

#### API
Main Cloud Pipeline API server shall provide a new endpoint for `serverless` tasks management with the following methods:
- `POST` submits new task via the following request:
[code]
- `GET` returns task status by id and results for completed tasks
- `DELETE` cancels task execution

#### Implementation
API server shall process submitted tasks asynchronously. Task processing c

[2020-06-22 17:13] sidoruka opened #1179 "GUI shall show the object owner in the header of the page"
At the moment, any object's owner can be seen only from the "Settings" menu (i.e. gear button).
Let's add the owner name to the header of the corresponding page, near the object name.

* Folder
* Pipeline
* Configuration
* Storage
* Tool
* ... whatever we have ...

[2020-06-23 11:31] rodichenko commented on #1176
@sidoruka GUI part implemented (8bd21ace34eb5eb91761adebea04d91a678e7a1c)

[2020-06-23 12:46] mzueva commented on #1038
### Approach
I'd suggest to implement this feature using `detached configuration` approach. In order to use `serverless` endpoint user shall fo the following:
1. Create `detached configuration` with desired tool and all required settings and parameters.
2. `Detached configuration` tab shall provide a way to generate `serverless` url for request submission, e.g. `https://cloud-pipeline.com/restapi/

[2020-06-23 15:38] NShaforostov commented on #889
@rodichenko, verified.
Now, it looks great, thanks!

[2020-06-23 15:38] #889 closed, assigned to rodichenko

[2020-06-24 12:58] tcibinan opened #1180 "Data storage with path prefix cannot be created in GCP"
**Describe the bug**

Currently data storage with path prefix cannot be created in google cloud region.

**To Reproduce**

1. Create data storage `storage` in google cloud region.
2. Create directory `folder` in the storage.
3. Create data storage `inner-storage` with path `storage/folder` in the same region.
4. See error

**Expected behavior**

Cloud storage should be created with the given inner

[2020-06-24 13:04] maryvictol opened #1181 "Storage rules should be copied at cloning pipeline."
**Describe the bug**
Storage rules should be copied  at cloning pipeline.

**To Reproduce**
Steps to reproduce the behavior:
1. Add to new or existing pipeline any Storage Rule
2. Clone this pipeline to destination folder
3. Open new cloned pipeline and check Storage Rules tab

**Actual behavior**
Rules aren't copied.

**Expected behavior**
Storage rules should be copied  at cloning pipeline.

**E

[2020-06-24 14:36] maryvictol opened #1182 "Selection destination folder modal for cloned pipeline is closed at attempt navigate to preview folder via header"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Create new or use existing pipeline located in any inner folder
2. Click gear icon and select Clone option
3. In the selection destination folder modal click on any preview folders hierarchy level in the header

**Actual behavior**
Modal for selection destination folder closed.

**Expected behavior**
Folders tree for select

[2020-06-25 13:57] rodichenko commented on #1182
@maryvictol should be fixed by 443d49283c11f6d3e875d4ea3c0857f4e15f3a92

[2020-06-25 14:40] NShaforostov commented on #911
Docs were updated via #1184

[2020-06-25 14:42] NShaforostov commented on #1026
Docs were updated via #1184

[2020-06-25 14:42] #1026 closed, assigned to rodichenko, sidoruka

[2020-06-26 11:26] NShaforostov commented on #1037
Docs were added via #1184

[2020-06-26 13:19] tcibinan opened #1186 "Add test suite for pipe mount"
**Background**

Currently pipe mount tool has no automated testing suite. Nevertheless an amount of code in the tool is pretty big at this point. Furthermore most likely the tool is going to be updated in the future. Therefore it will be of help to implement an automated test suite that can be launched in different docker images and with different providers that will test most common operations su

[2020-06-29 11:06] tcibinan opened #1189 "Extremely rare upload failures in pipe cli on GCP"
**Describe the bug**

Uploading of pretty massive files (~400G in my case) using pipe cli in GCP rarely fails with connection reset errors similar way it happened before for [downloading](https://github.com/epam/cloud-pipeline/issues/435#issuecomment-507210178).

**To Reproduce**

Steps to reproduce the behavior:
1. Create date storage `storage` in GCP.
2. Generate massive file
[code]
3. Copy mass

[2020-06-30 09:35] sidoruka opened #1191 "Allow to use the "original" ENTRYPOINT and CMD"
**Background**
At the moment, Cloud Pipeline allows running a tool using a command, which is specified explicitly.
In certain cases, users would like to reuse the default command, which specified in the Dockerfile (ENTRYPOINT + CMD)

**Approach**
* GUI shall expose an additional checkbox "Use default" - next to "Start idle"
* If it is specified - API shall check the docker image and grab the `ENTR

[2020-06-30 09:40] sidoruka opened #1192 "API HA configuration improvements"
**Background**
Since the #292 implementation - we have a couple of issues, introduced by the HA configuration:
* User cannot log in via SAML, as the session is stored "in-memory" and different API replicas are not aware of the `JSESSIONID`
* It's hard to distinguish logs from different replicas (all written into the same file)
* The `MY_POD_NAME` environment variable, used to specify the replica h

[2020-06-30 09:43] sidoruka opened #1193 "Do not consider "buf/cache" in the resource monitor"
**Background**
At the moment, Cloud Pipeline's resource monitor displays memory usage including the `buf/cache`. This might confuse the `PRESSURE` monitoring and the user as well.

**Approach**
* Review the available metrics and figure out another one, which does not include `buf/cache`
* Use this metric to monitor a node state and display in the GUI

[2020-07-01 11:17] #1182 closed, assigned to rodichenko

[2020-07-01 11:17] maryvictol commented on #1182
Verified and closed on Version: 0.16.0.5842

[2020-07-04 09:42] maryvictol opened #1202 "Search problems with detach configuration with profile name with dash"
**Describe the bug**
Problems with detach configuration with profile name with dash: incorrect displaying information on search result content panel and problem with opening detach configuration page from search.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Library'.
2. Open new or existing detach configuration object and change value of "Name" field to name with dash.
3. Click on

[2020-07-04 12:50] NShaforostov commented on #1035
Docs were updated via #1184

[2020-07-04 12:50] NShaforostov commented on #1034
Docs were updated via #1184

[2020-07-04 12:50] NShaforostov commented on #1122
Docs were updated via #1184

[2020-07-04 12:51] NShaforostov commented on #1085
Docs were updated via #1184

[2020-07-06 08:58] tcibinan opened #1203 "Show troubleshooting information in pipe cli"
**Background**

Currently pipe cli issues troubleshooting requires lots of additional information to be manually collected from the user. Nevertheless some of the data can be collected automatically and shown via `pipe --version` or some other call.

**Approach**

It will be pretty helpful to have some additional troubleshooting information printed out. Lots of usefull staff can be shown:
- curren

[2020-07-06 10:51] maryvictol commented on #1035
Verified on Version 0.16.0.5714

[2020-07-06 22:48] maryvictol opened #1205 "Auto-scaled cluster is not started: Fail to install SGE worker"
**Describe the bug**
Auto-scaled cluster is not started. **SGEMasterSetup** run task hangs with the following message: `Fail to install SGE worker`

**To Reproduce**
Steps to reproduce the behavior:

1. Open library
2. Create pipeline (from SHELL template)
3. Open created pipeline
4. Click "RUN" button
5. In an appeared page click on "Advanced"
6. Input valid values into the fields "Node type", "D

[2020-07-07 10:37] maryvictol commented on #91
@rodichenko
Issue is reproduced on AWS, Version: 0.16.0.5945: Label "Estimated price per hour" is shown on pipeline configuration tab **after refresh only**.

[2020-07-07 10:45] tcibinan commented on #1205
The issue is caused by the changes introduced in 39839b4f6805a21fc6c4b56c15539c5b88c8112c. It affects SGE installation on centos images and LFS installation on ubuntu distributions.

[2020-07-08 08:08] rodichenko commented on #1191
@sidoruka `Use default checkbox` added to Launch Form.

[2020-07-09 13:29] mzueva opened #1208 "Cannot delete pipeline due to SQL error"
**Describe the bug**
Deletion of pipeline fails if one of its runs was shared with users/groups.

[2020-07-09 16:17] mzueva opened #1209 "Support Redis-based cache for API server"
**Background**
With implementation of HA deployment we cannot use simple in memory cache for API server requests, since several replicas of this service may run in parallel. API server shall support some distributed caching solution, e.g. Redis.

**Approach**

API server shall support three types of cache:
- No cache (mostly for test purposes)
- In memory cache (for deployment without HA)
- Redis

[2020-07-10 07:06] rodichenko commented on #1202
@maryvictol fixed (8a72b9593bb9297a7fa4b92d73dbd5db685c513e), could you verify this issue please?

[2020-07-10 07:31] rodichenko commented on #91
@maryvictol fixed (89b7ce7b8451302b8b0e2027202c0253a3d3be63), could you please verify this issue?

[2020-07-10 10:10] mzueva opened #1212 "Improve NFS storage indexing for search"
**Background**
Currently NFS storages can be indexed only in manual manner as `elasticsearch-agent` service doesn't automatically mount NFS storages for indexing.

**Approach**
`Elasticsearch-agent` service shall mount NFS storages when indexing starts. Since mount command differs for different cloud providers a new API method shall be added to API server - `mountCmd`:
- method shall return mount

[2020-07-10 11:15] NShaforostov opened #1213 "Implement in E2E GUI tests not covered CP feature: [Launch clusters]"
In Cloud Pipeline, a capability to launch different type of clusters is implemented.

Implementation status, see the table below:

Feature | Test cases availability | E2E test implementation | Test result
-- | :--: | :--: | :--:
__Launch clusters__ |  |  |
Regular cluster | [EPMCMBIBPC-975](https://jira.epam.com/jira/browse/EPMCMBIBPC-975) | + | Passed
GE cluster | [EPMCMBIBPC-3150](https://jira.e

[2020-07-13 13:12] mzueva opened #1214 "Pipe storage cp/mv/rm commands shall support multithreaded execution"
**Background**
Currently `pipe storage cp/mv/rm` commands process each object (file) in the storage sequentially although file upload/download is implemented using multipart approach, which may use several threads. It would be great to implement a parallel by file upload/download/deletion approach to improve performance of operations with a large number of small files.

**Approach**
Add a new opti

[2020-07-13 13:36] tcibinan commented on #1214
Recently I've found support for [batch requests in gcp](https://cloud.google.com/storage/docs/json_api/v1/how-tos/batch). Probably it could be useful here.

[2020-07-13 14:10] sidoruka opened #1215 "User shall be able to specify "dynamic" parameters for the pipelines"
**Background**
At the moment, Cloud Pipeline does not allow to specify **dynamic** parameters for pipeline configuration, e.g. show/hide some parameters if another parameter has specific value. It would be nice to implement **visibility** feature for pipeline configuration parameters

**Approach**
Extend pipeline's **config.json** to support the following structures:
- **visible** field for parame

[2020-07-13 14:10] sidoruka commented on #1215
Backport to `release/0.16`

[2020-07-13 19:16] NShaforostov opened #1216 "Attempt to view permissions on a pipeline via the `pipe view-pipes` throws an error"
**Describe the bug**
When trying to view permissions on a pipeline via the `pipe view-pipes -r` command - the command execution fails.

**To Reproduce**
Steps to reproduce the behavior:
1. Start any tool
2. Click the SSH button at the "Run logs" page
3. In the appeared web-terminal page perform the command `pipe view-pipes <pipeline_name> -r`
4. See the error in the "Permissions" section:
![image]

[2020-07-14 07:10] rodichenko commented on #1191
Hint added to the `use default command` checkbox; backported to `release/0.16` (0701cd53a5db3dcfbcb5f9e713c34181b1ae72fe)

[2020-07-14 13:47] mzueva commented on #1181
Shall be fixed in develop. @maryvictol Could you please verify?

[2020-07-14 16:58] NShaforostov commented on #842
Verified. Works well

[2020-07-15 13:13] tcibinan opened #1218 "Show error stack traces in pipe cli"
**Background**

Relates to #1203.

Currently pipe cli doesn't print error stack traces for most of the operations. It is good in terms of user experience but it is pretty bad in terms of troubleshooting.

**Approach**

Probably an optional `--trace` flag for all pipe cli operations can be of help. It can optionally include error stacktraces as well as some additional information such as input para

[2020-07-15 22:41] NShaforostov commented on #1036
I've tried to verify the feature.
In general, it works well.
Some issues that were encountered:
1. From outside the "sensitive" run, the command `pipe storage ls` works normally. But `pipe storage ls <Path_to_SensitiveStorage>` doesn't list the sensitive storage:
![image](https://user-images.githubusercontent.com/45459424/87606462-b395f500-c703-11ea-8ad3-d663ecb5e94c.png)
2. From inside the "sensi

[2020-07-16 07:08] rodichenko commented on #1215
@sidoruka @NShaforostov implemented, backported to `release/0.16` (e5c069562d5775a4e9f13501775c73e5c3e39fe1)

[2020-07-16 12:12] SilinPavel opened #1221 "Kube master node should override node name"
**Background**
It is convenient to have mechanism to guarantee that master node will be registered in cluster with specific name while CP is deployed by pipectl

**Approach**
Change the way how master node is registered in the cluster and add possibility (through new parameter) specify name for the master node.

[2020-07-16 22:20] maryvictol commented on #91
Verified on AWS, Azure Version: 0.16.0.6091

[2020-07-17 09:28] SilinPavel opened #1225 "change configureation of kube-dns pod"
**Background**
To be able to restrict to run kube-dns pod on other nodes (except master) we need to change its configuration

[2020-07-17 10:25] mzueva opened #1226 "Redis deployment automation"
**Background**
Redis deployment shall be incorporated into `pipectl` install routine.

[2020-07-17 10:41] mzueva commented on #1216
@NShaforostov Shall be fixed, could you please verify?

[2020-07-17 17:47] NShaforostov commented on #1216
@mzueva thanks! Verified.

[2020-07-17 17:47] #1216 closed, assigned to sidoruka, ekazachkova

[2020-07-20 09:23] sidoruka commented on #1175
Backport this to `release/0.16`

[2020-07-20 17:21] #1209 closed, assigned to mzueva

[2020-07-21 09:36] #69 closed

[2020-07-21 13:37] sidoruka opened #1230 "Allow to override environment variables for the "sensitive" jobs"
**Background**
This issue is related to #1036
At the moment, Cloud Pipeline allows setting the `launch.env.properties` which defines the environment variables for the jobs, via the `variables` section.
`variables` might be defined either globally or overridden for a specific cloud region.
For the jobs, which are treated as `sensitive`, we might need to unset or override some of the values (e.g. pr

[2020-07-21 14:01] sidoruka commented on #1230
Please backport to `release/0.16`

[2020-07-21 15:16] sidoruka commented on #1175
Copied to `release/0.16` via 74d5f860fec68a84a9191e936adbf5f793f2f075

[2020-07-21 18:38] mzueva commented on #1036
@NShaforostov Both issues shall be fixed in develop, could you please verify?

[2020-07-21 20:18] NShaforostov commented on #1039
Docs were updated via #1184

[2020-07-22 09:31] tcibinan commented on #1205
@maryvictol Should be fixed by 0c1149168f6f3c9e9f4ea532d25b7aeb78b948c0 for now. Could you please verify?

[2020-07-22 09:36] maryvictol commented on #1205
Verified on Version: 0.17.0.6141

[2020-07-22 09:40] #1205 closed, assigned to tcibinan

[2020-07-22 09:40] maryvictol commented on #1205
Closed as fixed

[2020-07-22 10:05] NShaforostov commented on #1036
@mzueva
I've tried to verify.
Item 1 is fixed and works correctly now.

But I can't verify item 2 - now, **any** runs with "limit mounts" that contain sensitive storages are failed (I've tried `Ubuntu`, `Centos`, `RStudio`):
![image](https://user-images.githubusercontent.com/45459424/88163908-013ac200-cc1c-11ea-8446-77eeb8f83150.png)

[2020-07-22 10:23] tcibinan opened #1232 "Pass proxy settings while building DIND containers"
Based on the [comment](https://github.com/epam/cloud-pipeline/issues/983#issuecomment-616630891) and relates to #983.

**Background**

Since #987 is implemented DIND containers inherit some environment variables from run's container. It allows users to specify no proxy variables explicitly while running DIND containers.

It seems like a pretty neat feature which can be also applied to DIND contain

[2020-07-22 10:40] mzueva commented on #1036
@NShaforostov This is fixed as well

[2020-07-22 11:14] NShaforostov commented on #1036
Verified, item 2 also works correctly.

[2020-07-22 16:54] mzueva opened #1233 "Allow to specify assumed role and kms key for an S3 storage"
**Background**

Currently all S3 storages that are registered within an `AWS Region` inherit settings from this region including `kms key` which is used for encryption and `temporary credentials role` which is used to issue STS tokens for some of the storage operations (signed url generation and `pipe cli` operations). In some cases it would be helpful to have an option to override these values fo

[2020-07-23 12:53] mzueva commented on #441
### Implementation details

I'd suggest to implement this feature in three steps:
1. Add support of `Lustre` storages on the API server
      - support new `MountType` `Lustre` for `FileShareMount` object and
      - implement mounting of `Lustre` storages to the API server (`NFSStorageProvider.mount` method)
      - add installation of lustre client to the API server docker (`deploy/docker/cp-api

[2020-07-23 16:33] kamyshova opened #1235 "Global search: request containing special symbols fails"
**Describe the bug**
At the moment, Cloud Pipeline's global search throws `Elasticsearch exception [type=search_phase_execution_exception, reason=all shards failed]` error if the request contains a `/`, `\` symbols.

**To Reproduce**
Steps to reproduce the behavior:

1. Open "Global search" form
2. Enter into the search query the word with `/` symbol. E.g. `test/`

**Screenshots**

![image](https:

[2020-07-23 16:47] maryvictol opened #1236 "Different characters are used to display quotes for the same tool full description on details page and in search results info"
**Describe the bug**
Different characters are used to display single or double quotes for the same tool full description on details page and in search results info. It affects autotests.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Tools'
2. Select any Tool
3.  Add single or double quotes to Full Description
4. Open Search and enter Tool Name.
5. Check single or double quotes chara

[2020-07-23 22:22] sidoruka opened #1237 "Highlight the "sensitive" storage and runs"
In addition to the #1036 it would be nice to have more visual notifications regarding the "sensitive" items.
Let's add the following GUI features:
* Highlight the sensitive storages in the Library and Dashboard (as we already do in the "Limit mounts" selection)
* Highlight the jobs, which have any sensitive storages mounted, in the Runs List and Dashboard
* Add the motd wording for the jobs, which

[2020-07-23 22:22] sidoruka commented on #1237
@rodichenko please take care of (1) and (2) and port to `release/0.16`

[2020-07-24 08:27] rodichenko commented on #1237
@sidoruka parts 1, 2 are implemented (9d059415234a0e94e34731692a6b3ad5c106abc0) and backported to `release/0.16` (89b7c13db4a3d9ee27623884c55bbef66012cd9b)

[2020-07-24 08:31] rodichenko commented on #1236
@maryvictol fixed, could you please verify this issue?

[2020-07-25 21:41] mzueva opened #1240 "Allow to create storage billing documents for a period"
**Background**
Currently `billing` service always creates storage documents for one current date. It is correct since storage prices are calculated based on current state of the elasticsearch indices and we don't have historical data for previous dates. But in some cases it would be helpful to create storage billing documents for some period of time even if the prices won't be accurate.

**Approac

[2020-07-28 11:45] tcibinan commented on #1214
Cherry-picked to `release/0.16` via 485c9a45b26604f4179c0273ea7b8ec117ff5585.

[2020-07-29 09:55] maryvictol opened #1243 "'Save' button shouldn't be active at opening Configuration page"
**Describe the bug**
'Save' button is activated for 1-2 seconds at opening Configuration page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Library'
2. Open any Cnfiguration with filled required fields

**Expected behavior**
'Save' button shouldn't be active at opening Configuration page

**Environment:**
 - Cloud Provider: N/A
 - Version: 0.17.0.6220
 - Browser: chrome

[2020-07-30 08:36] sidoruka opened #1244 "LONG_RUNNING notification shall respect the "paused" duration"
**Background**
At the moment, Cloud Pipeline's `LONG_RUNNING` notification is quite simple - it uses a difference between the job's `start` and `end` times.
As it was introduced before the `PAUSE/RESUME` operation - `LONG_RUNNING` notification does not exclude the duration, spent in a `PAUSED` mode.
So the users get lots of the emails event if the job is sitting in `PAUSED` state and does not intr

[2020-07-30 08:36] sidoruka commented on #1244
Please backport to `release/0.16`

[2020-07-30 08:48] sidoruka opened #1245 "NoMachine images shall be configured during the initialisation step via the System Parameter"
**Background**
At the moment, Cloud Pipeline allows launching the NoMachine based images if the NoMachine server is baked into the image.
This causes a couple of issues:
* Hard to update the NoMachine server version, as all the corresponding docker images (including custom)
* Users are facing issues with the `Init command` configuration for the custom images

**Approach**
* Let's configure the NoM

[2020-07-30 08:48] sidoruka commented on #1245
Backport to `release/0.16`

[2020-07-30 09:03] sidoruka opened #1246 "Set "bucket-owner-full-control" ACL for any S3 upload operation"
**Background**
Once the #1036 was introduced - it is quite common to have the S3 buckets attached from other accounts.
In such cases, the bucket owners can't access the object, uploaded by the Cloud Pipeline.
This is caused by AWS ACLs: the https://aws.amazon.com/premiumsupport/knowledge-center/s3-bucket-owner-access/

**Approach**
* We shall set the ACL `bucket-owner-full-control` for any object

[2020-07-30 09:04] sidoruka commented on #1246
BAckport to `release/0.16`

[2020-07-30 12:57] tcibinan commented on #1246
Regarding the *GUI upload* part of the issue. Changes are required on both frontend and backend. @rodichenko Could you please add header `x-amz-acl` to upload requests the same way you do with `x-amz-tagging`. The value for the header will come in the response via new `cannedACLValue` field.

[code]

Additional helpful links:
- [About ACL headers](https://docs.aws.amazon.com/AmazonS3/latest/dev/ac

[2020-07-30 14:07] rodichenko commented on #1246
@tcibinan done (1125a106e9f1da161fdc3effd0053a8c96cc1242)

[2020-07-31 08:25] tcibinan commented on #1246
Done in develop via 924328ceb9920d9349ae417ab002d4aa52b16d49 and 8340ac7932b8a6c20d277a12074130ffa4bbe74e. It will be backported to `release/0.16` once testing is done.

[2020-07-31 11:22] sidoruka commented on #589
@maryvictol please verify this feature using:
* Linux
* Windows

[2020-07-31 13:03] tcibinan commented on #1246
Cherry-picked to `release/0.16` via 9d1a2029bea88dc9df73a45a68ff1c3577f4513e and 5d8148b1d09441bfb4d3e810715d727bae2b568c.

[2020-07-31 13:04] tcibinan commented on #1244
Cherry-picked to `release/0.16` via 4465fc6a9a3a4d45e65effbf144251949d6acef6 and 66e4ec405f5b69bd8b53e8a1eb7e294d75db7763.

[2020-07-31 15:27] tcibinan opened #1251 "Enable pipe mount data storages logging by default"
**Background**

Since #1030 is implemented and pipe mount logging is extended it can be enabled by default while mounting data storages to runs. Currently logs are written for all data storage mount types but pipe mount and blobfuse.

**Approach**

Enable default logging for pipe mount the same way it is done for goofys, s3fs and gcsfuse.

[2020-08-03 18:23] #1236 closed, assigned to rodichenko

[2020-08-03 18:23] maryvictol commented on #1236
Verified and closed

[2020-08-03 21:51] NShaforostov opened #1253 "Implement in E2E GUI tests not covered CP feature: [System logging]"
In Cloud Pipeline, the functionality of system logs is implemented.
It allows to record audit trail events for further traceability:
- User authentication attempts
- User profile modifications
- Granting permissions on the Platform's objects
- Interactive tools access
- and others

E2E GUI tests for covering this functionality shall be implemented.
Implementation status see in the table below:

Fe

[2020-08-04 08:58] sidoruka opened #1254 "Upgrade RStudio image with R v4"
**Background**
At the moment, we provide the RStudio 3.5 as a part of the Cloud Pipeline distribution (https://github.com/epam/cloud-pipeline/tree/develop/deploy/docker/cp-tools/base/rstudio). We need to upgrade it to the fresh version v4.

**Approach**
* The existing Docker image is using `rocker/rstudio`
* We won't use it in the future, as it might contain certain issues
* Let's implement own im

[2020-08-04 13:16] #1251 closed, assigned to nobody

[2020-08-04 15:01] tcibinan commented on #1251
Cherry-picked to `release/0.16` via 385d792b0b3a1972c40b617488440c7fdd18d39b.

[2020-08-04 16:12] maryvictol commented on #589
`pipe update` command has been verified on Version: 0.17.0.6278 using:
- Windows: checked `pipe update` and `pipe update <API URL>` variants -  it works well
- Linux-Binary: checked `pipe update` variant -  it works well
- Linux-Tarball: checked `pipe update` variant -  it works well

[2020-08-04 17:19] NShaforostov opened #1258 "Billing: special role for viewing the full billing data"
**Background**
At the moment, only users with the **_ROLE\_ADMIN_** role has access to the Billing section and can view Platform's spendings data.
In some cases, it would be convenient that some non-admin users also have the full access to the billing info.

**Approach**
Let's add a new role to the predefined roles list - e.g. **_ROLE\_BILLING\_MANAGER_**.
If that role is assigned to the user - fo

[2020-08-04 19:48] NShaforostov opened #1259 "Billing: base access to the billing info for general users"
**Background**
At the moment, only users with the **_ROLE\_ADMIN_** role has access to the Billing section and can view Platform's spendings data.
When #1258 will be implemented, non-admin users (_but with special role_) also can view full Platform's billing info.
But for general users, some information - about their own spending - could be useful too.
Any Platform user should be able to view Bill

[2020-08-10 11:01] #1213 closed, assigned to kamyshova, maryvictol

[2020-08-10 17:07] NShaforostov commented on #1156
I've tried to verify this.
In common, it works well.
Some issues, that were encountered:
1. Attempt to run `pipe share get <RUN_ID>` prints the error with a traceback, where `RUN_ID` is the run ID:
   - of the run that isn't accessible for the current user
   - of the completed run
   - of the non-existing/not-found run
E.g.:
![image](https://user-images.githubusercontent.com/45459424/89801804-509

[2020-08-11 10:56] NShaforostov opened #1265 "Shared endpoint for `anonymous` users is being opened from the second time"
**Describe the bug**
It's refers to #1037 functionality.
When an `anonymous` user opens a new browser window, pastes into the address bar received hyperlink of the shared endpoint and tries to open the page - he/she gets the Platform's "Access denied" page.
Then, if user pastes received hyperlink again into the address bar and tries to open the page in the second time - it's being opened correctly

[2020-08-12 09:17] tcibinan opened #1266 "Use read ahead approach for only sequentially read data in pipe fuse"
## Background

Currently pipe fuse uses so-called read ahead approach while reading data from cloud. It significantly improves performance for sequential data streaming. Nevertheless it decreases non-sequential small random reads performance because it download 20 MB for any initial read call.

### goofys

Goofys solves the same issue by using both streaming read and read ahead strategies. Initial

[2020-08-12 10:30] sidoruka opened #1268 "`pipe storage cp` windows with the GCS - sslv3 error"
**Describe the bug**
We observe the issue with copying data to/from the GCS using the Windows workstation:
[code]

**Additional context**
The windows `Internet Options` allow the following protocols:
[code]
It might be that the `pipe` uses these settings and the GCP rejects SSLv3 requests

[2020-08-12 10:31] sidoruka commented on #1265
Fix shall be backported to `release/0.16`

[2020-08-12 10:31] sidoruka commented on #1268
Fix shall be backported to `release/0.16`, if the issue is caused by the `pipe`

[2020-08-13 09:28] sidoruka commented on #1265
Fixed via e3fb461b74612dd884bfd2137e8705015ac46c03 16375976861841bfedebf5b8b550aa9edef39e1f 0a0d75c583b833db8dc4b2c2ba5fbd359e7066f6

[2020-08-13 09:28] #1265 closed, assigned to mzueva

[2020-08-13 13:16] maryvictol opened #1270 "Size of tool version created from original tool without any changed is a lot of larger than original."
**Describe the bug**
Size of tool version created from original tool without any changed or after resume paused run is a lot of larger than original.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch any tool
2. Open Log page and click Commit button
3. Navigate to the Versions tab of a Tool and check created version size.

4. Open Log page > click Pause button.
5. Resume run > click Com

[2020-08-14 09:23] tcibinan opened #1271 "Reinitialize upload in case of unmanageable writes in pipe fuse"
**Background**

Currently some complicated random write scenarios is not supported in pipe fuse yet. For instance if writing to file is being performed to some regions that were already uploaded to cloud within the same multipart upload then it will fail.

**Approach**

Efficient managing of such cases is pretty complicated thing to implement and requires some changes in pipe fuse core. At the sam

[2020-08-17 13:10] sidoruka opened #1275 "Switch docker storage driver from overlay2 to btrfs"
**Background**
At the moment, Cloud Pipeline uses the following filesystems:
* Host OS - `btrfs` (to support FS autoscaling)
* Host Docker - `overlay2`
* DIND - `overlay2`

The `overlay2 over btfs` causes performance issues for the recursive FS operations. E.g.

[code]

**Approach**
* We need to switch the `Host docker` and `DIND` to `btrfs`
* This might cause certain issues with the resource moni

[2020-08-17 13:10] sidoruka commented on #1275
Shall be cherry-picked to `release/0.16`

[2020-08-17 15:33] sidoruka opened #1276 "Add "max" data series to the resource monitoring dashboard"
**Background**
At the moment, Cloud Pipeline displays the resources utilization as an `average`. This can hide some spikes (which resulted in job failure), when reviewing at a high zoom-level (e.g. for 5 days).

**Approach**
* Let's introduce another data-series ("line"), which is calculated as a `max` function
* Existing one shall be kept as well, but renamed to contain `average` keyword

[2020-08-17 17:00] sidoruka opened #1277 "Filter Billing Reports by Cloud Provider / Cloud Region"
**Background**
At the moment, Cloud Pipeline allows displaying the AWS/GCP/Azure instance types and their usage. But there is no way to get the overall per-Cloud or per-region information.

**Approach**
* Add a Cloud / Region filter (to the top header, as the users/groups), e.g. user shall be able to choose:
  * GCP (which includes all the GCP regions)
  * Or a specific region(s) inside GCP

[2020-08-17 17:01] sidoruka commented on #1277
Backport to `release/0.16`

[2020-08-17 17:03] sidoruka opened #1278 "Add storage volume usage and cost center info to the Billing Reports"
**Background**
* At the moment, Cloud Pipeline shows only `Costs` for the data storage. We need to add the `Volume` to all the data storage charts/tables, in the same manner as we have for the `Compute`: `hours` and `costs`.
* Also, let's add the `billing center` and `storage type` (S3/GS/NFS/LustreFS/etc) into the storages tables reports (next to the `owner` name)

[2020-08-17 17:04] sidoruka commented on #1278
Backport to `release/0.16`

[2020-08-17 17:05] sidoruka commented on #1258
Please backport to `release/0.16`

[2020-08-17 17:05] sidoruka commented on #1259
Please backport to `release/0.16`

[2020-08-17 17:24] sidoruka opened #1280 "Benchmark FSx for Lustre vs EFS in AWS"
**Background**
As we are considering Lustre as an alternative to EFS - we shall perform pros & cons analysis:
* Costs
* Performance
* Any other good/bad features

[2020-08-17 17:31] sidoruka opened #1281 "Add "Export to CSV" to all the Billing sections"
**Background**
At the moment, Cloud Pipeline allows to export the billing data into the CSV via the `General` section only.
We'll need to add this export feature to the "Storage" and "Compute" sections.

The exported tables shall be of the same structure as used for the GUI reports

[2020-08-17 17:44] sidoruka opened #1282 "`pipectl` shall allow to sync the Cloud Pipeline configuration between the deployments"
**Background**
It is common to have 2+ environments of the Cloud Pipeline to be deployed (e.g.: TEST/PROD).
From time to time - environment sync is required to make sure that they share the same configuration.

**Approach**
Let's implement a separate routine in the `pipectl` utility to perform those operations:
* `pipectl sync` shall be implemented
* This command shall take two arguments: `source`

[2020-08-17 17:53] sidoruka opened #1283 "Allow to force the cluster master to a specific price type"
**Background**
At the moment, Cloud Pipeline allows the user to choose if the cluster master node can be a `spot`/`pvm` or `on-demand` instance.
While spots are ok for the worker nodes, as they can be recreated (e.g. #1155) - master node failure will terminate the whole cluster.
To make things easy for the end-users, let's introduce an optional restriction on the `spots`/`pvms` usage for the maste

[2020-08-17 17:54] sidoruka commented on #1283
Backport this to `release/0.16`

[2020-08-17 18:03] #292 closed, assigned to nobody

[2020-08-17 18:03] #312 closed, assigned to rodichenko, mzueva, TimSPb89

[2020-08-17 18:03] #623 closed, assigned to rodichenko, mzueva, Wedds

[2020-08-17 18:03] #624 closed, assigned to rodichenko, SilinPavel, mzueva, Wedds, TimSPb89

[2020-08-17 18:04] #625 closed, assigned to rodichenko, mzueva, Wedds

[2020-08-17 18:04] #637 closed, assigned to sidoruka

[2020-08-17 18:04] #673 closed, assigned to SilinPavel

[2020-08-17 18:04] #679 closed, assigned to sidoruka

[2020-08-17 18:04] #688 closed, assigned to mzueva, Wedds

[2020-08-17 18:05] #761 closed, assigned to nobody

[2020-08-17 18:05] #1030 closed, assigned to mzueva, tcibinan

[2020-08-17 18:05] #1034 closed, assigned to rodichenko, SilinPavel, mzueva, AleksandrGorodetskii

[2020-08-17 18:05] #1035 closed, assigned to rodichenko, mzueva, tcibinan, TimSPb89

[2020-08-17 18:06] #1036 closed, assigned to rodichenko, mzueva, tcibinan, Wedds

[2020-08-17 18:06] #1037 closed, assigned to rodichenko, mzueva, tcibinan

[2020-08-17 18:06] #1039 closed, assigned to rodichenko

[2020-08-17 18:06] #1040 closed, assigned to mzueva

[2020-08-17 18:06] #1072 closed, assigned to mzueva, tcibinan

[2020-08-17 18:06] #1085 closed, assigned to mzueva, ekazachkova

[2020-08-17 18:06] #1086 closed, assigned to rodichenko, mzueva

[2020-08-17 18:06] #1088 closed, assigned to SilinPavel, mzueva

[2020-08-17 18:07] #1089 closed, assigned to rodichenko, mzueva

[2020-08-17 18:07] #1090 closed, assigned to mzueva, Wedds

[2020-08-17 18:07] #1122 closed, assigned to rodichenko, mzueva, tcibinan

[2020-08-17 18:07] #1124 closed, assigned to SilinPavel, mzueva

[2020-08-17 18:07] #1126 closed, assigned to ekazachkova

[2020-08-17 18:08] #1154 closed, assigned to rodichenko, mzueva

[2020-08-17 18:08] #1175 closed, assigned to tcibinan, sidoruka

[2020-08-17 18:09] #1179 closed, assigned to rodichenko

[2020-08-17 18:09] #1191 closed, assigned to mzueva, Wedds

[2020-08-17 18:09] #1193 closed, assigned to mzueva, tcibinan

[2020-08-17 18:09] #1244 closed, assigned to mzueva, tcibinan

[2020-08-17 18:09] #1246 closed, assigned to rodichenko, mzueva, tcibinan

[2020-08-18 09:17] #1271 closed, assigned to nobody

[2020-08-18 09:46] rodichenko commented on #1277
@sidoruka done (#1284), backported to `release/0.16` (d2ad0dc7e8edc5cc7b36cad0118de00bbf8bcce3)

[2020-08-18 13:45] SilinPavel opened #1287 "Provide possibilitiy to pause and resume autoscale cluster"
**Background**
Some time it is useful to be able to pause master node of an autoscale cluster.

**Approach**
There is a high-level explanation of this feature:

To be able to pause autoscale cluster we should do:
- Warn user of possible effects (data corruption, etc.)
- Stop all workers of this cluster
- Pause master node as usual

To be able to resume autoscale cluster we sould just resume master

[2020-08-18 13:48] SilinPavel opened #1288 "Add new documentation part about different ways to use WebDav functionality."
**Background**
For now there is no documentation about additional ways to use WebDav functionality, it would be convenient to add it.

**Approach**
Add new part of documentation about additional ways to use WebDav functionality, for example CyberDuck

[2020-08-18 14:47] tcibinan commented on #1271
Cherry-picked to `release/0.16` via b593e96ba8a2e97c4ec5838651608a8229cb33e6.

[2020-08-18 14:52] rodichenko commented on #1276
To display `max` values we need to receive this data from API (e.g., we need to receive `{cpuUsage: {load, max}, memoryUsage: {capacity, usage, max}}` instead of `{cpuUsage: {load}, memoryUsage: {capacity, usage}}`. @mzueva could you please handle this?

[2020-08-18 14:54] rodichenko commented on #1278
As for the part 2, @mzueva could you please extend current method response for storages - we need to have `billing center`, `storage type` grouping info as well

[2020-08-18 17:18] SilinPavel opened #1289 "Install Lustre client only for AWS runs"
**Describe the bug**
For now Lustre installs for all runs (aws/google/azure). It would be right to reduce number of runs where lustre will be installed to only AWS runs

[2020-08-18 17:24] SilinPavel opened #1290 "AzureInstanceService can fail if VM view doesn't contain PowerState"
**Describe the bug**
For now AzureInstanceService can fail if VM view doesn't contain PowerState. Let's check that this view has such state before process it in checkingPod method

[2020-08-19 08:16] Fred-Fleche opened #1292 "Codec error using the pipe tool"
I have an issue using pipe from a Linux VM instance located in GCP. Indeed, using “storage ls” I was able to see the content of my folder located within AWS embedded in Cloud Pipeline but now I have an error message that seems related to python script that may be pipe is build with.

frederic_fleche@frederic-fleche-notebook:~$ pipe storage ls -l s3://ngstraining
Error: 'ascii' codec can't decode b

[2020-08-19 09:14] #1253 closed, assigned to kamyshova

[2020-08-19 10:42] NShaforostov commented on #1140
Verified. Works well

[2020-08-19 13:13] SilinPavel opened #1294 "Possibility to install pipe cli from tarball"
**Background**
It will be good to have possibility to install pipe cli from tarball distribution in the pipeline run.

**Approach**
 - Define new env var `CP_PIPELINE_CLI_FROM_TARBALL_INSTALL`
 - If  `CP_PIPELINE_CLI_FROM_TARBALL_INSTALL` present in run env download tar.gz describution of the pipe-cli instead of binary
 - unpack pipe.tar.gz to /opt/ directory
 - create symlink from /opt/pipe/pipe

[2020-08-19 16:57] sidoruka commented on #1292
Hi @Fredon78, sorry to hear that.
We'll review and let you know why this thing might happen.

@SilinPavel, please take a look

[2020-08-19 17:07] mzueva commented on #1258
@rodichenko ROLE_BILLING_MANAGER was added

[2020-08-19 19:57] SilinPavel opened #1299 "Pipeline run store RESUMED_RUN env in cp_env.sh"
Currently RESUMED_RUN env stored in cp_env.sh it can lead to wrong behavior of launch sh while resuming

[2020-08-19 20:42] NShaforostov commented on #1155
Verified

[2020-08-19 21:39] NShaforostov commented on #1176
Verified. Works well.

A minor bug with the cloned pipeline:
- when I try to open specific version of the cloned pipeline from the pipeline page - it's being opened correctly
- but when I try to open specific version of the cloned pipeline from the library tree - often the corresponding page of the original pipeline version is being opened, e.g.:
![image](https://user-images.githubusercontent.com/

[2020-08-20 08:54] rodichenko commented on #1258
@mzueva thank you!

[2020-08-20 09:55] tcibinan opened #1304 "Node resource monitoring doesn't consider run paused time"
**Background**

Currently resource monitoring doesn't take into consideration run paused duration. It ends up showing some expected value for missing regions rather than no value at all.

![image](https://user-images.githubusercontent.com/16464586/90754942-39005c80-e2e3-11ea-8131-7dab185e84a4.png)

**Approach**

It would be nice to manage run paused duration in resource monitoring and display it s

[2020-08-20 11:27] rodichenko commented on #1259
@NShaforostov @sidoruka GUI part implemented (#1302), this also covers #1258

[2020-08-20 11:34] SilinPavel commented on #1290
PR #1293

[2020-08-20 12:14] SilinPavel commented on #1288
@NShaforostov  this documentation could be placed near to https://cloud-pipeline.com/manual/08_Manage_Data_Storage/8.9._Mapping_storages/

[2020-08-20 12:27] mzueva commented on #1276
@rodichenko `max` was added to `cpuUsage` and `memoryUsage`

[2020-08-20 12:29] SilinPavel commented on #1299
closed as not implemented

[2020-08-20 12:29] #1299 closed, assigned to SilinPavel

[2020-08-20 13:19] sidoruka commented on #1281
Please backport to `release/0.16`

[2020-08-20 13:41] tcibinan commented on #1275
Cherry-picked to `release/0.16` via 07ff601511df17088fcced982eba0aa597b1cc74.

[2020-08-20 13:51] rodichenko commented on #1281
@sidoruka backported to `release/0.16` (7ec9c0082718ef2638b1ff9262c9dc69bf59b97a)

[2020-08-20 14:35] mzueva commented on #1278
@rodichenko `billing_center` and `storage_type` are returned for storage grouping now

[2020-08-20 15:18] #697 closed, assigned to mzueva, ekazachkova

[2020-08-20 15:18] #691 closed, assigned to rodichenko

[2020-08-20 15:18] #648 closed, assigned to rodichenko

[2020-08-20 15:18] #645 closed, assigned to mzueva

[2020-08-20 15:19] #634 closed, assigned to SilinPavel

[2020-08-20 15:19] #554 closed, assigned to SilinPavel

[2020-08-20 15:19] #397 closed, assigned to SilinPavel

[2020-08-20 15:19] #298 closed, assigned to SilinPavel, mzueva, tcibinan, ekazachkova

[2020-08-20 15:19] #290 closed, assigned to ekazachkova

[2020-08-20 15:19] #223 closed, assigned to rodichenko, mzueva, ekazachkova

[2020-08-20 15:20] #168 closed

[2020-08-20 15:20] #91 closed

[2020-08-20 15:20] #548 closed, assigned to ekazachkova

[2020-08-20 15:22] #706 closed, assigned to Wedds

[2020-08-20 15:22] #707 closed, assigned to SilinPavel, mzueva

[2020-08-20 15:22] #743 closed, assigned to SilinPavel

[2020-08-20 15:23] #744 closed, assigned to SilinPavel

[2020-08-20 15:23] #757 closed, assigned to mzueva, Wedds

[2020-08-20 15:23] #759 closed, assigned to mzueva

[2020-08-20 15:23] #767 closed, assigned to SilinPavel

[2020-08-20 15:23] #771 closed, assigned to SilinPavel, mzueva

[2020-08-20 15:23] #780 closed, assigned to SilinPavel

[2020-08-20 15:24] #792 closed, assigned to mzueva, ekazachkova

[2020-08-20 15:24] #812 closed, assigned to rodichenko

[2020-08-20 15:24] #820 closed, assigned to mzueva

[2020-08-20 15:24] #821 closed, assigned to mzueva, tcibinan

[2020-08-20 15:24] #822 closed, assigned to mzueva

[2020-08-20 15:24] #832 closed, assigned to SilinPavel, mzueva

[2020-08-20 15:26] #842 closed, assigned to mzueva, tcibinan

[2020-08-20 15:26] #843 closed, assigned to SilinPavel

[2020-08-20 15:26] #844 closed, assigned to rodichenko, TimSPb89

[2020-08-20 15:26] #848 closed, assigned to rodichenko, sidoruka, AleksandrGorodetskii

[2020-08-20 15:26] #851 closed, assigned to SilinPavel, mzueva

[2020-08-20 15:26] #852 closed, assigned to rodichenko, SilinPavel, mzueva

[2020-08-20 15:26] #857 closed, assigned to mzueva, Wedds

[2020-08-20 15:26] #865 closed, assigned to rodichenko, SilinPavel

[2020-08-20 15:27] #871 closed, assigned to rodichenko

[2020-08-20 16:52] sidoruka opened #1307 "GCP Implement compute nodes' disks/swap autoscaling"
As we've already rolled out a couple of GCP deployments - it will be really helpful to implement #837 for the GCP as well

[2020-08-20 21:49] NShaforostov commented on #1259
@rodichenko
I've tried to verify. Works well.
A minor note: could you hide the "Billing centers (TOP 10)" chart from the General billing page? This chart will be always empty for non-admin/non-billing manager users.

[2020-08-20 22:09] NShaforostov commented on #1277
@sidoruka a little question:
For example, the user has the **ROLE\_BILLING\_MANAGER** role (and has the "full" access to the Billing - according to #1258), but in "Cloud Regions" section of the System settings that user is admitted to restricted number of regions/providers. In such case, should that user have the ability to view spendings for any region/provider or only for available for him/her v

[2020-08-20 22:29] NShaforostov commented on #1258
@rodichenko I've tried to verify.
For platform in general/for a specific billing center all forms are displayed correctly.
But I can't select any user in the corresponding search field and view his/her spendings. When I try to search any user (even myself) - nothing is being found. Is it correct behavior?

[2020-08-21 15:11] NShaforostov commented on #1281
Verified

[2020-08-21 15:19] NShaforostov commented on #1277
@rodichenko we've discussed the question above and resolved that the user with the **ROLE\_BILLING\_MANAGER** role shall have the ability to view spendings for any platform region/provider (i.e. regardless of the regions available for that user via the System settings). So, could you add the corresponding ability to select any region for the "Provider/region" dropdown list?

[2020-08-21 18:49] sidoruka opened #1312 "Unable to list more than 1000 files in the S3 bucket"
**Describe the bug**
* The bucket contains 2k+ files
* User can list **all** the files in the GUI
* User can list **only 1000** files via the `pipe storage ls -l --all` command
* User can list **only 1000** files via the `pipe storage ls -l --page 2000` command
* User can list **only 1000** files via the `pipe storage mount -b && ls -l` command

**Environment:**
 - Cloud Provider: [e.g. AWS]
 - Ve

[2020-08-21 18:50] sidoruka commented on #1312
Please backport the fix to `release/0.16`

[2020-08-24 08:00] rodichenko commented on #1278
@sidoruka GUI part implemented (d92d24432c40b5bffe927091b9abba152cbc5317, #1313)

[2020-08-24 08:15] rodichenko commented on #1276
@sidoruka GUI part implemented (#1305)

[2020-08-24 09:13] rodichenko commented on #1277
@NShaforostov @mzueva @sidoruka to implement this we need separate API method to fetch all configured regions, not only available for specific user (we use `GET` `cloud/region` for now)

[2020-08-24 09:21] rodichenko commented on #1258
@NShaforostov @mzueva @sidoruka we're receiving `Access is denied` response for `GET` `/users` for such user (with **ROLE_BILLING_MANAGER** role assigned). We need either a) allow such users to fetch all users via `GET` `/users` or b) create a separate API method for fetching users list for billing managers

[2020-08-24 11:14] sidoruka commented on #1258
Let's have two new methods, which provide only general info for users and regions with a bare minimum information available to `ROLE_USER`

[2020-08-24 11:15] sidoruka commented on #1276
@NShaforostov waiting for your review

[2020-08-24 11:34] rodichenko commented on #1259
@NShaforostov https://github.com/epam/cloud-pipeline/issues/1259#issuecomment-677924201 implemented (#1315)

[2020-08-24 12:46] mzueva commented on #1312
@sidoruka cherry-pick 7168b8fb49e53ef853104880493de853899843bb

[2020-08-24 12:58] rodichenko commented on #1283
@sidoruka GUI part implemented #1317

[2020-08-24 14:00] NShaforostov commented on #1259
Verified.
Now, all works nice

[2020-08-24 19:31] rodichenko commented on #1277
@mzueva seems like there is an error for **storages** reports if we specify both `cloudRegionId=[regionId, regionId, regionId, ...]` and `resource_type=["STORAGE"]` filters - server responds with `{status: 'OK'}`

[2020-08-24 20:17] NShaforostov commented on #1276
@rodichenko I've tried to verify. In general, it works well.
A little question:
I see the difference between "real" and "average" lines on a large scale, but these both lines are being merge together once a scale is small (when the delimiter becomes 1 minute or smaller), e.g.:
- ![image](https://user-images.githubusercontent.com/45459424/91091401-32654280-e65f-11ea-8f56-b7595982aaf3.png)
(delimite

[2020-08-25 08:08] rodichenko commented on #1276
@NShaforostov
**TL;DR** Yes, this is absolutely normal, because
[code]
**...in other words...**
`Average` data series consists of data points of aggregated data, where each point is an *average* value for specified tick duration - 1 minute, 2 minutes, hour etc; the `real` (or `max`) data series have data points, where each point is the maximum of that tick duration.
Original data is *discrete* mea

[2020-08-25 08:40] #1312 closed, assigned to mzueva, ekazachkova

[2020-08-25 08:43] sidoruka opened #1319 "`pipe` CLI shall not accept `pac` proxy when running in non-Windows OS"
* If the user run `pipe configure --proxy "pac"` in the non-Windows environment - we shall fail the command with the wording:
[code]
* If the user has changed the `~/.pipe/config.json` manually (with the `pac` value) and runs any of the `pipe` commands - the commands shall fail in the same manner as shown in the previous point

[2020-08-25 08:44] sidoruka commented on #1319
@mzueva please backport this to `release/0.16`

[2020-08-25 09:14] NShaforostov commented on #1276
@rodichenko
Thanks for the detailed answer. I supposed something like that but thought that minimal tick duration is less than a minute.
In such case, this issue is fully verified, all works nice.

[2020-08-25 11:04] mzueva commented on #1268
cherry pick 832b6a863bc6817396eeda1bfc1c80a8aa571ba4

[2020-08-25 11:19] sidoruka commented on #1278
@NShaforostov  your turn

[2020-08-25 12:49] sidoruka opened #1320 "Support FSx for Lustre in Debian 9"
At the moment FSx for Lustre setup (#441) works fine for Ubuntu and Centos, but fails in Debian.
Debian 9 support shall be added as well

[2020-08-25 12:52] sidoruka commented on #1292
At the moment, "pipe" CLI for Linux uses Python2, which has `ascii` default encoding.
This causes different issues with the users locales, like this one:
[code]

@mzueva, let's try the following options:
* If it is feasible - let's introduce another `configure` option to override the `ascii` with `utf-8` (e.g. `--codec ascii/utf-8/etc.`). The default value shall be kept as `ascii`
* If this does n

[2020-08-25 15:01] #1268 closed, assigned to mzueva, ekazachkova

[2020-08-25 15:32] NShaforostov commented on #1288
Docs were added

[2020-08-25 16:51] NShaforostov commented on #1278
Verified. Looks nice

[2020-08-26 08:58] sidoruka opened #1325 "Extend the AWS Filesystems benchmarks with the other available storages (EBS/LFS/FUSE)"
As we've prepared a methodology for the AWS storage operations benchmark and ran it for EFS and FSx for Lustre (#1280), let's extend it with the other available options to have a really full comparison:
* "BTRFS on EBS" - shall be of the same size as the FSx for Lustre (1.2 Tb)
* "LizardFS on EBS" - same as previous
* "PipeFUSE on S3"

[2020-08-26 10:52] mzueva commented on #1258
@sidoruka @rodichenko We've added two API methods available to all users:
- GET /users/info
- GET /cloud/region/info

These methods return limited number of fields, if client needs some additional fields - let me know.

[2020-08-26 11:23] sidoruka commented on #1276
@rodichenko @mzueva please backport to `release/0.16`

[2020-08-26 11:24] sidoruka commented on #1283
@NShaforostov please verify (once API is merged by @mzueva )

[2020-08-26 11:29] sidoruka commented on #1320
@NShaforostov please verify the LustreFS using the following environments:
* Ubuntu 16
* Ubuntu 18
* Centos 7
* Debian 9

[2020-08-26 11:32] rodichenko commented on #1276
@sidoruka GUI part backported (a059d79729fe6f65e2503deb1dbd8c1a92121f9e)

[2020-08-26 12:27] rodichenko commented on #1258
@sidoruka @rodichenko @NShaforostov #1326 should fix https://github.com/epam/cloud-pipeline/issues/1258#issuecomment-677938995 and https://github.com/epam/cloud-pipeline/issues/1277#issuecomment-678346769

[2020-08-26 12:59] mzueva commented on #1276
@sidoruka backported changed to release/0.16 via  786b65d99317fcbc408b4ea12ff62c1fe57b908d fdebac426bf73f0cb173bcb5915b0be37dc88be7

[2020-08-26 15:08] tcibinan opened #1328 "Caches and buffers should be explicitly cleaned up in pipe fuse in case of low-level errors"
**Background**

Currently pipe fuse doesn't clean up caches and buffers in case of some low-level error. It does the cleaning on a subsequent flush call which is usually performed by libfuse. Nevertheless in some specific cases such flush calls won't happen.

**Approach**

In order to have better error handling explicit caches and buffers cleaning should be performed in case of any low-level error

[2020-08-26 15:44] tcibinan opened #1329 "Support writing with gaps in pipe fuse"
**Background**

Currently pipe fuse doesn't handle writing with gaps. For instance if writing to empty file is started from any position but 0 then the resulting file may be corrupted.

**Approach**

Pipe fuse shall handle writing with gaps in order to become more POSIX compliant.

[2020-08-26 16:49] NShaforostov commented on #1258
@rodichenko Verified.
Now, all works correctly

[2020-08-26 19:23] NShaforostov commented on #1320
I've tried to verify:
- **Ubuntu 16.04**: _LustreFS_ storages and _EFS_ aren't being mounted at all:
   ![image](https://user-images.githubusercontent.com/45459424/91347203-9700d880-e7ea-11ea-8076-b42c5b4a97c2.png)
- **Ubuntu 18.04**, **Centos 7**, **Debian 9**: _LustreFS_ storages are being mounted well, without any errors. All short manual tests over main functionality were passed (excluding `fa

[2020-08-26 21:24] NShaforostov commented on #1283
Verified. Works well

[2020-08-27 11:24] #1280 closed, assigned to sidoruka, kamyshova

[2020-08-27 13:18] tcibinan opened #1332 "Introduce support for atomic host files modifications"
**Background**

Currently several tools including SGE autoscaler modifies `/etc/hosts` and `/common/hostfile` files in order to add/remove temporary worker records. In some scenarios such modifications may cause race conditions leading to corrupted host files.

**Approach**

Safe approach for hosts file modification shall be introduced.

[2020-08-27 13:56] mzueva commented on #1277
@NShaforostov Cloud you please verify it?

[2020-08-27 15:07] rodichenko commented on #1258
@sidoruka @NShaforostov backported to `release/0.16` (3e26b88c653eeb3d8783bec66bcca8d5cd0ab5ac)

[2020-08-27 15:08] rodichenko commented on #1259
@sidoruka @NShaforostov backported to `release/0.16` (3e26b88c653eeb3d8783bec66bcca8d5cd0ab5ac)

[2020-08-27 15:11] rodichenko commented on #1277
@sidoruka @NShaforostov https://github.com/epam/cloud-pipeline/issues/1277#issuecomment-679009181 implementation is backported to `release/0.16` (3e26b88c653eeb3d8783bec66bcca8d5cd0ab5ac)

[2020-08-27 15:16] rodichenko commented on #1278
@sidoruka @NShaforostov backported to `release/0.16` (56836b298aee50cfb24e26654896b281e720d166)

[2020-08-27 15:18] rodichenko commented on #1281
@sidoruka @NShaforostov `Volume`, ` Billing Center` and `Type` columns (#1278) are also exported (21f78de4170f1aae0cc94149694cad872d45d16b) - backported to `release/0.16` (1a9444c412a3c5fdabbc71cb9fb077d1253405eb)

[2020-08-27 15:20] rodichenko commented on #1283
@NShaforostov @sidoruka backported to `release/0.16` (8ddc0ffa3249439c8497799e4eb654bf7b7578c3)

[2020-08-27 15:26] NShaforostov commented on #1277
Verified

[2020-08-27 15:40] mzueva commented on #1258
backported to release/0.16 via b78279ced11882a603f57a1f4de295162482234b d4eb3a09bb6150ef841795d3be8eca193468b441

[2020-08-27 15:41] mzueva commented on #1259
backported to release/0.16 via 827e11bc8c1d9afa463a4c12543735df9eafb68c

[2020-08-27 15:42] mzueva commented on #1277
backported to release/0.16 via 98481a9215855fc24f40874281d1137d7cf0f9b0

[2020-08-27 15:43] mzueva commented on #1278
backported to release/0.16 via fe93fbab4501f997c0bf9a407b0b63945a117397 5a017f68ba6435e01ff24fd45fe10295409c19e1

[2020-08-27 15:43] mzueva commented on #1283
backported to release/0.16 via 9242b8c36cd29a1717deba0f0fa772850a0e0172

[2020-08-28 07:34] #1329 closed, assigned to nobody

[2020-08-28 08:26] tcibinan opened #1336 "Reduce memory consumption of pipe fuse"
**Background**

As long as pipe fuse is in-memory file system it require lots of memory to handle its operations. At the moment memory consumption in pipe fuse is not optimized so that in some cases it require way more memory than it should.

For example with default configurations `fallocate -l 100G s3_file_100G` operation requires about `1 GB` of additional memory to process. In fact only `20 MB

[2020-08-28 08:53] tcibinan commented on #1329
Cherry-picked to `release/0.16` via 144d7991fa977c743d08bbe26debc8c7f68343a5.

[2020-08-28 09:27] kamyshova opened #1337 "The cloned pipeline is not available"
**Describe the bug**

When the pipeline has been cloned, it has not available for usage. The error message appears:

`Unexpected response status code: 404 Message: {"message":"404 Project Not Found"}`

**To Reproduce**
Steps to reproduce the behavior:
1. Select the desirable to clone pipeline
2. Click on the `Clone` button
3. Select a destination folder and set a name to cloneable pipeline
4. Open

[2020-08-28 10:50] kamyshova opened #1338 "PipeFUSE sometimes fails when creating or listing of a large number (~100 000) of files"
**Describe the bug**
When we create or list a large number (~100 000) of files in PipeFUSE in S3 storage, at some point, the storage stops working correctly.  In all cases, the common mistake:
`cannot access '/storage_path/': Transport endpoint is not connected`

**To Reproduce**
Steps to reproduce the behavior:
1. Run a pipeline with mounted PipeFUSE in S3 storage
2. Create a large number (~100 0

[2020-08-28 14:57] ekazachkova opened #1339 "`pipe storage ls` paging doesn't work correctly with folders"
**Describe the bug**
The `pipe CLI` storage listing works incorrectly with `--page` option with S3 provider.

**To Reproduce**
Steps to reproduce the behavior:
1. Create test storage `s3://test-data-storage` and upload several items (e.g. 2 files and 3 folders):
[code]
2. run `pipe storage ls s3://test-data-storage/ --page 2`

**Actual behavior**
`file1           file2           folder1/

[2020-08-28 15:25] sidoruka opened #1340 "Embed the "Cloud Pipeline File Browser" (electron app) into the API and expose to the users"
As now we have the "Cloud Pipeline File Browser" application implemented ([gui-cloud-pipeline-webdav-client](https://github.com/epam/cloud-pipeline/tree/gui-cloud-pipeline-webdav-client)) which can be used a local data storage browser. We'd need to include it into the Cloud Pipeline distribution (in the same manner as the "pipe").

This would greatly simplify the data access from the Windows works

[2020-08-28 17:15] #1332 closed, assigned to nobody

[2020-08-31 15:01] sidoruka commented on #1292
Fixed and confirmed

[2020-08-31 15:01] #1292 closed, assigned to mzueva, ekazachkova

[2020-08-31 16:12] SilinPavel opened #1345 "Fail to authenticate WebDAV Client if username is email"
**Describe the bug**

If CP uses email as username it will fail to authenticate user for webdav

[2020-08-31 16:27] mzueva commented on #1339
cherry-picked to `release/0.16` 59b7723d9785b18ba9c07a8f39ab3f8d991a27c0

[2020-08-31 16:50] mzueva opened #1348 "Billing service shall use GCP region settings for authentication"
**Background**
Currently Billing service uses `default` credentials to authenticate all requests to cloud services. This works when deployment has only one region and default credentials correspond to this region, but when several regions with different cloud providers are registered in the system authentication for non-default regions will fail.

**Approach**
Billing service shall request credent

[2020-09-01 08:59] sidoruka opened #1349 "WebDAV shall expose object storages as well"
**Background**
A clear and concise description of what the problem is. Ex. At the moment, Cloud Pipeline does not allow [...] and it would be nice to [...] because [...]

**Approach**
A clear and concise description of what you want to happen.

**Other options**
A clear and concise description of any alternative solutions or features you've considered.

[2020-09-01 09:00] sidoruka opened #1350 "Collecting SGE global logs"
**Background**
A clear and concise description of what the problem is. Ex. At the moment, Cloud Pipeline does not allow [...] and it would be nice to [...] because [...]

**Approach**
A clear and concise description of what you want to happen.

**Other options**
A clear and concise description of any alternative solutions or features you've considered.

[2020-09-01 09:01] sidoruka opened #1351 "Multiple email templates for a single notification type"
**Background**
A clear and concise description of what the problem is. Ex. At the moment, Cloud Pipeline does not allow [...] and it would be nice to [...] because [...]

**Approach**
A clear and concise description of what you want to happen.

**Other options**
A clear and concise description of any alternative solutions or features you've considered.

[2020-09-01 09:02] sidoruka opened #1352 "Support for the GCP VM-attached service account with the CP master in AWS"
**Background**
A clear and concise description of what the problem is. Ex. At the moment, Cloud Pipeline does not allow [...] and it would be nice to [...] because [...]

**Approach**
A clear and concise description of what you want to happen.

**Other options**
A clear and concise description of any alternative solutions or features you've considered.

[2020-09-01 09:03] #1258 closed, assigned to mzueva, sidoruka

[2020-09-01 09:03] #1259 closed, assigned to rodichenko, mzueva, Wedds, sidoruka

[2020-09-01 09:03] #1270 closed, assigned to mzueva

[2020-09-01 09:03] #1276 closed, assigned to rodichenko, mzueva, Wedds

[2020-09-01 09:04] sidoruka commented on #1277
@mzueva, if I remember correctly this one is still in progress due to some GCP authentication issues.
Update: I see, it is probably related to #1348. Let's keep this one open as well.

[2020-09-01 09:05] sidoruka commented on #1278
@rodichenko @mzueva we shall have two new columns in the report:
* `Average volume`: this is implemented already
* `Current volume`: this one shall be added. This value shall display the "current" volume, occupied by the storage (i.e. the last available value for a specific timeframe)

[2020-09-01 09:06] #1281 closed, assigned to rodichenko

[2020-09-01 09:06] #1283 closed, assigned to rodichenko, mzueva, Wedds

[2020-09-01 09:08] #1319 closed, assigned to mzueva, ekazachkova

[2020-09-01 09:20] sidoruka commented on #1337
@NShaforostov @kamyshova could you please take a look?

[2020-09-01 09:35] sidoruka commented on #1320
@mzueva @Wedds please take a look into @NShaforostov comment, once you have cycles

[2020-09-01 10:34] kamyshova commented on #1337
Verified. It works for me

[2020-09-01 10:59] mzueva opened #1353 "Unable to view pipeline sources for previous draft versions"
**Describe the bug**
Pipeline "Documents" and "Code" tabs always show content of the last "draft" version of pipeline, even if one of previous versions is specified in the url.

**Environment:**
 - Cloud Provider: AWS
 - Version 0.17.0.6653.90702086719ae72997860f3537634902bb0cb134
 - Browser: Chrome

[2020-09-01 11:44] rodichenko commented on #1278
@mzueva could you please provide *the last available value* for the requested range for each storage?

[2020-09-01 13:52] mzueva commented on #1353
cherry-pick to `release/0.16` 417138f7f26f6bab26cb309f8967fd9f75ac015e

[2020-09-01 17:09] #1215 closed, assigned to rodichenko, mzueva

[2020-09-01 21:11] NShaforostov opened #1357 "Billing: incorrect displaying of the "Summary" chart after several switches of the chart type"
**Describe the bug**
After each switching of the "Summary" chart type ("Accumulative"/"Fact"), the chart is being zoomed out by the height. So, after several switches, it becomes "unreadable".

**To Reproduce**
Steps to reproduce the behavior:
1. Open the Billing page ("General" form)
2. For the "Summary" chart, click the "Fact" control to change the view
3. For the "Summary" chart, click "the Acc

[2020-09-02 08:44] tcibinan opened #1358 "Invalidate caches partially in pipe fuse"
**Background**

Currently any terminal operation (mv, mkdir, flush and etc.) in pipe fuse causes file's directory cache invalidation. It works fine for small directories but performs badly for directories with thousands of files. Lots of operations on small files (creation lots of small files) end up with constant directory listing which is time-consuming actions for bigger directories.

**Approac

[2020-09-02 08:51] tcibinan opened #1359 "Improve buffers merging performance in pipe fuse"
**Background**

According to some resources such as [this one](https://www.guyrutenberg.com/2020/04/04/fast-bytes-concatenation-in-python/) plain bytearrays concatenation in python performs several times faster than bytearrays preallocation.

It is even possible to reduce memory consumption if bytearrays concatenation is used. To do so already concatenated buffers can be deleted explicitly to poss

[2020-09-02 09:05] NShaforostov commented on #1337
@ekazachkova
I've tried to verify.
1) Periodically, the problem repeats:
![image](https://user-images.githubusercontent.com/45459424/91960703-e6776500-ed12-11ea-8c40-04badfb71bee.png)
I can't catch addiction when it happens. In that case, the original pipeline contained `-` and `_` symbols in the name.
2) Also, when I've tried to clone a pipeline into the folder that contains a **Project** object

[2020-09-02 09:43] tcibinan commented on #1338
The error "Transport endpoint is not connected" is usually thrown if the underlying pipe fuse process is dead. It seems to be a typical out of memory failure. Once there are no enough memory for pipe fuse system OOM killer stops the process.

I've tried to reproduce the test case but there is no track of memory leaks in the process of creating lots of small files. At the same time several issues w

[2020-09-02 10:13] tcibinan opened #1360 "Remove file size limitation for aws in pipe fuse"
**Background**

Currently default pipe fuse [write file size limitation](https://github.com/epam/cloud-pipeline/pull/661#issue-317406254) is 100GB which results from aws s3 multipart upload limitations. It means that any write to a position bigger than 100GB will end up failing.

**Approach**

Nevertheless such limitation can be removed using the same approach that was used in #1272. In case of an

[2020-09-02 14:32] sidoruka opened #1361 "Add support for the Kubernetes cluster setup"
**Background**
At the moment, Cloud Pipeline offers a number of cluster schedulers to be configured:
* SGE
* Slurm
* SPARK

But now we have a number of use cases, that required a Kubernetes cluster to launch the processing jobs. It shall added in the same manner as the existing schedulers.

**Approach**
* Add the Kubernetes static cluster setup if the `CP_CAP_KUBE` system parameter is set to `true

[2020-09-02 14:32] sidoruka commented on #1361
@rodichenko , please implement the (2) action item

[2020-09-02 15:01] rodichenko commented on #1361
@sidoruka GUI part implemented (#1362)

[2020-09-02 20:59] mzueva commented on #1278
@rodichenko storage grouping info now returns `usage_storages_last` field

[2020-09-03 09:51] rodichenko commented on #1278
@sidoruka `current volume` column added to the storages table and to the `css` export (#1356,  a120285c906c5f61af0f03b923c27b9c3d4b0012)

[2020-09-03 10:02] rodichenko commented on #1278
@sidoruka backported to `release/0.16` (09f20f9e8cd3b618cecb0294a14046166aeaadac)

[2020-09-03 10:10] mzueva commented on #1278
@sidoruka server-side cherry-pick to `release/0.16` f30fcb294557a74e8c379bdc980e825c8422d2b6 dca4db79be08889723283d89b24b037ef65238b6

[2020-09-03 18:30] sidoruka commented on #1361
@rodichenko please add the following logic as well:
If the "Kubernetes" cluster is selected, the following system parameters shall be added as well:
* `CP_CAP_DIND_CONTAINER`
* `CP_CAP_SYSTEMD_CONTAINER`

And backport to `release/0.16`

[2020-09-04 06:08] rodichenko commented on #1361
@sidoruka done (29fc5359698d353c835220bb48ddd772f1fd02d2), backported to `release/0.16` (294d8b6da2230ee51bfef50aa8516850336b91fc)

[2020-09-04 09:41] #1361 closed, assigned to rodichenko

[2020-09-04 12:13] rodichenko commented on #1340
@ekazachkova @mzueva to build a client

for linux:
[code]
for windows:
[code]
for macOS:
[code]

If you build a client for windows platform on *non-windows* machine, you should pre-install [wine](https://www.winehq.org).

[2020-09-04 12:31] rodichenko opened #1368 "Add configurable validation for launch parameters"
**Background**
At the moment, Cloud Pipeline does not allow to add custom validation logic for pipelineparameters. It would be nice to extend current config.json to have `validation` fields for parameters.

**Approach**
Let's introduce a parameter's `validation` field of the following structure(s):
[code]
i.e. `validation` is an array of objects of structure `{message, throw}`, where:
* `throw` -

[2020-09-04 15:22] #1275 closed, assigned to mzueva, tcibinan

[2020-09-04 17:17] Wedds commented on #1282
# Users synchronization process
## Prerequisites

- Sync operation will be implemented as a Python script and demands URL and access token for both source and target deployments.

- It is required, that

 I believe, that regarding users and roles it is easier for us to update existing entities in target deployment, rather than delete and recreate ones because we can easily create mappings of entit

[2020-09-07 13:25] Wedds commented on #1282
# Tools synchronization process

## 1. Algorithmic approach
The whole process is split into the following steps:

1) Load the whole registries hierarchy with underlaying groups and tools for A and B (/dockerRegistry/loadTree)
2) If the default registry is not attached to B - do it
_Note, that all the entities from A registries are being transferred to B default registry_
3) Groups' sync
a. If a gr

[2020-09-08 12:27] sidoruka opened #1371 "Update the data storage mount script to use the `pipe storage mount` command in GCP"
Once the #1187 is merged we'll need to include the `pipe storage mount` into the job init scripts instead of the `gcsfuse` https://github.com/epam/cloud-pipeline/blob/f8a9088f7f76a565ddd9b0470ac51bbc1f3897f4/workflows/pipe-common/scripts/mount_storage.py#L468

This shall be made optional via `SYSTEM PARAMETERS`. There is already a parameter for that, which is used for AWS. Let's reuse it for AWS a

[2020-09-08 13:23] rodichenko opened #1372 "Cloud Pipeline WebDav Client configuration"
**Background**
At the moment, Cloud Pipeline WebDav Client does not allow to configure webdav connection & authentication. It would be nice to have Configuration Window.

**Approach**
A configuration window (modal) should be added to the Webdav client with following inputs:
* **server**: webdav endpoint url;
* **user name**, **password**: authentication info;
* other connection settings.

**Other

[2020-09-08 14:03] tcibinan opened #1374 "Implement parallel transferring in pipe cli for Google storages"
**Background**

Currently pipe cli uses default single-threaded approach for data transferring in Google Cloud storages.

**Approach**

Nevertheless it would be quite useful to have support for parallel transferring the same way it is done for AWS S3 in boto3 library.

[2020-09-08 14:15] #1372 closed, assigned to rodichenko

[2020-09-09 08:21] rodichenko commented on #1368
@kamyshova @sidoruka #1377 implements parameters validation rules

[2020-09-09 08:26] rodichenko opened #1378 "GUI Launch Form: parameter's`required` field evaluation"
**Background**
At the moment, Cloud Pipeline Launch Form allows to specify `required` field as a flag (true / false). It would be nice to have this fields *evaluated*, the same as `visible` (#1215) , `validation` (#1368) fields.

**Approach**
User shall be able to set `required` field as following:
[code]

[2020-09-09 10:43] tcibinan commented on #1374
# Benchmarks

Average values of 5 attempts are shown for each operation below.

| Operation | Size | Before, s | After, s | Faster, times |
| --- | --- | --- | --- | -- |
| Upload | 10M | 1 | 1 | - |
| Upload | 100M | 2 | 2 | - |
| Upload | 1G | 8 | 5 | ▲ 1.6 |
| Upload | 10G | 66 | 35 | ▲ 1.89 |
| Upload | 100G | 674 | 336 | ▲ 2.01 |
| Upload | 200G | 1422 | 670 | ▲ 2.12 |
| Download | 10M | 1 |

[2020-09-09 11:38] SilinPavel opened #1379 "Idle run metric is calculated in a wrong way"
**Describe the bug**
For now Idle cpu metric doesn't count on number of cpus of an instance, because of instance map is always empty

[2020-09-09 12:51] rodichenko opened #1382 "GUI Settings Form: Drive Mapping section enhancement"
**Background**
At the moment, Cloud Pipeline provides configuration steps / commands for mounting cloud data storages to the local workstation (**Drive Mapping**  section at the **Settings** form). As we now have **WebDav Client** (#1340) it would be nice to have configuration commands for the client as well.

**Approach**
1) Rename **Drive Mapping** section to the "**File System Access**";
2) Add

[2020-09-09 21:17] NShaforostov opened #1385 "Advanced configuration of notifications/automatic actions for "idle" runs"
**Background**
When the platform is used by many users, there a situation can occur when a large count of "idle" runs is being slept in paused state for a real long time, users can forget about them and the stand can become "littered" by such forgotten runs.
In this case, to "clear" the stand - admins should manually clarify - whether a specific run needs for a user or could be terminated.

It wou

[2020-09-09 22:18] NShaforostov opened #1386 "Displaying of additional options for notifications"
**Background**
Currently, to customize a platform behavior with respect to "idle" or "high-consumed" runs, admin has to set a number of settings in two different system forms - "Preferences" and "Email Notifications".
It would be nice to duplicate input fields for some preferences into the "Email Notifications" section - for faster and more convenient input of their values, and to avoid possible c

[2020-09-10 08:03] sidoruka opened #1387 "Introduce "ROLE_USER_READER" role with RO access to users/groups/roles info"
Please add a "built-in" role `ROLE_USER_READER` which shall allow read-only access to the API endpoints, responsible for the users, groups, roles information.
Only "general" user/groups information is required: name/email/etc. Metadata is not needed for this use-case

[2020-09-10 08:04] sidoruka commented on #1387
@mzueva please backport this to `release/0.16`

[2020-09-10 10:28] SilinPavel opened #1388 "Introduce a way to change local node time zone"
**Background**
It is convenient to have possibility to change timezone of nodes in CP.
**Approach**
introduce new env option CP_TZ that should lead to desire timezone file in a system
handle this variable at launch script check that this file is exists and overwrite /etc/localtime link to this file

[2020-09-10 12:40] SilinPavel commented on #1379
The way to reproduce wrong/right behavior:
Wrong:
   1. Disable _IDLE\_RUN_ notification
   2. Launch pipeline run with 4 cores
   3. install `stress-ng` package on a node
   4. Set `system.max.idle.timeout.minutes` = 10 and `system.idle.action.timeout.minutes` = 10 (just to be able to get notification in reasonable time)
   5. Set `system.idle.cpu.threshold` = 20
   6. Go to pipeline and run stre

[2020-09-10 13:28] NShaforostov commented on #1368
Verified. Works well

[2020-09-10 15:41] mzueva commented on #1382
ui.pipe.file.browser.app was added with expected type `Map<String, String>`

[2020-09-10 15:43] mzueva commented on #1340
@sidoruka @NShaforostov @rodichenko `Cloud Pipeline File Browser` may be downloaded via `/webdav-linux.tar.gz, /webdav-win32.zip, /webdav-win64.zip` paths.

[2020-09-10 15:51] mzueva commented on #1387
@sidoruka backported to `release/0.16`

[2020-09-11 10:36] tcibinan commented on #1328
Resolved via #1187.

[2020-09-11 10:36] #1328 closed, assigned to nobody

[2020-09-11 10:36] tcibinan commented on #1358
Resolved via #1187.

[2020-09-11 10:36] #1358 closed, assigned to nobody

[2020-09-11 10:37] tcibinan commented on #1359
Resolved via #1187.

[2020-09-11 10:37] #1359 closed, assigned to nobody

[2020-09-11 20:18] NShaforostov opened #1393 "Special control for additional run capabilities at the Launch form"
**Background**
Currently, users can launch and perform jobs with additional capabilities, such as `DinD`, `NoMachine`, `singularity`, `systemd`.
To enable any of these capabilities users need to set one or more System Parameters manually before the launch.
It may confuse some users or lead to incorrect run configuration.
So, it would be convenient to put an additional control at the Launch form, w

[2020-09-14 06:54] rodichenko commented on #1382
@sidoruka @NShaforostov **File System Access** section implemented

[2020-09-14 07:05] rodichenko commented on #1386
@NShaforostov did you mean `system.memory.consume.threshold`?

[2020-09-14 08:31] tcibinan commented on #1338
@kamyshova The testing scenario was performed with the current develop branch which includes changes introduced in #1364. Problems described in the issue seems to be resolved.

[2020-09-14 12:41] NShaforostov commented on #1386
Yes, wrong. Fixed

[2020-09-14 15:18] sidoruka opened #1395 "Allow to exclude certain node type from the IDLE_RUN notification"
**Background**
For quite small/cheap nodes (e.g. m5.large in AWS) - the users don't want to the email notifications for:
* IDLE_RUN
* LONG_PAUSED
* LONG_RUNNING

Related to #1385

**Approach**
* Add a separate preference `system.notifications.exclude.instance.types` to control that behavior
* This preference shall allow a comma-separated list of the node types and wildcards (same format as `cluste

[2020-09-14 15:40] sidoruka opened #1396 "Allow to perform the "Billing General" export broken by the user"
**Background**
At the moment, Cloud Pipeline exports the "General" billing report split by the "Cost Center". For some use cases we'd need to have this broken by the user as well.

**Approach**
* Allow specifying which dimension to use for the export:
  * By `Cost Center` (as it is now)
  * By `User` - export in the same format as the `Cost Center`, but split the values by the user (use `billing.r

[2020-09-14 15:40] sidoruka commented on #1396
Please backport to `release/0.16`

[2020-09-14 16:00] sidoruka opened #1397 "Enhancements to the "Webdav client""
Related to #1340
* Rename the app to `Cloud Data` (this for both: app itself and the distribution packaging @mzueva @ekazachkova)
* Default local directory shall be user's home
* Display the files change date and size (both remote and local)
* User shall be able to sort using the name/date/size attributes
* Rename `WebDav Root` to `Cloud Data Root` (@rodichenko please do not use `WebDav` in the GU

[2020-09-14 16:54] tcibinan opened #1398 "Gcsfuse installation fails for base distributions"
**Describe the bug**

Currently data storages mounting in Google Cloud region fails because gcsfuse cannot be installed.

Notably it works in 0.16.0.6890.336ee315a8a0d488f9b415a93bca42ee4f524207.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch `ubuntu:latest` in Google Cloud region.
2. Check `MountDataStorages` logs for errors.

**Expected behavior**
Gcsfuse should be installed and al

[2020-09-14 17:15] #1325 closed, assigned to kamyshova

[2020-09-14 17:32] sidoruka opened #1399 "Allow to use any of the supported filesystems as the cluster "scratch" space (/common)"
**Background**
With #441 we have an option to use FSx for Luster in AWS in the same manner as EFS (i.e. a persistent storage). For some of the cases (e.g. when the LFS can't do it's job well) we'd like to use Lustre as a temporary storage for the cluster runs (`/common`)

**Approach**
* Introduce another option for the `CP_CAP_SHARE_FS_TYPE` parameter: `external`
* If it is set - the init routines

[2020-09-14 17:32] sidoruka commented on #1399
Please backport to `release/0.16`

[2020-09-15 08:34] rodichenko commented on #1397
@sidoruka @mzueva **Cloud Data** app version is published from `CLOUD_DATA_APP_VERSION` env var during build

[2020-09-15 08:47] tcibinan opened #1402 "Debian images fail to start in GCP"
**Describe the bug**

Currently debian images fail to start in Google Cloud region.

![image](https://user-images.githubusercontent.com/16464586/93187629-ac618680-f748-11ea-81b1-95af8d59e924.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Launch debian image in Google Cloud region.
2. Check logs for errors.

**Expected behavior**

Debian images should start normally.

**Environment:**

[2020-09-15 10:31] mzueva opened #1404 "Implement tests for ACL layer"
**Background**
Currently we have a bunch of integration tests testing ACL security configuration and corresponding classes, but most of this tests use full Spring `ApplicationContext`, which takes up to two minutes to initialise and are marked with `@DirtiesContext` annotation which forces creation of a new `ApplicationContext` for each test. Such configuration leads to unacceptable run time of te

[2020-09-15 10:38] mzueva opened #1405 "Implement tests for Controller layer"
**Background**
Currently we don't have tests that validate `Controller` layer of our services, but we need to test it including Json (de)serialization and authentication/authorization.

**Approach**
Create isolated tests for Web layer using `@WebMvcTest` annotation:
- Provide test context configuration for Web layer
- Implement tests for the following packages:
     - billing
     - cluster
     -

[2020-09-15 11:17] rodichenko commented on #1396
@sidoruka @NShaforostov backported to `release/0.16` (099d1032cd60e55c444562b8f0397ae35eda81c5)

[2020-09-15 13:32] NShaforostov opened #1406 "Attempts to launch Kubernetes cluster fail with the "Timeout error""
**Describe the bug**
Attempts to launch Kubernetes cluster fail with the "Timeout error". I've tried different instance & price types.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the "Tools" page
2. Select `centos`-based image
3. Click the "Run custom" button
4. At the "Launch page", expand the "Exec environment" section
5. Click the "Configure cluster" button
6. Select the "Cluster

[2020-09-15 13:52] mzueva commented on #1385
@sidoruka Can we use thresholds provided in the notification settings or introduce new `SystemPreferences` `system.max.long.paused.timeout.minutes` `system.long.paused.action.timeout.minutes`  for this tasks (as you describe in the **_Approach_** section)?

[2020-09-16 08:59] tcibinan opened #1407 "SGE installation fails in ubuntu"
**Describe the bug**

Currently SGE installation fails in ubuntu.

Notably it works in 0.16.0.6890.336ee315a8a0d488f9b415a93bca42ee4f524207.

![image](https://user-images.githubusercontent.com/16464586/93315472-c4520c80-f813-11ea-86c8-c0d8da494ef1.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Launch autoscaled cluster with `ubuntu:latest` image
2. Check `SGEMasterSetup` logs for error

[2020-09-16 10:38] tcibinan opened #1408 "Pipe storage du ignores folders"
**Describe the bug**

Currently reported files count and collected size in `pipe storage du` are not correct in terms of regular unix du utility.

**To Reproduce**

Steps to reproduce the behavior:
1. Create 1MB file and upload it twice to a data storage
[code]
2. Try to get data storage folder size
[code]
3. See that the files count is 2 and collected size is 2MB as well.

**Expected behavior**

[2020-09-16 13:15] rodichenko commented on #1397
@sidoruka enhancements are implemented (#1409)

[2020-09-18 11:02] sidoruka opened #1415 "Perform "online" verification of the user's roles membership using the JWT"
**Background**
At the moment, Cloud Pipeline reads the user's info from the JWT token "as-is". Which may result into an outdated user's profile.

**Approach**
API shall perform online checks of the user's security context (Groups/Blocks) if the JWT authentication is used

[2020-09-18 12:06] rodichenko commented on #1385
@sidoruka @NShaforostov GUI part implemented (#1410)

[2020-09-18 12:07] rodichenko commented on #1386
@sidoruka @NShaforostov GUI part implemented (#1394)

[2020-09-18 14:52] SilinPavel opened #1419 "Resumed run can be immediatly marked as idled"
**Describe the bug**
If run was paused a long time ago and just resumed it can be marked as idled right after resume (because paused time also is taken into account when we filter run to check on idle)

Let's prolong all resumed runs, in this case such runs will be checked on idle only after `system.idle.action.timeout.minutes`

[2020-09-18 22:25] NShaforostov commented on #1385
Usage of notifications _LONG\_PAUSED_ and _LONG\_PAUSED\_STOPPED_ was verified.
Works well.
**_Note_**: was tested at `AWS` and `GCP` stands - via API logs and `NotificationManager` messages.

[2020-09-18 22:45] NShaforostov commented on #1386
I've tried to verify. In general, works nice.
Minor notes:
1. When I save changed values at the "Email Notifications" tab and than switch to the "Preferences" tab - the corresponding preferences have "old" values and are being updated only after page refresh. But, in the opposite case - if firstly change values at the "Preferences" tab and then switch to the "Email Notifications" tab without page

[2020-09-21 11:20] rodichenko commented on #1386
@NShaforostov the first part should be fixed with fb30a5f0431db8034f3c1670c393572b77e265ec

[2020-09-21 11:21] rodichenko commented on #1386
@NShaforostov @sidoruka backported to `release/0.16` (b030d9f3c401f2ca134ae8d06d7ce0d0f658720a, c07d625b1522e6e9cfa0faa7356776f975ba65f5)

[2020-09-21 11:56] mzueva opened #1424 "Idle notifications should be sent with resend delay"
**Background**

Currently `Idle` run notifications are sent only once and then configured action is performed. It would be nice to resend this notifications in the same way as it is done for `LONG_RUNNING` notifications.

[2020-09-21 14:48] rodichenko commented on #1386
@NShaforostov hints for `Action` preference added (605c0fff2bf2ee1b1b8ae4457c8ce95fe193503f), backported to `release/0.16` (48cb38d61dd5eb7c0cf4598dbf44c3a43b030726)

[2020-09-21 17:58] sidoruka opened #1426 "Introduce "System Dictionaries" feature to manage attributes"
**Background**
A clear and concise description of what the problem is. Ex. At the moment, Cloud Pipeline does not allow [...] and it would be nice to [...] because [...]

**Approach**
A clear and concise description of what you want to happen.

**Other options**
A clear and concise description of any alternative solutions or features you've considered.

[2020-09-22 07:49] NShaforostov commented on #1276
Docs were added by #1423

[2020-09-22 07:52] NShaforostov commented on #1386
@rodichenko
1st and 3rd parts fixes are verified.
And about 2nd part: hide the "Resend delay" field for the _LONG\_PAUSED\_STOPPED_ notification, please. It shouldn't be displayed.

[2020-09-22 08:27] sidoruka opened #1428 "Introduce "billing.reports.enabled.admins" preference to control if the Billing Reports are available for the privileged users"
At the moment we have `billing.reports.enabled` preference, which controls if the Billing Reports are enabled and visible for the users. In some cases we want to control if this feature is available for the "genera" and "privileged" users.

We need to:
* Add a boolean `billing.reports.enabled.admins` preference into the "Billing" section (default: true)
* GUI shall change the "Billing reports" vis

[2020-09-22 08:27] sidoruka commented on #1428
Please backport to `release/0.16`

[2020-09-22 08:38] sidoruka commented on #1386
@rodichenko also `system.notifications.exclude.instance.types` to the `IDLE_RUN`. It shall be a plain text string (nullable)

[2020-09-22 09:22] rodichenko commented on #1386
@NShaforostov, @sidoruka `Resend delay` property removed from `LONG_PAUSED_STOPPED` notification; `system.notifications.exclude.instance.types` preference added to `IDLE_RUN` notification (618d89d856d705c933ef5008ee6ac97cd2a3654d), backported to `release/0.16` (fe5c406add208feb77469dba231738778a0737d6)

[2020-09-22 11:38] NShaforostov commented on #1386
Verified

[2020-09-22 12:14] rodichenko commented on #1393
@NShaforostov @sidoruka backported to `release/0.16` (132aab7607047ed6f5791e57c06507d8c14f0383)

[2020-09-22 12:28] mzueva commented on #1428
@rodichenko @sidoruka done for `develop` and `release/0.16`

[2020-09-22 12:51] rodichenko commented on #1428
@sidoruka GUI part is implemented (205d9504607dca42a786d9c19f7a00b7aa46d261), backported to `release/0.16` (15f739bbe7f63b0003e639c9bbe0f47846821366)

[2020-09-22 13:36] tcibinan opened #1432 "User shall not be able to modify his/her own user metadata"
**Background**

Currently user metadata can be modified by the user himself/herself. This brings up several security issues and therefore should be restricted.

**Approach**

Only admins or users with some metadata modification role should be able to modify users metadata.

[2020-09-22 14:33] NShaforostov commented on #1428
I've tried to verify.
Works correctly for admins and "general" users.
But it doesn't work for users with the **ROLE\_BILLING\_MANAGER** role - Billing reports aren't displayed for them regardless the  `billing.reports.enabled.admins` and the `billing.reports.enabled` preferences values.

[2020-09-22 15:33] mzueva commented on #1428
@NShaforostov could you please verify once again? Preference `billing.reports.enabled.admins` is not visible to users by default.

[2020-09-23 08:12] NShaforostov commented on #1428
Oh, I forgot about preference visibility feature again.
Yes, all works fine now, thanks!

[2020-09-23 08:20] NShaforostov commented on #1395
Verified.
Works well.
_**Note**_: was tested at Azure stand - via API logs and `SMTPNotificationManager` messages.

[2020-09-23 10:44] mzueva commented on #1399
@sidoruka implemented for EFS and Lustre

[2020-09-23 13:26] NShaforostov commented on #1424
@rodichenko
Since this functionality (API part) is already implemented, add please the following changes in GUI:
1) at the _IDLE\_RUN_ notification page:
- add "Resend delay (sec)" field - similarly, as it's implemented for _LONG\_RUNNING_ notification, e.g.
- this field should be placed separately, not into the "Common Idle-notifications" section
2) at the "Common Idle-notifications" section:
- r

[2020-09-23 13:57] mzueva commented on #1426
@rodichenko Server changes are merged to dev

[2020-09-24 08:13] rodichenko commented on #1426
@mzueva @Wedds some issues regarding API:
* POST `categoricalAttribute`: empty dictionary is not saved, i.e. request: `[{"key":"empty-dictionary","values":[]}]`, response: `{"payload":false,"status":"OK"}`; GET `categoricalAttribute` does not return this dictionary;
* is there any option to rename dictionary without removing it and creating a new one?

@sidoruka @mzueva I'm not sure about `categor

[2020-09-24 11:15] rodichenko commented on #1426
As we discussed,

we'll restrict admins from adding empty dictionaries,

re-creation of a dictionary is fine,

we'll hide `Synchronize` button from the GUI.

[2020-09-24 11:29] rodichenko commented on #1424
@NShaforostov done (c5daa903185abe89ad3784b6dfdbb9c07a1f5923)

[2020-09-24 11:47] rodichenko commented on #1426
@sidoruka GUI part implemented (#1436)

[2020-09-24 11:49] rodichenko commented on #1426
@NShaforostov could you please verify this issue?

[2020-09-24 20:14] NShaforostov commented on #1424
Verified. Works well

[2020-09-24 21:41] NShaforostov commented on #1426
@rodichenko
I've tried to verify. In generally, it works well.
Minor notes:
1. If trying to change an existing attribute value (click the attribute value field -> change a value -> click the "Save" button), a new one value is being created - the same as changed value. But and the old value remains.
2. If trying to delete any value of the existing attribute and save changes - saving doesn't perform

[2020-09-25 07:13] rodichenko commented on #1426
@NShaforostov @mzueva seems like there are issues with API:
1. We have dictionary `Attr1`: `value1`, `value2`, `value3`. If we want to rename `value3` -> `value4`, we send POST `categoricalAttribute` with payload `[{"key":"Attr1","values":["Value1","Value2","Value4"]}]`, server responses with `{"payload":true,"status":"OK"}`;
but GET `categoricalAttribute` returns `[{"key":"Attr1","values":["Value

[2020-09-25 11:37] rodichenko commented on #1424
@sidoruka @NShaforostov GUI part backported to `release/0.16` (1bb469ea9539bb4a6437e1691b6e35c1e1682055)

[2020-09-25 14:08] mzueva commented on #1426
@NShaforostov Could you please verify once again? Issues shall be fixed in current develop version.

[2020-09-25 21:04] NShaforostov commented on #1426
@mzueva
Verified. Now, works correctly

[2020-09-28 08:59] tcibinan opened #1439 "Requests retrying doesn't work with S3 data storages in pipe cli"
**Describe the bug**

Currently in case of some low level error (socket error) retrying won't be performed for S3 data storages.

**To Reproduce**

It's pretty hard to reproduce.

**Expected behavior**

Retrying should be performed automatically in case of any low level error.

**Environment:**
 - Version 0.16.0.7199.33c273b34df7ae62f93c2f5af6e71b63be49c6ab

**Additional context**

Add any other c

[2020-09-28 09:56] #1439 closed, assigned to nobody

[2020-09-28 11:30] rodichenko commented on #1426
@sidoruka @NShaforostov GUI part backported to `release/0.16` (a619f380ad6a202e72b1829d0b1ecb2708ad10c4)

[2020-09-28 12:42] mzueva commented on #1426
@sidoruka backported to `release/0.16`

[2020-09-28 14:06] tcibinan commented on #1408
Seems fine now.

[2020-09-28 14:06] #1408 closed, assigned to ekazachkova

[2020-09-29 14:45] mzueva commented on #1282
@sidoruka backported to `release/0.16`

[2020-09-29 14:49] sidoruka opened #1445 "System Dictionaries - links"
**Background**
With the introduction of `System Dictionaries` (#1426) - we now have an ability to control the list of values, used for the metadata fields.
But this requires a certain extension, as some of the use cases shall also consider the fact, that the different dictionaries may be connected.
E.g. we shall be able to support two dictionaries, which values are mapped `1-1` or `1-many`.

Moreo

[2020-09-29 14:49] sidoruka commented on #1445
Shall be backported to `release/0.16`

[2020-09-29 15:11] tcibinan opened #1446 "Progress bar shows twice for gcs data storages in pipe cli"
**Describe the bug**

Relates to #145.

Currently operations (at least downloading) on files with specific size such as 10MB or 100MB shows progress bar twice.

**To Reproduce**

Steps to reproduce the behavior:
1. Create 10MB file and upload it to a storage
[code]
2. Download the uploaded file
[code]
3. See that the file is downloaded but the progress bar is shown twice.

**Expected behavior**

P

[2020-09-29 17:25] sidoruka opened #1447 "Display the CP_CAP_LIMIT_MOUNTS in a user-friendly manner"
**Background**
At the moment, Cloud Pipeline displays the run-enabled data storages as a list of IDs of the `CP_CAP_LIMIT_MOUNTS`.
The users request to make this more "friendly":
* Show the data storage name instead of the ID
* Name shall be shown a hyperlink, pointing to the data storage in the Cloud Pipeline GUI
* If a storage is "sensitive" - it shall be highlighted appropriately

[2020-09-29 17:25] sidoruka commented on #1447
Shall be backported to `release/0.16`

[2020-10-01 11:29] mzueva opened #1452 "Run parameters shall allow to override `launch.env.properties` values"
**Background**
Currently environment variables defined in `launch.env.properties` have highest priority and setting the same value in run launch parameters or pipeline/tool configuration won't override it. For some cases it would be useful to allow to override some environment variables for a specific run.

The following priority of the parameters (env vars) shall be applied for a run from lowest

[2020-10-01 14:55] rodichenko commented on #1447
@sidoruka `CP_CAP_LIMIT_MOUNTS` is displaying in a user-friendly manner now (#1456)

[2020-10-01 16:39] rodichenko commented on #1447
@sidoruka backported to `release/0.16` (b9e2e8dfd9650910faa88b1bc014ac6e9701ef2b)

[2020-10-01 22:08] NShaforostov opened #1457 "Incorrect behavior of the "Limit mounts" control"
**Describe the bug**
If storages available to mount are restricted for the tool and the user has no access to these storages - the "Limit mounts" control is being displayed incorrectly.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the tool settings.
2. Set "Limit mounts" - for example, specify the only single storage.
3. Login as user that has no access to the specified storage
4. O

[2020-10-02 06:50] NShaforostov commented on #65
All tests are implemented and passed

[2020-10-02 06:50] #65 closed

[2020-10-02 07:56] sidoruka commented on #1457
And backport this to `release/0.16`

[2020-10-02 08:22] rodichenko commented on #1457
@NShaforostov, as we discussed with @sidoruka :
* **after step 4**: for such `LIMIT MOUNTS` configurations we consider that nothing was selected, meaning that *all available non-sensitive storages for the user will be mounted*;
* **after step 7**: this is OK (`CP_CAP_LIMIT_MOUNTS` is displayed blank);

As for the **after step 8** (step 11), @mzueva could you please take a look?

[2020-10-02 08:23] rodichenko commented on #1457
@NShaforostov @sidoruka GUI part fixed (2bab1d609a8df233333ffe7bff2eefd0c8f6ae7b), backported to `release/0.16` (31df662785ed155e23b54c2fea5d4b8dfd9cfb32)

[2020-10-02 13:12] mzueva opened #1458 "Support write permissions for sensitive storages"
**Background**
At the moment sensitive storages are available in read-only mode for `pipe storage` command and mount. It would be useful to support storage read & write permissions for sensitive storages as it is done for non-sensitive ones.

**Approach**
- **run mounts**
  - non-sensitive storages shall be mounted inside sensitive runs in `ro` mode
  - sensitive storages shall be mounted inside s

[2020-10-02 13:36] NShaforostov commented on #1457
@rodichenko
Broken GUI is fixed, thanks!
And now, in case which I've described in the issue - in the "Limit mounts" field the text "All available non-sensitive storages" appears. But then, if I try to launch a tool - all steps (6-11) are being repeated and **CP\_CAP\_LIMIT\_MOUNTS** is still blank. Available non-sensitive storages aren't being mounted.
Seems it is the same bug as described in #297

[2020-10-02 13:55] rodichenko commented on #1457
@NShaforostov ,

@mzueva seems like launch parameters are being merged with *default* tool/pipeline configuration, i.e. if a tool/pipeline has `CP_CAP_LIMIT_MOUNTS` parameter set, and we're launching this tool/pipeline without `CP_CAP_LIMIT_MOUNTS` parameter, the resulted run will have *default* value for that parameter. In case of **Limit mounts** this is wrong - *empty* value means *all availabl

[2020-10-05 16:31] sidoruka opened #1462 "Include attributes/metadata info into the users export"
**Background**
As we have the #852 implemented, we still lack the `metadata` info export. E.g. if the user has a number of valuable metadata attributes configured - some of the ADMIN's would like to include that into the exported CSV.

**Approach**
* By default, the export shall behave now
* List all the metadata attributes in the "custom" export settings
* These attributes names, shall be disable

[2020-10-05 20:00] sidoruka opened #1463 "Breakdown the billing reports by month"
**Background**
At the moment, Cloud Pipeline allows exporting billing reports in the CSV. At the moment - the values are shown as aggregates for the whole selected period. We need to allow change this to a `by month` breakdown.

**Approach**
* If any period - longer than a month is selected (including a `custom` period), the CSV shall contain an aggregate for each month of that period
* The whole

[2020-10-05 20:02] sidoruka opened #1464 "GUI user management shall be displayed in a RO mode for the "ROLE_USER_READER""
If the user is a member of `ROLE_USER_READER` - the USER MANAGEMENT shall be available to that user in a RO mode.

[2020-10-06 08:43] SilinPavel opened #1465 "Save SGE cluster logs for cluster runs"
**Background**
Some times it's very useful to have as much logs as possible for debug needs. However for now we don't save SGE system logs after run was finished. It would be great to provide solution for storing such logs.

Logs to be saved:
- SGE muster node logs
- SGE exec node logs
- Accounting logs
- Trace/Error logs of the node

Depending on distro in CP (centos on debian) this logs located

[2020-10-06 13:06] mzueva opened #1469 "Allow to transfer objects between AWS regions using pipe cp/mv commands"
**Background**
At the moment `pipe cp/mv` commands allow to transfer objects only within one AWS region. It would be useful to allow object transfer between regions since AWS provides such functionality.

[2020-10-06 20:45] NShaforostov commented on #1099
Verified

[2020-10-06 21:08] NShaforostov commented on #1396
Verified. Works well

[2020-10-07 09:52] rodichenko commented on #1462
@sidoruka @NShaforostov users attributes/metadata export is now configurable (#1473)

[2020-10-07 09:53] rodichenko commented on #1464
@sidoruka @NShaforostov `ROLE_USER_READER` role is now enables the RO access to the **User management** section (3893ef28f5aa3c5966837a65c04294ed0b092ded)

[2020-10-07 09:54] rodichenko commented on #1463
@sidoruka @NShaforostov billing reports now have per-month info (for periods larger than 1 month)

[2020-10-07 10:41] sidoruka opened #1474 "Change the checkboxes "value" label to "Enabled""
**Background**
All the checkboxes in the GUI are changing the caption when the value changes, i.e.
- [x] Enabled
- [ ] Disabled

This confuses some of the users and there is a request to keep the caption unchanged.

**Approach**
For both `true` and `false` values of the checkboxes - the caption shall be displayed as `Enabled`, i.e.:
- [x] Enabled
- [ ] Enabled

[2020-10-07 10:42] sidoruka commented on #1474
Backport to `release/0.16`

[2020-10-07 12:04] rodichenko commented on #1474
@sidoruka checkbox labels are fixed (#1475):
* Launch Form: for `boolean` parameters and `Auto-pause` setting;
* Tool Settings: for `boolean` parameters;
* Preferences: for `boolean` preferences.

Backported to `release/0.16` (f0e9672f3bee30e38c6cfb9b2c9f59cfec5f878d)

[2020-10-07 12:36] maryvictol opened #1476 "At saving Tool Settings after uncheck 'Allow sensitive storages' option 'Save' button becames disabled after 2nd click only."
**Describe the bug**
At saving Tool Settings after uncheck 'Allow sensitive storages' option 'Save' button becames disabled after its second click only.

**To Reproduce**
Steps to reproduce the behavior:
1. Open any Tool with checked 'Allow sensitive storages' checkbox
2. Open 'Settings' tab
3. Uncheck 'Allow sensitive storages'
4. Click 'Save' button
5. See that 'Save' button becames disabled and

[2020-10-07 12:50] NShaforostov commented on #1462
Verified. In general, works well.
@rodichenko, minor suggestions:
1. Could you rename "Attributes" section (e.g. to `Metadata` or `User's metadata`) - to not confuse with the "Attributes" checkbox in the "Fields" section?
2. Could you move the checkbox "Header" to the top of the export settings pop-up (above the "Fields" section)? I suppose, it would be more appropriate.

[2020-10-07 15:32] NShaforostov commented on #1464
Verified. Works well.
Some questions/notes:
1. If for the user1 the default storage is set, user2 has RO access to the USER MANAGEMENT but doesn't have access to this default storage - that storage will be displayed as storage ID in the corresponding field (not storage name/path), e.g.:
![image](https://user-images.githubusercontent.com/45459424/95348477-c402d980-08c6-11eb-8ee5-bc057f7a2d60.png)
2

[2020-10-07 21:57] NShaforostov commented on #1463
I've tried to verify. Works well for predefined periods (`Year`, `Quarter`).
But for `Custom` periods, monthly breakdown metrics numbers doesn't match with the summary numbers for the whole period, e.g.:
![image](https://user-images.githubusercontent.com/45459424/95391924-9175d280-0900-11eb-823b-9b8d761f0c3d.png)

**_Note_**: described problem hardly occurs if the custom period starts from the 1th

[2020-10-08 07:55] rodichenko commented on #1463
@NShaforostov eefa9c7594a8a21bdb3f702338e526c3ff6af9cc should fix https://github.com/epam/cloud-pipeline/issues/1463#issuecomment-705215364

[2020-10-08 08:27] rodichenko commented on #1464
@NShaforostov,

is fixed with e4a23fe40f037f2826ac2d4c6afb3b302beddc99.

As for the

we got `Access is denied` error while fetching user/group/role launch options

[2020-10-08 08:30] rodichenko commented on #1462
@NShaforostov

this is fixed with c932181b3513457e160298d28d6859aa4f57f068

[2020-10-08 09:13] rodichenko commented on #1476
@maryvictol should be fixed by 10c534380b262d373e55f0d3910ea9d2e8dfa050

[2020-10-08 10:00] NShaforostov commented on #1474
Verified

[2020-10-08 10:12] sidoruka opened #1480 "Warn the user, if there is a risk of OOM due to the number of the object storage mounts"
**Background**
At the moment, if the user has 100+ object storages available - they are mounted to the jobs, by default. When using rather small nodes - this leads to the OOM errors, as the 100+ `mount` processes may oversubscribe the memory.

Even if we greately optmize the memory consumption - the user may still face such issues, if the number of object storages grow. So we need a sort of hard-l

[2020-10-08 10:35] NShaforostov commented on #1462
@rodichenko Verified. Thanks!

[2020-10-08 11:02] NShaforostov commented on #1463
@rodichenko
Verified. Now, works correctly

[2020-10-08 12:25] rodichenko commented on #1480
@sidoruka @mzueva I think we can implement OOM check without extra API methods:
* GUI fetches `storage.mounts.per.gb.ratio` preference;
* If it is presented, GUI checks if `instance's RAM` * `storage.mounts.per.gb.ratio` <= number of object storages associated with the run;
* If it is **true**, GUI displays a warning.

[2020-10-08 18:56] mzueva commented on #1462
@NShaforostov @sidoruka A new preference `misc.metadata.sensitive.keys` was added to control export of user metadata. e.g.:
[code]

[2020-10-08 19:14] NShaforostov commented on #1445
Verified. Works well

[2020-10-08 19:27] mzueva commented on #1462
@sidoruka backported to `release/0.16`

[2020-10-08 19:28] mzueva commented on #1469
@sidoruka backported to `release/0.16`

[2020-10-08 19:33] rodichenko commented on #1464
@sidoruka @NShaforostov backported to `release/0.16` (ee9f6a210705f40b2630e403e757c991db9f93d8)

[2020-10-08 19:37] rodichenko commented on #1462
@sidoruka @NShaforostov backported to `release/0.16` (b18c839c738e313b0db83bb654cb0adf74692568)

[2020-10-08 19:42] rodichenko commented on #1463
@rodichenko @NShaforostov backported to `release/0.16` (9d83e01cec6f4849299e8a229a82bcf5588c6efc)

[2020-10-08 19:43] rodichenko commented on #1445
@sidoruka @NShaforostov backported to `release/0.16` (f2454980903c7eb46045cc212e1d785d7d0f307a)

[2020-10-08 20:18] NShaforostov commented on #1464
Finally checked.
Note 1 is fixed.
The problem described in note 3 is resolved by 28e298ea039e28ffb1410041cff4d8d52147c18d - now, admins can restrict which metadata keys are available for the export.

[2020-10-09 09:57] ekazachkova commented on #1469
@sidoruka  There are some benchmarks for this feature. The tests were performed with file 1.06 GB.

| case  | aws s3 cp | pipe storage cp |
| ------------- | ------------- | ------------- |
| one region (`eu-central-1`)  | 4 sec  | 7 sec |
| between regions (`eu-central-1` to `us-east-1`)  | 57 sec  | 58 sec |

[2020-10-09 10:00] NShaforostov commented on #1445
Nope, little bug is found:
1. Open any dictionary.
2. Select an item with several links, click that links.
3. In the links pop-up, remove any existing link from the list.
4. Close the pop-up.
5. Click the "Save" button.

**Exp**.: updated dictionary is saved, the "Save" button is disabled
**Act**.: updated dictionary isn't saved, the "Save" button is still enabled

[2020-10-09 11:49] mzueva commented on #1445
@NShaforostov fixed

[2020-10-09 12:09] mzueva commented on #1445
@sidoruka backported to `release/0.16`

[2020-10-09 12:47] NShaforostov commented on #1445
Fix is verified. Now, all works correctly

[2020-10-09 12:56] rodichenko commented on #1243
@maryvictol could you please verify this issue?

[2020-10-09 13:25] SilinPavel commented on #1480
@sidoruka regarding `storage.mounts.per.gb.ratio` it is actually can be empty now only for the first time, if this preference value will be changed after that it couldn't be updated with empty value. This is because of type validator of such preferences, for now for all `IntPreference` we checked that it is numeric this obviously means not null, we could change this logic to allow null value for N

[2020-10-09 14:56] NShaforostov commented on #1480
Verified. Works well

[2020-10-09 14:59] rodichenko commented on #1480
@sidoruka @NShaforostov backported to `release/0.16` (74342232696a308ee2caec7c4127d8e92723b65c)

[2020-10-09 15:29] NShaforostov opened #1485 "Launch info/warning pop-up for Detach Configurations"
**Background**
Currently, when launching a tool/pipeline, users see the "Launch confirmation pop-up" that contains different info/warnings about the upcoming launch, e.g.:
![image](https://user-images.githubusercontent.com/45459424/95600622-1d037680-0a5b-11eb-9dc0-513bdd0794cb.png)
But before the launch of the detach configuration, confirmation pop-up contains no additional info at all, e.g.:
![im

[2020-10-09 16:02] maryvictol commented on #1476
Verified and closed on Version: 0.17.0.7538

[2020-10-09 16:02] #1476 closed, assigned to rodichenko, AleksandrGorodetskii

[2020-10-09 16:03] maryvictol commented on #1243
Verified and closed on Version: 0.17.0.7538

[2020-10-09 16:03] #1243 closed, assigned to rodichenko, AleksandrGorodetskii

[2020-10-12 14:45] mzueva opened #1489 "Allow to create a new Lustre FS for a run to be used as cluster "scratch" space (/common)"
**Background**
With implementation of #1399 user can use one of existing lustre storages as a common cluster workspace. But using one Lustre FS for all runs may lead to performance issue for runs with intensive IO workload. It would be helpful to allow user to request a new Lustre FS for a run and use it as a common workspace.

**Approach**
- Run initialization scripts shall support value `lustre`

[2020-10-12 16:07] NShaforostov commented on #1428
Docs were updated via #1423

[2020-10-12 16:07] NShaforostov commented on #1099
Docs were updated via #1423

[2020-10-12 16:07] NShaforostov commented on #1463
Docs were updated via #1423

[2020-10-12 16:08] NShaforostov commented on #1396
Docs were updated via #1423

[2020-10-13 11:09] kamyshova opened #1491 "Incorrect behavior of the groups deletion in the settings"
**Describe the bug**
Currently, the deletion of groups in settings works incorrectly. The confirmation of the deletion popup is overlapped by the edit popup.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Settings'
2. Click on 'USER MANAGEMENT' tab
3. Click on 'Groups' tab
4. Click on a delete button opposite a group
5. See an error

**Expected behavior**
The confirmation of the dele

[2020-10-13 13:29] kamyshova commented on #1491
Fixed

[2020-10-13 13:29] #1491 closed, assigned to rodichenko, AleksandrGorodetskii

[2020-10-14 09:02] rodichenko commented on #1243
@sidoruka @NShaforostov backported to `release/0.16` (58f2ce2fdae92bc5ae002150e42deca93ba4acf0)

[2020-10-14 09:05] rodichenko commented on #1476
@sidoruka @NShaforostov backported to `release/0.16` (15d3d138a4652515dbf01eb7b9c9250ac8156b1f)

[2020-10-14 09:06] rodichenko commented on #1491
@sidoruka @NShaforostov backported to `release/0.16` (acf1bcaa4854af021e6cd9e939c7281e028a19e4)

[2020-10-15 06:06] tcibinan opened #1497 "pipe ssh fails because of a missing system preference"
**Describe the bug**

Currently pipe ssh fails in some Cloud Pipeline deployments because `system.ssh.default.root.user.enabled` system preference is missing.

![image](https://user-images.githubusercontent.com/16464586/96083121-36764980-0ec5-11eb-931f-06465d757feb.png)

**To Reproduce**

Steps to reproduce the behavior:
1. Perform pipe ssh command to some run by its id
[code]
2. See error

**Expe

[2020-10-15 12:03] tcibinan commented on #1497
Oops. It was just an incompatible `pipe` build from 0.17 release. Current build from `release/0.16` works fine.

[2020-10-15 12:03] #1497 closed, assigned to nobody

[2020-10-16 16:32] NShaforostov commented on #1447
Verified

[2020-10-19 11:28] tcibinan opened #1501 "Implement run ports forwarding in pipe cli"
**Background**

It can be quite useful to have support for run ports forwarding in pipe cli. For example run instance ssh port can be forwarded to some local port to be able to ssh into it using regular ssh client.

Such tunneling should forward traffic through edge service similarly to how nomachine traffic is managed now.

**Approach**

Additional `pipe tunnel` command should be added. Once call

[2020-10-20 07:59] SilinPavel commented on #1480
@sidoruka backported to `release/0.16` (1f75d1e3c181919b37249874e8e12c6fe78bdc9a)

[2020-10-20 09:13] sidoruka opened #1504 "Bad layout in Groups/Roles membership view"
**To Reproduce**
Steps to reproduce the behavior:
1. Load any Group or Role with a 5+ users
2. Scrollbar is shown even if there is a plenty of space below
3. Popup is much smaller than the same one for the user

**Expected behavior**
* No scroll bar, if the list fits the popup height. Or a scrollbar, that is shown if the list overflows the available height
* Popup height/width shall be identical t

[2020-10-20 09:14] sidoruka commented on #1504
Backport to `release/0.16`

[2020-10-20 09:15] sidoruka opened #1505 "Bad layout in the Billing Reports - discounts links"
If the whole header menu does not fit the screen width - the links overflow the regions selector
![image](https://user-images.githubusercontent.com/20998291/96566207-f3a1e080-12cd-11eb-9e5e-5af04ee17790.png)

[2020-10-20 09:16] sidoruka commented on #1505
Backport to `release/0.16`

[2020-10-20 13:29] NShaforostov commented on #1462
Docs were updated via #1423

[2020-10-20 13:29] NShaforostov commented on #1464
Docs were updated via #1423

[2020-10-20 13:30] NShaforostov commented on #1426
Docs were updated via #1423

[2020-10-20 13:30] NShaforostov commented on #1445
Docs were updated via #1423

[2020-10-20 14:31] rodichenko commented on #1505
@sidoruka layout fixed (ae6eff35047f0846167e4bc11bf85d2fc08c227e), backported to `release/0.16` (c3c9ec05d2cce3a0dbeec52b67a3ce4af5ea4ebe)

[2020-10-20 16:39] NShaforostov opened #1506 "Repositories for storages and pipelines"
**Background**
There are several ways for users to find the appropriate storage/pipeline object in the Cloud Pipeline Platform - manually via the Library, using the Search ability or via the corresponding panels of the main Dashboard.

It would be convenient to get all lists of the storages/pipelines accessible to the user in one place with short info about each object and easy access to it (like

[2020-10-21 08:14] rodichenko commented on #1504
@sidoruka, @maryvictol  layout fixed (a199d1e97da786da34930305d6b23008eb06fc82)

[2020-10-21 09:57] rodichenko commented on #1506
@NShaforostov implemented, backported to `release/0.16`

[2020-10-21 13:44] NShaforostov commented on #1506
Verified, works well

[2020-10-22 10:18] NShaforostov commented on #1506
Test cases were created by 2758afeaa72a8d5537f97fa9e43a7b0011573446 and located [here](https://github.com/epam/cloud-pipeline/tree/develop/docs/testcases/UI/Pipeline_library/Folder_navigation/1506_pipelines_and_storages_repositories).

[2020-10-22 10:19] NShaforostov commented on #1506
Docs were updated by 056601ebfbf090400b8d38439a84860ea4b49a4e.

[2020-10-22 10:52] NShaforostov commented on #1504
Verified

[2020-10-22 12:56] rodichenko commented on #1504
@sidoruka @NShaforostov backported to `release/0.16` (e624da4285a37b9017386302866a7a460986267a)

[2020-10-22 13:16] tcibinan opened #1512 "Pause button is missing for non cluster SGE runs"
**Describe the bug**

Currently one cannot pause non cluster run with sge capability being enabled.

**To Reproduce**

Steps to reproduce the behavior:
1. Launch `ubuntu:latest` with enabled `CP_CAP_SGE` system parameter.
2. Wait for `ssh` link to appear on the run page.
3. See that the `pause` button is missing.

**Expected behavior**

Pause button should not be available for only cluster and aut

[2020-10-22 14:17] NShaforostov commented on #1469
Verified. Works well

[2020-10-22 15:32] rodichenko commented on #1512
@tcibinan @sidoruka @NShaforostov `pause` button is now available for non-cluster runs with enabled `CP_CAP_SGE` parameter (e5a09bb9e997474106554834b92ec22b0c2b85fd)

[2020-10-22 15:40] rodichenko commented on #1512
@sidoruka @NShaforostov backported to `release/0.16` (75442f3e638e4f01d964c0ec292690144c714615)

[2020-10-22 17:32] sidoruka opened #1513 "Introduce explicitly "immutable" pipeline parameters"
**Background**
At the moment, if the pipeline parameter has a default value - it can't be changed in the detached configuration (disabled).
But it definitely makes sense to distinguish fields, which shall be pure immutable (if the pipeline author does not want to expose a value for editing) and fields that just have some default value (to simplify the detached configuration setup).

**Approach**
*

[2020-10-22 17:33] sidoruka commented on #1513
Please backport this to `release/0.16`

[2020-10-23 10:31] mzueva commented on #841
Usage of `scheduled` approach may not cover all the requirements to persistent node management, so I'd suggest to implement a new functionality for this.
### Approach

#### Cluster size management
A new entity `PersistentNode` is added with the following fields:
- `count` - number of nodes
- `regionId`
- `instanceType`
- `instanceDisk`
- `priceType`
- `dockerImage` to support pre-pulled images (TB

[2020-10-23 13:38] SilinPavel opened #1514 "Backup process for cp-api-srv pod is broken"
**Describe the bug**
For now backup process for cp-api-srv pod is broken due to `kubectl exec` command behavior.
It seems that it stops working when HA deployment was introduced because in our backup workers pods we need to perform `kubectl exec` to pod where we want to make a backup, but when you do it for cp-api-srv pod, it actually connects you with other, default, container of the pod, called

[2020-10-23 16:37] NShaforostov commented on #1505
Verified

[2020-10-26 10:27] NShaforostov commented on #1512
**Verified** [Smoke Testing]:
1. Launched `ubuntu` tool with enabled `CP_CAP_SGE` system parameter.
2. Opened the launched run page.
3. Have waited when **SSH** link appeared.
4. Checked that the **PAUSE** button had appeared.
5. Pressed the **PAUSE** button.
6. Have waited for the `PAUSED` status of the run appeared.

[2020-10-26 10:59] NShaforostov commented on #72
All described tests are implemented.

[2020-10-26 10:59] #72 closed

[2020-10-27 07:17] #1512 closed, assigned to rodichenko, AleksandrGorodetskii

[2020-10-27 10:50] NShaforostov commented on #1386
Docs were updated via #1516

[2020-10-27 10:51] NShaforostov commented on #1385
Docs were updated via #1516

[2020-10-27 10:51] NShaforostov commented on #1395
Docs were updated via #1516

[2020-10-27 10:51] NShaforostov commented on #1424
Docs were updated via #1516

[2020-10-27 11:00] tcibinan opened #1517 "Support custom node images for runs"
**Background**

Currently Cloud Pipeline allows to run instances using two default node images. One node image for all CPU instance types and other for GPU ones.

Nevertheless there are cases than some of the tools or pipelines require special node images. For example, some tool may require specific nvidia driver version which default GPU node image doesn't have.

**Approach**

To resolve all poss

[2020-10-27 14:00] mzueva opened #1519 "Implement synchronisation for scheduled run management"
**Background**

At the moment Cloud Pipeline provides an API to create schedules for PipelineRun and Configuration objects. Since we support HA deployment for the API service, schedule management shall be synchronised between API instances to prevent double scheduling.

[2020-10-27 15:24] rodichenko commented on #1513
@sidoruka @NShaforostov backported to `release/0.16` (aba33ebb1749aa80b725d6141a3fb8802ee33c6e)

[2020-10-27 15:28] sidoruka opened #1520 "Jobs, that were stopped by a "Timeout", shall move the interim data into the "output" storage"
**Background**
At the moment, if a `timeout` is elapsed - the job is stopped and all the data is erased.
![image](https://user-images.githubusercontent.com/20998291/97339797-131fa700-1894-11eb-8070-88c621869f26.png)

Some of the users are complaining about it, as the intermediate data is lost.
We need a solution to extract the current data from the timed-out jobs.

**Approach**
* If a job has time

[2020-10-28 07:57] tcibinan commented on #1446
Verified [here](https://github.com/epam/cloud-pipeline/pull/1450#issuecomment-701986669).

[2020-10-28 07:57] #1446 closed, assigned to nobody

[2020-10-28 09:20] tcibinan opened #1521 "Support independent SGE autoscaling of multiple queues"
# Background

Currently SGE autoscaler manages jobs from all existing queues in a cluster. Nevertheless in some cases these queues should be scaled independently. For example it is more efficient to manage GPU jobs in a separate queue because this way CPU jobs won't occupy all slots on GPU enabled workers.

# Approach

In order to support efficient CPU/GPU autoscaling as well as all kinds of multi

[2020-10-28 14:32] mzueva commented on #1458
At the moment write operations are not supported for pipe cli in non-sensitive environment (outside of sensitive runs)

[2020-10-29 10:26] mzueva opened #1525 "Install Lustre client only of it is required"
**Background**
At the moment Cloud Pipeline supports three types of shared file systems: NFS (EFS), SMB & Lustre. Clients for all this file systems are installed at once using script `install_nfs_client`. It would be helpful to install Lustre client only if it is required since its installation takes some time.

[2020-10-29 10:50] NShaforostov commented on #1447
**Docs** were updated via #1516

[2020-10-29 10:50] NShaforostov commented on #1480
**Docs** were updated via #1516

[2020-10-29 10:58] mzueva opened #1526 "Billing service enhancements"
**Background**
In order to simplify deployment and initial billing data generation process I'd suggest to implement some minor enhancements for the billing service:
- allow to configure billing service deployment via envvars
- allow to optionally enable historical storage billing generation. E.g. if some property is set storage billing is generated not for the current date, but from the specified

[2020-10-29 11:32] mzueva commented on #1525
@ekazachkova Please verify these changes on
- debian:9
- ubuntu 16
- ubuntu 18
- centos 7

[2020-10-29 12:59] sidoruka opened #1527 "Support Billing Reports for the Azure NetApp and Azure Files"
At the moment, Cloud Pipeline billing reports can't gather information regarding the Azure File storages ("Files/SMB" and "NetApp/NFS") only Object Storages (BLOB) are supported.

We need to support both these file storage types in the same manner as we do for the AWS EFS.

[2020-10-29 13:09] mzueva commented on #1527
@Wedds
To determine storage type for pricing:
- Storage type = `NFS`
- Load `FileShareMount` using `fileShareMountId`
- Check `regionId` -> shall be `AzureRegion`
- Check `mountType`:
  - `SMB` ->  [Azure Files](https://docs.microsoft.com/en-us/azure/storage/files)
  - `NFS` -> [Azure NetApp ](https://azure.microsoft.com/en-us/services/netapp/)

[2020-10-29 14:49] SilinPavel opened #1528 "Pipe ssh retry policy"
**Background**
When connection between user local host and remote Pipeline API server has bad quality pipe ssh command may fail while connect, in order to hide this behavior it would be convenient to introduce retry policy to be able to control number of retries.

[2020-10-29 15:52] NShaforostov commented on #1387
Verified. Docs were updated via #1423

[2020-10-30 09:43] NShaforostov commented on #1505
Docs were updated via #1516

[2020-10-30 09:43] NShaforostov commented on #1504
Docs were updated via #1516

[2020-10-30 09:44] NShaforostov commented on #1469
**Docs** were updated via #1516

[2020-11-02 10:44] mzueva commented on #1405
@YouKofan
Next classes for tests:
- `DockerRegistryController`
- `ToolController`
- `ToolGroupController`

These classes shall be moved to `controller/docker` package.

[2020-11-02 10:47] mzueva commented on #1404
@cryteq

Next classes for tests:
- `DockerRegistryApiService`
- `ToolApiService`
- `ToolGroupApiService`

These classes shall be moved to `acl/docker` package. Existing `ToolApiServiceTest` shall be replaced with a new test.

[2020-11-02 13:52] sidoruka opened #1535 "API shall restore pause/resume operations if it was rebooted"
**Background**
At the moment, Cloud Pipeline pause/resume operations are terminated (not-gracefully) if the API instance gets rebooted, which leads to "hanging" jobs or instances.

**Approach**
* API shall pickup the jobs in pause/resume operations after it loads and proceed with the process
* Only the "master" API instance shall perform these operations (in the HA configuration)

[2020-11-02 14:58] SilinPavel opened #1537 "broken LFS configuration for commited cluster runs"
**Describe the bug**
When cluster starts with LFS installed and an images commited from this cluster run, it will be not possible to run new cluster run from this image.
This is because of broken LFS configuration, after commit certain configuration files have a place in newly commited image and when this image started and tries to setup LFS again - it fails.

[2020-11-03 12:52] #1526 closed, assigned to Wedds

[2020-11-05 12:24] sidoruka opened #1542 "Contextual properties shall be respected if set for multiple groups"
At the moment, if the user is a member of two (or more) groups and those groups have `jobs.visibility` set for - this setting is ignored.
While this makes sense if the groups have different values set - but if they equal, it shall not be ignored.

So we need to:
* Check if the contextual property's value is the same for multiple objects at the same level (e.g. "groups")
* If so - use any object's

[2020-11-05 12:47] sidoruka opened #1543 "System Dictionaries shall allow to search by the values"
**Background**
At the moment, Cloud Pipeline exposes "Search" bar in the "System Dictionaries" form (#1436). This allows searching by the name of the dictionary.

But it would be much more useful to search by the current dictionary values. As the number of dictionaries won't be more than ~20 items.

**Approach**
* Introduce two separate search boxes - for both parts of the "System Dictionaries" fo

[2020-11-05 12:47] sidoruka commented on #1543
Backport to `release/0.16`

[2020-11-05 12:48] sidoruka commented on #1542
Backport to `release/0.16`

[2020-11-05 12:48] sidoruka commented on #1535
Backport to `release/0.16`

[2020-11-05 14:45] rodichenko commented on #1543
@sidoruka filter improved (the second approach is used), backported to `release/0.16` (3347b1fae8864cb91c5ebbf8b20ea1211533e037)

[2020-11-06 14:38] SilinPavel opened #1548 "Separate deployment for cp-search pod to scan only NFS files"
**Background**
Because scanning of large NFS share is a time-consumable procedure, it would be convenient to have separate deployment file to be able to easy scale another one pod of search-srv service to scan only NFS files

[2020-11-09 10:19] NShaforostov commented on #1506
e2e-tests were implemented via #1524 .

[2020-11-09 10:24] NShaforostov commented on #1506
Daily e2e-tests results are located and updated [here](https://github.com/epam/cloud-pipeline/blob/e2e-reports/e2e/reports/AWS/test/classes/com.epam.pipeline.autotests.PipelinesAndStoragesRepositories.html) (for `AWS`).

[2020-11-09 10:50] NShaforostov commented on #1447
**Test case** was created by 826f75cd2d8021362181ea4bb20d9dffaec655b5 and located [here](https://github.com/epam/cloud-pipeline/blob/develop/docs/testcases/UI/Run_tools_in_sandbox/Limit_mounts/1447.md).

[2020-11-09 19:43] NShaforostov commented on #1469
**Test case** was created by af3dc801a3a64a2b152308975e1c3f2e8f3dac1a and located [here](https://github.com/epam/cloud-pipeline/blob/develop/docs/testcases/UI/Data_storages/1469.md).

[2020-11-09 19:45] NShaforostov commented on #1480
**Test case** was created by fc2e15f87e64202177198a7a5e61476285204eb5 and located [here](https://github.com/epam/cloud-pipeline/blob/develop/docs/testcases/UI/Run_tools_in_sandbox/Limit_mounts/1480.md).

[2020-11-10 16:50] SilinPavel opened #1556 "Introduce new way to load Azure price sheet with EA API"
**Background**
It would be very convenient to have possibility to mark azure region as region with Enterprise Agreement in order to load price data differently.

For now we load all prices for Azure regions with RateCard API but this API doesn't count on any EA discount, etc.

Using https://docs.microsoft.com/en-us/rest/api/billing/enterprise/billing-enterprise-api-pricesheet will allow to have al

[2020-11-11 08:42] tcibinan opened #1558 "Add support for custom cmd template in sge autoscaler"
**Background**

Currently SGE autoscaler launches additional workers with `sleep infinity` in cmd template. Nevertheless it can be a pretty common use case to specify some additional steps before calling `sleep` command. It allows to configure additional workers on startup using cmd templates like `bash init.sh && sleep infinity`.

**Approach**

Additional run parameter `CP_CAP_AUTOSCALE_CMD_TEMPL

[2020-11-11 10:37] sidoruka opened #1561 "Automatically expand the permissions section in the GUI"
**Background**
At the moment, Cloud Pipeline allows adding users and groups, that have access to a certain object.
But there is confusion with the permissions: when the user/group is added - it's not clear that the permissions shall be configured somehow.
So the users just add the user/group name to the list but do not specify RWE permission and the object does not get shared.

**Approach**
We sha

[2020-11-11 10:39] sidoruka commented on #1561
Backport to `release/0.16`

[2020-11-11 12:13] #1558 closed, assigned to nobody

[2020-11-11 12:14] tcibinan commented on #1558
Cherry-picked to `release/0.16` via dfded5d6d7d31c798fb28b1ff62e185fcf5ca706.

[2020-11-11 12:29] rodichenko commented on #1561
@sidoruka implemented, backported to `release/0.16` (3b4d3cfa4739465d8bd2c64252be20fd1db9da10)

[2020-11-11 14:22] maryvictol opened #1562 "Empty SSH tab opens if at least one sensitive storage selected in Limit Mounts"
**Describe the bug**
Empty SSH tab opens if at least one sensitive storage selected in Limit Mounts

**To Reproduce**
1. Open the "Tools" page
2. Go to the tool settings >> Set the "Allow sensitive storages" checkbox to enabled
3. Open the tool >>  Hover over "Run v" button -> select "Custom settings" item
4. Set "Limit mounts" - select several storages **include at least one sensitive storage**
5

[2020-11-11 18:22] NShaforostov commented on #1504
Test case for **manual** testing was created by 24db3074ac5101e098262511752fce4990aec01a and located [here](https://github.com/epam/cloud-pipeline/blob/test_cases_updates/docs/testcases/UI/Layouts/1504.md).

[2020-11-11 18:24] NShaforostov commented on #1505
Test case for **manual** testing was created by fb621a5390d0d06c9dcc1c3a2666a25c5315843e and located [here](https://github.com/epam/cloud-pipeline/blob/test_cases_updates/docs/testcases/UI/Layouts/1505.md).

[2020-11-13 11:04] maryvictol opened #1564 "User Group deleted from system remains in the entities permissions list and can't be removed from it"
**Describe the bug**
User Group deleted from system remains in the entities permissions list and can't be removed from it.

**To Reproduce**
Steps to reproduce the behavior:
1. Login as admin
2. Create new user group (for ex. TEST_GROUP) or use existing
3. Open any entity (pipeline/folder/storage...) and give access to it for that user group (via Edit >> Permissions)
3. Go to Settings >> User Mana

[2020-11-13 11:04] SilinPavel opened #1565 "Add currency to Cloud Region to be able to calculates costs in specified currency"
**Background**
It would be very convenient to have possibility to override currency for a cloud region, and calculate all costs for this region with this currency.

[2020-11-16 09:14] sidoruka opened #1569 "Metadata entities shall support IDs autogeneration"
**Background**
At the moment format of metadata import **csv** requires that entity unique ID shall be specified in the first column. For some cases it would be helpful to generate ID during import.

**Approach**
- If ID is not provided in the first column of metadata import **csv** it shall be generated using UUID4 format
- If `externalId` is not specified in `POST /metadataEntity/save`  method i

[2020-11-16 09:15] sidoruka opened #1570 "Write metadata entities into the CSV file within a run"
**Background**
A clear and concise description of what the problem is. Ex. At the moment, Cloud Pipeline does not allow [...] and it would be nice to [...] because [...]

**Approach**
A clear and concise description of what you want to happen.

**Other options**
A clear and concise description of any alternative solutions or features you've considered.

[2020-11-16 09:18] sidoruka opened #1571 "Ontology support for the System Dictionaries"
**Background**
A clear and concise description of what the problem is. Ex. At the moment, Cloud Pipeline does not allow [...] and it would be nice to [...] because [...]

**Approach**
A clear and concise description of what you want to happen.

**Other options**
A clear and concise description of any alternative solutions or features you've considered.

[2020-11-16 14:02] SilinPavel opened #1572 "JWT Token could be configured with illigal expiration date."
**Describe the bug**
For now our JWT generators could create token with illegal expiration date, since we use auth0 library to create token and this library has Y2038 problem.

For now possible solution could be to restrict creation of jwt tokens with exp value greater of equal to 19 Jan 2038

[2020-11-16 14:54] NShaforostov commented on #1447
**e2e-tests** were implemented via #1566.

[2020-11-16 14:57] NShaforostov commented on #1480
**e2e-tests** were implemented via #1566.

[2020-11-17 07:52] NShaforostov commented on #1339
Verified. Works well.
Were tested:
- pagination for files/folders in the storage
- pagination for file versions

[2020-11-17 07:54] NShaforostov commented on #1339
**Test cases** were created by cf7a0e602857ea5df8b7b78363eb0ab8c16aa9d1 and located [here](https://github.com/epam/cloud-pipeline/tree/develop/docs/testcases/UI/Data_storages/1339_pipe_storage_ls_paging).

[2020-11-17 13:13] NShaforostov commented on #1469
**e2e-tests** were implemented via #1574.

[2020-11-17 14:04] SilinPavel opened #1576 "Rstudio Image writes cookies with root path value"
**Describe the bug**
When you run RStudio and go to the interactive view with a browser Rstudio provides some cookies for its needs, however it actually creates this cookies with path value "/".
In this case you will not be able to use 2 Rstudio instances in the same time from one browser, because it will continuously override cookies that another one created.

[2020-11-18 10:54] NShaforostov commented on #1517
Verified. Works well.
Were tested:
- node image redefinition for pipelines at `AWS`, `Azure`, `GCP` stands
- reuse of the nodes that were "redefined"
- usage of the default nodes after disengagement of the nodes that were "redefined"

[2020-11-18 10:55] NShaforostov commented on #1517
**Test cases** were created by 797d9dfad4e1e479d7b862fc4554adf09f1116ed and located [here](https://github.com/epam/cloud-pipeline/tree/develop/docs/testcases/UI/Pipeline_library/Pipeline_configuration/1517_custom_node_images_for_runs).

[2020-11-18 19:05] NShaforostov commented on #1353
Verified. Works correctly

[2020-11-18 19:07] NShaforostov commented on #1353
Test case was created by 882543f8703af7d789be7f3620f64b71aa64e282 and located [here](https://github.com/epam/cloud-pipeline/blob/develop/docs/testcases/UI/Pipeline_library/Pipeline_details/1353.md).

[2020-11-19 15:47] sidoruka opened #1582 "FSAutoscaler shall respect the AWS EBS encryption"
At the moment, the EBS volumes which are created via the FSAutoscaler are not using the encryption settings.
This shall be fixed to follow the approach, used by the `root` disk creation.
All the autoscaled shall be encrypted using the KMS key, specified for the respective cloud region.

[2020-11-19 15:48] sidoruka commented on #1582
Please do ASAP and backport to `release/0.16`

[2020-11-20 09:14] SilinPavel opened #1584 "Add possibility to configure docker regestry to store all platform containers"
**Background**
In order to be more flexible it would be great to provide functionality to store and consume platform containers with custom service (our own docker regestry, quay.io, etc)

[2020-11-20 13:47] mzueva commented on #1582
@sidoruka Done and backported to `release/0.16`

[2020-11-23 09:44] sidoruka opened #1589 "Metadata entities shall display the "Added date" field"
**Background**
Metadata entities shall fill and store `createdDate` field.

**Approach**
From code prospective `MetadataEntity` already has `createdDate` field but it is not used. It shall be added to DB schema and handled properly.

[2020-11-23 10:00] NShaforostov commented on #1535
I've tried to verify.
The testing approach was the following:
- Open the launched run
- Click the **PAUSE** button
- Manually restart the API instance
- See the results
- Repeat identical steps for the **RESUME** operation
- Repeat the described cycle of **PAUSE**-**RESUME** operations several times

In general, all works.

Some notes:
1. The **PAUSE** operation consists of the two parts - the _fi

[2020-11-23 10:50] mzueva opened #1590 "Allow to create run without mounts"
**Background**
At the moment it is possible to limit which storages will be mounted to the run using `Limit mounts` option. This option doesn't allow to launch a run without mounts at all while it could be useful for some cases.

**Approach**
`Limit mounts` shall accept `None` value and in this case no storages shall be mounted to the run.

[2020-11-24 11:00] mzueva opened #1600 "Incorrect type is returned for array fields in Metadata entity"
**Describe the bug**
Metadata entity's property type `Array[<Entity Class>]` is incorrectly handled by GET `metadataEntity/fields?folderId` method.

* POST `metadataEntity/filter` returns **valid** property type for the entity's property:
[code]
* GET `metadataEntity/fields?folderId=<folder id>` method returns **wrong** `type` (*< Entity Class >* instead of *Array[< Entity Class >]*) and `multiVal

[2020-11-24 15:08] tcibinan commented on #1600
It seems like the returning `type` is fine but both `reference` and `multiValue` flags are not. Therefore with some additional handling on the client side the #1604 should resolve the issue.

[2020-11-26 07:22] rodichenko commented on #1600
@tcibinan thank you, `reference` and `multiValue` fields are good now.

[2020-11-26 10:58] tcibinan opened #1608 "Number of default workers is not considered on autoscaling cluster restart"
**Describe the bug**

Currently a number of default or static workers is not respected if user try to restart autoscaling cluster run.

**To Reproduce**

Steps to reproduce the behavior:
1. Launch an autoscaling cluster with 1 default worker.
2. Open launched run page.
3. Click `RERUN`.
4. Check cluster configuration in the opened launch page.
5. See that no default workers are configured.

**Expe

[2020-11-26 15:48] NShaforostov commented on #1339
**e2e-tests** were implemented via #1605.

[2020-11-27 12:02] mzueva commented on #1590
@backported to `release/0.16`

[2020-11-27 12:03] mzueva commented on #1556
API changes backported to `release/0.16`

[2020-11-27 12:06] rodichenko commented on #1590
@sidoruka backported to `release/0.16` (ba620c74fa96b7325b2410b76671cf53f7f8e0ca)

[2020-11-27 12:08] rodichenko commented on #1556
@sidoruka @NShaforostov @mzueva backported to `release/0.16` (13fb2d654bb07a604e8253078c5c131702c73be6)

[2020-11-27 13:56] tcibinan opened #1613 "Add proper metadata entity creation error on duplicated external ids"
**Describe the bug**

Currently if metadata entity is created with external id which already exists then some SQL error is shown.

**To Reproduce**

Steps to reproduce the behavior:

1. Create metadata entity with external id using GUI
2. Create another metadata entity with the same external id using GUI
3. See that the error message is not descriptive

**Expected behavior**

Proper error message

[2020-11-27 14:09] SilinPavel opened #1615 "Special type of endpoints to be able to configure and deploy independent DNS record for the tool"
**Background**
At the moment, jobs will get endpoint URLs in the following format: https://< cloud-pipeline-edge >/pipeline-RUNID-PORTNUMBER
But this does not work well for the Web applications which the root of the site hard coded in the application’s codebase. E.g.:
Application is started and is available via https://< cloud-pipeline-edge >/pipeline-1111-8080/
But it may contains an html page, w

[2020-11-27 14:29] SilinPavel commented on #1615
Regarding AWS route53 permission, we will need the next list of permissions:
[code]

[2020-11-27 14:36] tcibinan commented on #1407
Works in `0.17.0.8227.c716b2a44514bf3d9a26b9f720cdd2595df0b3c6`. Probably the issue was connected with SGE only inderectly.

[2020-11-27 14:36] #1407 closed, assigned to nobody

[2020-11-27 15:39] NShaforostov commented on #1447
Daily e2e-tests results are located and updated [here](https://github.com/epam/cloud-pipeline/blob/e2e-reports/e2e/reports/AWS/test/classes/com.epam.pipeline.autotests.LaunchLimitMountsTest.html) (for `AWS`).

[2020-11-27 15:40] NShaforostov commented on #1480
Daily e2e-tests results are located and updated [here](https://github.com/epam/cloud-pipeline/blob/e2e-reports/e2e/reports/AWS/test/classes/com.epam.pipeline.autotests.LaunchLimitMountsTest.html) (for `AWS`).

[2020-11-27 20:22] rodichenko commented on #1589
@sidoruka @NShaforostov backported to `release/0.16` (17ed55d802baeb70df45da6db3b5e0e41e7056e3)

[2020-11-30 10:43] NShaforostov commented on #1469
Daily e2e-tests results are located and updated [here](https://github.com/epam/cloud-pipeline/blob/e2e-reports/e2e/reports/AWS/test/classes/com.epam.pipeline.autotests.DataStoragesCLITest.html) (for `AWS`).

[2020-11-30 11:00] NShaforostov commented on #1590
I've tried to verify.
In general, works well.

Were tested:
- launch without mounts for tools
- launch without mounts for pipelines
- launch without mounts for detach configurations
- launch without mounts from default saved settings and from launch page

Only single note:
when for the tool, in its settings, the checkbox "**Do not mount storages**" is checked, but user unchecks that checkbox at th

[2020-11-30 11:05] NShaforostov commented on #1589
Verified.
Works well.

Were tested:
- automatic displaying of the created date for the uploaded Metadata from the file
- automatic displaying of the created date for the Metadata instances added manually

[2020-11-30 11:23] mzueva commented on #1569
@sidoruka backported to `release/0.16` (47796ba2ebbfa8e39676d8bcab81ba2edf03e582)

[2020-11-30 11:23] mzueva commented on #1589
@sidoruka backported to `release/0.16` (4c05009f4de78a1def7ae8069e5080db4a41c41e)

[2020-11-30 11:24] mzueva commented on #1600
@sidoruka backported to `release/0.16`

[2020-11-30 11:36] mzueva commented on #907
@Wedds @sidoruka
- if a storage already exists, log an error to logs and do not set it as `defaultStorageId`
- if an error occurs during storage creation, do not fail user creation process just log an error

[2020-11-30 12:55] mzueva commented on #1535
@sidoruka backported to `release/0.16`

[2020-11-30 16:49] NShaforostov commented on #1590
**Test case** was created by 9922a75aab32922b9fd8d8de9ce5072db656b2c2 and located [here](https://github.com/epam/cloud-pipeline/blob/develop/docs/testcases/UI/Run_tools_in_sandbox/Limit_mounts/1590.md).

[2020-12-01 13:33] tcibinan opened #1620 "Use SGE xml output format in grid engine autoscaler"
**Background**

Currently grid engine autoscaler uses default SGE commands output format which have some pitfalls. For example it trims some SGE object names if they are too long which in turn leads to grid engine autoscaling errors.

**Approach**

SGE commands also support xml output format which doesn't trim SGE object names which can be used in grid engine autoscaler.

[2020-12-02 10:53] NShaforostov commented on #1589
**Test case** was created by 1e2f033178c8f47a535a04a398bfe7ebc191db43 and located [here](https://github.com/epam/cloud-pipeline/blob/develop/docs/testcases/UI/Sample_Processing_Module/1589.md).

[2020-12-02 11:32] NShaforostov commented on #1569
Verified.
Works well.

Were tested:
- automatic IDs generation for upload Metadata entities from external file
- automatic IDs generation for manual Metadata entities creation via the GUI
- manual ID specifying during Metadata entities creation

[2020-12-02 11:34] NShaforostov commented on #1569
**Test case** was created by 646d34f311c02added79f7406e0ac006b2ee9ea5 and located [here](https://github.com/epam/cloud-pipeline/blob/develop/docs/testcases/UI/Sample_Processing_Module/1569.md).

[2020-12-02 11:44] mzueva commented on #1615
@sidoruka @SilinPavel
Let's confirm the implementation approach:
1. DNS records handling is enabled by a flag for a tool
2. API methods to create and delete DNS records are implemented in the API service
3. DNS records are requested by the edge service when a pod with endpoints is detected and its tool has corresponding flag. Edge service creates DNS records using API methods from p.2.
    - for r

[2020-12-02 11:52] sidoruka commented on #1615
Not sure how the `RunCleaner` works, so I'd say that (5) sounds to me like "DNS records shall be cleaned up as soon, as the corresponding run has stopped/failed. API/EDGE restarts shall be tolerated and shall not lead to the abandoned DNS records"
Is that right?

[2020-12-02 11:58] tcibinan commented on #1517
Cherry-picked to `release/0.16` via 8a6e003c8d916b987d78873f9a5da872bcd86a64 and bfd3a4601f6ec288ca8bd78a045160c93ef66848.

[2020-12-02 13:59] tcibinan opened #1625 "Clean up host ssh keys in AWS AMIs"
**Background**

Currently Cloud Pipeline AWS public AMis contain host ssh keys. At the same time according to AWS [documentation](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/building-shared-amis.html#remove-ssh-host-key-pairs) it is recommended to delete such keys before making images public.

![image](https://user-images.githubusercontent.com/16464586/100881792-69998a00-34bf-11eb-98bf-9c8

[2020-12-02 16:04] NShaforostov commented on #1613
Verified.
Fixed

[2020-12-02 16:05] NShaforostov commented on #1613
**Test case** was created by f596f79009dab770e5c070c64c96f6d8288d9eb0 and located [here](https://github.com/epam/cloud-pipeline/blob/develop/docs/testcases/UI/Sample_Processing_Module/1613.md).

[2020-12-02 16:38] NShaforostov commented on #1339
Daily e2e-tests results are located and updated [here](https://github.com/epam/cloud-pipeline/blob/e2e-reports/e2e/reports/AWS/test/classes/com.epam.pipeline.autotests.DataStoragesCLITest.html) (for `AWS`).

[2020-12-03 12:04] NShaforostov commented on #1590
**Docs** were updated via #1516.

[2020-12-03 12:19] sidoruka opened #1628 "`pipe` shall allow to export the node utilization report"
**Background**
At the moment, Cloud Pipeline allows viewing the nodes utilization reports in the GUI. But in some cases, users would like to export this information for further usage in an automated manner.

**Approach**
* Implement a new command in the CLI, which shall export the CSV file with the node usage metrics:
* Command shall have the following signature:
[code]
* One of `--instance-id` an

[2020-12-03 12:20] sidoruka commented on #1628
Backport to `release/0.16`

[2020-12-03 14:54] SilinPavel commented on #1615
As for the test cases, here are some of them:

1. New property 'Sub-Domain' shall be available for all endpoints, default value - `false`
2. Two new System preference are available `instance.dns.hosted.zone.id` `instance.dns.hosted.zone.base` - if any of this parameter is empty or invalid and tool configured to be run with sub-domain - run will fail on initialization step
3. There is several cases

[2020-12-04 08:51] #67 closed

[2020-12-04 11:20] NShaforostov commented on #1517
**e2e-tests** were implemented via #1632.

[2020-12-04 12:36] mzueva commented on #907
@NShaforostov @sidoruka Ready to be tested. To enable this feature set `SystemPreferences`: `storage.user.home.auto` - enabled and `storage.user.home.template`. Examples of templates, where `@@` will be replaced with username:
- S3 bucket
[code]
- NFS
[code]

[2020-12-04 12:38] mzueva commented on #907
@rodichenko Could you please check the following issue: with this feature enabled storage maybe created along with user creation. If a new storage is created it set as default user storage, GUI doesn't shown this value in the user form until Cloud Pipeline page is not refreshed.

[2020-12-04 12:55] mzueva commented on #841
@sidoruka server part backported to `release/0.16`

[2020-12-04 13:08] rodichenko commented on #907
@mzueva this should be fixed with 9c687ae364e6e6a537886a0ee74e382085b4878b

[2020-12-04 13:18] mzueva opened #1633 "Instance monitoring events"
**Background**

At the moment some `PipelineRun`s or processes inside a `PipelineRun` may fail due to various reasons, e.g. OOM killer may kill a process. Such issues are difficult to investigate as instance may already be unavailable, run may fail, etc. It would be helpful to monitor an instance for suspicious events and errors and report such issues to the user.

**Approach**

A new daemon servi

[2020-12-04 18:21] NShaforostov commented on #907
I've tried to verify.
Works well.

Were tested:
- automatic creation of the "home" object storage
- automatic creation of the "home" file share
- different "home" storage's template settings

_Minor note_:
if for a creating user the default storage is forcibly specified - it will be changed for the automatic created "home" storage after the user creation. Possibly, it is not the bug of the current

[2020-12-07 12:56] mzueva commented on #907
@NShaforostov Could you please check this issue? It should be fixed for both #907 and #895.

[2020-12-07 14:22] NShaforostov commented on #907
Verified. Thanks!

[2020-12-07 16:35] mzueva commented on #907
@sidoruka backend cherry-picked to `release/0.16`

[2020-12-07 18:59] rodichenko commented on #907
@sidoruka @mzueva @NShaforostov backported to `release/0.16` (e09e84615adc3cbed6f40fb33f0e3087a5a46f03)

[2020-12-08 07:39] NShaforostov commented on #895
Fixed.
Verified

[2020-12-08 07:39] #895 closed, assigned to sidoruka

[2020-12-08 08:32] mzueva opened #1636 "Node Pools: Azure and GCP support"
**Background**
At the moment Node pools feature is supported for AWS regions only. We need to implements this functionality for Azure and GCP regions as well.

**Implementation**

- Implement the following methods of `CloudInstanceService` interface for GCP and Azure: `scaleUpPoolNode`, `scaleDownPoolNode`, `reassignPoolNode`
- Review all `CloudInstanceService` implementations, `CommonCloudInstanc

[2020-12-08 15:08] mzueva opened #1637 "Node Pools: Instance filtering"
**Background**
It would be useful to allow to limit usage of node pool instances with a filter, e.g. allow to use pool instances only for certain users or for runs with some parameters set.

**Approach**
`NodePool` shall allow to specify a list of filters and a logical operator (`OR` and `AND`) to be applied to combine filters. Filters themselves shall support value and one of operators: `EQUAL`,

[2020-12-09 09:41] tcibinan opened #1638 "Incorrect friendly urls warning"
**Describe the bug**

Currently friendly urls with `-` symbol cannot be used because warning is shown. At the same time warning message tells that `-` symbol is allowed to be used.

**To Reproduce**

Steps to reproduce the behavior:
1. Try to launch any run with a single endpoint.
2. Open advanced tab on the run launch page
3. Add `valid-url` to *Friendly URL* input field.
4. See the confusing war

[2020-12-09 11:18] sidoruka opened #1639 "`pipe` shall allow to import users from CSV"
**Background**
At the moment, Cloud Pipeline allows creating users one-by-one via the GUI. If a number of users shall be created - it would be nice to have a batch creation option.

**Approach**
* Introduce a `pipe users import` command:
[code]
* Command shall import users from the CSV file (specified by `PATH_TO_CSV`), according to the following rules:
* CSV format:
[code]
* If the user with `Use

[2020-12-10 10:44] mzueva opened #1645 "Unit Tests: Rewrite RunApiService test"
**Background**
At the moment `RunApiService` test uses deprecated approach with custom text context and `@DirtiesContext`. It would be nice to rewrite it using new ACL test approach with `AbstractAclTest`.

**Approach**
- Rewrite `RunApiService` extending `AbstractAclTest` instead of using custom context configuration and ACL entities initialization
- Remove context configuration from `RunApiServi

[2020-12-10 13:02] sidoruka opened #1646 "Allow to export node monitoring report in Excel format"
**Background**
Relates to #1628
At the moment, Cloud Pipeline allows exporting instance utilization report in the CSV format. Either from GUI or CLI (via #1628).
It would be great to have some charts in the exported file as well. To achieve this - we shall use Excel format with the built-in charts.

**Approach**
* Admin shall be able to specify a location of the Excel template (`application.proper

[2020-12-10 16:35] mzueva commented on #1628
@sidoruka backported to `release/0.16`

[2020-12-10 18:05] sidoruka opened #1648 ""Launch Command" generation shall respect the parameter type"
**Background**
`Launch Command` generation was introduced by #892. It works fine but lacks the parameter type in the resulting command.
E.g.:
* User has the configuration of the following parameters for the job:
  * `param1`:
    * type: `input`
    * value: `s3://bucket/in.txt`
  * `param2`:
    * type: `output`
    * value: `s3://bucket/out.txt`

At the moment, `Launch Command` contains for the

[2020-12-10 18:05] sidoruka commented on #1648
Please backport to `release/0.16`

[2020-12-10 18:05] sidoruka commented on #1646
Please backport to `release/0.16`

[2020-12-14 09:13] #1240 closed, assigned to sidoruka

[2020-12-14 09:16] #873 closed, assigned to mzueva

[2020-12-14 09:47] mzueva opened #1652 "Node Pools: VMMonitor shall handle pool nodes"
**Background**
With implementation of node pools #841 cluster may have nodes with non-numeric `runid` label, e.g. `p-123`. `VMMonitor` service shall handle such nodes and verify their state accordingly.

**Approach**
If a node has non-numeric `runid` label `VMMonitor` service shall check `pool_id` label. If pool label is present and corresponding `NodePool` exists such node shall be considered val

[2020-12-14 09:51] mzueva opened #1653 "Node Pools: Allow to filter nodes by labels"
**Background**
At the moment it is possible to filter cluster nodes by `runId` and `ip` using `/cluster/node/filter` API method. It would be useful to allow to filter nodes by labels and values as well.

**Approach**
- Extend `FilterNodesVO` object with `labels` [`Map<String, String>`]
- `/cluster/node/filter` API method shall returns only nodes with matching `labels`

[2020-12-14 14:49] mzueva commented on #1648
@sidoruka done and backported to `release/0.16`

[2020-12-15 12:21] mzueva opened #1656 "Pass system parameters to autoscaled SGE workers"
**Background**
A clear and concise description of what the problem is. Ex. At the moment, Cloud Pipeline does not allow [...] and it would be nice to [...] because [...]

**Approach**
A clear and concise description of what you want to happen.

**Other options**
A clear and concise description of any alternative solutions or features you've considered.

[2020-12-16 13:25] tcibinan opened #1658 "Metadata entities ID column shall be optional"
**Background**

After #1569 is implemented it's allowed to not specify metadata entity id in metadata entities file which will be automatically generated. The current issue proposes to implement even further approach where the whole metadata entity id column can be omitted in metadata entity files.

**Approach**

In case id column is omitted in metadata entity file the metadata entity class type c