[2019-08-05 13:39] sidoruka opened #579 "JWT token shall be updated for the jobs being resumed"
Currently, we can run into the following issue:
1. A user launches an on-demand job and then pauses it
2. Job is kept "paused" for 2+ months
3. When a user resumes a job - an expired JWT token is set
4. This leads to different problems when any of the initialization routines tries to communicate with the API

We shall update the JWT token (and other variables as well) when a job is being resumed,

[2019-08-05 13:45] sidoruka commented on #579
Backport to `release/0.15`

[2019-08-05 14:03] sidoruka opened #580 "GE configuration shall allow to override the queue/pe configuration"
At the moment, if the GE is enabled, the following is configured:
1. A single queue with all the hosts is created, named `main.q`
2. A single PE named `local` is created

To be compatible with any existing scripts, that rely on a specific GE configuration (e.g. hardcoded), we shall allow overriding the names of the queue/pe, when a job is launched

[2019-08-05 15:24] rodichenko commented on #560
@NShaforostov fixed, can you re-check this issue please?

[2019-08-05 16:49] mzueva commented on #554
@rodichenko @SilinPavel I'd suggest to add field `reason` to `RunStatus` and fill it in case of resume operation failure.

[2019-08-05 17:20] #552 closed, assigned to SilinPavel

[2019-08-06 10:04] NShaforostov commented on #560
Verified. Fixed

[2019-08-06 10:04] #560 closed, assigned to rodichenko, sidoruka

[2019-08-06 11:19] sidoruka opened #582 "API default deployment shall start the statd service for the NFS3"
As the GCP Filestore currently uses NFS3 to mount the shares, we shall consider enabling the `statd` (via `rpcbind`) to mount the storage with the remote locks enabled.
Otherwise, storage creation/mounting fails or we have to disable it using `-o nolock` which is not what we want.

Need to make sure:
1. This works for the API service
2. Compute nodes

This issue is uncovered after the #560 GUI par

[2019-08-06 11:19] sidoruka commented on #580
Backport to `release/v0.15`

[2019-08-06 13:59] mzueva commented on #579
@sidoruka It seems that we cannot simply update all the variables in the way we do for a new run.
Currently we fully rely on the environment variables saved in the container image and restart a run with the only one specified environment variable - `RESUMED_RUN`.

At first glance I see the following problems with restarting a run with a whole set of variables:
1. Git cloning of a pipeline reposito

[2019-08-06 14:08] kamyshova opened #583 "AWS: Global search doesn't work for new added pipeline items"
**Version**: `0.16.0.2090.34fed25335b16bdeaf05dfa63b56ddd09cbb08a0`

Global search doesn't index a new added pipeline items to AWS stand for more than 30 min

**Step-by-step:**

1. Create a pipeline item (e.g. folder/pipeline/issue)
2. Wait for indexing
3. Search the added item

**Expected**: there is the item in search list result
**Actual**: there is not the item in search list result

![image](

[2019-08-06 14:14] sidoruka commented on #580
Now one can use the following system parameters:
* `CP_CAP_SGE_QUEUE_NAME` to override the GE's queue name (default: `main.q`)
* `CP_CAP_SGE_PE_NAME` to override the GE's queue name (default: `local`)

Ported to `release/v0.15`

[2019-08-06 14:19] mzueva commented on #583
@kamyshova search sync service was down, not it shall work

[2019-08-06 15:51] mzueva commented on #579
@sidoruka I've tested actual deployment and data localization is executed for each restart in the current version as well, so I'd suggest to implement option 2.

[2019-08-06 17:00] mzueva commented on #362
Verified

[2019-08-06 17:00] #362 closed, assigned to mzueva, ekazachkova

[2019-08-07 12:37] mzueva commented on #563
@SilinPavel Please verify and close after redeploy

[2019-08-07 14:15] sidoruka opened #586 "Object/File storage mounts are ignoring the users' permissions"
If a user has only `READ` permissions - all the storage types shall be mounted with `Read-only` permissions to the compute nodes.

Since version `0.15` - all the storages are mounted with `Read/Write` permissions, while the GUI/API enforce the correct access restrictions.

[2019-08-07 14:34] SilinPavel commented on #563
verified and closed

[2019-08-07 14:34] #563 closed, assigned to SilinPavel

[2019-08-07 14:59] mzueva commented on #586
Fixed and cherrypicked to release 0.15

[2019-08-07 15:14] mzueva commented on #361
Verified

[2019-08-07 15:14] #361 closed, assigned to Wedds, ekazachkova

[2019-08-07 15:21] SilinPavel commented on #563
@sidoruka should it be cherry-picked to 0.15?

[2019-08-07 15:27] NShaforostov opened #587 "GCP: mounting to the root of the `fileshare` when creating FS mount"
In the current version of GCP deployment you can specify `/` as **Storage path** when creates FS mount.
In that case, mount to the root folder of the `fileshare` will be created:
![123](https://user-images.githubusercontent.com/45459424/62633918-9d04ec80-b93d-11e9-8d25-997a5f6bc37f.png)

I suppose it would be appropriate to prohibit the input of such storage path as it is done for other Cloud Prov

[2019-08-07 17:38] mzueva commented on #554
@rodichenko In the latest version API will return for `PipelineRun` an optional `reason` text field in list of `runStatuses`. In case of specific errors during resume operation it will contain reason for resume failure and returning back to paused state.

[2019-08-07 18:32] #586 closed, assigned to mzueva

[2019-08-08 10:03] sidoruka commented on #549
@kamyshova this shall work fine now, could you please recheck?

[2019-08-08 10:04] mzueva commented on #571
cherry-picked

[2019-08-08 10:05] sidoruka commented on #543
@kamyshova @rodichenko , so is this issue still there?

[2019-08-08 10:06] #580 closed, assigned to sidoruka

[2019-08-08 10:24] #564 closed, assigned to rodichenko

[2019-08-08 10:36] #555 closed, assigned to rodichenko

[2019-08-08 10:38] sidoruka commented on #501
@mzueva @rodichenko please backport this feature to `release/0.15`

[2019-08-08 10:53] mzueva commented on #579
Cherry-picked to release 3d64599f6f7137b8fa0ab86c8fa44473b65d8d57

[2019-08-08 10:54] mzueva commented on #554
Backend part cherry-picked to release 3d64599

[2019-08-08 11:07] kamyshova commented on #543
@rodichenko Fixed, thanks.

[2019-08-08 11:07] #543 closed, assigned to rodichenko

[2019-08-08 11:08] rodichenko commented on #501
@sidoruka GUI backported to `release/0.15` via 3853cac1c9c1c7a5bde362028551e4c449585f4e

[2019-08-08 11:24] mzueva commented on #397
@SilinPavel Let's try to use [VM scheduled Events](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/scheduled-events) to track low priority VM eviction. Introduce a script that will run on VM, track events and in case of preemtion label corresponding node in k8s with "preemted=true" label.

[2019-08-08 12:04] mzueva commented on #501
@sidoruka cherry-picked a5d5751038affd0864a6610d38fc07e2ef8bfc0b

[2019-08-08 13:21] kamyshova commented on #549
@sidoruka Verified. Fixed, thanks

[2019-08-08 13:21] #549 closed, assigned to SilinPavel

[2019-08-08 13:21] kamyshova commented on #583
Fixed

[2019-08-08 13:21] #583 closed, assigned to nobody

[2019-08-08 13:57] #571 closed, assigned to nobody

[2019-08-08 14:31] rodichenko commented on #554
@sidoruka @mzueva GUI part implemented. This feature backported to release/0.15 via fe6c4b5f5d59b6434098b0b9ff0d2f97e43ccf6e

[2019-08-08 14:50] #579 closed, assigned to mzueva

[2019-08-08 16:44] #501 closed, assigned to rodichenko, mzueva, ekazachkova

[2019-08-09 10:09] sidoruka commented on #274
Latest commit data/time is now added to the run's details form
![image](https://user-images.githubusercontent.com/20998291/62771868-d9079100-baa6-11e9-8f98-6f4ac2def1e9.png)

This feature is available in `0.16` and up

[2019-08-09 10:09] #274 closed, assigned to nobody

[2019-08-09 14:20] rodichenko commented on #554
Warning messages are displayed at:
- **Run log** form:
![warning2](https://user-images.githubusercontent.com/5070496/62785738-ec782380-bac9-11e9-8326-8a36e4ad3d26.png)
- **Dashboard**:
![warning3](https://user-images.githubusercontent.com/5070496/62785752-f39f3180-bac9-11e9-92a5-6fc66d81ab62.png)
- **Active runs table**:
![warning1](https://user-images.githubusercontent.com/5070496/62785766-f8fc7c

[2019-08-12 13:17] sidoruka opened #589 "pipe CLI shall allow to update the executable automatically"
1. `pipe` CLI shall expose `update` command, that will grab the latest version of the CLI from the API instance and install it, instead of the existing one
2. This command shall get the API URL from:
- Command-line parameter (e.g. `pipe update https://cloud/pipeline/`)
- If this parameter is not set:
  - Environment variable (`$API`)
  - Configuration JSON file
- If none of the above is set - an e

[2019-08-12 15:55] NShaforostov commented on #502
Verified.
Works fine

[2019-08-12 15:55] #502 closed, assigned to mzueva, ekazachkova

[2019-08-12 18:44] sidoruka opened #594 "If one CORS/Policies cannot be applied - object storage creation shall not fail"
At the moment, if the Cloud service account/role have permissions to create object storages, but lacks permissions to apply CORS or other policies - object storage is created, but API throws an exception and storage is not registered.
This leads to a "zombie" bucket, which is not available via GUI, but exists in the Cloud.

API shall not fail such requests, instead - storage shall be registered. B

[2019-08-12 18:46] sidoruka commented on #594
@rodichenko, once API part is done - please handle such situations in the GUI and show the warning to the user (as a popup).
[code]

[2019-08-13 10:29] sidoruka opened #595 ""Search" shall not be available to the users if a corresponding service is not installed"
If "search.elastic.host" is not set - users shall not be able to perform search:
1. Hide the "Search" button from the left menu
2. Disable keyboard search shortcut

[2019-08-13 10:43] kamyshova opened #596 "E2E GUI Global Search tests fail from time to time"
**Version**: `0.16.0.2172.632721ee228ea160643fff1aabada89cf9ff687d`

Sometimes Global Search tests fails due to search result failure to all (AWS, GCP, AZURE) stands.
Could we do something about this?

![image](https://user-images.githubusercontent.com/23356251/62935586-2d28b300-bdd0-11e9-8b71-3eed885cc0be.png)

[2019-08-13 10:45] rodichenko commented on #595
@sidoruka backported to release/0.15 (2795e04779e05308e844ced9dd888b5779e1e687)

[2019-08-13 11:17] NShaforostov commented on #501
Is a user warning implemented via CLI?

[2019-08-13 12:38] sidoruka opened #597 "FS mounts creation shall not be available if no FS mount points are registered"
FS mounts creation shall not be available if no FS mount points are registered for any Cloud Region:

![image](https://user-images.githubusercontent.com/20998291/62942097-45a0c980-bde0-11e9-8eb6-97be6c41e02f.png)

[2019-08-13 12:39] sidoruka commented on #597
@rodichenko and cherry-pick to `release/0.15`

[2019-08-13 12:39] sidoruka commented on #595
@rodichenko cherry-pick to `release/0.15`

[2019-08-13 12:46] #595 closed, assigned to rodichenko

[2019-08-13 12:53] rodichenko commented on #597
@sidoruka backported to release/0.15 (935c9b4c3a66515d147baeda9822315ff4848c1a)

[2019-08-13 15:48] mzueva commented on #290
tested on dev stand
cherry-picked to 0.15 d0d680c09bfa0e7c0a7165b82c67c4bcbac853bf

[2019-08-13 17:40] mzueva commented on #427
Ported to release 0.15 for AWS via b7966a0c1715807642f196a83a607441625af186

[2019-08-13 18:43] #427 closed, assigned to mzueva

[2019-08-13 18:43] #203 closed, assigned to mzueva, ekazachkova

[2019-08-14 09:47] SilinPavel opened #599 "Azure nodeup script can leave node in kube cluster when failed."
Some times we have that message in the pipeline logs
[code]
 It means that instance was preempted during creation. We expect that after that all resources will be released, but actually `ScaleSet` successfully deleted from Azure cloud, but node isn't deleted from kube cluster

[2019-08-14 10:08] sidoruka commented on #599
@SilinPavel is it a totally standalone issue or it is somehow related to the existing one(s)? If so - please add a reference.

[2019-08-14 11:39] sidoruka opened #600 "Add "JupyterLab" docker image"
At the moment, we have only a plain [jupyter notebook](https://jupyter-notebook.readthedocs.io/en/stable/) available [jupyterlab](https://jupyterlab.readthedocs.io/en/stable/) shall be added as well

[2019-08-14 14:29] SilinPavel opened #601 "elasticsearch-agent doesn't delete old indexes"
In case of redeploy situation when old indexes aren't deleted can be possible.

the following flow describes the bug:

[code]
by repeating this flow continuously we will get situation when a lot of old indexes stuck in the elasticsearch

[2019-08-14 14:58] NShaforostov opened #602 "Azure: can't copy/move files from the local filesystem/storage to the storage recursively"
When trying to copy/move a folder content via `pipe` from the local filesystem/storage to the storage using `-r` flag an error appears:
![111](https://user-images.githubusercontent.com/45459424/63030005-3ee68500-beba-11e9-849c-0667f42d8330.png)
But with additional `-f` flag command performs normal:
![222](https://user-images.githubusercontent.com/45459424/63030252-b4eaec00-beba-11e9-9015-95f710776

[2019-08-14 16:09] kamyshova opened #603 "GCP: The termination process of a node in a cluster is too long"
**Version**: `0.16.0.2201.e2b97633fe5362804e38f80fccfe91fcec24d4f8`

When user terminates node on a cluster page the node terminates is too long.
It looks like this:

![image](https://user-images.githubusercontent.com/23356251/63036971-be7a5100-bec6-11e9-9aec-b7d5a663a1f2.png)

Could we make the termination process is asynchronous?

[2019-08-14 18:28] #600 closed, assigned to sidoruka

[2019-08-15 09:56] sidoruka opened #604 "Enable Spark for the Cloud Pipeline's clusters"
Users shall be able to setup an `Apache Spark` cluster in the same manner as `Grid Engine`

1. Configure scheduler type via the Web GUI (in a `static` mode for now)
2. Enable Spark master and workers ( in a `standalone` mode for now)
3. Enable access to the Object Storages (using `s3a` filesystem for `AWS` only for now)

[2019-08-15 10:12] NShaforostov opened #606 "`pipe`: `run` command doesn't launch a pipeline without forcible specifying a price type"
Currently, if you try to launch a new existing pipeline via `pipe run` with only pipeline name/id - it will cause an error, e.g.:
[code]
If you additionally set price type, the launch will be started normally.
Also, the trouble disappears when the pipeline has more than one configuration.

[2019-08-15 10:38] NShaforostov opened #607 "`pipe`: excess output for the `run` command execution"
### 1. Excess hint after each `run` command execution

See the hint started from "Docker image, instance type, instance disk..."

Example 1:
[code]

Example 2:
[code]

In "quiet mode" excess hint also appears.
Example 3:
[code]

Could we output such message only in cases when a pipeline name/ID wasn't specified?

### 2. Empty error message in case of the launch cancel

When you try to launch a pip

[2019-08-15 10:58] sidoruka opened #608 "EDGE shall check that serviceUrl exists for a run"
At the moment, EDGE only checks the `nginx` configuration presence to determine if the run has endpoints set.

But in certain cases we can end up with:
1. `nginx` configuration exists
2. Run has no `serviceUrl` attribute
3. EDGE treats such run as a fully configured and does not set `serviceUrl` value

[2019-08-15 11:01] NShaforostov opened #609 "`pipe`: unclear option `-nc` for the `run` command"
When trying to launch a pipeline with single `-nc` option an error throws:
[code]

Could we make an error message more informative and understandable for users?

When trying to launch a pipeline with the both `-nc` and `-ic` options a cluster starts normally but a specified number of cores doesn't affect anything.

And what could be the right usage of the `-nc` option?

[2019-08-16 10:14] sidoruka opened #610 "Spark: support for the temporary credentials across the Cloud Provides for the"
#604 introduced a support of the Object Storages for AWS using the temporary credentials

We shall also add support for [GCP](https://github.com/GoogleCloudPlatform/bigdata-interop/tree/master/gcs) and [Azure](https://hadoop.apache.org/docs/current/hadoop-azure/index.html)

[2019-08-16 10:16] sidoruka opened #611 "Spark: implement autoscaling"
#604 introduced an Apache Spark cluster setup in a "static" mode, i.e. number of compute nodes is set during startup time.

We shall add an `autoscaling` capabilities for Spark in the manner similar to the GridEngine.

[2019-08-16 12:48] sidoruka opened #613 "`pipectl` shall set the proxy parameters to launch.env.properties if they are available at an install time"
If `-env http/https/no_proxy` were specified for the `pipectl install` command - we shall pass those values to `launch.env.properties` preference

[2019-08-16 12:57] sidoruka opened #614 "All Cloud Pipeline's compute nodes shall be named as CloudID in the Kube cluster"
At the moment - compute nodes are named as `hostname` within a kube cluster. From time to time this leads to issues with further nodes identification.

We shall implement a more strict node naming, e.g. using Cloud Provider's VM ID/Name

[2019-08-16 14:07] #614 closed, assigned to sidoruka

[2019-08-16 15:36] NShaforostov opened #616 "`pipe`: the `view-runs` command doesn't correctly work with the `-dt` option"
The `view-runs` command with the `-dt` option doesn't find any eligible runs.
<img width="505" alt="1" src="https://user-images.githubusercontent.com/45459424/63179267-6a9d7280-c054-11e9-9a9a-3c92a0e35af5.png">
Although with the `-df` option works fine.

[2019-08-19 13:21] NShaforostov opened #618 "GCP: COMMIT feature doesn't work"
While trying to commit a pipeline run, the error `Error response from daemon: max depth exceeded` throws during the commit task:
![3](https://user-images.githubusercontent.com/45459424/63268345-a9256e00-c29c-11e9-9e81-8aa03dbe0ccd.png)

Accordingly, on-demand runs can't be paused. In those cases - while trying to pause a run, it throws the same error and stops:
![2](https://user-images.githubuserc

[2019-08-20 18:17] mzueva opened #619 "Invalid layout for global search"
# Description

Global search page is not rendered correctly:
![search](https://user-images.githubusercontent.com/12640002/63372892-ae171a00-c38f-11e9-98fd-4927d5f5f2b7.PNG)

# Steps to reproduce

1. Login to AWS dev environment
2. `Ctrl + F` to enter search mode
3. Enter `test` query

[2019-08-20 18:19] mzueva commented on #594
@rodichenko Server changes are deployed to dev and described [here](https://github.com/epam/cloud-pipeline/pull/605#issue-307651813)

[2019-08-21 19:02] sidoruka opened #620 "Cluster run cannot be launched with a Pretty URL"
# Steps to reproduce
1. Select any interactive tool (e.g. `library/rstudio`)
2. Open `Custom run settings`
3. Setup cluster of any size (e.g. 1 static node)
4. Set a pretty URL (any valid value, e.g. `pretty`)
5. Launch a run
6. An error `URL pretty is already used for run {ID}`

# Action items
Pretty URL shall be never set for the child runs

[2019-08-21 19:53] sidoruka commented on #620
Please backport to `release/0.15`

[2019-08-22 16:37] mzueva commented on #620
done

[2019-08-23 10:45] rodichenko commented on #619
@mzueva @sidoruka backported to release/0.15 (cf16cee3f4f97a3807ea6752091efb953eff867e)

[2019-08-23 11:25] sidoruka opened #623 "Cloud Pipeline shall allow to "block" the user"
User blocking/unblocking shall be available in a manual and an automated manners:
1. Manual:
- Administrator shall be able to set the "blocked" flag for the specific user or a whole group
- This flag will prevent user(s) to access Cloud Pipeline platform by all the means (GUI/CLI/API)
- This flag can be set either from the Web GUI (User management console) and Cloud Pipeline CLI (for automation re

[2019-08-23 11:32] sidoruka opened #624 "Highlight "Idle" jobs in the Cloud Pipeline API/GUI/CLI"
1. Cloud Pipeline shall allow to view high-level metrics information for the Active Runs:
- Idle (CPU/Memory consumption is lower than a certain level, defined by the admin) - such runs produce extra costs
- Pressure (CPU/Memory/Disk consumption is higher than a certain level, defined by the admin) - such runs may accidentally fail
2. We shall reuse existing resources monitoring indices and the th

[2019-08-23 11:35] sidoruka opened #625 "Allow to schedule automatic pause/restart of the jobs"
For certain use cases (e.g. when Cloud Pipeline is used as a development/research environment) users launch jobs and keep them running all the time, including weekends and holidays.
To reduce costs, it shall be possible to set a "Run schedule", that would allow to automatically pause/resume runs, based on the configuration specified.

The following behavior shall be implemented:
1. User (who have

[2019-08-23 12:13] mzueva commented on #623
#### First part of implementation
1. Add `blocked` field to user table in db adding a new flyway migration
2. Add `blocked` field to PipelineUser model
3. Add handling of this new field to `UserDao` and related xml file
4. Add `blockUser` field API method `updateUser` in `UserController`
5. Add handling of `blocked` field to `SAMLUserDetailsServiceImpl` class
6. Extend `UserManagerTest` class for

[2019-08-23 13:04] rodichenko commented on #594
@sidoruka GUI backported to release/0.15 (4497da5bf0607a9db4b6ea37d646e1ffdc6cd7a1)

[2019-08-23 22:25] sidoruka opened #626 "git clone fails when cloning large repository"
When large repository (>1Gb) is cloned (e.g. when a `pipeline` is being run) - `git clone` may fail with `curl 56 GnuTLS recv error (-110): The TLS connection was non-properly terminated`

This is caused by the OOM error, which happens at the GitLab server if it is not powerful enough. OOM is produced by the `git pack-objects` process, which tries to pack all the data in-memory.

This shall be fix

[2019-08-23 22:31] sidoruka commented on #626
The following configation is made (according to [git-pack-objects](https://git-scm.com/docs/git-pack-objects#Documentation/git-pack-objects.txt---window-memoryltngt)):
* `windowMemory`: 128m (controlled by `${CP_GITLAB_WINDOW_MEMORY}`)
* `packSizeLimit`: 512m (controlled by `${CP_GITLAB_PACK_SIZE_LIMIT}`)

[2019-08-23 22:31] sidoruka commented on #626
Backported to `release/0.15` via 5f5fc07

[2019-08-23 22:58] #626 closed, assigned to sidoruka

[2019-08-28 10:16] mzueva commented on #623
Second part of implementation: block groups
- Create a table `group_status` for storing blocked groups (group name TEXT PK, blocked boolean deafult false)
- Add method `updateBlockStatusGroup` to `UserController` and underlying layers
- Add check to `SAMLUserDetailsServiceImpl ` that user doesn't belong to any of blocked groups

[2019-08-28 10:17] mzueva commented on #623
We need to discuss approach to JWT validation: currently we fully trust token and do not load user from DB during validation. Shall we change this approach?

[2019-09-02 11:56] sidoruka commented on #328
Backported to `release/0.15` via cb2e1d5

[2019-09-02 11:56] #328 closed, assigned to sidoruka

[2019-09-03 09:59] mzueva commented on #623
@Wedds Third part of implementation:

- Introduce a new application property `saml.user.blocked.attribute` and add it as `@Value` to `SAMLUserDetailsServiceImpl` class
- If a user exists during SAML authentication and `saml.user.blocked.attribute`defined, exists and is set to `true`, update user status to blocked and deny access

[2019-09-04 10:17] sidoruka opened #630 "System events HTML overflow"
If one sets a quite long text (without separators) into the message body - the resulting notification text will "overflow" the browser window.
E.g.
![image](https://user-images.githubusercontent.com/20998291/64246728-04e72c80-cf16-11e9-872f-a79391550f1b.png)

It looks bad and does not allow to close such notifications (as the "close" button is gone together with the cropped text)

**TODOs:**
1. Pl

[2019-09-05 12:21] SilinPavel opened #634 "Server fails with unexpected message when client loads tool by name that doesn't exist"
method `/tool/load?image=<registry>/<image>`
if user will specify registry that doesn't exist server will fail with non-informative massage "server problem"
expected: server fails with message like "repository with name: <> not found"

[2019-09-05 12:38] sidoruka commented on #618
@kamyshova is this issue still exists?

[2019-09-05 12:52] kamyshova commented on #618
@sidoruka No, I've fixed it

[2019-09-05 12:52] #618 closed, assigned to sidoruka

[2019-09-06 11:37] kamyshova opened #635 "AWS: Pipeline run InitializeNode task fails"
**Version**: `0.16.0.2414.e9bb9588ac71c5dadd3ad76084f16329e75f036a`

When user launches a pipeline with **`spot`** price type run **`InitializeNode`** task fails with `[ERROR] Exceeded retry count (100) for spot instance. Spot instance request status code: capacity-not-available.` error.

It looks like this:

![image](https://user-images.githubusercontent.com/23356251/64425063-73152600-d0b3-11e9-9

[2019-09-06 12:27] #603 closed, assigned to SilinPavel, mzueva

[2019-09-06 14:15] mzueva commented on #635
Fixed this issue: in this case we shall make N attempts to create a spot instance and then switch to on-demand price type.

[2019-09-06 17:12] sidoruka opened #637 "`pipe` shall support mounting File Storages data storages to Linux and Mac workstations"

[2019-09-06 17:13] sidoruka opened #638 "`pipe` shall support running SSH sessions with the remote compute instances"

[2019-09-06 17:19] sidoruka opened #640 "`pipe` shall implement scp-like data transfer with the remote compute instances"
See @ekazachkova comment below for the details

[2019-09-06 17:19] sidoruka commented on #640
Backport to `release/v0.15`

[2019-09-06 17:20] sidoruka commented on #638
Backport to `release/v0.15`

[2019-09-06 17:20] sidoruka commented on #637
Backport to `release/v0.15`

[2019-09-06 17:20] sidoruka commented on #635
Backport to `release/v0.15`

[2019-09-06 17:40] sidoruka opened #641 "pipectl shall allow to configure separate IdP certificates for the services"
Currently, only a single pair of `FederationMetadata.xml` and `signing.cert` can be used for all the services (i.e. `api`, `git`, `share`), when deployed via the `pipectl`

Certain IdPs issue separate metadata and certs for all the endpoints

`pipectl` shall be able to handle such cases

[2019-09-06 17:46] sidoruka opened #642 "pipectl shall allow to deploy a single ingress endpoint for all the services"

[2019-09-06 17:47] sidoruka commented on #641
Backport to `release/0.15`

[2019-09-06 18:02] sidoruka commented on #630
Backport to `release/0.15`

[2019-09-06 18:23] sidoruka commented on #630
Cherry-picked to `release/0.15` via 7ca3c5e and 8bfe150

[2019-09-06 18:24] sidoruka commented on #638
Cherry-picked to `release/0.15` via 3a7c7f9db3fea84c60e1de03648e3e9c8b5745a8

[2019-09-06 18:24] sidoruka commented on #637
Cherry-picked to `release/0.15` via 6d384765c26b229065e6d470049356b1557ad12a

[2019-09-06 18:26] sidoruka commented on #635
Cherry-picked to `release/0.15` via ccf3baa

[2019-09-07 21:31] sidoruka opened #643 "Broken layouts"
Some of the page layouts are broken:

![image](https://user-images.githubusercontent.com/20998291/64480402-b49af380-d1cf-11e9-9c7c-8fe3f25a8ea1.png)

#274
![image](https://user-images.githubusercontent.com/20998291/64480413-c8465a00-d1cf-11e9-9a76-056aa2c199f5.png)

![image](https://user-images.githubusercontent.com/20998291/64480420-06437e00-d1d0-11e9-8246-ddba1eeff3dd.png)

[2019-09-07 21:32] sidoruka commented on #643
Backport to `release/0.15` if these issues affect it

[2019-09-09 12:50] kamyshova opened #644 "Incorrect metadata displaying"
**Version**: `0.16.0.2440.215fd7abe5a2a5d2586e4ff8b088dfd3608a56e8`

It looks like that metadata layout was broken.
When clicking a `Sample` object, we go to the page looks like this:

![image](https://user-images.githubusercontent.com/23356251/64531685-bcb27a80-d318-11e9-97c0-271c788b3175.png)

Besides, when I click on `the settings` button, I receive the following result

![image](https://user-i

[2019-09-09 14:19] sidoruka opened #645 "Rename GitLab's repository if the name of the Pipeline is changed"
At the moment, if the `Pipeline` is renamed - the underlying gitlab repository keeps the previous name.

We shall:
* Research is it feasible to rename the gitlab repo (without the side-effects)
* Research if the current mapping of the Cloud Pipeline permissions to the GitLab roles - allows renaming the repositories
* If so - implement this feature:
  * Rename the GitLab repo if the Cloud Pipeline

[2019-09-09 14:28] sidoruka opened #646 "Track the confirmation of the "Blocking" notifications"
# Background

At the moment, "Blocking" notifications require the user to click the `Confirm` button before proceeding with the GUI operations.

This action is tracked only within the local workstation and is not passed to the API.

In certain cases, it is handy to be able to check which users confirmed the notification.

# Action items

## API

* API shall expose `/notification/confirm` method. T

[2019-09-09 18:33] sidoruka commented on #641
Backported to `release/0.15` via acb45af

[2019-09-09 18:33] #641 closed, assigned to sidoruka

[2019-09-10 11:29] sidoruka opened #647 "Introduce platform-wide "read-only" mode"
In certain cases (e.g. if we need to deploy a new version of the Platform) it is required to:
* Allow only `read` operations for the users.
* Any `write` and `execute` shall be forbidden (except the `ROLE_ADMIN` users)
* This feature shall be enabled for the administrators as a boolean `preference`
* Existing jobs shall not be affected
* If the preference is set - GUI/CLI shall display a correspon

[2019-09-10 11:50] sidoruka opened #648 "`git-sync` shall not fail the whole object synchronization if a single entry errors"
When the `git-sync` script processes a repository and fails to sync specific user permissions (e.g. git exception is thrown) - the subsequent users are not processed for that repository.

Please make the repository sync routine not to fail if a single user cannot be synced (but keep the logs)

[2019-09-10 11:50] sidoruka commented on #648
Backport to `release/0.15`

[2019-09-10 13:50] kamyshova opened #649 "AWS: Auto pause and auto stop don't work"
**Version**: `0.16.0.2460.9bbfc3b7ffc5bd671c4774e7f2d8327910735d3e`

When user sets auto pause/stop preferences its doesn't work for pipeline runs.

**Steps to reproduce auto-pause:**
1. Login as admin
2. Open system "Settings" window
3. Select "Preferences" tab
4. Click on "System" menu item in the left panel
5. Input into "system.max.idle.timeout.minutes" field value "2"
6. Input into "system.id

[2019-09-10 19:24] #630 closed, assigned to TimSPb89

[2019-09-10 19:24] sidoruka commented on #635
@kamyshova could you please check the fix?

[2019-09-11 16:09] kamyshova commented on #635
@sidoruka Fixed

[2019-09-11 16:09] #635 closed, assigned to nobody

[2019-09-11 17:45] sidoruka opened #652 "Allow to specify a custom value to the "maxAuthenticationAge""
If the IdP reuses a session for a user - we can get `Authentication statement is too old to be used with value` exception.
Spring SAML is by default configured to not let user login if the authentication was performed more than 7200 seconds ago.

Let's introduce another option to the `application.properties` (SAML/SSO) section to allow a custom value for the [maxAuthenticationAge` parameter](https

[2019-09-11 17:45] sidoruka commented on #652
Backport to `release/0.15`

[2019-09-12 09:06] kamyshova commented on #649
Fixed

[2019-09-12 09:06] #649 closed, assigned to SilinPavel

[2019-09-12 10:07] sidoruka opened #654 "`pipe` shall be installed as a prebuilt binary for the compute jobs"
`pipe` shall be installed as a prebuilt binary for the compute jobs, instead of the installation from sources package.

[2019-09-12 10:08] sidoruka commented on #654
Backport to `release/0.15`

[2019-09-12 15:57] rodichenko commented on #644
@kamyshova fixed with **react-table** of version **6.7.6**, can you re-check please?

[2019-09-12 16:27] rodichenko commented on #643
@sidoruka backported to release/0.15 (c7384df277091fbcd363324844d7f1e7e8b6b293)

[2019-09-12 16:30] NShaforostov commented on #616
Figured out.
Option `-dt` allows to output runs **_completed_** before specified datetime.
Since the `view-runs` command outputs by default information about active runs, then for using that command with the `-dt` option - one of the **_completed statuses_** must be specified.

@ekazachkova, can you add the output of the auxiliary message, e.g. `Run status shall be specified in the request`, for t

[2019-09-12 16:34] rodichenko commented on #644
@sidoruka backported to release/0.15

[2019-09-13 12:47] sidoruka commented on #654
Moved to `0.15` via a87cf37704e6455c04b0787f863001224f0e96d6

[2019-09-13 12:47] #654 closed, assigned to sidoruka

[2019-09-13 12:48] SilinPavel commented on #624
@Wedds
First step:
1. Introduce new field Map<String, String> tags for PipelineRun
2. Using Postgre jsonb type functionality change SQL queries to be able to join table metadata for corresponding entity_id and entity_class and select tags (you should select only "tags" field from data column)
3. Change RowMapper from PipelineRunDao to be able to parse and set tags from pipelineRun object

[2019-09-13 15:52] kamyshova commented on #644
@rodichenko Fixed. Thanks!

[2019-09-13 15:52] #644 closed, assigned to rodichenko, TimSPb89

[2019-09-13 16:35] rodichenko commented on #648
@sidoruka backported to release/0.15 (ea50e4b47ec1825e229bbf9bea6580d509c48646)

[2019-09-13 19:21] sidoruka commented on #223
Please add some API configurations, that will allow controlling FSBrowser behavior.
Each configuration item (if set) shall be passed to the container's environment variables:

* `storage.fsbrowser.port`:
  * Type: int
  * Default value: 8091
  * Validation: > 1000
  * Visibility: true
  * Env var: `CP_FSBROWSER_PORT`
* `storage.fsbrowser.wd`:
  * Type: string
  * Default value: "/"
  * Validation:

[2019-09-16 09:30] NShaforostov commented on #606
Verified

[2019-09-16 09:30] #606 closed, assigned to sidoruka, ekazachkova

[2019-09-16 09:43] NShaforostov commented on #616
Verified

[2019-09-16 09:43] #616 closed, assigned to sidoruka, ekazachkova

[2019-09-16 16:13] sidoruka commented on #616
Cherry-picked to `release/0.15` via 96dafe2

[2019-09-16 16:15] sidoruka commented on #652
Cherry-picked to `release/0.15` via ef5085ae76ce6d34306244af732799cde035ed18

[2019-09-16 18:53] sidoruka opened #663 "Add app information to the windows pipe distribution"
At the moment, `pipe.exe` (windows distr) does not contain any relevant metadata about the app.
We shall add more information regarding Company, Version, etc. and an icon as well

PyInstaller's [--version-file and --icon](https://pyinstaller.readthedocs.io/en/stable/usage.html#windows-specific-options) can be used for that

Related to #540

[2019-09-16 18:54] sidoruka commented on #663
Backport to `release/0.15`

[2019-09-16 19:59] sidoruka commented on #663
Cherry-picked to `release/0.15` via 3b6388f and 80b3e8b

[2019-09-17 09:43] #663 closed, assigned to sidoruka

[2019-09-17 10:30] sidoruka commented on #646
This feature shall be backported to `release/0.15`

[2019-09-17 13:49] SilinPavel opened #666 "Introduce tags for PipelineRun"
This issue propose to add tags for PipelineRun to be able to solve #624

- Tag should have nave and value
- Tags should be returned along with pipeline run

[2019-09-17 13:55] SilinPavel commented on #666
@Wedds To solve this issue let's implement the next steps:

1.  Introduce new **jsonb** column for tags in pipeline run table
2.  Introduce new field Map<String, String> tags for PipelineRun
3.  Using Postgre jsonb type functionality implement CRUD methods for tags (change methods fro loading run, add method for updating tags for specific run)
4. Implement parsing of tags to Map<String, String>, f

[2019-09-17 14:22] NShaforostov opened #667 "Incorrect behavior of the "Limit mounts" form"
### Case 1
1. Open "Select data storages to limit mounts" form (from the Launch page or the Pipeline Configuration page)
2. Click the "Clear selection" button
3. Click the "Select all" button
4. Uncheck some checkboxes
5. Click the "OK" button

**_Exp._**: only checked storages are shown at the "Limit mounts" field
**_Act._**: "All available storages" is shown at the "Limit mounts" field

### Case

[2019-09-17 15:01] rodichenko commented on #667
@NShaforostov @sidoruka fixed, backported to release/0.15 (e02d4938c132803c9446801c7702088acb706713)

[2019-09-17 17:29] NShaforostov commented on #667
@rodichenko Described bugs fixed.
But another one appears:
1. Open "Select data storages to limit mounts" form (from the Launch page or the Pipeline Configuration page)
2. Click the "Clear selection" button
3. Try to check any checkbox
_Exp._: clicked checkboxes become "checked"
_Act._: clicked checkboxes are still unchecked
4. Click the "OK" button

**_Exp._**: only checked storages are shown at

[2019-09-18 09:07] rodichenko commented on #667
@NShaforostov fixed, can you re-check please?

[2019-09-18 09:29] NShaforostov commented on #667
Verified

[2019-09-18 09:29] #667 closed, assigned to rodichenko

[2019-09-18 18:36] sidoruka opened #671 "Cannot view contents of the tar.gz downloaded from the FSBrowser"
Related to #223

If a directory is downloaded via the FSBrowser (as a tar.gz) - it cannot be viewed using Linux or MacOS.

`Permission denied` is thrown. It seems that `tar.gz` is configured to keep the original permissions. We shall, probably, drop them.

[2019-09-19 09:06] SilinPavel commented on #666
checked, works fine.

[2019-09-19 09:06] #666 closed, assigned to SilinPavel, Wedds

[2019-09-19 11:24] SilinPavel commented on #624
@Wedds
Lets implement the next steps:
1) In the ResourceMonitoringManager change `processRuns` method to set new tag `IDLED=true` or delete previous value if needed to pipelineRun
2) In the ResourceMonitoringManager change `processOverloadedRuns` method to set to runs new tag `PRESSURED=true` or delete previous if needed and collect this runs to list
3) Implement method `updateTags(List<PipelineRu

[2019-09-19 11:45] sidoruka opened #672 "FSBrowser shall (optionally) follow symlinks when packing directory into tar.gz"
Related to #223

If a directory, containing symlinks, is downloaded - the resulting tar.gz will contain a "broken" symlink (i.e. pointing to the compute node's location).

We shall add an option to the FSBrowser server startup, which allows to follow to skip the symlinks. Default behavior is "follow"

[2019-09-19 12:31] SilinPavel opened #673 "Support AWS EC2 Instance Role Credentials"
AWS provides opportunity to user EC2 roles to be able to login into the cloud from ec2 instance (https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/iam-roles-for-amazon-ec2.html)

In order to support this future we need to review all communication with AWS to understand what should be change to be able to work with EC2 role credentials (Most of the functionality should work out of the box because

[2019-09-19 12:35] sidoruka commented on #646
Moved to `release/0.15` via 354bd89d48830b7340fe487820ec68b7f97b5fb3 e141b71206a8be74cd5c9a28d0296c180f1b403e 6f7f5ea3c44087b00df8c551dc533e3c43664f28

[2019-09-19 12:40] sidoruka commented on #607
Moved to `release/0.15` via 83e6b3e85dc677b8cff52f299191e20d5479fbbf

[2019-09-19 12:40] sidoruka commented on #609
Moved to `release/0.15` via 5f23ffcf18c017f6fe3cfba79a34856994314822

[2019-09-19 12:46] SilinPavel commented on #673
Mounting bucket on a run instance:

As for now we fetch cloud credentials from env vars when mount s3 storages to run instances.
There 2 scenarios is possible:
1) In cloud region explicitly specified profile - if it so credentials from this profile will be passed to the instance
2) Cloud region doesn't have credentials profile - in this case default credentials chain will be used

When ec2 instanc

[2019-09-19 14:29] sidoruka commented on #646
@NShaforostov please add this feature to the `0.15` release notes and [User attributes info page](https://epam.github.io/cloud-pipeline/manual/12_Manage_Settings/12.4._Edit_delete_a_user/#attributes)

[2019-09-19 15:03] ekazachkova commented on #671
Fixed: added permissions `-rwxrwxr--` to files into archive.
This action doesn't affect permissions for original files.
Extracted files have `-rwxrwxr--` permissions and current user as owner.
@sidoruka  could you check this fix?

[2019-09-20 11:46] sidoruka opened #675 "Kube HA deployment"
Related to #292

Steps:
1. Migrate kube to `1.15.4`
2. Setup first master setup ready for the HA configuration
3. Implement new master attachment to the cluster via `pipectl`
4. Implement `self-balanced` approach for the worker nodes

[2019-09-20 14:43] ekazachkova commented on #672
Fixed
@sidoruka could you check?

[2019-09-20 15:15] sidoruka commented on #671
looks good

[2019-09-20 15:15] #671 closed, assigned to ekazachkova

[2019-09-20 15:15] sidoruka commented on #672
nice

[2019-09-20 15:15] #672 closed, assigned to ekazachkova

[2019-09-20 17:42] sidoruka opened #679 "`pipe` shall support mounting Object Storages data storages to Linux and Mac workstations"

[2019-09-20 18:26] NShaforostov commented on #646
Corresponding doc was added by 191d0a606fc955964adbd508ffbb2215d17305bd to #650

[2019-09-23 11:01] NShaforostov commented on #607
Verified

[2019-09-23 11:01] #607 closed, assigned to sidoruka, ekazachkova

[2019-09-23 15:13] sidoruka opened #680 "Implement Cloud Pipeline HA deployment"
This is an _umbrella_ issue to track all the HA-related tasks

# Components
* Kube
  * Issue: https://github.com/epam/cloud-pipeline/issues/675
  * Status: **TODO**

* API
  * Issue: https://github.com/epam/cloud-pipeline/issues/292
  * Status: **TODO**

* EDGE
  * Issue: **TODO**
  * Status: **TODO**

* Clair
  * Issue: **TODO**
  * Status: **TODO**

* WebDAV
  * Issue: **TODO**
  * Status: **TOD

[2019-09-23 15:21] mzueva commented on #645
@Wedds Please, check whether Gitlab CE has API to rename repository/project and if it works correctly on our version.

[2019-09-23 15:46] #334 closed, assigned to SilinPavel, mzueva

[2019-09-23 15:47] #646 closed, assigned to rodichenko, tcibinan

[2019-09-23 19:46] sidoruka opened #681 "Can't download file/archive from the FSBrowser GUI using Azure"
#223 related

Can't download file/archive from the FSBrowser GUI using Azure:
1. The textfiles are opened in the web-browser window
2. Binary files throw erroe

[2019-09-24 10:00] NShaforostov commented on #609
Verified

[2019-09-24 10:00] #609 closed, assigned to sidoruka, ekazachkova

[2019-09-24 10:37] rodichenko commented on #681
@sidoruka fixed.
Also, there is an issue while uploading files: server responds `Failed to load generated upload url for storage ID 1. Error message: Exceeded maximum retry count 3 for API request`

[2019-09-24 11:26] sidoruka commented on #681
@mzueva please take a look into the upload issue, when you'll have time

[2019-09-24 13:16] mzueva commented on #645
@Wedds `PipelineManager.update` method shall check if name of pipeline has actually changed and rename underlying gitlab repository as well. Notes:

- Method to rename gitlab repository shall be added to `GitManager` and `GitClient` classes.
- Do not forget to update `Pipeline` fields `repository` and `repositorySsh` fields after renaming of repository
- If process of repository renaming fails, al

[2019-09-24 15:48] NewOlya opened #682 "Sorting files inside object storages and FS mounts"
### Background

As the `Object storages` and `FS mounts` could store lots of files, for the fast access and search through them it would be helpful to have the ability to sort files inside storages and mounts.

The system shall allow users to sort files inside object storages and FS mounts:
- sorting could be performed by the file **Name**, **Size** or **Date changed**
- sorting UI could be simila

[2019-09-25 09:33] NewOlya opened #683 "Moving files/folders inside a storage or to another storage via GUI"
### Background
Currently, via GUI users can't move files or folders in storage to any other place of the storage "hierarchy". It would be convenient to have the ability to move files or folders - to another folder of the storage or to another storage.

When user selects some files/folders in the storage, the **Move** button shall appear. If user clicks it - the modal window appears, in which user

[2019-09-25 12:35] NewOlya opened #684 "Collecting event logs"
## Background
The Cloud Pipeline platform shall collect logs from all events that occur in the system - to trace back actions for bug fixes or identify incorrect user actions.

## Approach
We need to check which logs are currently collected and implement the gathering of "missing" events logs that haven't been collecting yet.
All logs shall be collecting automatically.

### Events
Events that shal

[2019-09-25 13:04] NewOlya opened #685 "Downloading files/folders as an archive using bulk actions"
### Background
Currently, via GUI users can download files from storages/FS mounts one by one. Folders couldn't be downloaded at all. It would be more convenient for the user to have the ability to select a bunch of files/folders and download them as an archive to his local machine.

### Approach
When user selects some files/folders in the storage, the Download button shall appear. If the user cli

[2019-09-25 13:30] mzueva opened #686 "HA Deployment: API method to get list of available masters"
Related to #292
Add new API method **_GET /cluster/master_** to the main API module.

- This method shall return list of master nodes for k8s with status **_READY_**.
- Master nodes are labeled with **node-role.kubernetes.io/master** (check for v1.15 and multi-master deployment)
- Master node description shall include: name, internalIP, port

[2019-09-25 13:32] mzueva commented on #686
@sidoruka TBD: how to get k8s API port?
- use some default value from envars
- add it as label to master nodes

[2019-09-25 13:50] mzueva opened #687 "HA Deployment: API Autoscaler shall create system nodes"
Related to #292

# Background
Currently `pipectl` is capable of single node deployment, where all the system pods (api, db, etc.) are deployed on a single node. In order to move these pods to a separate nodes we need to manually create instance in the cloud and add it to the k8s cluster. It would be great to reuse `Autoscaler` capabilities to create such system nodes automatically.

# Approach
`Au

[2019-09-25 14:12] mzueva opened #688 "HA Deployment: Scheduled tasks shall by synchronised between multiple services"
Related to #292

# Background
We need to run a multiple copies of our services (API, notifier, elasticsearch synchronizer, etc.) to support HA deployment, but most of the scheduled tasks, e.g. autoscaling in API, cannot run in parallel and we shall allow only one running copy of such task at once among the whole deployment.

In order to implement such synchronisation we'll consider that only one i

[2019-09-25 15:38] NewOlya opened #690 "Retention period for the FS mounts"
**Background**
Retention periods are already in place for the Object Storages.
A similar feature should be implemented for the File Storages.

**Approach**
While the FS mount is being created/edited, users shall have the ability to set a data retention period. After that period expiration date, there are two possible ways:
1) data will be removed
2) data will be transferred to the "archive" Object

[2019-09-26 11:52] SilinPavel opened #691 "Git sync script fails when registered user from CP doesn't have email adress"
It seems that git sync script fails when it tries to sync gitlab with CP server, that has registered user without email.

Steps to reproduce:
1. Create new user in the CP
2. see logs from git-sych pod

expected: user without email is skipped
actual: error message
[code]

[2019-09-26 11:54] sidoruka commented on #691
Backport to `release/0.15`

[2019-09-26 11:55] sidoruka commented on #691
#648 related

[2019-09-26 13:20] rodichenko commented on #691
@SilinPavel @sidoruka fixed. Backported to release/0.15 (6205470720ed56286f90f98963a2d4682b045ee4)

[2019-09-30 11:37] kamyshova opened #694 "Owner attribute of storage file is not available from time to time"
When test clicks on a storage file, an error appears instead of the user name attribute from time to time.

**Steps to reproduce the behavior:**
1. Open "Library" page
2. Hover over "+ Create v" button
3. In an appeared list select "Storages" item -> click on "Create new object storage" item
4. Specify a valid storage path
5. Click "Create" button
6. Open created storage
7. Click "Upload" button
8

[2019-09-30 11:39] mzueva commented on #312
@rodichenko GET `/versions` API now returns `author` field with commiter name

[2019-09-30 15:19] ekazachkova commented on #640
This issue can be implemented with the following way:
A new Pipeline CLI option shall be introduced:
[code]
where
- `--run-id` ID of the job running in the platform to establish SSH connection with
- `-q` Quiet mode
- `-r` Recursive source scan
- `-f` Rewrite files in destination

Lets consider possible workflows:

1. source is the file
- if `source` file does not exists an error shall be occurred

[2019-10-01 07:03] mzueva commented on #645
@sidoruka deployed to dev

[2019-10-01 07:41] sidoruka opened #696 "Expose "/info" (or similar) API endpoint"
**Background**
At the moment, Cloud Pipeline does not allow to get the information on the current version/setup, but in certain cases it would be nice to have an API method to get the general info.
E.g.:
- Health check
- Version number (to check for updates/compatibility)

**Approach**
- Introduce `GET /info` API method
- It shall be available without authentication
- It shall return JSON object:

[2019-10-01 07:47] sidoruka opened #697 ""pipe" shall consider current API version"
**Background**
At the moment, Cloud Pipeline CLI does not consider the API server version. It would be nice to show the server's version to the user and consider it when performing the update

Previously, there was no option to get the API server version, but this is going to be introduced by #696

**Approach**
- Before performing the actual download/update of the `pipe cli` version (introduced by

[2019-10-01 09:07] mzueva commented on #688
@Wedds configure `ShedLock` annotation for es module `ElasticsearchAgentService` class
Docs: https://www.baeldung.com/shedlock-spring

[2019-10-01 12:28] kamyshova opened #699 "Could not add existing pipeline in gitlab repository to CP"
When we add an existing pipeline in the gitlab repository to the CP the following error occurs: `Unexpected response status code: 404 Message: {"message":"404 Project Not Found"}`

**Steps to reproduce the behavior:**
1. Open library
2. Open an existing pipeline
3. Click on "Git repository" in the upper right corner of the page
4. Copy the value from an appeared "Git repository" field
5. Click on

[2019-10-01 13:04] kamyshova opened #700 "The created pipeline is available for permissible user with delayed"
If we create a new pipeline, give a permission on WRITE & EXECUTE to some second user and then login by second user to CP we get the following error instead of the new created pipeline content:
`Unexpected response status code: 404 Message: {"message":"404 Project Not Found"}`

The correct display of the pipeline appears after some time.

**Steps to reproduce the behavior:**
1. Login as admin
2. O

[2019-10-01 14:14] mzueva commented on #623
@rodichenko now method **_GET role/loadAll_** returns **_blocked_** flag. If we need to add this field to any other method, please let me know.
Setting block status is available via **_POST /group/{role_name}/block_** method.

[2019-10-01 15:04] NewOlya opened #703 "Implement a single form for viewing all Cloud Pipeline logs"
## Background

As was described in #684 the Cloud Pipeline platform shall collect lots of different event logs.
The users shall have the ability to conveniently view and search through these logs - via the special "Event logs page" (or form) that shall be implemented.

## Approach

1. Access to the logs page shall have all users:
   - non-admin users shall have an ability to view only their own ev

[2019-10-01 16:29] #699 closed, assigned to SilinPavel

[2019-10-01 16:49] sidoruka commented on #223
Works fine for AWS/GCP. #681 shall be considered for the futher development, but this one seems ok to document.

@NShaforostov ping

[2019-10-01 17:20] #619 closed, assigned to rodichenko

[2019-10-01 17:34] #696 closed, assigned to mzueva

[2019-10-01 17:34] #620 closed, assigned to mzueva

[2019-10-01 17:37] #643 closed, assigned to rodichenko

[2019-10-01 17:55] sidoruka commented on #645
Works great
@NShaforostov please proceed with the docs update

[2019-10-01 17:56] #594 closed, assigned to rodichenko, mzueva, ekazachkova

[2019-10-01 17:58] sidoruka commented on #691
@SilinPavel could you please confirm the fix?

[2019-10-01 17:58] #652 closed, assigned to SilinPavel

[2019-10-02 10:36] SilinPavel opened #706 "/filter/run doesn't return tags for runs"
**Describe the bug**
when /filter/run is called it doesn't return tags for run

[2019-10-02 10:40] SilinPavel commented on #691
@sidoruka @rodichenko works well for now

[2019-10-02 10:57] mzueva opened #707 "Get node disk statistics from Elasticsearch"
**Background**
With merge of #306 API will have an option of retrieving node usage statistics from Elasticsearch rather than from CAdvisor endpoint. But we still use CAdvisor for disk usage check while launching a new run or committing a docker image. It would be great to have an option to get disk usage from Elasticsearch as well.

**Approach**

- Introduce a new method `getDiskAvailableForDocker

[2019-10-02 11:04] mzueva commented on #706
@Wedds If a bug exists, please, add some test for fix.

[2019-10-02 14:59] NewOlya opened #710 "Upgrade Global Search to look inside files content and metadata"
### Background

The current implementation of the **Global Search** feature has some minor limitations for searching in object storages - files can be founded only by their names.
It would be convenient to extend the **Global Search** feature so that users can also search files through:
- file contents
- file metadata (tags)

[2019-10-02 16:04] mzueva opened #711 "Azure: instance types shall be created without offerId"
**Background**
Currently we require user to specify field **_"Price Offer ID"_** when Azure region is created. This value is used to get prices for VMs and disks, but actual list of available VMs and disks can be retrieved without it.

**Approach**
Process of price list update for Azure shall not fail if **_"Price Offer ID"_** is not specified for a region. In this case API shall load list of VMs

[2019-10-03 14:57] kamyshova commented on #700
Fixed

[2019-10-03 14:57] #700 closed, assigned to SilinPavel

[2019-10-04 12:56] kamyshova opened #717 "AWS: Auto pause doesn't work"
When user sets auto pause preferences its doesn't work for pipeline runs.

**Steps to reproduce the behavior:**
1. Login as admin
2. Open system "Settings" window
3. Select "Preferences" tab
4. Click on "System" menu item in the left panel
5. Input into "system.max.idle.timeout.minutes" field value "2"
6. Input into "system.idle.action.timeout.minutes" field value "2"
7. Input into "system.idle.cp

[2019-10-07 06:20] rodichenko commented on #312
@sidoruka 00cbd281085e78be9459545aeafa150682aa84eb implements GUI part

[2019-10-07 13:34] sidoruka opened #719 "SSH_PASS is not set for the resumed jobs"
**Describe the bug**
`SSH_PASS` environment variable is empty, when the run is resumed

**To Reproduce**
Steps to reproduce the behavior:
1. Run a job and verify the `SSH_PASS` variable (e.g. `kubectl describe po pipeline-N`) is set correctly
2. Pause and resume a job
4. `SSH_PASS` is set to an empty value

**Expected behavior**
It is expected, that the `SSH_PASS` value is set to the previous valu

[2019-10-07 13:34] sidoruka commented on #719
@mzueva if you prove, that this is a `bug` - please backport the fix to `release/0.15`

[2019-10-07 13:42] sidoruka opened #720 "NPE while creating the new pipeline"
**Describe the bug**
NPE is thrown, when creating a new pipeline using the fresh deployment of the platform

**To Reproduce**
Steps to reproduce the behavior:
1. (use a fresh deployment of the platform: no pipelines exist, gitlab is empty)
2. Start creating a new pipeline (e.g. using `DEFAULT` templates and a `pipeline1` name)
3. Click `Create`
4. `We've encountered a server error` message is show

[2019-10-07 14:06] mzueva commented on #720
@sidoruka this error will be thrown if SystemPreference `git.user.id` is not specified

[2019-10-07 14:18] NShaforostov opened #721 "The "DATA" section of Global Search results doesn't display"
**Describe the bug**
An error occurs when trying to view the "DATA" section of Global Search results.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the Global Search bar
2. Specify into the search bar any existing object storage name
3. Click the "DATA" button of the search menu
4. See the error `Missing index name for type: GS_FILE`

**Expected behavior**
Object storage list appears

[2019-10-07 14:25] SilinPavel commented on #717
@kamyshova Should be fixed with #718

[2019-10-07 15:11] mzueva commented on #720
@SilinPavel This error is related to method call `GitlabClient.getUser` in `GitlabClient` constructor. At the moment of deployment `pipe_admin` user is not created in Gitlab yet, deployment scripts try to set git preferences and check `SystemPreferences.areGitPreferencesValid` fails.

[2019-10-07 16:22] mzueva commented on #719
@sidoruka fixed and backported to `release/0.15`

[2019-10-07 16:32] kamyshova commented on #717
@SilinPavel Fixed

[2019-10-07 16:32] #717 closed, assigned to SilinPavel

[2019-10-08 09:09] rodichenko commented on #623
@mzueva thank you! It would be nice if you add `blocked` flag to ***GET /role/{role_id}*** method as well.

[2019-10-08 13:57] rodichenko commented on #623
@mzueva @sidoruka GUI part implemented (#727)

[2019-10-09 09:00] sidoruka opened #728 "IDLE/Pressure tags shall not be applied to the paused runs"
**Background**
With the #624 implementation, we can see which jobs are idle or under resource pressure. But there is a confusion with the PAUSED runs. E.g. if a job was used, while idle - the `IDLE` tag will be shown for the user, but this is not true as the node is stopped and cannot be idle or under pressure.

**Approach**
Let's drop the `IDLE` and `PRESSURE` tags when a job is being paused (it

[2019-10-09 10:38] sidoruka opened #729 "Runs tags lowercase"
**Describe the bug**
Run tags are shown in lower case in the `Instance` properties header, while it is shown uppercase in the other locations

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the run details form for the IDLE or PRESSURE job
2. Review the tag in the `Instance` properties header
3. Expand the `Instance` properties header
4. Review the tag in the `Instance` properties deta

[2019-10-09 11:38] sidoruka opened #731 "Fine tune the resource usage form"
**Background**
As the #168 is implemented, let's consider a number of cosmetic/ux improvements to the resource monitoring form

**Approach**
1. When the `Live Update` is unticked - remove the `End` period limit, so we'll get all the history
2. Do not update the view the chart is clicked
3. Sort disks by the device name
4. When zooming-in - request left/right regions as well to make the chart look

[2019-10-10 15:48] mzueva commented on #721
Fixed, it was configuration problem of dev stand.

[2019-10-10 16:32] NShaforostov commented on #721
Verified

[2019-10-10 16:32] #721 closed, assigned to sidoruka

[2019-10-11 17:54] NShaforostov commented on #682
@sidoruka, review the issue, please.

[2019-10-11 17:54] NShaforostov commented on #683
@sidoruka, review the issue, please.

[2019-10-11 17:55] NShaforostov commented on #685
@sidoruka, review the issue, please.

[2019-10-11 17:55] NShaforostov commented on #710
@sidoruka, review the issue, please.

[2019-10-14 08:28] sidoruka commented on #707
@SilinPavel @mzueva if this is implemented - please apply a correct `status` label

[2019-10-14 10:41] mzueva opened #733 "Search: ES synchronization improvements"
**Background**
Recent performance tests have shown that Elasticsearch synchronization is prone to OutOfMemory errors in case of large amount of synchronized data or large size of individual documents (run logs, files in Gitlab).

**Approach**
We shall introduce a number of improvements to have a better control over memory consumption and make synchronization more stable.
1. Process of events loadi

[2019-10-14 11:30] sidoruka opened #734 "EDGE shall allow to limit the number of concurrent SSH sessions"
**Background**
At the moment, Web SSH performance will degrade if 1000+ SSH sessions are established via EDGE service.
While it is not common, but it's critical as it affects all the users.

**Approach**
Introduce a parameter for the EDGE server (with a default of `25`), that will allow to control a number of simultaneous SSH connections to a single job.

[2019-10-14 11:33] mzueva commented on #673
@SilinPavel Currently we observe that using instance role credentials for AWS authorization breaks only S3 bucket mounts. In order to fix this:
1. Introduce an environment variable `CP_USE_PIPE_MOUNT`, if it set to `true` use `pipe storage mount` command for S3 mounts
2. If API is currently using instance role credentials (determine by setting specific `SESSION_TOKEN`? container variable), try to

[2019-10-14 11:56] sidoruka opened #735 "Remove python environment requirement from the CLI install instructions"
**Background**
At the moment, Cloud Pipeline CLI settings dialog tells the user, that `Python 2 or Python 3 environment is required to run CLI` but this is not true for `Windows` and `Linux`.

**Approach**
1. Remove `Python 2 or Python 3 environment is required to run CLI` notification from the web-form
2. Add corresponding notification for the `Other` option via `ui.pipe.cli.install.template` pre

[2019-10-14 11:57] sidoruka commented on #735
@rodichenko please take care of (1) and backport to `release/0.15`

[2019-10-14 18:05] NShaforostov commented on #597
Verified (on GCP and AZURE stands)

[2019-10-15 13:08] kamyshova opened #738 "AWS: Auto pause doesn't work"
When user sets auto pause preferences its doesn't work for pipeline runs.

**Steps to reproduce the behavior:**
1.     Login as admin
2.     Open system "Settings" window
3.     Select "Preferences" tab
4.     Click on "System" menu item in the left panel
5.     Input into "system.max.idle.timeout.minutes" field value "2"
6.     Input into "system.idle.action.timeout.minutes" field value "2"
7.

[2019-10-15 17:33] mzueva opened #741 "Improve performance API methods for PipelineRun loading"
**Background**
Several API methods for loading `PipelineRun` entities use non-optimal SQL queries to load data from DB, this may lead to a poor performance.

**Approach**
Optimize SQL queries used in the following API methods:
- `GET /run/${runid}`
- `POST /run/filter`

[2019-10-16 09:30] SilinPavel opened #743 "EndDate isn't set when terminate node of a paused run"
**Describe the bug**
When user terminate node of a paused run `endDate` for that run isn't set.

**To Reproduce**
Steps to reproduce the behavior:
1. Run new pipeline
2. Wait until it will be paused
3. Click `TERMINATE` button on a Run View page
4. Request information about this run with swagger or other tool, observe that `endDate` is not set

**Expected behavior**
`endDate` set to value when nod

[2019-10-16 10:38] mzueva opened #744 "AWS: Nodeup retry process may stuck when first attempt to create a spot instance failed"
**Describe the bug**
We observer the following behaviour when running AWS spot instances:

1. First nodeup attempt creates SpotRequest, waits for its fulfilment, finds created instance and waits for instance running state and connection on 8888 port
2. Connection on 8888 port is not available in exepected amount of attempts and current
 nodeup attempt is failed, instance is terminated.
3. Second n

[2019-10-16 12:28] sidoruka opened #746 "pipe-cli one-folder distribution"
**Background**
At the moment, Cloud Pipeline CLI for Linux is distributed as a single binary, which is unpacked on the fly.
While this is quite handy, for certain environments with low disk I/O unpacking takes 10-20 seconds.

**Approach**
* Pack `pipe-cli` as a `one-folder` in addition to the existing `one-file`
* Add GUI instructions setup to the `pipectl` for the second option
* Add support for

[2019-10-16 12:31] NewOlya opened #747 "Wrong pipeline info layout in the Library dashboard"
**Describe the bug**
The pipeline description displays incorrectly when both "Attributes" and "Issues" controls are displayed at the Library dashboard

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the "Library"
2. Create a new pipeline
3. Click on created pipeline
3. Click on "Displays" icon
4. Mark both "Attributes" and "Issues" controls
4. See the wrong layout of the "New pipeline

[2019-10-17 14:39] rodichenko commented on #735
@sidoruka part 1 is implemented, backported to `release/0.15`

[2019-10-17 16:46] sidoruka commented on #743
@SilinPavel is it `0.16` only issue or `0.15` shall be also fixed? If so - backport to `release/0.15` branch please

[2019-10-17 17:40] sidoruka commented on #735
part (2) done and backported to `release/0.15` via 3aa767d and
81080b7

[2019-10-17 17:40] #735 closed, assigned to rodichenko

[2019-10-17 18:21] sidoruka commented on #195
@mzueva please take a look

Observed again today in the Azure Dev environment (`0.16.0.3059.b9dbe692746b52c70aba83e0b46c3a9d543638fe`)

[code]

[2019-10-17 18:45] NShaforostov opened #750 "pipe-cli: not-handled error while trying to execute commands with invalid config"
**Describe the bug**
If `pipe` config contains some invalid data (e.g. outdated invalid access token), then trying to execute any `pipe` command including `pipe --version` throws an error that is not handled:
[code]

**Expected behavior**
More graceful and informative error message.

**Environment:**
 - Cloud Provider: AWS, Azure, GCP
 - Version 0.16.0.3059.b9dbe692746b52c70aba83e0b46c3a9d543638fe

[2019-10-17 18:45] NShaforostov commented on #729
Verified. Fixed

[2019-10-18 09:05] sidoruka commented on #744
Cancel spot request when terminating a node

Please backport to `release/0.15`

[2019-10-18 09:26] SilinPavel commented on #743
@sidoruka it is also related to 0.15

[2019-10-18 09:27] mzueva commented on #743
@sidoruka cherry pick to `release/0.15` ad72c4f0

[2019-10-18 12:20] sidoruka commented on #734
The limitation can be now controlled via `CP_EDGE_MAX_SSH_CONNECTIONS` pipectl parameter

[2019-10-18 12:55] sidoruka commented on #734
Moved to `release/0.15`

[2019-10-18 16:51] sidoruka opened #754 "pipe cannot run in el6 Linux distros"
**Describe the bug**
`pipe` binary cannot run in el6 Linux distros, e.g. `centos:6`, `rhel:6.5`, etc
The following error is thrown for every command attempth:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. `docker run -it --rm centos:6 bash`
2. `curl -O https://<cloud-pipeline>/pipeline/pipe`
3. `./pipe --version`
4. `...version 'GLIBC_2.14' not found...`

**Expected behavior**
el6 d

[2019-10-18 16:51] sidoruka commented on #754
This shall be made available in `release/0.15`

[2019-10-18 18:19] NShaforostov commented on #624
I've tried to verify this feature.
The following preferences were set:
- `system.max.idle.timeout.minutes` `1`
- `system.idle.cpu.threshold` `50`

In total, six runs were launched at each stand:
- empty DEFAULT pipeline with enabled the `Start idle` checkbox (**On-Demand** with enabled the `Auto pause` checkbox, **On-Demand** with disabled the `Auto pause` checkbox, **Spot**)
- Ubuntu tool (**On-D

[2019-10-18 18:55] NShaforostov commented on #697
I've tried to verify this feature.
I got the "old" version 0.16.0.2938.b39e1318156277bf71fa30a84ca98506f20522ce and tried to update to version 0.16.0.3090.6ed66ee576c8fc0496b7b4f3a9c8f36dfb06606d:
- In Windows the `pipe update` command worked well.
- In Linux (WSL Ubuntu 18.04):
  - trying to perform the command `pipe update` (call by the command name) from the `home` directory threw the error `Er

[2019-10-18 19:01] sidoruka commented on #754
@mzueva @ekazachkova could you please modify the `pipe update` behavior:
* `pipe update` shall a corresponding distribution URL for the el6 version
* `bundle.info` file contains a distro name and version, used to build the binary: `<distr>:<version>`
* If there is `centos:6` - consider the build as `el6` and use `pipe-el6` for the update URL evaluation
* Include this feature into #751

[2019-10-21 07:31] sidoruka opened #755 "Support for Windows Server containers"
**Background**
At the moment, Cloud Pipeline allows running only Linux-based applications and workloads. This is fine for the majority of the use-cases.
But certain applications (e.g. `Modelling and Simulation` applications) can be run only in the Microsoft Windows environment.

We shall try to implement an approach to run such kind of apps.

**Approach**
* The following modes shall be supported t

[2019-10-21 11:26] mzueva commented on #733
@Wedds We shall add request size limit control to `BulkRequestSender`. Let's additionally split provided `documentRequests` (`indexChunk` method)  into parts matching  `elastic.request.limit.size` from application.properties.
If any single document exceeds this limit, skip it and log appropriate message.

[2019-10-21 11:33] sidoruka opened #757 "Extend vm-monitor's supported events"
**Background**
At the moment, Cloud Pipeline can notify the platform's admins only about the "lost" compute nodes.
There is also a number of the events, that shall be sent to the admins ASAP:
* If one of the Cloud Pipeline's services changes it's state (i.e. goes down or up)
* If one of the certificates is going to expire in N days (shall be configurable)

**Approach**

*Readiness*
* VM-Monitor sh

[2019-10-21 11:33] sidoruka commented on #757
This shall be made available in `release/0.15` as well

[2019-10-21 11:36] mzueva opened #758 "Update k8s deployment specs for Elasticsearch"
**Background**
Related to search issues described in #596. Current Elasticsearch deployment seems to be unstable due to memory management problems (JVM heap is not cleaned properly).

**Approach**
We shall updated k8s deployment specs for Elasticsearch to use official docker image with updated JVM and ES versions.

[2019-10-21 11:38] sidoruka opened #759 "Allow to restrict the visibility of the jobs"
**Background**
At the moment, Cloud Pipeline inherits the jobs' permissions from the parent object (e.g. from a pipeline or a tool). E.g.:
* `user1` launches `tool1` with run id `123`
* `tool1` is readable by `user2`
* `user2` is able to see the the run with id `123`

In certain use cases, this is not desired and shall be limited.

**Approach**
The following behavior shall be implemented to restri

[2019-10-21 11:38] sidoruka commented on #759
This shall be backported to `release/0.15`

[2019-10-21 12:57] NShaforostov commented on #624
**UPD.**
I've additional tried to verify that feature for the `PRESSURE` tag.
It works fine at all stands.

[2019-10-21 13:02] NShaforostov commented on #731
Verified

[2019-10-21 14:07] mzueva commented on #759
@sidoruka Just a minor clarification: `Pipeline runs` inherit permissions only from `Pipelines`, tool runs are visible only to owner and admins.

[2019-10-21 14:17] NShaforostov commented on #738
Verified. Fixed

[2019-10-21 14:17] #738 closed, assigned to SilinPavel

[2019-10-21 15:52] NewOlya opened #761 "Cloud Pipeline shall allow users to generate spendings reports"
### Background
It would be convenient to implement the feature of global spendings control and management that could include the following capabilities:
- generate and view spending reports (tables and charts)
   - for different time periods (e.g. month/quarter/year, etc.)
   - for different spending sources (e.g. storages, launched compute instances, launched tools, etc.)
   - for different level

[2019-10-21 15:59] NewOlya opened #762 "Cloud Pipeline shall allow users to configure spending quotas"
## Background

The Cloud-Pipeline Billing (spending reports) is implemented and users can view their spendings for different periods.
Now, it would be convenient for administrators to have the ability to configure spending quotas - to manage money limits of the platform usage and define different restrictions for users when these limits are achieved that may allow to reduce global spending of the

[2019-10-22 08:42] NShaforostov commented on #690
@sidoruka, review the issue, please.

[2019-10-22 13:32] NShaforostov commented on #734
Verified

[2019-10-22 13:39] NShaforostov commented on #719
Verified

[2019-10-22 13:40] NShaforostov commented on #728
Verified

[2019-10-22 15:26] kamyshova opened #765 "Azure: Storage creation is failing"
**Describe the bug**
When we create a storage on Azure stand the following error occurs:
`Input byte[] should at least have 2 bytes for base64 bytes`

**Steps to reproduce the behavior:**
1. Open library
2. Hover mouse pointer over "+ Create v" button
3. Select "Storages" > "Create new object storage"
4. In pop-up window input valid value into the field "Storage path"
5. Click "Create" button

**E

[2019-10-22 16:53] NShaforostov opened #766 ""Blocking" of the user/group shall prevent access to the Cloud Pipeline platform via the CLI until JWT token expiration"
**Background**
At the moment, via the opportunities implemented at #623 access to the Cloud Pipeline via the GUI can be prevented manually (by the admin) or automatically. But via the CLI, the "blocked" user will have access to the Platform until the JWT token is valid.

For example:
1. Valid user get the access token and use the Cloud Pipeline via the CLI
2. Admin blocks that user via the GUI
3.

[2019-10-22 16:54] NShaforostov commented on #623
I've tried to verify this.
"Blocking/unblocking" manually via GUI works fine (for both - users and groups).

Some notes:
- the ability to set/unset the "blocked" flag for the specific user or a whole group via the Cloud Pipeline CLI shall be implemented
- as I've understood - after that [discussion](https://github.com/epam/cloud-pipeline/issues/623#issuecomment-525679916), it was solved not to cha

[2019-10-22 17:32] #741 closed, assigned to mzueva

[2019-10-22 17:32] #734 closed, assigned to sidoruka

[2019-10-22 17:33] #731 closed, assigned to rodichenko

[2019-10-22 17:33] #729 closed, assigned to rodichenko

[2019-10-22 17:33] #728 closed, assigned to mzueva, Wedds

[2019-10-22 17:34] #720 closed, assigned to SilinPavel, mzueva

[2019-10-22 17:34] #719 closed, assigned to mzueva

[2019-10-22 17:34] #711 closed, assigned to mzueva

[2019-10-22 17:35] sidoruka commented on #697
@mzueva @ekazachkova please take care of this, once you'll have time

[2019-10-22 17:36] #597 closed, assigned to rodichenko

[2019-10-22 17:52] mzueva commented on #765
I fixed Azure deployment and it shall work for now. Despite this I observe two bugs:

1. It is possible to create/update Azure region with missing storage account key #767
2. When a new Azure storage is created validation of it existence doesn't work #768

[2019-10-22 17:54] mzueva commented on #766
@sidoruka This will require changing the approach to JWT handling: currently we fully trust JWT content (including granted roles and groups). In order to support blocked status, we'll need to reload user from DB and revalidate it.

[2019-10-22 17:55] sidoruka commented on #766
Yup, this issue is for "not to forget the implementation in the future"

[2019-10-23 07:03] sidoruka commented on #758
Please move to `release/0.15` as well

[2019-10-23 10:57] mzueva commented on #757
@Wedds
Please, implement a second part of this task:
Add a new scheduled task to `VMMonitor` service. This task shall list all folders provided in application properties, find files matching *.pem extension and validate/notify according to the description above.

[2019-10-23 11:34] mzueva opened #767 "Azure: Server and GUI shall not allow Azure regions without storage account key"
**Describe the bug**
Currently it is possible to save an Azure region without entering `storage account key` value. This leads to a broken configuration and breaks all operations with Azure datastorages.

**Expected behavior**
**Server:** `Storage account key` shall be required when a Azure new region is created. When an Azure region is updated and new value for `Storage account key` is not specif

[2019-10-23 11:45] mzueva opened #768 "Azure: Server shall check Azure Blob existence when a new storage is created"
**Describe the bug**
Currently Server doesn't validate whether Azure Blob exists or not when a new AZ storage is created. If Azure Blob already exists, server will fail request with Azure exception.

**To Reproduce**
Steps to reproduce the behavior:
1. Create first AZ storage with name 'az-test-duplicate'
2. Unregister storage 'az-test-duplicate' (without deletion on the cloud)
3. Create second AZ

[2019-10-23 16:44] kamyshova commented on #765
@mzueva Thanks, fixed.

[2019-10-23 16:44] #765 closed, assigned to nobody

[2019-10-23 20:03] sidoruka opened #771 "Pause operation shall not fail the job if it cannot commit a running container"
**Background**
At the moment, Cloud Pipeline fails the job if a `commit` operation fails during a `pause` process.
This may lead to data loss, if it was not backed up.

**Approach**
`Pause` operation shall not fail the job if it cannot `commit` a running container. The job's state shall revert to `Running` and notification shall be shown to the user (in the same manner as we do with the failed `Re

[2019-10-23 20:05] sidoruka commented on #771
Backport to `release/0.15`

[2019-10-24 16:20] sidoruka opened #774 "git credentials (https) become unusable after first clone"
**Describe the bug**
If the `root` user performes `git clone` operation using `https` protocol - `/git/config/credentials` becomes unusable for the `$OWNER` as it's permissions are changed to `600 root:root`.
According to https://git-scm.com/docs/git-credential-store#_options
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run any job
2. Log into the job via `SSH`
3. Run `git clone ..

[2019-10-24 16:27] sidoruka commented on #774
Backported to `release/0.15` via 657eb07

[2019-10-25 11:33] mzueva commented on #697
@NShaforostov fixed via #776

[2019-10-25 11:34] mzueva commented on #759
Implemented via #769

[2019-10-25 11:34] mzueva commented on #750
@NShaforostov Fixed via #772

[2019-10-25 12:00] rodichenko commented on #759
GUI part implemented via ef281ef6fc679d5a73c077f5c4b51bcd4238abdf

[2019-10-25 17:41] NShaforostov commented on #750
Verified

[2019-10-25 17:41] #750 closed, assigned to sidoruka, ekazachkova

[2019-10-28 10:05] NShaforostov commented on #697
Verified. Works fine

[2019-10-29 10:27] SilinPavel commented on #624
@NShaforostov cases with `IDLE` tag should be fixed!

[2019-10-29 11:15] mzueva commented on #768
Fixed

[2019-10-29 11:15] #768 closed, assigned to SilinPavel

[2019-10-29 18:16] NShaforostov commented on #624
@SilinPavel Verified. The issue with a long-time period of `IDLE` tags appearing fixed.

But the second issue still takes place. Currently, the `IDLE` tag doesn't appear if the `Auto pause` checkbox on the launch form was unchecked before the run - it's wrong behavior.

[2019-10-30 08:36] SilinPavel opened #780 "When advanced search filter for searching pipeline runs is used CP failed with error"
**Describe the bug**
When advanced search filter for searching pipeline runs is used CP failed with error:
[code]
It was found out that cause of this error is wrong SQL query :
[code]
So we should change SQL query to be able to load `tags` for runs

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '/pipeline/#/runs/active'
2. Click on 'advanced filter'
3. type 'pod.id=<some real pod id>'

[2019-10-30 16:06] mzueva opened #783 "Configure CPU requests for k8s pods"
**Background**
Currently we don't specify any cpu requests when launching k8s pods. This may lead to poor performance for some of workloads.

**Approach**
Set cpu request for a pod if it specified via PipelineRun parameter or SystemPreference.

[2019-10-31 13:57] mzueva commented on #624
@NShaforostov I hope that the last issue with `Auto pause` runs is fixed. Could you please verify it?

[2019-10-31 17:28] NShaforostov opened #787 "Can't change the name of the pipeline, that was re-registered with a new name"
**Describe the bug**
The name of the pipeline, that was re-registered in the Cloud Pipeline with a **_new_** (differing) name, couldn't be changed

**To Reproduce**
Steps to reproduce the behavior:
1. Open any existing pipeline
2. Save its git repository address
3. Click the **gear** icon
4. Click the **DELETE** button
5. Click the **Unregister** button
6. Hover the **Create** button -> click the

[2019-11-01 11:51] NShaforostov commented on #624
@mzueva Verified. The issue with runs with unticked `Auto pause` is fixed.

Another small remark was found - in the following scenario:
1. The run was tagged as `IDLE` (due to set preferences)
  (I have set `system.max.idle.timeout.minutes` - `1` & `system.idle.cpu.threshold` - `50`)
2. System preferences are being changed
  (I have set `system.max.idle.timeout.minutes` - `1` & `system.idle.cpu.th

[2019-11-05 09:15] sidoruka opened #790 "Cannot transfer directories via `pipe storage cp` in Windows"
**Describe the bug**
When the user runs `pipe storage cp C:\path\to\dir s3://bucket/path/` - command completes without any message and a zero exit code, but nothing is transferred

**To Reproduce**
Steps to reproduce the behavior:
1. Run `pipe storage cp C:\path\to\dir s3://bucket/path/`
2. Command completes without any message and a zero exit code, but nothing is transferred

**Expected behavior*

[2019-11-05 09:15] sidoruka commented on #790
Please cherry-pick the fixes to `release/0.15`

[2019-11-05 12:45] sidoruka opened #792 "`pipe` shall be able to perform objects restore in a batch mode"
**Background**
At the moment, Cloud Pipeline's CLI exposes `restore` command which is capable of restoring a single object at a time.
When a user deletes the whole folder from the object storage it is tedious to restore it file-by-file.
It would be great to allow `recursive` restore for a folder.

**Approach**
* `restore` command shall get the top-level deleted files from the `source` directory an

[2019-11-05 12:47] sidoruka commented on #792
Once implemented and tested - cherry-pick to `release/0.15`

[2019-11-05 15:18] mzueva commented on #790
Backported to `release/0.15` via b16812e916afdf4d3cec1a3dca8955d72b011e32

[2019-11-05 15:57] #783 closed, assigned to mzueva

[2019-11-05 16:07] #790 closed, assigned to mzueva

[2019-11-06 13:46] NShaforostov opened #793 "Double downloading from the DOCUMENTS pipeline tab"
**Describe the bug**
Attempt to download any document from the **DOCUMENTS** pipeline tab leads to a double downloading of the corresponding file. This bug is relevant only for non-Markdown documents (not `*.md` files)

**To Reproduce**
Steps to reproduce the behavior:
1. Open any pipeline, select the **DOCUMENTS** tab
2. Upload any document with not `md` extension (e.g. `txt`, `docx` or others)
3

[2019-11-06 14:06] NShaforostov opened #794 "Attempt to download `txt` document from the pipeline DOCUMENTS tab throws an error"
**Describe the bug**
When trying to download `*.txt` document from the pipeline **DOCUMENTS** tab - the downloaded file contains error instead of the document content

**To Reproduce**
Steps to reproduce the behavior:
1. Open any pipeline, select the **DOCUMENTS** tab
2. Upload the document with `txt` extension
3. Click the **Download** button next to the uploaded document (or click the document n

[2019-11-06 14:27] NShaforostov opened #795 "Attempt to use the "Generate" function over the `docx` document from the pipeline DOCUMENTS tab throws an error"
**Describe the bug**
When trying to use the "Generate" function over the `docx` document from the pipeline DOCUMENTS tab - two files are downloaded to the local machine, both with the same name, one file is the same as the original `docx` document and the second contains only the error instead of the document content

**To Reproduce**
Steps to reproduce the behavior:
1. Open any pipeline, select t

[2019-11-06 14:38] #774 closed, assigned to sidoruka

[2019-11-07 10:53] sidoruka opened #796 "pipectl shall allow to set custom names of the SAML attributes"
**Background**
At the moment, `pipectl` uses a hardcoded list of attributes:
[code]
With the custom IdP setups - this will lead to missing attributes set.

**Approach**
Allow overriding the defaults when running `pipectl install` via the `-env` option

[2019-11-07 16:08] kamyshova opened #797 "Luigi template pipeline run fails"
Luigi template pipeline run fails at work with the following error:

`luigitest.py: error: unrecognized arguments: --resumed-run false`

**Steps to reproduce the behavior:**
1. Open library
2. Hover over "+ Create v", select "Pipeline" item -> click on "LUIGI"
3. In an appeared pop-up window specify a valid pipeline name
4. Click CREATE button
5. Click on the created pipeline
6. Click RUN button
7

[2019-11-07 19:52] sidoruka commented on #797
Introduced by 34c5cc3a4211c368ade4a4670229b525e09c7698

Let's treat this a low-priority

[2019-11-08 09:29] sidoruka opened #798 "GUI shall verify the image version, when running a pipeline"
**Background**
At the moment, Cloud Pipeline verifies if the `group/tool` exists, but does not check the version. In such cases pipeline will be started, but will hang in `ImagePullBackOff`.

**Approach**
If a pipeline is started (clicked `RUN`) we shall notify a user, if an invalid image version is used

[2019-11-08 09:29] sidoruka commented on #798
@rodichenko please port to `release/0.15`

[2019-11-08 09:54] rodichenko commented on #798
@sidoruka fixed, backported to `release/0.15` via c1818c88bed87038d418aca40a2c430e8346d4af.
If the image's version is not found, the following warning will be shown:
![version_not_found_warning](https://user-images.githubusercontent.com/5070496/68467230-e27bd300-0226-11ea-9705-5c1777d4cde2.png)

[2019-11-08 10:59] sidoruka opened #801 "Global search shall be made case insensitive"
**Background**
At the moment, Cloud Pipeline's global search feature requires certain queries to be run in a `case-sensitive` manner (e.g. pipelines' names).

**Approach**
We shall modify this behavior so that all the queries are `case-insensitive`

[2019-11-08 10:59] sidoruka commented on #801
Backport to `release/0.15`

[2019-11-08 11:14] sidoruka opened #802 "Allow to specify max number of autoscaled nodes"
**Background**
At the moment, Cloud Pipeline allows to spinup clusters, which are limited in size by `launch.max.scheduled.number`.
This preference is applied for both `static` and `autoscaled` clusters. E.g.:
* `launch.max.scheduled.number` is equal to 10
* If a user tries to create a static cluster with 11 nodes - an error message is thrown
* If a user tries to create an autoscaled cluster with

[2019-11-08 11:14] sidoruka commented on #802
@mzueva could you please verify, does the approach address the issue? May be some other changes may be required?

[2019-11-08 11:15] sidoruka commented on #802
@SilinPavel @rodichenko backport to `release/0.15` once done

[2019-11-08 12:44] SilinPavel commented on #802
@sidoruka @mzueva  I came across this idea, while I investigated this issue.
May be we don't need to introduce any new parameter here.
according to code `launch.max.scheduled.number` describes how much instances can be launching at the same time, and `cluster.max.size` describes how much instances can be active at the same time. So when we launch `autoscale` cluster we should worry only about mini

[2019-11-08 14:06] sidoruka commented on #802
@SilinPavel I don't think we are going to allow the user to autoscale a single ad-hoc cluster to the overall platform capacity.
Let's proceed with the separate preference for that

[2019-11-11 15:49] NShaforostov opened #805 "Can't restore folder with "Deletion marker" if all files in it were previously deleted"
**Describe the bug**
Folder with "Deletion marker" can't be restored if all files in it were previously deleted

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any storage with version control
2. Create a folder in it
3. Open the created folder
4. Create some files
5. Remove all created files
6. Remove the folder created at step 2
7. Set "Show file versions" checkbox

**_Exp._**: folde

[2019-11-15 11:06] rodichenko opened #808 "API: override bucket file's pre-signed url response headers"
**Background**
**Part 1**
At the moment, generated pre-signed urls don't contain `content-disposition` **response** header. If user clicks `Download file` button at GUI, some files (e.g. images) are displayed in-place instead of being downloaded. It would be nice if pre-signed urls contain overridden `content-disposition=attachment; filename=...` header.
**Part 2**
At the moment, GUI sends separat

[2019-11-15 11:11] sidoruka commented on #808
Cherrypick to `release/0.15`

[2019-11-15 15:42] sidoruka commented on #808
- Reverted `release/0.15`
- Chrome complains that `Multiple files download` is going to happen, while a single file is being downloaded

[2019-11-19 05:26] nk-gears commented on #121
@sidoruka It will be great if you can point some articles on how to setup this on a Local Laptop in the ReadMe.

[2019-11-19 08:41] rodichenko commented on #802
@sidoruka GUI part implemented; backported to `release/0.15` via cffb44ffd27e936687288f11bff5d26ffd6c5a6c

[2019-11-20 11:43] SilinPavel commented on #298
@sidoruka @mzueva @tcibinan
I have tried to summarize all points that was mentioned here.
I also have tried to build some code scratches  to be more specific in how this feature can be realized.

## The main steps

### Pre-requested changes

New System parameters of run:

-  CP_CAP_AUTOSCALE_HYBRID
-  CP_CAP_AUTOSCALE_HYBRID_FAMILY - if doesn't exist, we should use family of the master node

### S

[2019-11-20 12:59] tcibinan commented on #298
Thanks @SilinPavel.

Just wanted to point out several concerns.

Regarding the scale up scenario with no suitable instance types. I suppose we can make use of fail-fast approach. In most cases it is better to fail beforehand. For example, if a job was submitted in *pe_slots* queue with the requirement of 10000 cpus then we could just fail the job because it won't be executed anyway. Could you plea

[2019-11-20 13:25] SilinPavel commented on #298
@tcibinan Regarding the first scenario with impossible requirements of the job, yes, probably we should reject such jobs and log this accident for a user.
And yes, for the case of parallel environment with allocation_rule = `$pe_slots` we can just say that this host should be terminated, indeed. Thanks for the review.

[2019-11-25 16:36] sidoruka opened #812 "Allow to share SSH access for non-interactive jobs"
**Background**
At the moment, Cloud Pipeline does not allow share the SSH access for the tools, which do not have the endpoints configured.

It would be nice to provide such type of access, as there is a set of tools, that do not expose any HTTP endpoints but are used for collaboration via the command line.

**Approach**
* "Share" link shall be available for non-interactive runs
* Sharing dialog f

[2019-11-25 16:36] sidoruka commented on #812
Backport to `release/0.15`

[2019-11-25 16:38] tcibinan commented on #679
Cherry-picked to `release/0.15` via ad9b9411d7f96073c4fe33bf7ec669ceaa9c9465.

[2019-11-26 07:17] rodichenko commented on #812
@sidoruka implemented, backported to release/0.15 via d6e7805e6231d14d5d54113fe7917d8bb6457437

[2019-11-26 16:01] kamyshova opened #813 "Incorrect pipeline files editing"
**Describe the bug**
When we edit a pipeline code, save changes and commit the edit popup doesn't close. Moreover, when we try to close popup the following warning appears:
`All changes will be lost. Continue?`

**Steps to reproduce the behavior:**
1. Open library
2. Click on "+ Create v", in an appeared list click on "Pipeline" item
3. In an appeared window specify a valid pipeline name, click `C

[2019-11-26 16:45] sidoruka commented on #812
@rodichenko please verify that the overall logic is consistent with the previous version.

As I see the "Sharing" link is displayed for any state of the job (even when it is queued). This was not a case previously.

![image](https://user-images.githubusercontent.com/20998291/69654074-40ad1080-1085-11ea-9197-1cb1af5c83f0.png)

[2019-11-27 07:04] rodichenko commented on #813
@kamyshova @sidoruka fixed, backported to `release/0.15` via 5d2ff21c2bb92de8758ad27a6bd4b7e5f4a56c67

[2019-11-27 07:23] rodichenko commented on #812
@sidoruka logic is fixed (+`run initialized` status check), backported to `release/0.15` via 5cf719dfc8727f525e0a6292edfbd9008445bac9

[2019-11-27 12:29] tcibinan commented on #298
It just came to my mind that we can simplify `get_unsuitable_hosts` even further. We don't have to calculate if the host is suitable or not for `fill_up` case as well. The only difference is that **all hosts are suitable** by default in `fill_up` case. Otherwise there won't be any pending jobs.

[2019-11-27 14:43] kamyshova commented on #813
@rodichenko Verified. Fixed. Thank you!

[2019-11-27 14:43] #813 closed, assigned to rodichenko

[2019-11-28 09:06] NewOlya opened #814 "Strange usage charts behavior when "Live update" filter is on"
### Background
We have the Monitor cluster nodes feature, that presents plots for CPU Usage, Memory Usage and Network Usage.  There is the "Live update" filter in it, so user could track any kind of usage in real-time (every 5 seconds data updates). So the system saves data once in some period of time and presents it rounding off values. Because of that, the values at the same point in different p

[2019-11-28 11:28] NShaforostov commented on #684
@sidoruka, review the issue, please.

[2019-11-28 11:28] NShaforostov commented on #703
@sidoruka, review the issue, please.

[2019-11-29 12:18] mzueva opened #815 "Support batch restore of objects for GCP"
**Background**
Provide implementation of batch object restoring for GCP.

[2019-12-02 12:42] NewOlya opened #818 "FSBrowser doesn't clean the temp files, when download is canceled"
**Describe the bug**
There is the Download feature in the FS browser. If the user clicks on the "Download" button the system will display the Operations window with the "Cross" button to cancel this operation. If the user clicks the "Cross" button for the downloaded folder, the system won't download the document to the user's local machine, but the archived (gzipped) folder will appear in the node

[2019-12-04 15:01] SilinPavel commented on #682
Here I tried to summarize tech thoughts related to this issue:

1) There is no cloud API (aws/gcp/azure) to list bucket with some sort order, basically its alphabetical order constantly
2) So some additional custom logic is required
3) If we are sort a whole bucket/folder we can face a performance issue as bucket can contain unlimited number of objects (we will need to `ls` it fully to be able to

[2019-12-06 09:11] SilinPavel opened #819 "Autoscaling cluster can be autopaused"
**Describe the bug**
Currently master node of autoscale cluster can be auto paused.

**To Reproduce**
Steps to reproduce the behavior:
1. Run on-demand autoscale cluster with 0 default child node
2. Configure IDLE ACTION as PAUSE
3. do not load master node
4. See that master node is paused after some time

**Expected behavior**
master node of autoscaled cluster isn't paused

[2019-12-06 11:23] sidoruka opened #820 "`pipe storage mount` shall allow to specify the fuse log file"
**Background**
At the moment, `pipe` CLI `mount` command does not provide any runtime logs. If some file operation fails it is quite hard to find out the reasons.

It would be great to write all the fuse operations to some location.

**Approach**

Expose the `-l`/`--log-file` option for the `storage mount` command. If it is specified - fuse's `stdout/err` shall be written to that file.
If an optio

[2019-12-06 11:24] sidoruka commented on #820
Cherrypick please to `release/0.15`

[2019-12-06 11:29] sidoruka opened #821 "Support fallocate and ftruncate for the pipe-fuse"
**Background**
At the moment, any `ftruncate` or `fallocate` operation fail on the directories, mounted by `pipe storage mount`.

But this is a quite common use case, especially when dealing with data transfer via `rsync`.

The approach is described in the PR https://github.com/epam/cloud-pipeline/pull/661#issuecomment-538399907

[2019-12-06 11:33] sidoruka opened #822 "Support multithreading for the `pipe-fuse`"
**Background**
At the moment, `pipe-fuse` uses a single-threaded fuse model (e.g. `nothread=True`).
This limits the `pipe-fuse` usage to a very small subset of cases. E.g. we can't replace the `s3fs` or `goofys`, until several processes can interact with the mount point.

**Approach**
* Research the fuse/fusepy threading model and any issues that may be uncovered by that (e.g. broken caches)
* Imp

[2019-12-06 11:34] sidoruka commented on #821
Cherrypick please to `release/0.15`

[2019-12-06 11:34] sidoruka commented on #822
Cherrypick please to `release/0.15`

[2019-12-06 11:44] sidoruka commented on #812
@mzueva, at the moment the SSH-only shared jobs are not visible via the `Services`. Is it possible to expose such runs there?

[2019-12-06 11:46] #808 closed, assigned to mzueva, sidoruka

[2019-12-06 11:46] #802 closed, assigned to rodichenko, SilinPavel, mzueva

[2019-12-06 11:47] #801 closed, assigned to SilinPavel, mzueva

[2019-12-06 11:47] #798 closed, assigned to rodichenko

[2019-12-06 11:47] #796 closed, assigned to sidoruka

[2019-12-06 11:59] #758 closed, assigned to SilinPavel

[2019-12-06 14:50] NewOlya commented on #814
For the beginning, we need to implement the following set of features:

### Approach

**General requirements**
1. The user shall be able to see the chart based on the table data
2. The report chart shall display a stacked line chart where each line plots:
    - Cost over time
3. The user can select the type of the chart:
    - Line Chart
3. The chart shall have the legend
4. The chart shall have a

[2019-12-06 14:54] SilinPavel commented on #682
@evgeniimv, @mzueva I almost forget that we also have another way here:
our `elasticsearch-agent` actually do some indexing of buckets contents so, maybe we can use it to list bucket content with sort order. There is also restriction related to this solution:
- `elasticsearch` doesn't have actual version of bucket content, so when user will use sorting order of the bucket content, last added files

[2019-12-06 15:28] NewOlya commented on #761
For the beginning, the general description of report pages and what they should contain:

#### Types and permissions
Users can view (generate) reports according to their permissions:
- admins - all report types (over the whole platform / specific billing center(s) / specific user group(s) / specific user(s))
- users with special permissions on billing center(s) - reports on available billing cente

[2019-12-06 16:23] SilinPavel commented on #683
I had investigate this issue and have some ideas around a solution:
If we restrict moving files only inside a cloud (so files from `aws` could be moved only in other `aws` bucket/folder) this issue can be solved in the next manner:
 - Introduce new type of async task `StorageFileActionTask` (with fields like `cloud`, `sources`, `destination`, `action`)
 - Introduce queue to store this tasks (`DB t

[2019-12-06 16:55] SilinPavel commented on #685
For that issue I have several concerns:
- First of all there is no cloud API to get several files as an archive or one resource
- Currently we download files from CP UI by pre-signed URLs
- To be able to build an archive we need to perform download on a server side and perform pre-processing before we send this archive to user

The way that we can achieve that on a server side is:
- Create Zip/Tar

[2019-12-09 10:31] tcibinan opened #825 "Use load_formula to optimize resources usage for autoscaled clusters"
**Background**

Originally the current issue was described as a [comment](https://github.com/epam/cloud-pipeline/issues/298#issuecomment-502126594).

By default GE scheduler tries to submit jobs to a host with the minimal load within the cluster. It works fine for fixed size cluster because all the nodes are similarly occupied. Nevertheless, it doesn't work well with the autoscaled cluster. If the

[2019-12-09 11:47] Wedds opened #826 "Check run state before performing a pause"
**Background**
At the moment, Cloud Pipeline pause runs regardless of an inner condition. It would be better to check before pausing, if:
- any connections are established with this run
- job is still in progress

**Approach**
The user should be notified when he is trying to pause a run under one of the described states and confirm if it should be paused anyway. For cases of pause performed automa

[2019-12-09 15:49] NewOlya commented on #761
## User journey

### The main spending reports dashboard
The user shall have the ability to open the spending reports dashboard from the main menu on the left side of any Cloud Pipeline page.
On the main spending reports dashboard, the user can see:
- **Report toolbar** and **General report table** (_see previous comment_)
- 3 kinds of charts:
   - The summary spendings line chart
   - The spendin

[2019-12-10 14:22] sidoruka opened #828 "GPU jobs may fail to resume with CantainerCannotRun(128)"
**Describe the bug**
From time to time, GPU jobs may fail to resume with `CantainerCannotRun(128)`
Kubelet shows the following errors:
[code]

The similar issue is described at https://github.com/NVIDIA/nvidia-docker/issues/628

It seems that an issue caused by the [NVIDIA persistence mode](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/optimize_gpu.html) which is not set for the resumed job

[2019-12-10 17:26] sidoruka opened #832 "Resume job timeout throws strange error message"
**Describe the bug**
The following error message is shown if the paused run can't be resumed in a reasonable amount of time
[code]

**Environment:**
 - Cloud Provider: AWS
 - Version: `0.15.0.3673.5f231a1ebbc3f228ce63e68aaa03e28cf37e56ef`
 - Browser: Chrome

**Action Items**
* Make sure we have this behavior configurable. @mzueva is there any preference, that controls number of attempts? @NShaforo

[2019-12-10 17:26] sidoruka commented on #832
Please backport to `release/0.15` if applicable

[2019-12-10 19:04] sidoruka commented on #828
Both `develop` and `release/0.15` are patched

[2019-12-11 08:40] kamyshova opened #833 "E2E GUI Global Search tests fail on Azure provider"
**Describe the bug**

Global search doesn't index a new added storage items to AZURE stand for more than 6 minutes.
In this case, we can see the following error log in the elasticsearch agent:

[DEBUG] 2019-12-11 08:10:55.233 [pool-2-thread-1] ElasticsearchServiceClientImpl - Stop to delete index...
[DEBUG] 2019-12-11 08:10:55.287 [pool-2-thread-1] ElasticsearchServiceClientImpl - Start to create

[2019-12-11 12:06] NewOlya commented on #747
There is another place with the same problem.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to the "Cluster nodes" dashboard
2. Find the "Pipeline" column

**Screenshot**
![layout bug](https://user-images.githubusercontent.com/32195393/70620101-6c083180-1c27-11ea-93e4-dc4c1a6fd84f.png)

[2019-12-11 12:37] NewOlya opened #834 "Inconvenient label wrap in the "Cluster nodes" dashboard"
**Background**
We have the list of labels on the cluster node.  So, when we go to the "Cluster nodes" dashboard we can see the "Labels" column for each node. If there are a lot of labels there the system might wrap the label. It is inconvenient for the user to understand which label it is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to the "Cluster nodes" dashboard
2. Find the node w

[2019-12-11 12:54] AleksandrGorodetskii commented on #794
It looks like the request to download file is correct.
Only in the case of ```.txt```, but not the others types of files (for example ```.rtf```, ```.docx```, ```.md```, ```.odt```, ```.html```, e.t.c.) - ```server returns the Blob``` object with an error status and message as a binary Blob content.

That is, a request to download not a ```.txt``` type of file will return a blob object with actual

[2019-12-11 14:50] AleksandrGorodetskii commented on #795
It looks like the request to generate file is correct.
The reason why two different files were downloaded was event bubbling from issue #793 (each click to Generate button triggers generate and download methods simultaneously).

The file with content should not be downloaded by clicking on ```Generate``` button (the ```Download``` button is responsible for this, and click event on ```Row``` (which

[2019-12-12 11:22] AleksandrGorodetskii commented on #795
#### This issue is partially fixed by #836 pull request.
- Added check for error validation inside Blob object.
- If there is ```status: error``` in Blob - file prevent to be generated and downloaded to user's PC. User will see warning popover instead.
- Double downloads fixed.

[2019-12-12 11:23] AleksandrGorodetskii commented on #794
#### This issue is partially fixed by #836 pull request.
- Added check for error validation inside Blob object.
- If there is ```status: error``` in Blob - file prevent to be generated and downloaded to user's PC. User will see warning popover instead.
- Double downloads fixed.

[2019-12-12 11:23] AleksandrGorodetskii commented on #793
#### This issue is fixed by #836 pull request.

[2019-12-13 10:19] rodichenko commented on #793
@NShaforostov fixed via 301c3b37c2dff4820a5cfa86d00c7066c92d27f5, can you re-check please?

[2019-12-13 10:21] rodichenko commented on #794
@mzueva can you check please if everything is OK on server-side while requesting `.txt` documents (see @AleksandrGorodetskii comments above)?

[2019-12-13 10:58] NShaforostov commented on #793
Verified, works fine.

[2019-12-13 10:58] #793 closed, assigned to rodichenko, sidoruka

[2019-12-13 11:39] sidoruka opened #837 "Implement compute nodes' disks/swap autoscaling"
**Background**
At the moment, Cloud Pipeline allows setting the compute nodes' local disk size at a job startup time.
For certain use cases, users may fill the disk and get the out of disk errors, leading to job failure.
The same issue is observed for the out of memory errors. While do have the SWAP support, it is configured as a static value at a job start time.

To address those issues, we shall

[2019-12-13 12:26] #828 closed, assigned to sidoruka

[2019-12-13 12:28] sidoruka commented on #826
@Wedds , how do we detect those?

CP Web GUI
NoMachine session

[2019-12-13 13:23] Wedds commented on #826
@sidoruka I haven't found yet a better reliable way to track the number of connections than connecting to pod itself (neither Kubernetes nor other monitoring tools implement it). We could try to send "notifications" to CP from these gateways on every open/close connection operation, but it may fail if a connection is dropped unexpectedly.
Another approach is relying on traffic metrics: a specific

[2019-12-16 10:04] sidoruka opened #840 "User shall be able to build a "tool" using GUI"

[2019-12-16 10:36] sidoruka opened #841 "Admins shall be able to manage persistent cluster nodes"
**Background**
At the moment, Cloud Pipeline allows controlling the number of `persistent` compute nodes in the cluster. I.e. a certain number (`cluster.min.size`) of the nodes of a specified size (`cluster.instance.type`/`cluster.instance.hdd`) will be always available in the cluster (even if there is no workload).
This is useful to speed up the compute instances creation process (as the nodes ar

[2019-12-16 10:37] sidoruka opened #842 "Allow to disable root access to the instances"
**Background**

At the moment, each user who connects to the SSH session of the running job gets the `root` privileges, by default. Which can be dropped further, by switching to the "real" username.

While this is a convenient way to work, especially when certain packages shall be installed, it may introduce security concerns, e.g.:
* General users may install vulnerable packages
* Certain system

[2019-12-16 10:39] sidoruka opened #843 "Packages are duplicated in the tool's version details"
Certain tools packages are duplicated in the `PACKAGES` details page of the tools version.
![image](https://user-images.githubusercontent.com/20998291/70994358-1a581f00-20df-11ea-843c-5b3e6bd97c8d.png)

[2019-12-16 10:43] sidoruka opened #844 "Expose SSH link for the active runs in the Dashboard view"
At the moment, SSH link is only available in the job details page. It would be helpful if the SSH connection can be established right from the Active Runs Dashboard.

* It shall be shown only after all checks have passed (same as the job details page)
* It shall be shown for all the jobs: interactive and non-interactive
* SSH URL shall be fetched when a user clicks the respective button
* Keep in

[2019-12-16 13:50] sidoruka opened #846 "Fulfil the swagger general info"
At the moment, the swagger API page looks quite incomplete. Firstly, due to the default placeholders in the page header.

Let's add some nice descriptions/annotations to the swagger's general info section

[2019-12-17 10:13] sidoruka opened #848 "Allow to use custom domain names as a "friendly URL" for the interactive services"
**Background**
At the moment, Cloud Pipeline allows setting the interactive services endpoints in two flavours:
* Default: `https://<edge-host>/pipeline-<run-id>-<port>`
* Friendly: `https://<edge-host>/<friendly-url>` (if a [Friendly URL](https://cloud-pipeline.com/manual/10_Manage_Tools/10.5._Launch_a_Tool/#launch-a-tool-with-friendly-url) is set for a specific run)

For certain use cases, we'll

[2019-12-17 10:55] sidoruka opened #849 "Allow to attach a Dockerfile to a tool/version"

[2019-12-17 12:09] sidoruka commented on #843
@SilinPavel could you please review the bug and propose a solution?
Once fixed - port to `release/0.15`

[2019-12-17 12:14] sidoruka commented on #844
Cherry-pick to `release/0.15` once done

[2019-12-17 12:16] sidoruka commented on #820
@NShaforostov, pending docs

[2019-12-17 12:18] sidoruka commented on #814
@SilinPavel, I presume this is a server-side issue. Could you please take a look? If it's a GUI issue - feel free to reassign to @rodichenko

[2019-12-17 12:20] sidoruka opened #851 "Log user creation and first/last login date and time"
**Background**
At the moment, Cloud Pipeline does not keep the date and time of the users' creation/login. But it's required for traceability

**Approach**
* Log the date/time of the user creation
* Log the date/time of the user's first login
* Expose this information via the corresponding API methods

[2019-12-17 12:21] sidoruka commented on #851
Cherry-pick to `release/0.15` once done

[2019-12-17 12:28] sidoruka opened #852 "Allow to export users/groups as a CSV"
**Background**

Once #851 is implemented, it would be convenient to export the users' list to process in the external tool (e.g. Excel). At the moment, we don't have such a capability.

**Approach**

API
* Expose API method to perform such an export (shall return a CSV)
* API shall allow to export:
  * User's attributes (ID, Name, Email, Creation/Login DT, etc.)
  * User's metadata
  * List of gro

[2019-12-17 12:30] sidoruka commented on #852
Cherry-pick to `release/0.15` once done and tested

[2019-12-17 12:31] NShaforostov opened #853 "Cannot open any directory via FSBrowser in case when the "FSBrowser work directory" is set to the non-default value"
**Describe the bug**
Cannot open any directory via FSBrowser in the case when the non-default value of the `storage.fsbrowser.wd` variable is set

**To Reproduce**
Steps to reproduce the behavior:
1. Open System Settings
2. Click the **Preferences** tab
3. Find the `storage.fsbrowser.wd` preference
4. Set any correct value into this preference, e.g. `/home`, save changes and close popup
5. Launch

[2019-12-17 13:34] NShaforostov opened #854 "Ability to exclude (hide) specific files/directories from displaying in FSBrowser"
**Background**
At the moment, Cloud Pipeline displays all node files/directories (according to the specified work directory). But that "full" user access to all node content could be unsafety. In certain cases, it would be convenient for admins to have the ability to hide specific files or directories.

**Approach**
Admins should have the ability to specify which node files/directories shall be hi

[2019-12-17 13:52] sidoruka commented on #853
This shall be fixed in the `FSBrowser` server part. For the client - WD shall be presented as a filesystem root. Client shall not be aware of the `real` FS structure

[2019-12-17 14:35] sidoruka commented on #818
After all:
* The temporary archive shall be created in the `temp` directory, not in the same as the source directory (`temp` location shall be configurable via the `fsbrowser` options and default to `/tmp`)
* If the download request is canceled - temporary tarball shall be deleted from the node's filesystem

[2019-12-17 16:06] SilinPavel commented on #843
@sidoruka I can confirm that the bug exists, it is most likely because "traces" of those packages exist in several layers of the tool and `scan service` reports about it twice.
So the easiest way to fix it would be to store distinct packages in DB for each tools while scanning

[2019-12-17 17:33] NShaforostov commented on #645
Verified.

Docs updated via #807

[2019-12-17 17:35] NShaforostov commented on #223
Docs updated via #807

[2019-12-17 17:44] tcibinan opened #856 "Improve pipe fuse logging performance"
**Background**

It was seen that pipe fuse performance can be affected significantly by logging. Currently pipe fuse generates lots of logs and even though most of them are debug logs which are disabled by default they still has some impact.

In order to improve overall performance of the fuse which will be affected even more with the introduction of synchronization in #847 several approaches can

[2019-12-18 10:45] sidoruka opened #857 "Allow to view the historical resources utilization"
**Background**
At the moment, Cloud Pipeline allows viewing the detailed history of the resource utilization for each specific **active** job (thanks to #168).
But once the job is stopped - the information is not available anymore for the users. The utilization data is still stored in the ES indices for a preconfigured period of time (`system.resource.monitoring.stats.retention.period`, defaults t

[2019-12-18 12:54] rodichenko commented on #814
There was a GUI problem with charts range: with `Live update` mode, charts range (`from` - `to` duration) was decreasing by 5 seconds per each request (e.g. first request - 1 hour, second one - 59 minutes 55 seconds, third one - 59 minutes 50 seconds etc.). That problem is now fixed. @NewOlya can you re-check this issue please?

[2019-12-18 15:04] NewOlya commented on #814
Verified

[2019-12-18 15:04] #814 closed, assigned to rodichenko, SilinPavel, sidoruka

[2019-12-18 16:23] SilinPavel opened #861 "Expand logging for ResourceMonitoring"
**Background**
For now `ResourceMonitoringManager` contains several types of log messages (which are printed while checking resources), however those messages have different structure and not always clear.

So purpose of this issue is to add more details and standardize existing log messages.

**Approach**
Expand and clarify and standardize log messages for all ResourceMonitoring events.

[2019-12-18 16:37] SilinPavel opened #862 "Monitoring tags PRESSURE and IDLE can be present at the same time"
**Describe the bug**
Now can be possible situation when all `PRESSURE` and `IDLE` tags are present for the same run

**To Reproduce**
Steps to reproduce the behavior:
1. Run some tool
2. Consume all disk space
3. Do not utilize cpu
4. See that `PRESSURE` and `IDLE` tags are attached

**Screenshots**
![image_2019_12_18T16_22_49_113Z](https://user-images.githubusercontent.com/11179595/71104953-bbbd9

[2019-12-19 09:53] sidoruka opened #865 "SLURM support for the static clusters"
**Background**
At the moment, Cloud Pipeline allows creating the clusters, that are managed by the 3rd party schedulers:
* GridEngine
* Spark

This feature is mostly used for backward compatibility with the existing code-base (which is a super common usage scenario).

To extend this compatibility - we need to implement [SLURM scheduler](https://slurm.schedmd.com/documentation.html) support as well

[2019-12-19 10:58] sidoruka commented on #848
Shall be cherry-picked to `release/0.15`

[2019-12-19 15:28] rodichenko commented on #834
@NewOlya fixed via 737b9bbfd202f215ce7d4f104ad9e286120d2b0e, can you re-check please?

[2019-12-19 18:33] NewOlya commented on #834
Verified

[2019-12-19 18:33] #834 closed, assigned to rodichenko

[2019-12-20 06:44] rodichenko commented on #747
@NewOlya can you re-check this issue please?

[2019-12-20 09:59] sidoruka opened #871 "Parameter values changes cannot be saved for a tool"
**Describe the bug**
If a user changes the parameter value within a tool's settings form - `SAVE` button is still grayed out. One shall modify some other option (e.g. disk size) to save the overall changes.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any existing tool's settings form
2. Expand `Execution Environment` and change any parameter's value
3. `SAVE` button is disabled and

[2019-12-20 09:59] sidoruka commented on #871
Backport to `release/0.15`

[2019-12-20 10:27] NShaforostov opened #872 "Extension of notifications sending ways"
**Background**
In Cloud Pipeline the feature of Email-notifications about different events is implemented. At the same time, there is a separate system of notifications that are displayed to users directly in the Cloud Pipeline GUI.
Some users can skip or not read Emails at all.
It would be convenient if admins could configure the way of info messages "sending" about different events that early we

[2019-12-20 10:33] tcibinan commented on #298
Just referencing related issue #494. Probably it can be implemented along with all other SGE issues.

[2019-12-20 11:27] mzueva opened #873 "Billing reports implementation for AWS"
## Background
This issue provides description of implementation details for #761 billing reports for AWS cloud provider.

## Approach
Billing information shall be collected using a `billing-report` service - a new Spring Boot application. The main goal of `billing-report` service is to load information on used resources (compute instances, storages) and store it in Elasticsearch.

### Compute Reso

[2019-12-20 18:36] NShaforostov opened #877 "FSBrowser: "Upload" button is available even for non-existent paths"
**Describe the bug**
If in FSBrowser incorrect path (non-existent or from `storage.fsbrowser.black.list`) is entered to the address bar, the "Upload" button is anyway available.

**To Reproduce**
Steps to reproduce the behavior:
1. Open FSBrowser
2. Click the "breadcrumbs" control in the left upper corner
3. Specify any non-existent path
4. Press "Enter" key
5. See the error `[Errno 2] No such fil

[2019-12-23 09:34] NShaforostov commented on #818
Verified. Works fine!

[2019-12-23 09:34] #818 closed, assigned to sidoruka, ekazachkova

[2019-12-23 09:51] NShaforostov commented on #853
Verified. Works fine!

[2019-12-23 09:51] #853 closed, assigned to sidoruka, ekazachkova

[2019-12-23 10:46] mike-miroliubov opened #879 "Use Kubernetes executor for Nextflow pipelines instead of SGE"
**Background**
Just an idea:
Currently SGE executor is being used for Nextflow pipelines. For this sake, an auto-scaling SGE cluster has to be deployed by cloud pipeline (over Kubernetes cluster). This works fine, however, introduces a redundant level of orchestration. Plus, SGE's scheduling, error codes and etc are far from perfect. On the other hand, Nextflow natively supports using Kubernetes a

[2019-12-23 11:40] NShaforostov commented on #747
@rodichenko verified:
- the original issue is fixed
- the additional problem from the comment is fixed too

[2019-12-23 11:43] sidoruka commented on #879
@k-i-t-e thanks for this proposal. We've considered Kube executor as an option in the initial implementation (See #291). But in the end, we've chosen to follow the strategy:
* Use  SGE executor as a quick start (easy to implement and port existing workflows)
* Add [GA4GH TES Executor option](https://www.nextflow.io/docs/latest/executor.html#ga4gh-tes), once it matures up (we do have a TES wrapper

[2019-12-23 11:50] sidoruka opened #880 "Autoscaler shall not kill the "Lost" nodes immediately"
# Background

From time to time we run into cases when a compute node gets unresponsive (kubelet can't send the heartbeats) due to the high CPU/Memory usage.
If such a node is detected - the run is immediately stopped as the node's status is "Unknown".

While such an oversubscription is not a good usage pattern - this may lead to the data/compute results loss. Thus, we shall try to handle such sit

[2019-12-23 12:05] rodichenko commented on #871
@sidoruka fixed, backporter to `release/0.15` via ef6232695ca6d7df7213cb55533130a3a6890394

[2019-12-23 13:04] rodichenko commented on #844
@sidoruka implemented, backported to `release/0.15` via 42654e1444322f12d3a611ac689ff6737d6ae84d

[2019-12-23 14:30] rodichenko commented on #625
@sidoruka GUI part implemented (4eae3ccded0f16e31b18d1fc0c844bc609225eb0)

[2019-12-23 15:01] NShaforostov commented on #854
@ekazachkova, I tried to verify this, the following issues were found:
1. The feature doesn't work if the specified path is started from spaces. E.g. if the following: `/bin, /var` specify into `storage.fsbrowser.black.list` then `/bin` directory will be excluded but `/var` will be available
2. The feature doesn't work if the specified path is a relative path. E.g. if the following: `/bin,var` spe

[2019-12-23 16:26] NShaforostov opened #881 "The ability to display system notifications only to specific users"
**Background**
Cloud Pipeline admins can configure different notifications displaying to users via the **System Events** section of the system-level settings panel.
Currently, each such notification is shown to all platform users if it's active.
It would be convenient if admins could additionally configure the list of users to whom the specific system notification should be displayed.

**Approach*

[2019-12-23 18:19] NShaforostov opened #882 "FSBrowser doesn't hide "mounted" paths"
**Describe the bug**
As was implemented in #854, admins have the ability to hide specific files or directories in FSBrowser via the `storage.fsbrowser.black.list` system preference.
But this feature doesn't work in cases when admin specifies any "mounted" path (a path that will be mounted to the node during the node initialization - e.g. `/cloud-data/<storage_name>`) into `storage.fsbrowser.black.

[2019-12-24 15:11] rodichenko commented on #877
@NShaforostov fixed, can you re-check please?

[2019-12-24 15:15] ekazachkova commented on #854
@NShaforostov  added fixes for points 1 and 2
Could you verify them again?

[2019-12-25 10:42] rodichenko commented on #759
@sidoruka backported to `release/0.15` via de47c0aa9a48151f49d5948b5f273de6a6b0e361

[2019-12-25 10:52] rodichenko commented on #848
@sidoruka backported to `release/0.15` via 827abbed1d9d6e765efc43be7b095f8689397e60

[2019-12-25 13:37] NShaforostov commented on #877
Verified

[2019-12-25 13:37] #877 closed, assigned to rodichenko

[2019-12-25 14:40] NShaforostov commented on #854
@ekazachkova
Verified. Points 1 and 2 works fine now

[2019-12-25 14:40] #854 closed, assigned to sidoruka, ekazachkova

[2019-12-25 14:43] rodichenko commented on #852
@sidoruka backported to `release/0.15` via a8744fd7f14101b15232649787c3044d2fbd0b20

[2019-12-27 10:44] NShaforostov opened #889 "Minor style enhancements at the "Cluster state" page"
**Background**

At the **Cluster state** page the table with cluster nodes is shown. Some notes about this table:
- in my view, the **Addresses** column of this table is too tiny to display simultaneously IP-address and the node name in one line
- the **Created** column is too tiny to display simultaneously date and time in one line. Time value is always divided into two lines (I checked it in dif

[2019-12-27 10:44] #747 closed, assigned to rodichenko

[2019-12-27 13:05] NShaforostov commented on #554
Added to docs via #650

[2019-12-27 13:12] NShaforostov commented on #697
Added to docs via #807

[2019-12-27 14:49] NShaforostov commented on #706
Verified

[2019-12-27 16:16] NShaforostov commented on #780
Verified

[2019-12-27 17:46] NShaforostov commented on #843
Verified

[2019-12-30 10:20] NewOlya commented on #852
I had a problem with reviewing this task, please take a look:

1. Excel displays dates (registrationDate, firstLoginDate) in inconvenient format:
![Excel date representation 852](https://user-images.githubusercontent.com/32195393/71578003-593a9b80-2b07-11ea-9571-262e0f3dba74.png)
After clicking 2 times on the cell, the date format becomes  standard (19-12-2019  12:46:49)

[2019-12-30 12:16] NShaforostov commented on #819
Verified

[2019-12-30 12:16] #819 closed, assigned to nobody

[2019-12-30 18:28] NShaforostov commented on #822
Tried to perform various operations on the Object storage mounted via the `pipe storage mount -t` command:
- `cp/mv` commands from the local fs into the mountpoint directories are being performed well (checked up to 10 threads)
- `cp/mv` commands from the mountpoint directories into the other mountpoint directories are being performed well (checked up to 10 threads)
- `cp/mv` commands from the mou

[2019-12-31 07:41] sidoruka opened #892 "Allow to generate the `pipe run` command from the GUI"
# Background

At the moment a user has a couple of options to launch a new job in the Cloud Pipeline:
* API
* CLI
* GUI

The easiest way to go is the `GUI`. But for automation purposes - `CLI` is much more handy. But users have to construct the commands manually, which makes it hard to use.

It would be nice to generate the CLI commands automatically in the GUI for any run.

# Approach

1. Impleme

[2019-12-31 10:28] sidoruka opened #893 "Allow to configure the login banner for the SSH sessions"
When the SSH session is established with the Cloud Pipeline-managed job a default (built into the docker image) banner is shown.
E.g. (varies from docker to docker, according to the Linux distro used)
[code]

This is not super useful and nice. We shall introduce a Cloud Pipeline-related banner, that could:
* Provide a nice welcome ASCII graphics
* Show some useful links. E.g.:
  * Links to the doc

[2020-01-09 17:36] NShaforostov opened #895 "The value of "Default data storage" isn't being saved after the user creation"
**Describe the bug**
The value of "Default data storage" isn't being saved if it was specified during the user creation via the GUI.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the "User management" tab of system-level settings
2. Click the "+ Create user" button
3. Specify a valid name for a new user
4. Specify any existing data storage in the "Default data storage" field
5. Click

[2020-01-10 09:52] NShaforostov commented on #852
It seems that User's metadata isn't being exported.
The rest works fine.
Docs were updated via #860

[2020-01-10 13:22] NShaforostov commented on #844
Verified.
Docs were updated via #860

[2020-01-10 13:44] NShaforostov commented on #871
Verified

[2020-01-10 15:00] tcibinan opened #896 "Automate license headers validation"
**Background**

Every new source file in the cloud pipeline repository should contain a license header. As long as it can be easily forgotten to be added it can be helpful to automate license headers validation or even license header fixing.

**Approach**

There is a neat [license-gradle-plugin](https://github.com/hierynomus/license-gradle-plugin) which can be used in our CI process to fail the bu

[2020-01-10 16:20] NShaforostov commented on #851
Verified jointly with #852
Works well

[2020-01-10 17:43] NShaforostov commented on #792
Verified.
Docs were updated via [be7ad17](https://github.com/epam/cloud-pipeline/pull/789/commits/be7ad1772be461c2962ba843bf2376cd255c0e4c).

[2020-01-13 10:18] sidoruka opened #897 "GUI shall be able to display a support/info icon"
**Background**
In certain cases, users shall have a quick access to the help/support information.
E.g., docs/faq/support request/etc.

**Approach**
1. Add a new `string` preference `ui.support.template` (into the `User interface` group). Nullable, empty by default
2. Add an optional `support` icon to the bottom of the left main menu, which is visible only if the `ui.support.template` is set
3. Cli

[2020-01-13 10:18] sidoruka commented on #897
Please backport to `release/0.15`

[2020-01-13 10:18] sidoruka commented on #897
@mzueva could you please take care of (1)?

[2020-01-13 12:12] rodichenko commented on #897
@sidoruka implemented, backported to release/0.15 via d25b41e12f96b9d29e6f110e95a495c2bc26fab8

[2020-01-13 15:33] NShaforostov opened #899 "`pipe ssh` command doesn't work"
**Describe the bug**
While trying to perform the `pipe ssh` command, it fails with an error: `Error: Error reading SSH protocol banner`.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch any run
2. Try to run an interactive session over the running job via `pipe ssh <RUN_ID>` command
3. Try to perform a single command over the running job, e.g. `pipe ssh <RUN_ID> "ls -l /root"`
4. After

[2020-01-13 17:19] NShaforostov opened #900 "`pipe` CLI doesn't work under Windows"
**Describe the bug**
While trying to perform any `pipe` CLI command under Windows, it fails with the following error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Install `pipe` CLI on Windows according to instructions in the System Settings
2. Run in Windows **cmd** any `pipe` command, e.g.: `pipe --version`
3. See the error written above

**Environment:**
 - Cloud Provider: N/A

[2020-01-14 10:29] NShaforostov commented on #820
Verified.
Docs were updated via #860

[2020-01-14 10:30] NShaforostov commented on #679
Verified.
Docs were updated via #860

[2020-01-14 10:30] NShaforostov commented on #822
Docs were updated via #860

[2020-01-14 12:19] SilinPavel opened #901 "Slurm cannot be installed on ubuntu:16.04"
**Describe the bug**
I have discovered that SLURM cannot be installed on ubuntu:16.04 due to the next error:
[code]
This is because our internal repo doesn't contain this package with appropriate version.

**To Reproduce**
Steps to reproduce the behavior:
1. Run pipeline with tool ubuntu:16.04
2. try to execute `apt-get update && apt-get install -y munge slurm-wlm`
3. Observe the error

**Expected

[2020-01-14 13:44] NShaforostov commented on #897
Verified.
Docs were updated via #860

[2020-01-14 18:38] NShaforostov commented on #759
I tried to verify this feature. It works well for users.
But I can't verify it for groups or global for Platform. I suppose that **Jobs visibility** dropdown box works not fully correct (for user or group) - it should be possible to leave this field empty (without value - e.g. how it done for **Allowed price types**). Otherwise, due to priority rule (global - group - user) the visibility of any pi

[2020-01-15 12:30] NShaforostov commented on #759
Docs updated via #860

[2020-01-15 15:55] sidoruka commented on #892
@rodichenko you can proceed with the GUI part

[2020-01-15 15:56] sidoruka commented on #865
@rodichenko you can proceed with the GUI part (use the same PR/branch please)

[2020-01-16 13:36] SilinPavel commented on #880
@sidoruka
As I find out in process of investigation, a pod can be alive during resource starvation if we disable eviction strategy, actually I have had 3 different scenarios (resource starvation was modeled by artificial stress test):
1.  When Node starts to be in a "starvation" NodeStatus become  NotReady, but pod still will be in Running state, after resources clean up all statuses will go back

[2020-01-16 17:15] NShaforostov commented on #290
Docs were updated via #860

[2020-01-16 17:15] NShaforostov commented on #757
Docs were updated via #860

[2020-01-18 09:31] sidoruka commented on #865
@NShaforostov, ready for the tests and docs

[2020-01-18 10:18] sidoruka commented on #846
Shall be cherry-picked to `release/0.15`

[2020-01-18 11:25] sidoruka commented on #893
@NShaforostov, would be great if you could take care of the banner contents (i.e. design in it and publish here). So @mzueva could embed it into the job initialization procedure

[2020-01-20 16:18] sidoruka opened #904 "S3 bucket shall be created with broken Multipart Upload cleanup policy"
**Background**

At the moment, if the data upload to the S3 buckets is terminated (including docker pushes) - an incomplete multipart upload is left. This consumes the storage volumes and introduces extra charges.

**Approach**

* Research how this behaves across the other cloud providers
* Introduce a preference `storage.incomplete.upload.clean.days` (int, nullable, default: 5)
* If the `storage.

[2020-01-20 16:19] sidoruka commented on #904
Shall be backported to `release/0.15`

[2020-01-21 13:57] SilinPavel commented on #880
In addition I want to add some details related to this issue.
It was found out that we can change setting for node-controller-manager system pod, to be able to increase period of time before pipeline pod will be terminated in case (3). According to documentation (https://kubernetes.io/docs/concepts/architecture/nodes/#node-condition):
[code]
So `pod-eviction-timeout` parameter (https://kubernetes.

[2020-01-22 15:27] NShaforostov commented on #899
I've tried to perform this command in Windows OS via `cmd` - the result is the same:
![image](https://user-images.githubusercontent.com/45459424/72907376-d17e3080-3d44-11ea-8c83-1f3419e874fa.png)

[2020-01-22 15:36] mzueva commented on #900
backported to 0.15 via 2de7088

[2020-01-22 15:38] sidoruka commented on #900
@NShaforostov please verify

[2020-01-22 15:45] sidoruka opened #907 "Cloud Pipeline shall automatically create a home storage for a new user"
**Background**
Typically each Cloud Pipeline user stores any personal assets in the data storage, that is created by the Administrator.
This is treated as a "home" storage and is used a lot. But the creation of multiple users becomes a tedious task (create the user/create storage/grant permissions for the user).
We shall automate this task to (optionally) create home storages for the newly created

[2020-01-22 15:48] sidoruka opened #908 "Global search shall allow to find the tools by the package name/version"
**Background**
At the moment, Cloud Pipeline allows searching for the tools in the registry by its name or description. But in the majority of the cases, users would like to find which tool contains a specific software package and then use it.

Currently, the only way to accomplish this is to browse the tools and their version. Which quite hard to accomplish.

It would be great to be able using th

[2020-01-22 15:50] sidoruka opened #909 "`pipe` shall allow to list the tools registry contents"
**Background**
At the moment `pipe` CLI does not expose any method to get the tools information.
In certain cases it is beneficial to get such information, so we shall implement the registry listings and tools details.

**Approach**
* Implement a command to view the registries/groups/tools lists:
[code]
* If no option is specified, this command shall print a list of the tools contained in:
  * If

[2020-01-22 15:52] sidoruka opened #910 "Cloud Pipeline shall be able to lookup users/groups from the LDAP catalog"
**Background**
At the moment, we have a number of use cases which require manual entry of the user

**Approach**
A clear and concise description of what you want to happen.

**Other options**
A clear and concise description of any alternative solutions or features you've considered.

[2020-01-22 15:55] sidoruka opened #911 "`pipe` CLI shall allow to list the users/groups/objects permissions globally"
**Background**
The main idea is to automate the retrieval of:
* Which objects are accessible by a user?
* Which objects are accessible by a group?
* Which user/group have access to the object?

**Approach**
A clear and concise description of what you want to happen.

**Other options**
A clear and concise description of any alternative solutions or features you've considered.

[2020-01-23 15:11] tcibinan opened #912 "Azure nodes are launched with too big disks"
**Describe the bug**

Currently if user requests an instance in Azure deployment it starts with disk size which is significantly bigger then the requested disk size.

**To Reproduce**

Steps to reproduce the behavior:
1. Launch `ubuntu:latest` using `Standard_D2s_v3` with `50G` disk size.
2. Ssh to the run container.
3. Perform the following command `df -hT / | tail -n -1 | awk '{ print $3 }' | cu

[2020-01-23 16:56] NShaforostov commented on #900
Verified

[2020-01-23 16:56] #900 closed, assigned to mzueva, sidoruka

[2020-01-24 09:53] sidoruka opened #914 "Add dockers group name validation at a creation time"
**Background**
At the moment, Cloud Pipeline does not perform the validation of the docker tool group name, while it is being created. This allows creating the group, which contains invalid characters and a group becomes unusable

**Approach**
Add the validation, using the same logic as we use when committing an image

[2020-01-24 09:53] sidoruka commented on #914
Backport to `release/0.15`

[2020-01-24 10:01] sidoruka opened #915 "Docker group selection dropdown becomes almost unusable when list of items is long"
**Describe the bug**
When a list of items in the docker groups selection dialog is long - it's almost impossible to use a search feature, as the list hides immediately

**To Reproduce**
Steps to reproduce the behavior:
1. Open any form, which offers a docker group selection (e.g. pipeline configuration or a docker commit dialog)
2. Start typing the group name in the search box
3. List of items hid

[2020-01-24 11:07] SilinPavel commented on #912
@mzueva  @tcibinan As was discovered, there was preference `cluster.instance.hdd_extra_multi` with non-standard value (100 instead of 3), so f.e. for ubuntu image with size ~ 100 mb cloud-pipeline would increase disk size on (100 *3 * 100) = 30GB.
I think we can close this one.

[2020-01-24 11:07] #912 closed, assigned to SilinPavel, mzueva

[2020-01-24 11:53] rodichenko commented on #914
@sidoruka implemented, backported to `release/0.15` via eefb06cbe5e32badde9b52d09c261a8bf2f161a5

[2020-01-24 12:17] rodichenko commented on #915
@sidoruka fixed, backported to `release/0.15` via 13b97083e2b65b16053004edffab46e767c8b8f4

[2020-01-24 12:23] tcibinan opened #916 "Reassigned node images list should be cleaned up"
**Background**

Currently reassigned node images list is not cleaned up between different run assignments. This can lead to excessive disk usage caused by a number of not used docker images on cluster nodes.

**Approach**

Docker images list should be cleaned up during node reassign to only a small subset of images which includes such images as `kube-proxy` and etc.

[2020-01-24 15:21] tcibinan opened #917 "Node filesystems utilization chart"
**Background**

Since #168 is implemented node monitoring stats available period has been significantly expanded. Moreover as long as #837 will be merged it starts to make sense to have continuous filesystem usage stats the same way it is done for cpu, memory and network usage.

![node-monitoring](https://user-images.githubusercontent.com/16464586/73079219-e093e880-3ed4-11ea-8f36-ee490c25e539.PNG)

[2020-01-26 09:08] #914 closed, assigned to rodichenko

[2020-01-26 09:08] sidoruka commented on #915
@rodichenko - now I can't scroll the list of the groups, if the list overflows the screen height

[2020-01-27 08:56] rodichenko commented on #915
@sidoruka scrolling fixed, backported to `release/0.15`

[2020-01-27 09:04] sidoruka opened #918 "Instances paused for a long time shall be optionally terminated"
**Background**
While using the Cloud Pipeline, users pause the instance quite often to restore their state further. In certain cases such runs are "forgotten" and keep sitting in the paused state until the admins terminate them manually.

**Approach**
To make users aware of such paused jobs and automate the cleanup procedure, we shall implement a couple of improvements:
* Introduce a new notificat

[2020-01-27 09:31] sidoruka opened #919 "Administrator shall be able to restrict which run statuses trigger the email notification"
**Background**
At the moment, Cloud Pipeline can be configured to send the email to the owner of the job if its status is changed.
In certain cases - it is not desired to get a notification in certain cases (e.g. if the run is started).
To reduce a number of the emails we shall allow to configure, which statuses are triggering the email notifications.

**Approach**
1. `PIPELINE_RUN_STATUS` shall e

[2020-01-27 13:14] mzueva commented on #857
Regarding CSV export:

1. All metrics shall be exported in a single table: add a separate column for each disk/network interface
2. Add a new API method to export CSV with signature similar to /cluster/node/{name}/usage, with only difference that it shall also accept an `interval` between two timestamps in seconds, e.g. `1 second` - means that we return stats for every second `from` - `to`
3. Meth

[2020-01-27 14:16] NShaforostov commented on #915
Verified

[2020-01-27 16:45] tcibinan opened #921 "Different storages with the same signature can be created"
**Describe the bug**

Currently cloud pipeline allows creating a data storage which name or path matches path or name of an existing storage. Such possibility can ends up in redirecting run inputs or outputs localization to an unexpected location. Moreover in such cases by clicking to the input or output location GUI will redirect user to a bucket which won't be used in a run.

**To Reproduce**

S

[2020-01-27 17:55] sidoruka commented on #919
@rodichenko please take care of (3) once backend is ready

[2020-01-27 18:07] sidoruka commented on #918
@rodichenko please assist with the GUI part

[2020-01-27 18:43] sidoruka opened #923 "`pipe storage mount` shall restrict "other" users permissions"
**Background**
At the moment, Cloud Pipeline allows `read` access to the mounted cloud storages for the `other` users, by default.
This may introduce a security issue when dealing with the sensitive data.

**Approach**
This behavior shall be changed to:
* Allow full access to the OWNER
* No access to the GROUP
* No access to the OTHERS
* Still keep an option to override this behavior manually at a

[2020-01-29 14:17] NShaforostov commented on #865
I've tested this feature. Generally, it works.
But the following issues were identified:
1) After performing the simple script via the `sbatch` command over several nodes - the first node in the allocation (where the script was run) gets the `drained` state and remains with it. Also, such `sbatch` ends with the error.
   More details:
   - I used the following script (from [here](https://slurm.sch

[2020-01-29 14:18] NShaforostov commented on #865
Docs were updated via #926

[2020-01-29 17:12] NShaforostov opened #928 "`pipe`: the `run` command works not fully correct with `--instance-count` option"
**Describe the bug**
The `pipe run` command with the option `--instance-count 0` launch a cluster with a 1 child node.

**To Reproduce**
Steps to reproduce the behavior:
1. Perform the CLI `pipe run` command with the `-ic 0` option, e.g.: `pipe run -y -id <disk_size> -it <instance_type> -di <docker_image> -cmd <command_template> -ic 0`
2. Open Active Runs via GUI or perform the CLI `pipe view-runs

[2020-01-31 09:43] NShaforostov commented on #892
Verified.
Works well.

Minor note:
Imagine the situation - a user doesn't have permission to launch a pipeline according to some restrictions (e.g. due to denied access to input/output parameter paths). The **Launch** button, in this case, will be disabled, but the "**CLI command**" button will be available - so, a user might copy the CLI command, perform it in the terminal and launch that pipelin

[2020-01-31 09:44] NShaforostov commented on #892
Docs updated via #926

[2020-01-31 10:30] mzueva commented on #928
@ekazachkova I'd also suggest that `--ic 0` shall not be added to generated  `pipe run` command for single node runs

[2020-01-31 11:16] SilinPavel opened #934 "Refactor code that related to notification timestamps"
**Background**
Current version of CP has two approach to store notification timestamps for different notification types. Some of them are stored right in `PipelineRun` class as independent fields while other are stored as a different object `NotificationType` that has independent SQL table to store a state.

**Approach**
I propose to refactor code to store all notification timestamps as a `Notific

[2020-01-31 11:58] sidoruka commented on #865
@SilinPavel please go ahead and fix the observed issues

[2020-01-31 14:57] NShaforostov commented on #928
Verified

[2020-01-31 14:57] #928 closed, assigned to ekazachkova

[2020-01-31 17:38] mzueva commented on #892
Cherry-picked to `release 0.15`

[2020-01-31 17:52] mzueva commented on #857
@rodichenko API for csv report is merged into develop: `GET /cluster/node/{name}/usage/report`

[2020-02-03 17:17] sidoruka opened #938 "Implement a "Cloud CRON" feature"
**Background**
At the moment, Cloud Pipeline allows starting compute jobs only manually (API/GUI/CLI).
But in certain use cases, it is beneficial to launch runs on a scheduled basis.

**Approach**
* User shall be able to configure a schedule for detached configuration
* Schedule configuration shall be similar to the #625
* If a schedule is configured - a corresponding job (plain container or a pip

[2020-02-03 17:18] sidoruka commented on #938
@rodichenko please proceed as soon as the API is ready

[2020-02-03 17:18] sidoruka commented on #938
Backport to `release/0.15`

[2020-02-04 09:40] rodichenko commented on #857
@mzueva thank you!
@sidoruka GUI part implemented (b121af131fc20ff12912bd010a5b7e350ee08675)

[2020-02-04 11:54] mzueva commented on #873
Extend billing API:

1. add additional aggregated fields:
- cost
- run_duration
- storage_duration
- run_count (distinct run_id)
2. If `interval` is specified - return accumulated aggregates along with summed
3. Use enums for `grouping` and implement logic for loading additional info for ES docs. E.g. if `grouping = tool`, we need to load tools from DB
4. Add flag `loadDetails` to request to indic

[2020-02-04 17:56] sidoruka opened #941 "User shall be warned if a running tool is going to be deleted"
If a user tries to delete a tool/version, but there is/are active job(s) using it - a notification shall be shown, e.g.:

[code]

`<list of run ids here>` shall display top 5 entries. If there are more - show `more` hyperlink which will redirect to those runs list (i.e. filter by tool:version)

[2020-02-04 17:57] sidoruka commented on #941
Backport to `release/0.15`

[2020-02-04 17:58] NShaforostov commented on #865
Verified, works fine.
Issues described [above](https://github.com/epam/cloud-pipeline/issues/865#issuecomment-579775009) were fixed by db4481bdc22b11a8848d7b54f6a10dcb9096a8bf.

[2020-02-05 11:08] rodichenko commented on #941
@sidoruka implemented, backported to `release/0.15` via 9af7d05b9c1b698e4d425363949538f5a727c467

[2020-02-05 17:58] NShaforostov commented on #909
Verified, works fine

[2020-02-06 12:51] mzueva commented on #911
@SilinPavel Could you please assist with implementation of new API methods:
- load all permissions for user/group (including inherited permissions)

[2020-02-07 13:00] mzueva commented on #938
Backend is merged to develop

[2020-02-07 17:03] Wedds commented on #761
# API DESCRIPTION
## Request parameters
Required are marked **bold**
-  **from [date]** - include expenses from this date (including)
-  **to [date]** - include expenses up to this date (including)
-  interval [day("1d"); month ("1M"); year("1y"); total(don't specify or use null)] - expenses shall be grouped into this time interval, e.g. interval=day means that expenses shall be returned for each

[2020-02-11 08:50] tcibinan opened #946 "GE autoscaler doesn't remove dead additional workers from cluster"
**Describe the bug**

Currently, Grid Engine Autoscaler doesn't properly handle dead workers downscaling. For example if some spot worker instance was preempted during the run then the autoscaler won't be able to remove such worker from GE because it becomes so called **unheard**. Moreover the cluster will be blocked from accepting new jobs because its parallel environment slots will be reduced to

[2020-02-11 10:35] tcibinan opened #948 "Configure fixed GE parallel environment slots"
**Background**

Currently Cloud Pipeline Grid Engine configuration includes default parallel environment slots setting. On the cluster startup it is set to a number of cores in a cluster or a single master run.

In case of an autoscaled cluster a number of parallel environment slots changes and has to be updated on each scaling up or down operation. Moreover parallel environment slots handling req

[2020-02-11 16:55] NShaforostov commented on #909
Docs were updated via #926

[2020-02-12 12:25] sidoruka commented on #892
Seems that this feature does not respect the `Auto-pause` option. I'm not sure whether this is supported by the CLI at all.

So let's do the following:
1. Check/Implement the `Auto-pause` configuration support in the CLI
2. Include this option into the `run` command generation
3. Backport to `release/0.15` as well

[2020-02-12 17:48] NShaforostov commented on #938
I've tried to verify this feature. Some issues that were found:

1. If the detached configuration was created by one user and another user (_non-admin_, but with all permissions to that configuration) will try to create a "Schedule rule" for that configuration - it will not be saved, the error message appears `Error: Your operation has been aborted as we encountered a server problem.`
![image](htt

[2020-02-13 08:20] tcibinan commented on #946
Fixed for `0.16.0.4333.244bbdeed761c5cddb95c7985b21b8bc1c379043`. @sidoruka Could you please verify that it is fixed for `release/0.15` as well?

[2020-02-13 09:15] NShaforostov commented on #938
Docs were updated via #926

[2020-02-13 10:16] SilinPavel commented on #938
@NShaforostov Thanks for reporting a bug.
First issue about creating a schedule was solved, could you please check and approve that it gone?

[2020-02-13 11:16] NShaforostov commented on #938
@SilinPavel, verified. Bug 1 is fixed.
@rodichenko, verified. Bug 2 is fixed.
Thanks!

[2020-02-13 14:05] NShaforostov commented on #625
I've tried to verify this feature. Some issues were found:
1. For example, now is Thursday, 15:00. I launched a run
   - I want to pause my run every day at 15:20. So, I created a new schedule rule - `PAUSE: At 15:20, every 1 day`. Today the run is not paused.
   - I want to pause my run every Thursday at 15:30. So, I created a new schedule rule - `PAUSE: At 15:30, on Thursday`. Today the run is n

[2020-02-13 14:13] rodichenko commented on #625
@NShaforostov as for second part ('The weekdays are displaying incorrectly') - fixed via a4c2fcdb7d082552bb7404e289b9b73711c5eacd

[2020-02-13 16:23] NShaforostov commented on #625
@rodichenko, the second part is verified. Works correctly

[2020-02-14 09:22] rodichenko commented on #938
@sidoruka backported to `release/0.15` via 4ca96967969ee45ab7fee1436f666fa38d44801c

[2020-02-14 11:41] SilinPavel opened #958 "Scheduled Pause/Run job for Pipeline Run doesn't set Auth in Security Context"
**Describe the bug**
Scheduled action of pausing or resuming pipeline run failed. It seems to me that reason of that is that there is no auth context in environment of this job

**To Reproduce**
Steps to reproduce the behavior:
1. Run pipeline
2. schedule a pause action
3. see api logs and check that job is fired
4. No actual pausing is performed

[2020-02-14 13:21] SilinPavel commented on #625
@NShaforostov Seems to me that we should set auth of the user, who created that schedule, to the job to solve this issue, here is a bug #958 for that behavior. Thanks!

[2020-02-18 09:29] SilinPavel commented on #841
The next realization of this issue is proposed:
1) New entity `NodeDescription` introduced:
[code]

2) When Admin create schedule for specific instance type with disk size, new `NodeDescription` created and persisted to DB

3) `NodeDescription.id` is used as `schedulableId` in `RunSchedule` to be able to schedule action

4) New type of Job `NodeJob` is implementeed

4) New field `Queue<NodeDescrip

[2020-02-18 16:53] NShaforostov commented on #941
Verified

[2020-02-19 12:28] mzueva opened #967 "Error during Tool synchronisation for global search"
**Describe the bug**
Synchronisation process of Tool entities fails with the following log:

[code]
Possibly this issue was introduces while implementing #908.

[2020-02-19 15:04] NShaforostov commented on #857
I've tried to verify this feature. In general, it works.

@rodichenko minor notes:
1. In some cases, when I click the **Export** button and in the "intervals" list there are several items - the error message appears and a file isn't downloaded automatically:
![image](https://user-images.githubusercontent.com/45459424/74845603-50648a00-5340-11ea-9f5c-e208eb11b8b2.png)
I'm not sure in which cases th

[2020-02-20 13:04] sidoruka opened #971 "Introduce an optional Memory request for pods"
**Background**
At the moment, Cloud Pipeline does not set the memory limits for the pods being scheduled. This allows using all the available node memory but may lead to the containers being killed.
We shall restrict containers to a reasonable amount of memory to allow the OOM_Killer to take care of the huge processes

**Approach**
* Add `launch.container.memory.limit.type` preference
* Preference

[2020-02-20 13:05] sidoruka commented on #971
Please backport to `release/0.15`

[2020-02-21 10:30] NShaforostov opened #974 "Incorrect displaying of different pipelines with duplicate names in billing reports"
**Describe the bug**
If there are two different pipelines with the same name and both of them have their own runs - in the billing reports (tables/diagrams) (implemented via #761) they are displayed as one pipeline, not two different.
The situation of the existence of two pipelines with the same name can occur due to GitLab failures or inept user actions - when the corresponding pipeline's reposit

[2020-02-21 10:58] tcibinan opened #975 "Pipe mount damages files transferred using aws cli"
**Describe the bug**

Currently files transferring from s3 bucket to mounted s3 bucket using aws cli damages transferred files. The use case may seem rare but the problem itself seems to be deeper than just some library incompatibility.

Notably the transfer operation finishes fine and the resulting file size equals to the original one. Nevertherless the transferred file shasum diverges.

The issu

[2020-02-21 11:31] tcibinan opened #977 "Allow storage creation with default options in pipe cli"
**Background**

There are lots of options for a data storage creation in pipe cli including *name, path, description, short term storage duration, long term storage duration, versioning, backup duration, cloud provider type, parent folder, cloud\local flag and region_id*. Currently a new data storage cannot be created without specifying all the options specified above.

Usually a storage creation

[2020-02-21 12:54] sidoruka commented on #684
This issue is mostly considered as a way to simplify the support/troubleshooting.
One of the key problems we are facing here is the investigation of the user's operations within a specific job. E.g. which commands were executed and any log output.
I'd consider the following tasks with the highest prio:
* Log the shell commands/processes history
* Log the system events
* Log any Cloud Pipeline - ma

[2020-02-21 14:57] #967 closed, assigned to Wedds

[2020-02-24 10:56] sidoruka opened #980 "Python packages index (S3)"
**Background**
A clear and concise description of what the problem is. Ex. At the moment, Cloud Pipeline does not allow [...] and it would be nice to [...] because [...]

**Approach**
A clear and concise description of what you want to happen.

**Other options**
A clear and concise description of any alternative solutions or features you've considered.

[2020-02-24 10:56] sidoruka commented on #980
Shall be backported to `release/0.15`

[2020-02-27 10:13] tcibinan opened #982 "DIND containers don't have access to the outer network in Azure"
**Describe the bug**

Currently docker containers launched using DIND capabilities in Azure deployment don't have access to the internet.

**To Reproduce**

Steps to reproduce the behavior:
1. Launch a run with DIND capabilities
2. Start an interactive container
[code]
3. Try to update package manager lists
[code]
4. See an error after a long timeout.

**Expected behavior**

DIND containers should

[2020-02-27 10:22] sidoruka opened #983 "Pass proxy settings to the DIND containers"
**Background**
At the moment, DIND containers configuration includes only registry credentials and a couple of driver settings.
In certain environments, it is not possible to access external networks (e.g. for the packages installation) without the `http(s)/no_proxy` settings.
So the users have to pass this manually using `docker run -e http_proxy=...` option.

**Approach**
* Introduce a system pr

[2020-02-27 10:22] sidoruka commented on #983
Backport to `release/0.15`

[2020-02-27 10:45] NShaforostov opened #984 "Assignment of the Billing center to users"
**Background**
As we can see - the "Billing" feature began to function (thanks to #761 implementation).
For further development of this functionality, let's slightly change the feature of the Billing centers assignment to users.

**Approach**
Currently, the Billing center can be assigned to the user via attributes. To avoid errors/duplicates during the input of the Billing center - its name should

[2020-02-27 13:39] NShaforostov opened #985 "`pipe storage mount` incorrectly mounts storage when its name was specified with non-lower case"
**Describe the bug**
If the user tries to mount the storage via the `pipe` CLI using upper letters in its name (with `-b` option) no error appears, the command is being performed.
But then, if the user will try to access the storage via the mounted point - it will be unavailable.
It may confuse the user - e.g. in a case when the user just copied the storage name from the GUI where it was with diff

[2020-02-28 09:24] ekazachkova commented on #911
**Approach**

1. Which objects are accessible by a user?
To solve this problem we could use API method `POST /entities` introduced in this PR #949 and introduce a new CLI command `pipe view-user-objects`.

Usage example:
[code]
2. Which objects are accessible by a group?
To solve this problem we could use API method `POST /entities` introduced in this PR #949 and introduce a new CLI command `pipe

[2020-02-28 13:35] tcibinan commented on #140
Version: `0.16.0.4600.737433e797d7a56b49943cbed1461e2a7266bcfb`.

The issue is still relevant. The cluster was launched with the following run parameter `CP_CAP_SHARE_FS_TYPE=nfs`.

[2020-02-28 14:19] NShaforostov commented on #625
Other issues of this feature, I've encountered:

a) at the launch page I can configure several schedule rules and uncheck the **Auto pause** checkbox. In this case when launching the run - the warning message appears: `Run {0} marked as nonPause or is cluster run! Skip.` and all set rules get lost. But the **Maintenance** control stays visible at the **Run logs** page. When trying to configure new

[2020-02-28 14:25] tcibinan commented on #983
Backported to `release/0.15` via 476f521aed3f308e1e8f30febae341385f32fe8c.

[2020-03-02 12:54] NShaforostov commented on #908
Verified

[2020-03-02 15:29] SilinPavel opened #989 "Implement central storage system for log data"
In additional to #684, this issue is for proposing and implementing solution for storing and managing any type of log data from Cloud-Pipeline system (Security logs, pipeline node logs, etc)

The main aim of this issue will be implementing whole log storage system.
Acceptance criteria:

- Concept of log storage system is provided
  - where to store logs
  - which tools to use
  - structure of log

[2020-03-02 15:31] SilinPavel commented on #989
@sidoruka  @mzueva please feel free to express any other thoughts and concerns about this issue

[2020-03-03 09:10] sidoruka commented on #971
@mzueva could you please fix the following issues, if that makes sense:
* If the `regionId` is/are not defined in the `cluster.networks.config` - user gets `We've encountered a server error` in the GUI and NPE in the `pipeline.log`. It would be nice to have a better wording, which could be used to diagnose such a configuration problem
* Memory request is currently set to `1Gi`, can we make it lowe

[2020-03-03 14:07] SilinPavel commented on #989
# Concept of log storage system

Here is a diagram that represent an interaction between components in a system:

![Untitled Diagram](https://user-images.githubusercontent.com/11179595/75783391-8dce0c00-5d71-11ea-8556-7d956cf30727.png)

## The next technology stack is proposed to use:
- Elasticsearch as a storage to persist and manage log data
- Logstash as a mutation point, here all filtering and

[2020-03-03 16:38] NShaforostov commented on #312
Verified.
Docs were updated via #860

[2020-03-04 11:29] NShaforostov commented on #848
Verified for AWS stand.
Docs were updated via #991.

[2020-03-04 11:30] NShaforostov commented on #625
Docs were updated via #991

[2020-03-04 11:30] NShaforostov commented on #857
Docs were updated via #991

[2020-03-04 11:32] NShaforostov commented on #941
Docs were updated via #991

[2020-03-04 11:33] NShaforostov commented on #908
Docs were updated via #991

[2020-03-04 11:34] NShaforostov commented on #919
Docs were updated via #991

[2020-03-04 11:37] NShaforostov commented on #892
Docs were updated via #926 & #991

[2020-03-04 11:41] mzueva opened #992 "PipelineRun endDate is not set correctly when run is finished using /run/{runId}/status endpoint"
**Describe the bug**
`PipelineRun` status is updated using POST ` /run/{runId}/status`. Is seems that in some cases `endDate` is not set correctly when run is finished using this endpoint. This was mostly reproduced for runs that were paused from the GUI and the stopped using Swagger.

[2020-03-04 13:03] tcibinan opened #994 "Support for SSH access to run pods has to be removed"
**Background**

Currently, there is a support for SSH access right to a run's pod via the following endpoint `ssh/container/{run_d}`. Nevertheless it hasn't been working for a long time now and it is not going to be fixed as long as it introduces a number of security issues.

**Approach**

The feature is not relevant and it can be removed from the edge service easily.

[2020-03-04 13:26] sidoruka commented on #994
@tcibinan please go ahead and remove it, when you have time

[2020-03-04 18:04] NShaforostov commented on #548
I've tried to verify this feature. In general, it works.
But some issues were detected:
1) `pipe storage du` (with or without any options) is being failed for NFS storages with the following error message: `Failed to load usage for datastorage <NFS_storage_name>. Cause: Failed to fetch data from server. Server responded with message: Elasticsearch exception [type=index_not_found_exception, reason=

[2020-03-04 18:10] NShaforostov commented on #821
Verified

[2020-03-05 09:26] tcibinan commented on #821
Cherry-picked to `release/0.15` via 054b68610d15d00f9b07b0e254af2cb6dd783799.

[2020-03-05 11:36] mzueva commented on #992
Seems to be already fixes

[2020-03-05 11:36] #992 closed, assigned to Wedds

[2020-03-05 11:58] mzueva commented on #971
@sidoruk currently we have a hardcoded minimum threshold for the swap size in nodeup: `MIN_SWAP_DEVICE_SIZE = 5`. I'll add corresponding check to the limits calculation, but is this approach fine or we would like to make it configurable?

[2020-03-05 12:09] sidoruka commented on #971
@mzueva let's keep it hardcoded for now

[2020-03-05 14:50] sidoruka opened #995 "Review the API startup process performance"
**Background**
From time to time we need to reboot the API service (e.g. to perform an update). In the production environment the timings a critical.
At the moment, it takes ~90s from the java process start, till the API/GUI become available to the users.
It would be great to minimize this time to whatever possible value.

**Approach**
* If there are any options, that allow to "just reduce time" -

[2020-03-05 14:51] sidoruka commented on #995
If any valuable result is achieved - please port to `release/0.15`

[2020-03-06 10:05] NShaforostov commented on #548
Docs were updated via #991

[2020-03-06 13:11] NShaforostov commented on #919
Verified on GCP stand

[2020-03-10 14:44] NShaforostov commented on #812
I've tried to verify this feature:
- It works fine with sharing the run to the _**user(s)**_.
- But when sharing the run to the _**group(s) of users**_ - shared runs aren't displayed in the **SERVICES** section of the main Dashboard, so the SSH-session can be opened by the user from the "shared" group only manually, using the direct link.
Is this correct behavior? Or probably we should display sha

[2020-03-10 14:44] NShaforostov commented on #812
Docs were updated via #991

[2020-03-11 13:32] tcibinan commented on #837
Pull request #855 was cherry-picked to `release/0.15` via 6b27ba22b878027c37fc0679f4be7ef48a078f35.

[2020-03-11 15:23] tcibinan commented on #837
Pull request #913 was cherry-picked to `release/0.15` via 4453ee5841edbb5904481f81b824ae363d00271d.

[2020-03-11 16:54] sidoruka opened #998 "`PAUSE` and `COMMIT` operations fail for the jobs with an autoscaled disk"
Related to #837

`PAUSE` and `COMMIT` operations fail with the following error for the jobs with an autoscaled disk (observed in `release/0.15` only for now):

[code]

[2020-03-11 16:59] sidoruka commented on #989
A couple of comments:
1. Let's try to keep things simple
2. Try to avoid `LogStash`, as it is a separate component to be hosted/managed/troubleshooted
3. If we are going to format the logs in the services themselves - why not to have a daemon (filebeat?), that would write directly to the ES instance?
4. Please perform a PoC of the ES -> S3 integration (log rotation options/overall functioning/snap

[2020-03-12 09:52] tcibinan commented on #998
Checked that `PAUSE/RESUME` and `COMMIT` works in version `0.16.0.4715.6d66122b4865148cccb4f14e6b8da54d8233d49f`.

[2020-03-12 11:13] ali0935 commented on #977
Hdjhsbz

[2020-03-12 11:47] SilinPavel commented on #989
@sidoruka It's true that simple is better, but with logstash it is easy to
centrally manage tasks such as "Where to send log (to which index)", "How to map log", etc. In case when we don't use logstash we should be able to do it by `filebeat`, may be it's possible, so I will check.
I also checked that  PoC of the ES -> S3 integration works as expected with snapshoting/restoring process

[2020-03-12 12:50] igor-xmao commented on #916
kube-proxy

[2020-03-12 13:08] crystal6959 opened #999 "No"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment:**
 - Cloud Provider: [e

[2020-03-12 13:38] aziiiz2389 opened #1000 "username.github.io"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment:**
 - Cloud Provider: [e

[2020-03-12 14:33] SilinPavel commented on #989
@sidoruka
Finally I have checked possibility to get rid of logstash and also stay with the same functionality.
It is possible to do that, and it can be done by two ways:

#### Self-managed way
1. Сheckup all our logs and prepare it to be send as a json (extract information such as user, context etc. as independent json fields)
2. Send full prepared and parsed logs with filebeat to elastic

#### El

[2020-03-12 16:35] #1000 closed, assigned to nobody

[2020-03-12 16:36] #999 closed, assigned to nobody

[2020-03-12 17:53] sidoruka commented on #998
Fixed in `release/0.15` (958a94cdf899f35118dfd4d4ebfe6a8986476082) and `develop` (11f562e66952623cc0d782e8129e4eace97b8745)

[2020-03-12 17:54] #998 closed, assigned to mzueva, tcibinan

[2020-03-13 09:34] tcibinan commented on #998
Just for historical purposes both releases `0.15` and `0.16` were affected but only `0.15` deployment used `cadvisor` as resources monitoring backend which ended up breaking `PAUSE\RESUME` and `COMMIT` features.

[2020-03-16 10:52] NShaforostov commented on #923
Verified.
Docs were updated via #991

[2020-03-16 18:49] sidoruka opened #1006 "Overall job shall not fail if the commit timeout has occurred during `pause`"
**Describe the bug**
When the job is being paused - it shall not fail if the docker-commit operation has failed. We've implemented a couple of features to address this in #771. But didn't consider the `commit.timeout`.
If the timeout occurs during the `commit` - we shall not fail the run as well.

[2020-03-16 18:49] sidoruka commented on #1006
Please cherry-pick to `release/0.15`

[2020-03-16 18:55] sidoruka opened #1007 "Expose `System` parameters to the worker nodes"
**Background**
When a cluster run is started, only a limited number of `well-known` parameters are passed to the workers. This causes issues when the default values are changed for the master (e.g. `COMMON_DIR`).

**Approach**
* Let's introduce a preference `launch.system.parameters.workers` (boolean, default `false`)
* If it is enabled - any system parameter, specified for the master node, shall

[2020-03-16 18:56] sidoruka commented on #1007
Please backport to `release/0.15` once done

[2020-03-17 10:52] mzueva commented on #1007
This behaviour, whether to pass parameter to worker node or not, shall be configured for each parameter individually.

[2020-03-17 15:15] mzueva commented on #1006
I assume that we actually do not need to limit pause duration since this operation is performed locally on the instance. In order to handle it, we shall introduce a separate SystemPreference `pause.timeout` and set it to a large value by default (24 hours).

[2020-03-17 17:35] mzueva commented on #1006
cherry-pick 25d635ac50a3950fbefeda8462be45d82428d099

[2020-03-17 17:37] mzueva commented on #1007
cherry-pick e215ffe3a31ca34efe385ac95cb879453d6113c0

[2020-03-19 09:49] SilinPavel opened #1011 "GCP nodeup script can't launch GPU node"
**Describe the bug**
Currently GCP nodeup script cannot run GPU node because of `live migration` option. By default this option is on but should be switched off.

[2020-03-25 10:47] sidoruka opened #1013 "Allow to restrict "non-supported" docker images"
**Background**
At the moment, Cloud Pipeline will try to launch any docker image provided. In certain cases (e.g. `alpine` linux), which are not rpm/deb-based - this will lead to unusable/semi-functioning jobs.
The list of "supported" docker base images shall be introduced and all other images shall be restricted from running.

**Approach**
* Research if we have the "base image" distro information

[2020-03-25 10:47] sidoruka commented on #1013
Shall be backported to `release/0.15` once done

[2020-03-25 12:13] tcibinan opened #1014 "Cluster additional workers clean up common directory"
**Describe the bug**

Currently if cluster additional worker is launched with any command but *sleep infinity* then it will clean up */common* shared directory on its execution finalization.

**To Reproduce**

1. Start a cluster.
2. Start an additional worker with some finite command.
[code]
3. Wait for the additional worker to finish.
4. See that the shared directory */common* is cleaned up.

**E

[2020-03-27 09:40] sidoruka opened #1015 "GCP node creation shall (optionally) disable the external IPs"
**Background**
At the moment, Cloud Pipeline starts the GCP nodes with the Public IPs enabled. Certain environments may restrict this at a GCP project level. So the VMs can't be started.
We shall allow to disable it optionally.

**Approach**
* `gcpprovider.py` contains this config
[code]
* We shall introduce a config parameter, that excludes the `accessConfigs` section from the node creation confi

[2020-03-27 09:54] sidoruka opened #1016 "GCP node creation script shall use a correct root disk size"
**Background**
At the moment, Cloud Pipeline does always sets `10Gb` as a root disk volume. If a VM image was created with a larger disk size - the job won't be started.

**Approach**
* `gcpprovider.py` uses a constant `OS_DISK_SIZE=10` to request a disk size
* It would be great to "describe" the VM image and grab the exact value from the image spec (if the operation fails - log and use the consta

[2020-03-27 10:00] sidoruka opened #1017 "Allow to specify region-specific resources tags"
**Background**
At the moment, Cloud Pipeline allows setting custom tags for the resources being created (via `cluster.networks.config`).
But cloud providers have different requirements for the tag name formatting (e.g. GCP does not allow spaces).

**Approach**
* We shall allow specifying region-specific tags in the region section (which shall be applied to the resources created in that region)
* "

[2020-03-27 10:05] sidoruka opened #1018 "Allow to specify "network tags" for the GCP VMs"
**Background**
GCP allows controlling the firewall rules destination/source using the [network tags](https://cloud.google.com/vpc/docs/add-remove-network-tags)
If a VM is missing this tag - traffic won't be allowed.

**Approach**
* Let's allow configuring this via the same `cluster.networks.config` parameter (similar to #1017)
* E.g. a separate region-specific section with tags, which will be appl

[2020-03-27 10:07] sidoruka opened #1019 "Introduce an API method, that can be used to refresh the prices for a specific Cloud Region"
At the moment, it's hard to refresh the existing price list in the Cloud Pipeline.

It would be nice to have a separate API to:
* Reload the prices for a specific region
* Reload the prices for all the regions

[2020-03-30 14:15] mzueva commented on #1017
Done for GCP, AWS and Azure are in progress.

[2020-04-01 12:00] NShaforostov opened #1026 "Ability to revert changes in user profile"
**Background**
The admin should have the possibility to revert changes just performed when modifying a user profile.

**Approach**
Behavior should be similar to the "Revert" function at the System Preferences tab.
The button **Revert** shall be added near the **OK** button at the user editing form:
- by default, when the editing form has just opened - the **Revert** button is disabled
- if the adm

[2020-04-01 12:51] tcibinan commented on #948
Since the introduction of `CP_CAP_SGE_WORKER_FREE_CORES` run parameter in 4e50a038f0983dc1fb7864f13f1f1b7c70d19c6d sge clusters which uses the feature configure more parallel environment slots than it is. It affects both static and autoscaled clusters.

[2020-04-01 14:12] tcibinan opened #1027 "Add help tip for launch page resources section"
**Background**

Currently there is resources section on launch page which shows how many compute resources we are going to start. It even shows an interval of allocating resources for autoscaled clusters. Since #817 will be merged autoscaled cluster worker machine types can vary differently depending on the specified run parameters.

![image](https://user-images.githubusercontent.com/16464586/7814

[2020-04-03 09:59] tcibinan opened #1028 "Grid Engine Autoscaler shall respect RAM and GPU requirements"
**Background**

Relates to #298.

Thankfully to #817 hybrid autoscaling approach will be supported soon. As well as it improves efficiency of the computational resources usage it also complicates Grid Engine jobs allocation.

Currently RAM and GPU job requirements are ignored by Grid Engine Autoscaler. For instance if grid engine queue contains jobs that have both CPU and RAM requirements then onl

[2020-04-03 15:10] tcibinan commented on #298
@NShaforostov Could you please take a look at the updated Grid Engine autoscaler? Notice that [the corresponding docs](https://cloud-pipeline.com/manual/Appendix_C/Appendix_C._Working_with_autoscaled_cluster_runs/) were updated as well. It includes information on how to launch hybrid clusters using system parameters. Probably you can tell what can be improved in the docs as well.

[2020-04-03 16:58] sidoruka opened #1030 "Extend `pipe storage mount` logging"
**Background**
At the moment, it's almost impossible to trace any issue, that may happen during the `pipe storage mount ...` lifetime.
E.g. If it was working for some time and, eventually, mountpoint becomes unavailable - we don't know how to troubleshoot.

**Approach**
We shall extend logs and (optionally) print any event, that occurs within an application.

[2020-04-03 16:58] sidoruka commented on #1030
Shall be backported to `release/0.15`

[2020-04-03 19:05] NShaforostov commented on #298
@tcibinan I've verified. Previous issues (described as comments to #817) are fixed. Other functionality works great.
Docs look well. If I have additional ideas on this matter - I will let you know.

[2020-04-06 09:17] #946 closed, assigned to tcibinan

[2020-04-06 11:07] mzueva opened #1031 "Allow to configure log level for pipe mount"
**Background**
It would be great to have an option to configure log level for `pipe mount` command to improve traceability and make troubleshooting easier.

[2020-04-06 12:02] mzueva commented on #1031
Duplicate: shall be handled along with #1030

[2020-04-06 12:02] #1031 closed, assigned to tcibinan

[2020-04-06 19:07] sidoruka opened #1034 "Admin shall be able to restrict "cross-cloud" storage mounts"
**Background**
At the moment, Cloud Pipeline will attempt to mount data storages across all the available clouds/regions.
E.g. if a job is launched in the GCP, but the user has access to AWS S3 buckets - they will be mounted to the GCP instance.
In certain cases, this is not the desired behavior.

**Approach**
* Let's introduce a parameter in the Cloud Region's options: `Mount storages across othe

[2020-04-06 19:08] sidoruka commented on #1034
@rodichenko please take care of the GUI part

[2020-04-06 19:14] sidoruka opened #1035 "Tool configuration shall allow to restrict execution in a specific cloud region"
**Background**
At the moment, Cloud Pipeline allows to select a cloud region for a particular job execution (in a `Launch Form`), but a tool/version itself does not have any link with a region.
In certain cases, we'd like to enforce users to run some tools in a specific cloud region.

**Approach**
* Cloud Region configuration shall be added to the tool configuration:
  * API (if not yet)
  * GUI
*

[2020-04-06 19:14] sidoruka commented on #1035
As usual - let's start from the API part and pass it to @rodichenko

[2020-04-06 19:34] sidoruka opened #1036 "Restrict data transfer options for the secure data storages"
**Background**
At the moment, Cloud Pipeline allows performing upload/download operations for any authorized data storage.
But certain storages may contain sensitive data, which shall not be copied anywhere outside that storage.
**_Shall be considered for the object storage only_**

**Approach**
* We shall list all the available "data-leak" routes (e.g. download from the GUI, copy to another bucke

[2020-04-06 20:11] sidoruka opened #1037 "Interactive endpoints shall be (optionally) available to the anonymous users"
**Background**
At the moment, Cloud Pipeline allows sharing the interactive and SSH endpoints with the other users/groups. This requires the end-user to be registered in the Cloud Pipeline users database.
For certain use-cases, it is required to allow such type of access for any user, who has successfully passed the IdP authentication but is not registered in the Cloud Pipeline.
We do have a featu

[2020-04-06 20:11] sidoruka commented on #1037
This shall be backported to `release/0.15`

[2020-04-06 20:54] sidoruka opened #1038 ""Serverless" Cloud Pipeline API"
**Background**
At the moment, Cloud Pipeline is used to run on-demand jobs, which then can be consumed in a different manner. E.g. some data processing service, exposing own API can be launched.
The current approach for using such a service is:
* Launch the `tool` via GUI/CLI/API
* Wait for the initialization
* Grab the interactive endpoint URL
* Submit a request to the URL

While this works fine

[2020-04-07 09:33] rodichenko commented on #1036
As for the "data-leak" routes (GUI):

## Cloud Pipeline
Data storage objects upload:
- `storage/<ID>` route: **Upload** button

Data storage objects download & content-fetch:
- `storage/<ID>` route:
  - **Download** button;
  - **Generate URL** button
  -  Object's metadata window with **Download file** button (inline file preview)
  - **Preview** file contents window with **Download file** button

[2020-04-07 11:09] sidoruka opened #1039 "User shall be able to enable "hybrid" cluster in the GUI"
**Background**
At the moment, Cloud Pipeline allows to run the `hybrid` autoscaled cluster (#298). But this is done by specifying a `System Parameter`.
Most of the users would like to have just a "checkbox" to enable this.

**Approach**
* Add `Enable Hybrid cluster` checkbox to the `Auto-scaled cluster` tab
* Add a help tooltip with the following wording
[code]
* This checkbox shall set `CP_CAP_AU

[2020-04-07 11:13] sidoruka commented on #1013
@NShaforostov please verify

[2020-04-07 15:13] NShaforostov commented on #1013
I've tried to verify.
1. The feature works well for tools.
2. The feature works well for pipelines. Minor note: if I try to launch a pipeline with the image, based on an "unsupported" distro - it is being rejected with the message `Tool execution is not allowed by a Security Policy`. Could we make this message more meaningful? Like it's implemented for tools, e.g.: `Run execution is not allowed by

[2020-04-07 15:36] sidoruka commented on #1013
@SilinPavel is it feasible to address (2) ASAP?
(3) can be postponed for now

[2020-04-07 18:17] sidoruka opened #1040 "Folder/File level permissions shall be introduced for the object storages"
**Background**
At the moment, Cloud Pipeline allows managing permissions for the whole object storage. So that all the users/groups have defined access level to all the object storage's paths.
In certain cases, we need to have a more "atomic" type of access management for the object storages.
I.e. we shall allow to specify permissions (Owner/Users/Groups + RWX) for any path within data storage (di

[2020-04-07 19:49] SilinPavel commented on #1013
@sidoruka @NShaforostov  (2) done by `1ae7dcb`
@NShaforostov could you please verify that now it is working properly

[2020-04-08 09:54] NShaforostov commented on #1013
@SilinPavel
Verified, (2) is fixed.

[2020-04-08 10:01] tcibinan opened #1042 "User without permissions for cloud region is able to launch instances via API"
**Describe the bug**

Currently users without required permissions for a specific cloud region are allowed to run instances in the cloud region.

**To Reproduce**

Steps to reproduce the behavior:
1. Login as user without permissions for some cloud region.
2. Use swagger console to submit run using `POST /run` API method with explicitly set cloud region id like the following
[code]
3. Ensure that

[2020-04-08 14:02] rodichenko commented on #1027
@sidoruka @tcibinan as we have #1039 implemented now, do we need extra tooltip for the cluster? We already show such tooltip at `Cluster Configuration` window

[2020-04-08 14:11] tcibinan commented on #1027
From my point of view this is kind of a different tooltip which explains that the allocated resources can go beyond the shown intervals. @sidoruka What do you think?

![image](https://user-images.githubusercontent.com/16464586/78793842-a4443480-79bb-11ea-9226-e6a79769f829.png)

[2020-04-09 09:57] tcibinan opened #1046 "Pipe mount cannot be unmounted if it is busy"
**Describe the bug**

Currently pipe mount cannot be unmounted if some process interacts with the fuse.

**To Reproduce**

Steps to reproduce the behavior:
1. Mount cloud storage
[code]
2. Create background process which interacts with mountpoint
[code]
3. Try to umount the storage
[code]
4. See the error

**Expected behavior**

Probably the mountpoint should be either lazy unmounted or force unmo

[2020-04-09 11:17] rodichenko commented on #1039
@NShaforostov could you verify this issue please?

[2020-04-09 11:18] rodichenko commented on #1027
@NShaforostov could you verify this issue please?

[2020-04-09 11:19] rodichenko commented on #1026
@NShaforostov could you verify this issue please? Also, the same behavior is implemented for the Role/Group edit dialog.

[2020-04-09 13:03] mzueva commented on #1037
### Implementation details

1. `SAMLUserDetailsServiceImpl` shall allow access of anonymous users of successfully authenticated/validated users from IDP.  This shall work when `saml.user.auto.create` property is `EXPLICIT_GROUP` and `saml.user.allow.anonymous` (to be added to application properties) is `true`. Anonymous user is not saved to DB and has only one role - `ROLE_ANONYMOUS_USER`, all oth

[2020-04-09 13:28] mzueva commented on #1035
@rodichenko server side is merged

[2020-04-09 13:33] tcibinan commented on #1030
Cherry-picked to `release/0.15` via db1022ffbc056a71c869ba2690db58481ecade3a.

[2020-04-09 16:00] NShaforostov commented on #1039
@rodichenko Verified. Works well

[2020-04-09 16:06] NShaforostov commented on #1039
@sidoruka as you think, should we add other parameters for configuring a hybrid cluster (CP_CAP_AUTOSCALE_HYBRID_FAMILY, CP_CAP_AUTOSCALE_HYBRID_MAX_CORE_PER_NODE) into the System Parameters? Currently, users can learn about them only from docs.

[2020-04-09 16:07] sidoruka commented on #1039
Yes, please add it

[2020-04-09 16:15] NShaforostov commented on #1027
@rodichenko Verified

[2020-04-09 16:30] NShaforostov commented on #1026
@rodichenko Verified. Works well

[2020-04-09 16:39] #1027 closed, assigned to rodichenko, TimSPb89

[2020-04-09 17:22] NShaforostov commented on #1039
Turns out, it was done by b9e03483120b0ee4822d37fa8012b86e0a9c9314.

[2020-04-10 09:54] rodichenko commented on #1035
@NShaforostov could you verify this issue please?

[2020-04-10 11:20] SilinPavel opened #1050 "When docker registry reports PUSH event check digest string"
**Background**
Currently when docker registry reports PUSH event to API, we don't check digest and just set `NOT_SCANNED` status.
This issue proposes to check digest firstly in order to not reset scanned status for images that actually didn't change.

[2020-04-13 09:42] NShaforostov commented on #1035
@rodichenko, I've tried to verify this feature. Some notes:
1. If a user does not have access to the region, which is enforced for a tool, and he tries to launch it with default settings - the system restricts running such a tool as expected. But if the user tries to launch such a tool with **custom settings** (even doing no changes) - the run is being launched with no errors.
2. If a user does no

[2020-04-13 13:02] rodichenko commented on #1035
@NShaforostov we added **Cloud Region not available** warning for such situations;
@mzueva could you handle 2) part? As for the 4) part - we have an issue for that (#1042)

[2020-04-13 14:03] tcibinan commented on #1035
@NShaforostov 2) is resolved via b581a07ba7a089ca8004e81a55e3a08b7796110d.

[2020-04-13 17:38] NShaforostov commented on #989
Verified. Works well.
Minor note: in the "User" field users' First Names are displayed, but the search is being performed only by the User Name (by Login) - it may confuse. See the screenshot:
![image](https://user-images.githubusercontent.com/45459424/79143833-941ac380-7dc6-11ea-80be-b59003afb7d9.png)

[2020-04-14 07:14] NShaforostov commented on #1035
@rodichenko @tcibinan
Currently, if a user does not have access to the region, which is enforced for a tool, and he tries to launch it with **any** settings (default/custom) - the system displays the message before the run:
![image](https://user-images.githubusercontent.com/45459424/79196217-4f2f7500-7e38-11ea-9bd9-330a1895615b.png)
But in **any** case, it doesn't restrict the launch - a user can

[2020-04-14 07:39] rodichenko commented on #1035
@NShaforostov the second part

is related to the direct API calls, because user is unable to set another region for such tool during launch stage via GUI (`Cloud region` option is read-only in such case).

As for the 4 and 5 parts

as I understand, it is still in progress (#1042). GUI will display an error message (e.g. `Cloud region is not available`) if user clicks the `Launch` button

[2020-04-14 08:11] sidoruka commented on #1036
"Data leak" routes and restrictriction options:
* Internet (NAT/ExternalIP/http_proxy)
  * Let's allow to configure a separate "sensitive" subnet(s)
  * It shall be used to create new nodes for runs, which have at least one sensitive bucket attached (i.e. if a `CP_CAP_LIMIT_MOUNTS` contains at least one storage id, which is "sensitive")
* GUI download
  * Hide any `Download` or `Generate URL` butt

[2020-04-15 12:38] #1042 closed, assigned to tcibinan

[2020-04-15 12:40] mzueva commented on #1035
@NShaforostov #1042 is fixed, please take a look

[2020-04-15 14:17] tcibinan opened #1057 "User without permissions for a run is able to access its fsbrowser"
**Describe the bug**

Currently if user doesn't have sufficient permissions for a run it still can access fsbrowser of that run.

**To Reproduce**

Steps to reproduce the behavior:
1. Launch some run.
2. Wait for `BROWSE` link to be accessible.
3. Copy `BROWSE` link url.
4. Login as a user without permissions for the run.
5. Go to the copied fsbrowser link.
6. See that the second user has full acc

[2020-04-15 15:45] NShaforostov commented on #1035
@mzueva, I've taken a look.
Currently, the feature works nicely for general users.
But now a new issue has appeared:
If the region is forcibly configured for the tool and the admin or its role aren't specified for that region (in the cloud region preferences) - admin can't launch the tool in this case.

[2020-04-15 17:07] tcibinan commented on #1035
Thanks @NShaforostov. The issue should be fixed after f4731ec3c954b982bddeaf56f12a7f2a4f9c4731. From now on admins are allowed to run instances in any cloud region despite tool region restrictions.

[2020-04-15 20:54] NShaforostov commented on #1035
@tcibinan, thanks. Verified, now works correctly.
@rodichenko, I hope, it'll be the last minor note for that issue:
1. The user does not have access to the region, which is enforced for a specific tool version
2. He tries to launch that tool version with custom settings
3. At the Launch form, the user selects another Docker image/version that hasn't region restrictions
4. In the "Cloud Region" fie

[2020-04-16 07:14] rodichenko commented on #1035
@NShaforostov sure, no problem! f304e1ddcb1a2b423380d98e9e33264b343bc653 should fix that

[2020-04-16 09:05] NShaforostov commented on #1035
@rodichenko @mzueva @tcibinan
Finally, all work well. Thanks!

[2020-04-16 09:36] mzueva opened #1058 "Use assumed credentials for S3 signed URLs"
**Background**
Cloud pipeline server provides API methods to generate presigned URLs for data upload and download for S3 buckets. Currently we use main server credentials to presign such URLs, but it would be better to switch to assumed credentials for this methods.

[2020-04-16 13:27] SilinPavel opened #1060 "Azure shared FS (samba) should be supported by WebDAV service"
**Background**
Currently our WebDAV service doesn't support samba shares. We should implement this functionality.

**Approach**
Implement support of Samba FS in syncmount.sh script

[2020-04-16 13:33] SilinPavel opened #1061 "Introduce Lmod support for Environment Module system"
**Background**
As for now Cloud-Pipeline already support `environment module system` but `modules` package is used for that.
`Lmod` should be supported as well.

[2020-04-16 14:01] tcibinan commented on #1037
Notice that the current implementation requires the run's owner to share the run with both `ROLE_USER` and `ROLE_ANONYMOUS_USER` to allow run's endpoint to be accessible to any idp user.

[2020-04-16 16:22] NShaforostov commented on #1037
Verified.
The feature works well for **endpoints**.
Some notes:
- **SSH**-sessions aren't available for described anonymous users regardless of the state of the "Enable SSH connection" checkbox in the sharing popup for the `ROLE_ANONYMOUS_USER`
- **FSBrowser** is available for described anonymous users regardless of the run state (shared/not shared). Perhaps this applies to #1057

[2020-04-16 16:26] tcibinan commented on #1037
@sidoruka Please say if it is good enough to be cherry-picked to `release/0.15`.

[2020-04-17 09:17] tcibinan opened #1062 "SAML user auto creation doesn't resolve groups"
Relates to #290.

**Describe the bug**

Currently SAML users auto creation strategies don't resolve user groups correctly.

**To Reproduce**

Steps to reproduce the behavior:
1. Enable users auto creation strategy using `CP_API_SRV_SAML_AUTO_USER_CREATE: EXPLICIT_GROUP` in global config map.
2. Restart api pod.
3. Login as an idp user which has a group that is explicitly registered in Cloud Pipeli

[2020-04-17 17:15] mzueva opened #1063 "Distributed data transfer fails for autoscaled cluster"
**Describe the bug**
Data transfer (`InputData` and `OutputData`) tasks may occasionally fail for autoscaled cluster. Current implementation of data transfer script uses `DEFAULT_HOSTFILE` to get available workers for transfer, but this file is modified by autoscaling scripts and at some point it may become non-relevant.

[2020-04-17 17:25] NShaforostov opened #1065 "Instance types don't change according to the Cloud Provider in the Tool settings"
**Describe the bug**
Currently, after #1035 is implemented, the specific Cloud Region could be specified for the tool/its version. But if specify the Cloud Region that belongs to another Cloud Provider, instances types don't change.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the tool settings
2. Set the Cloud Region different from the current one
3. View the "Instance types" dropdo

[2020-04-17 17:48] rodichenko commented on #1065
@NShaforostov fixed, could you please verify this issue?

[2020-04-17 18:04] NShaforostov opened #1066 "Region is being set incorrectly when trying to rerun pipeline"
**Describe the bug**
Currently, when tries to rerun any run - in the Cloud Region field the default region is being set. But the selected instance type doesn't change automatically and remains the same as was set before the run.
This may lead to the following incorrect situation, e.g.:
1. Set the AWS region as the default
2. Launch the run in the GCP region
3. Stop run, click the **RERUN** button

[2020-04-20 08:36] rodichenko commented on #1066
@NShaforostov fixed, could you check please?

[2020-04-20 11:42] NShaforostov commented on #1066
Verified

[2020-04-20 11:42] #1066 closed, assigned to rodichenko

[2020-04-20 15:33] tcibinan commented on #983
It will be also nice to have the same proxy parameters to be passed automatically during `docker build` call as well as `docker run`.

[2020-04-20 16:07] NShaforostov commented on #983
Verified.
Docs were updated via the #991

[2020-04-21 10:48] mzueva commented on #1040
Current implementation adds the following features with some limitations:

- User is ables to register a storage with some prefix, e.g.: `s3://bucket/folder`
- Permissions are managed for a single datastorage, thus if a user has different permissions for different paths in one bucket - every path shall be registered as a separate storage
- Paths permissions shall not intersect, e.g. if a user has

[2020-04-21 10:58] mzueva opened #1069 "Liveness probe shall be configured for all services"
**Background**
In order to ensure that all deployed Cloud Pipeline services are up and running we need to add liveness probes to all k8s specs:
- cp-notifier
- cp-billing-srv
- cp-docker-comp
- cp-git
- cp-search
- cp-vm-monitor

[2020-04-21 13:59] rodichenko opened #1070 "Commit run dialog: check group permissions"
**Describe the bug**
At the moment **Commit run dialog** displays all groups available for the user, including non-writable and groups without writable tools. GUI should not display such groups.

[2020-04-21 13:59] rodichenko commented on #1070
Should be backported to **release/0.15**

[2020-04-21 14:03] rodichenko commented on #1070
@sidoruka backported to **release/0.15**

[2020-04-23 00:45] NShaforostov commented on #1040
I've tried to verify this feature. Some notes below:

### GUI

1. Imagine: admin or user with the corresponding permissions creates the storage `parent` and then the storage with the path `parent/child`. Now, such action automatically creates an extra folder with the name `child` in the second storage:
![image](https://user-images.githubusercontent.com/45459424/80043064-4f4f0500-8509-11ea-8e71-e1c

[2020-04-23 09:12] sidoruka opened #1072 "Allow to configure whether to show "stopped" child runs"
**Background**
At the moment, Cloud Pipeline displays all the child runs for the cluster. This is great for WDL/Nextflow pipelines (when a child run processes a separate task) or the static clusters.
But for the "autoscaled" jobs - this produces hundreds of "stopped" entries, which do not make sense to show.

**Approach**
* Let's introduce a "System parameter", which is interpreted by the API (e.g

[2020-04-23 09:13] sidoruka commented on #1072
Please backport to `release/0.15`

[2020-04-23 09:59] mzueva commented on #1072
@sidoruka Is this related to the `Active/Completed Runs` page or to the `Run` page? We return child runs in two different ways: for a list of runs server returns child runs along with the parent one and for a single run client requests child runs in a separate API call.