[2020-12-16 16:48] tcibinan commented on #1658
Cherry-picked to `release/0.16` via fbee42018f7f25ee2cf3e49646bdfa0102c18631.

[2020-12-18 08:07] tcibinan opened #1663 "Do not use pipe cli in grid engine autoscaler"
**Background**

Currently grid engine autoscaler uses pipe cli to start and stop additional worker runs. It works so far but it is not efficient in several scenarios. More secure approach would be to call Cloud Pipeline API directly without pipe cli.

**Approach**

Replace all the usages of pipe cli in grid engine autoscaler with direct Cloud Pipeline API calls.

[2020-12-21 10:18] mzueva opened #1669 "Unit Tests: Rewrite RunConfigurationApiServiceTest"
**Background**
At the moment `com.epam.pipeline.manager.configuration.RunConfigurationApiServiceTest` test uses deprecated approach with custom text context and @DirtiesContext. Check these test and move actual test cases to `com.epam.pipeline.acl.configuration.RunConfigurationApiServiceTest`.

[2020-12-21 14:16] sidoruka commented on #1639
Please backport to `release/0.16`

[2020-12-21 14:58] mzueva opened #1671 "OOM Killer pod shall not crash when API is not available"
**Background**
OOM monitor service implemented for #1633 may crash if API server is not available, e.g.:

![image](https://user-images.githubusercontent.com/12640002/102790025-f5fbe600-43b5-11eb-8221-32fff3749e1c.png)

OOM monitor service shall not fail if API is not available instead it shall log an error and wait until the next monitoring cycle starts.

[2020-12-22 15:39] #1645 closed, assigned to ekazachkova

[2020-12-22 15:39] #1669 closed, assigned to youkofan

[2020-12-22 15:58] mzueva commented on #1656
backported to `release/0.16`

[2020-12-23 17:49] mzueva opened #1686 "Search entities using ontology annotations"
**Background**
With implementation of #1571 it is possible to browse ontology data and use it as a metadata attribute to annotate an entity. It would be helpful make annotated entities searchable not only by value of an ontology entry but also by its synonyms and hierarchy tree, e.g. if an entity is annotated with the following MeSH heading `CD4-Positive T-Lymphocytes`, it shall be searchable by t

[2020-12-24 10:42] mzueva opened #1687 "Unit tests: Rewrite SAMLUserDetailsServiceImplTest"
**Background**
At the moment `SAMLUserDetailsServiceImplTest` uses full test context and is annotated with `@DirtiesContext` which significantly affects test execution time. It would be helpful to make this test a unit test without Spring context at all.

**Approach**
Rewrite `SAMLUserDetailsServiceImplTest` removing all spring test dependencies and make it a simple unit test.

[2020-12-24 10:47] mzueva opened #1688 "Unit tests: Rewrite HierarchicalEntityManagerTest"
**Background**
At the moment `HierarchicalEntityManagerTest` uses full test context and is annotated with `@DirtiesContext` which significantly affects test execution time.

**Approach**
It seems that this test is similar to `AbstractAclTest` approach as underlying code uses `filterTree` method which is used for `@AclTree` and similar annotations. It would be helpful to rewrite `HierarchicalEntity

[2020-12-24 13:05] rodichenko commented on #1637
@sidoruka @mzueva @NShaforostov #1689 implements GUI part for instance filters

[2020-12-25 06:54] NShaforostov commented on #1517
Daily e2e-tests results are located and updated [here](https://github.com/epam/cloud-pipeline/blob/e2e-reports/e2e/reports/AWS/test/classes/com.epam.pipeline.autotests.CustomNodeImagesForRunsTest.html) (for `AWS`).

[2020-12-25 08:49] rodichenko commented on #1646
@sidoruka @NShaforostov @mzueva GUI part backported to `release/0.16` (26eaccd8b96e4334028277f8596299d5afaf573c)

[2020-12-25 11:39] rodichenko commented on #1639
@sidoruka @NShaforostov GUI part backported to `release/0.16` (647045d28f7289a491d510d6b7cb0039b35b8771)

[2020-12-25 11:44] maryvictol commented on #1639
For pipe CLI:
An attribute is an existing SYSTEM DICTIONARY but a value does not exist in that dictionary.
Log messages are missing for the following cases:
1)  --create-metadata <METADATA_ITEM_NAME> option isn't specified for command '`pipe users import`' >> Log Message that value is skipped.
2)  --create-metadata <METADATA_ITEM_NAME> option is specified  for command '`pipe users import`' >> Log

[2020-12-25 11:47] rodichenko commented on #1637
@sidoruka @NShaforostov GUI backported to `release/0.16` (5ee4160612e052b8610050d38e96c8d7fcb64a09)

[2020-12-25 15:40] maryvictol commented on #1639
#1691

Verified on version: 0.17.0.8433

[2020-12-28 11:12] mzueva opened #1694 "Network access between runs shall be limited to owner only"
**Background**
At the moment users may access pods of other users if a pod provides some unsecured endpoint. Such access shall be limited to owner only, when user can access his/her own pods but not pods of other  users.

**Approach**
A clear and concise description of what you want to happen.

[2020-12-28 11:26] mzueva opened #1695 "Unit tests: Implement tests for DAO layer"
**Background**
At the moment tests for DAO layer use almost full Spring context, which significantly affects test startup time. It would be helpful to introduces a separate test configuration/context which will include only DAO & JDBC related beans.

[2020-12-28 14:19] tcibinan opened #1697 "Import error in pipe fuse build"
**Describe the bug**

Currently pipe fuse binary build fails to start due to import error on some of the workstations. For some reason just the same exact pipe fuse build works on one workstation and doesn't work on the other. Both workstations are ubuntu 18.04.

[code]

Addition of a hidden import for the package seems to solve the problem.

**Environment:**
 - Cloud Provider: AWS
 - Version 0.17

[2020-12-29 10:27] #1697 closed, assigned to nobody

[2020-12-29 10:31] tcibinan commented on #1697
Cherry-picked to `release/0.16` via d2fe505528a83bcf72876e236f6a8c22f79d93b1.

[2020-12-29 10:33] tcibinan commented on #640
Cherry-picked to `release/0.16` via a5cffcee6380009825fdb71c22059f24e34da45d.

[2020-12-29 10:36] tcibinan commented on #1501
Cherry-picked to `release/0.16`.

[2020-12-29 14:21] #1671 closed, assigned to ekazachkova

[2020-12-30 08:50] tcibinan opened #1705 "Inconsistent error logging during shared file system configuration"
**Background**

Currently shared file system configuration issues are pretty hard to investigate because of the missing error logging. For example `cluster_wait_for_node.py` script fails in certain scenarios (f.e. #140) leaving no details on the reason of the failure.

**Approach**

Refactor `cluster_wait_for_node.py` script if required and add proper error logging to simplify any further troubles

[2020-12-30 10:56] ekazachkova opened #1706 "`pipe storage restore` shows incorrect error message if specified version doesn't exist"
**Describe the bug**
`pipe storage restore` shows incorrect error message if specified version doesn't exists for AWS provider.

**To Reproduce**
Steps to reproduce the behavior:
1. create file into the bucket
2. set deletion marker to this file
3. try to restore this file via CLI: `pipe storage restore <file path> -v <not existing version>`
4. See error message: `Error: An error occurred (Invalid

[2020-12-30 14:19] ekazachkova opened #1708 "`pipe storage ls` works incorrect for not admin/owner users"
**Describe the bug**
`pipe storage ls` works incorrect for not admin/owner users when version listing specified.

**To Reproduce**
Steps to reproduce the behavior:
1. create storage and enable versioning
2. upload test files
3. grant permissions for storage for not admin/owner user
4. login as not admin/owner user
5. run `pipe storage ls <path to file> -v`
6. see version listing

**Expected behavi

[2021-01-11 09:44] tcibinan opened #1711 "Local timezone is not considered in pipe fuse"
**Describe the bug**

Currently pipe fuse do not take into consideration local time zone which may lead to incorrect object dates being shown.

**To Reproduce**

Steps to reproduce the behavior:
1. Mount any object storage to a machine with non utc time zone.
[code]
2. Create a file and check its creation date.
[code]
3. Compare it with local date.
[code]
4. See that the dates aren't close enough.

[2021-01-11 12:42] #1711 closed, assigned to tcibinan

[2021-01-11 14:37] sidoruka opened #1713 "Seamless authentication in AWS"
**Backround**
There are two use cases that shall be considered:
* Some of the users are running jobs in the Cloud Pipeline, that access data/services located in the external AWS accounts (e.g. S3, DynamoDB). This requires the user to specify the authentication keys explicitly (either in the shell session or in the R/Python scripts). This is not user-friendly and not secure, if the users include th

[2021-01-11 14:38] sidoruka opened #1714 "Seamless authentication in GCP"
This is a placeholder to mimic the #1713 for the GCP Cloud Provider

[2021-01-11 14:48] sidoruka opened #1715 "Multizone jobs and data access"
**Background**
At the moment, EDGE service can be deployed only in one of the Cloud Regions. While the users and data storages can be located across the globe.
So the users are experiencing the following issues:
•	Higher connection latencies for the interactive sessions (SSH/NoMachine/Web IDEs);
•	Lower data transfer performance when moving data between the regions (e.g. from the EU storage to the

[2021-01-11 14:49] sidoruka commented on #455
Closing in favor of #1715

[2021-01-11 14:49] #455 closed, assigned to nobody

[2021-01-11 15:09] sidoruka opened #1716 "Billing reports: full-size & raw data export"
### Background

At the moment in Cloud Pipeline, billing reports allow CSV export of only limited quantity of data (only `TOP-N` rows, displaying at GUI). In some cases users may want to export the whole billing reports data - e.g. to perform the further analysis. So, it would be useful to allow users export the full tables of billing reports.

Another moment, in billing CSV export only the aggreg

[2021-01-11 15:14] sidoruka opened #1717 "Store the Object Storages tags in the DB"
**Background**
At the moment, Cloud Pipeline stores the tags of the objects, stored in S3/GCS/BLOB, using the Cloud-native approach. This makes it hard (near to impossible) to include this information into the search and billing machinery.

**Approach**
* Tags shall be now stored in the Cloud Pipeline's DB (read/added/deleted/updated using the existing API)
* This feature shall be implemented for

[2021-01-11 15:18] sidoruka opened #1718 "Use object tags in search/billing"
Once the #1717 feature is implemented – the tags shall be included into the search and billing machinery.
* The Data Storage billing mechanism shall allow viewing the data costs information more precisely.
* Billing reports shall show the real consumption and costs of the data storage resources by a specific user (compared to a current “bucket-level”, that is available now):
* Display a “per-stora

[2021-01-13 13:54] SilinPavel opened #1723 "pipe run command can't start a run with --friendly-url <domain-name> correctly"
**Describe the bug**
For now pipe run command can't start a run with --friendly-url <domain-name> correctly
If you specify for --friendly-url domain name as a value it won't recognize it as a domain and send it to the server as a url-path
As a result tool endpoint will have value like: `<cloud-pipeline-ip>:<edge-port>/<friendly-url>` instead of `<friendly-url>:<edge-port>`

**To Reproduce**
Steps

[2021-01-13 14:02] SilinPavel opened #1724 "Edge sync-routes.py script won't recreate endpoint configuration with the same friendly url for different runs"
**Describe the bug**
Edge sync-routes.py script won't recreate endpoint configuration with the same friendly url for different runs
It can happen if termination of first run and start of the second run (with the same friendly url) will occur before nearest launch of `sync-routes.py`

**To Reproduce**
Steps to reproduce the behavior:
1. Run pipeline with interactive endpoint and `friendly-url`
2. W

[2021-01-18 14:00] mzueva commented on #1713
### Implementation
1. Create new interface `CloudProfileCredentials` with `AWSProfileCredentilals` implementation with the following fields
    - `id` [Long]
    - `cloudProvider` [enum]
    - `profileName` [String]
    - `assumedRole` [String]
    - `policy` [String]
2. `CloudProfileCredentials` shall be stored in DB, all management operations shall be allowed to admins only.
3. Add a new API met

[2021-01-18 15:08] tcibinan opened #1733 "Automate e2e cli test results publication to GitHub"
**Background**

Currently e2e cli test results are stored only stored in private location. Nevertherless these reports can be published in public similarly to e2e GUI test results.

**Approach**

Support automated e2e cli test results publishing to a special `e2e-reports` branch of the repository.

[2021-01-18 17:14] mzueva opened #1735 "Unit tests: Refactor FolderTemplateManagerTest"
**Background**
At the moment `FolderTemplateManagerTest` is annotated with `@DirtiesContext` and uses `TestApplicationWithAclSecurity` as context configuration. In order to reduce test startup time we need to remove `@DirtiesContext` annotation and rewrite test using inheritance from `AbstractAclTest`.

[2021-01-18 17:22] mzueva opened #1736 "Unit tests: Refactor PipelineWithPermissionsTest"
**Background**
At the moment `PipelineWithPermissionsTest` is annotated with `@DirtiesContext` and uses `TestApplicationWithAclSecurity` as context configuration. In order to reduce test startup time we need to remove `@DirtiesContext` annotation and rewrite test using inheritance from `AbstractAclTest`.

[2021-01-20 10:54] ekazachkova commented on #424
Fixed for file via #1720
Need to be fixed for folders

[2021-01-20 12:42] mzueva commented on #1717
@tcibinan @sidoruka
Some points to consider:
- NFS files shall be tagged as well
- Tags shall be supported for files only
- Tags shall be deleted when a file deleted from storage using API or pipe CLI
- Init scripts to transfer tags from Cloud provider to DB shall be provided

[2021-01-20 12:45] mzueva opened #1739 "Pipe mount shall tag files transferred to cloud storage"
**Background**
A clear and concise description of what the problem is. Ex. At the moment, Cloud Pipeline does not allow [...] and it would be nice to [...] because [...]

**Approach**
A clear and concise description of what you want to happen.

**Other options**
A clear and concise description of any alternative solutions or features you've considered.

[2021-01-22 13:09] mzueva opened #1743 "Unit tests: Rewrite PipelineConfigurationManagerTest"
**Background**
At the moment `PipelineConfigurationManagerTest` uses Spring context with enabled ACL security and is annotated with `@DirtiesContext`. This significantly affects test start up time. In order to improve test performance let's make this test a pure unit test without Spring context and mock all external services. Test should check that `pipelineConfigurationManager.getPipelineConfigur

[2021-01-26 11:34] mzueva opened #1745 "Support custon DNS entries for run in Azure regions"
**Background**
Implementation of #1615 for Azure cloud

[2021-01-26 11:56] sidoruka opened #1746 "GUI shall display the users import log"
**Background**
The administrators are now able to import users from the CSV file via the GUI and CLI (#1639).
As the import process may run into certain issues - it is critical to let the user know what went wrong.
The GUI shall display the import log information, as the CLI does.

**Approach**
* Once the import is done - display a popup with the log information
* The log shall be formatted as a s

[2021-01-26 11:56] sidoruka commented on #1746
Please backport to `release/0.16`

[2021-01-26 15:19] rodichenko commented on #1746
@sidoruka implemented, backported to `release/0.16`

[2021-01-26 17:26] kamyshova opened #1750 "Introduce mount timeout for EFS and Lustre"
**Background**

At the moment, Cloud Pipeline sensitive runs don't have access to the EFS and the FSx for Lustre filesystems.
Thus the sensitive run hangs at startup initialization if an NFS storage is mounted.

**Approach**

* Introduce a `mount_timeout` option to NFS mounting.

[2021-01-27 07:10] NShaforostov opened #1751 "The day of the week can't be set before the time in the hot node pool schedule settings"
**Describe the bug**
At the creation of a new hot node pool schedule, if the day of the week is selected before the time is set - the selected day is being dumped.

**To Reproduce**
Steps to reproduce the behavior:
1. Click the "**+ Create**" button at the **HOT NODE POOLS** tab
2. Click the field near the "**Starts on**" label
3. Select any day in the appeared list, e.g.:
![image](https://user-im

[2021-01-27 10:59] mzueva opened #1752 "Unit tests: Rewrite NotificationAspectTest"
**Background**
At the moment `NotificationAspectTest` uses Spring context with enabled ACL security and is annotated with @DirtiesContext. This significantly affects test start up time. In order to improve test performance let's make add a new test configuration with manager-layer beans and enabled aspects and rewrite `NotificationAspectTest` using this new aspect.

[2021-01-27 11:34] mzueva opened #1754 "Unit tests: Rewrite DockerRegistryNotificationTest"
**Background**
At the moment `DockerRegistryNotificationTest` is annotated with `@DirtiesContext` and uses `TestApplicationWithAclSecurity` as context configuration. In order to reduce test startup time we need to remove `@DirtiesContext` annotation and rewrite test using inheritance from `AbstractAclTest`.

[2021-01-27 11:37] mzueva opened #1755 "Unit tests: Rewrite RunScheduleManagerTest"
**Background**
At the moment `RunScheduleManagerTest` is annotated with `@DirtiesContext` and uses TestApplicationWithAclSecurity as context configuration. In order to reduce test startup time we need to remove `@DirtiesContext` annotation and make `RunScheduleManagerTest` a unit test without spring context (dao layer & other beans shall be replaced by mocks).

[2021-01-27 15:56] tcibinan opened #1757 "Support OpenSSH passwordless access in pipe tunnel for Windows"
**Background**

Relates to #1501.

Currently pipe tunnel has support for automated passwordless ssh configuration on Windows. Nevertheless passwordless access is allowed via Putty and its cli clients (pscp.exe and plink.exe). In certain scenarios it can be helpful to allow passwordless access via Windows OpenSSH besides Putty.

**Approach**

Along with the existing support for Putty passwordless c

[2021-01-27 16:10] tcibinan opened #1758 "Support absolute paths in pipe scp for Windows"
**Describe the bug**

Currently Windows absolute paths are not resolved correctly by pipe scp.

**To Reproduce**

Steps to reproduce the behavior:

1. Try to copy any file using its absolute path on Windows workstation

[code]
2. Check the current directory to find out that the file has been copied to current directory by name `C`.

**Expected behavior**

Absolute files have to be managed properly

[2021-01-28 08:48] tcibinan opened #1760 "Add retry mechanism to LFS mounting"
**Background**

Currently in case of any errors during LFS mounting a corresponding run fails. It can be helpful to try at least several times to mount LFS before failing a run.

**Approach**

Bring retry mechanism to LFS mounting process.

[2021-01-28 09:23] tcibinan opened #1761 "Consider additional worker run state during SGE cluster scaling up"
**Background**

Currently SGE autoscaler wait a predefined time for additional worker runs to initialize. Nevertheless if doesn't consider additional worker run states which results in SGE autoscaler waiting for a run to initialize even if the run has already failed.

**Approach**

SGE autoscaler should consider additional worker run states and fail fast in case of non-running state.

[2021-01-28 10:11] rodichenko commented on #1751
@NShaforostov this was fixed by ca067cbe4ce7748b9f3e6e84b15ccae5e673ac47, backported to `release/0.16` by 9339f3de4bc730bd492e999266e2583e7d9845df

[2021-01-28 11:10] #1761 closed, assigned to tcibinan

[2021-01-28 11:31] #1760 closed, assigned to tcibinan

[2021-01-29 10:49] mzueva commented on #1750
Timeout approach doesn't work for all cases, so it would be helpful to completely skip mounting of NFS storage to sensitive runs. Let's introduce a new SystemPreference `storage.mounts.nfs.sensitive.policy` with the following supported values:
- `SKIP` -  NFS mounts shall be skipped for sensitive runs
- `TIMEOUT` - NFS mounts shall be mounted with retry & timeo options for sensitive runs
- `NONE`

[2021-01-29 11:08] #1758 closed, assigned to tcibinan

[2021-01-29 11:41] #1757 closed, assigned to tcibinan

[2021-02-01 09:02] mzueva opened #1771 "Pipeline Runs shall not be deleted with parent Pipeline"
**Background**
At the moment when `Pipeline` entity is deleted all child `PipelineRuns` are deleted as well. This leads to incorrect billing results, as deleted `PipelineRuns` are not included into reports and prevents server from clearing resources associated with `PipelineRun`, e.g. LustreFs and DNS records.

**Approach**
`PipelineRuns` shall not be deleted with parent `Pipeline` entity.

[2021-02-01 12:04] rodichenko commented on #1750
@sidoruka, @NShaforostov  GUI part implemented, backported to `release/0.16` (66bba6f7bdc2854556fd38f6a3175acd9f82b7fb)

[2021-02-02 10:55] mzueva opened #1773 "Storage mount scripts shall consider path hierarchy"
**Background**
It is possible to register multiple storages for different paths of one underlying filesystem (EFS, Lustre FS, etc.), e.g.:
- `ParentStorage` -> `fs.efs.eu-central-1.amazonaws.com:/root`
- `ChildStorage` -> `fs.efs.eu-central-1.amazonaws.com:/root/user-home`

At the moment the order of mount for such storages is not defined, `ChildStorage` maybe mounted first and then `ParentStorage

[2021-02-03 10:18] mzueva opened #1776 "Unit tests: Refactor PipelineRunManagerTest"
**Background**
At the moment `PipelineRunManagerTest` is annotated with `@DirtiesContext` and uses `TestApplicationWithAclSecurity` as context configuration. In order to reduce test startup time we need to remove `@DirtiesContext` annotation and split test into minor ones unit or integration tests.

**Approach**
- Extract all `instanceType` and `priceType` related tests to a separate unit test
- E

[2021-02-04 14:11] mzueva opened #1779 "Adjust node pool size to cluster workload"
**Background**
At the moment `NodePool` feature (introduced by #841) allows to create instance pools with static size. It would be helpful to automatically adjust `NodePool` size according to current cluster workload: increase pool size if most of its instances are assigned to active runs and decrease pool size if most of its instances are idle.

**Approach**
The following fields shall be added to

[2021-02-05 09:37] mzueva opened #1780 "Unit tests: Rewrite RunStatusReasonTest"
**Background**
At the moment `RunStatusReasonTest` uses Spring context with enabled ACL security and is annotated with `@DirtiesContext`. This significantly affects test start up time. In order to improve test performance let's rewrite test using new test context with Aspects.

[2021-02-05 10:27] mzueva opened #1781 "Allow to disable hyperthreading for a run"
**Background**
It would be helpful to introduce an option to disable hyperthreading for a run.

**Approach**
Two possible options:
- If it is possible to disable hyperthreading inside a pod/container, let's implement it in `launch.sh` script using env vars to enable this option
- If hyperthreading may be disabled only on host, then changed shall be applied to `init.sh` scripts

[2021-02-08 09:59] rodichenko commented on #1779
@mzueva @sidoruka GUI part implemented (#1787)

[2021-02-08 10:00] rodichenko commented on #1713
@sidoruka GUI part implemented (#1786)

[2021-02-08 10:55] mzueva opened #1788 "Unit tests: fix UserManagerTests"
**Background**
At the moment `UserManagerTests` fails if AWS credentials are not present on the instance running tests since cloud-related S3 storage code is not fully mocked.

**Approach**
Mock any methods using actual S3 calls.

[2021-02-08 12:58] mzueva opened #1790 "Unit tests: Refactor DockerContainerOperationManagerTest"
**Background**
At the moment `DockerContainerOperationManagerTest` uses Spring context which affects test running time, but it seems that full context is not required for this test.

**Approach**
Rewrite `DockerContainerOperationManagerTest` as unit test without Spring context.

[2021-02-08 13:14] rodichenko commented on #1779
@sidoruka @NShaforostov GUI part backported to `release/0.16` (31d34eb7643cf8db068a8651e3d453fc86ece93b)

[2021-02-09 13:10] mzueva opened #1795 "API server logs shall be stored in Elasticsearch"
**Background**
API server logs shall be stored in Elasticsearch similar to security system logs.

[2021-02-10 12:08] mzueva commented on #1776
Further refactoring:
- for now leave tests `testRunCmdFailed` and `testAdminRunForce` in `PipelineRunManagerTest` these tests shall be rewritten when test context with enabled aspects is ready
- move test `testEnvVarsReplacement` to `PipelineRunManagerUnitTest` and split it into separate tests by cases
- move tests `testResolveProjectFiltering`, `shouldThrowExceptionOnInexistentRunTagUpdate` to `P

[2021-02-11 11:27] sidoruka opened #1799 "Hot Node Pools can't start if the "empty" string is provided in the GUI for any field"
**Describe the bug**
If the administrator start a new pool (#841) and specifies an empty string to any of the fields, which are optional - the nodes can't be created.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a new hot node pool creation window
2. Specify mandatory fields
3. Set value `asdf` to the `AMI` field
4. Delete the `AMI` field value
5. Create a pool
6. Nodes are not creat

[2021-02-11 11:28] sidoruka commented on #1799
Please backport to `release/0.16`

[2021-02-11 12:25] rodichenko commented on #1799
@sidoruka @NShaforostov GUI part fixed, backported to `release/0.16` (af43b66240401038662ee3057ab59f87805a81dc)

[2021-02-11 18:34] mzueva opened #1801 "ELK deployment is broken for GCP environment"
**Describe the bug**
At the moment `pipectl` fails to deploy `cp-search-elk` deployment in GCP environment due to errors with credentials json.

[2021-02-11 19:43] sidoruka opened #1802 "Add pause/resume operations support to the `pipe`"
**Background**
At the moment, users may automate the `pause` and `resume` operation only via the API calls. While this is possible, it's not that nice as could be.
It would be great to expose `pipe pause` and `pipe resume` operations to the CLI.

**Approach**
* Add `pipe pause [RUN_ID] --check-size --sync/-s` and `pipe resume [RUN_ID] --sync/-s` commands
* In a `--sync` mode - we shall wait for th

[2021-02-11 19:44] sidoruka commented on #1802
Please backport to `release/0.16`

[2021-02-15 10:00] NShaforostov opened #1805 "Versioned Storages"
## Background

In some cases, Cloud Pipeline users wants not only store their data in storages and place computation results there but also have the full value system of the revision control of that data - to view revisions, history of changes, diffs between revisions. Version control in that case can be really useful - because it allows to observe all changes of the data since the original data c

[2021-02-15 13:47] NShaforostov opened #1807 "Versioned Storages: use cases for Git operations"
**Background**
Once the [Versioned Storage](https://github.com/epam/cloud-pipeline/issues/1805) (further - VS) support is implemented, users should have the ability to launch runs using that new type of storages.
Users should have the access to the VS during the run - similarly as to the folder of any mounted storage currently. Users should have the ability to read and write data (according to the

[2021-02-15 17:31] mzueva opened #1808 "Search shall handle queries with special symbols"
**Describe the bug**
At the moment global search requests fail when query contains special symbols, e.g. `folder/file.txt`. Such symbols shall be escaped in order to process these queries.

[2021-02-15 17:38] mzueva opened #1809 "Expand GUI options to terminate nodes"
**Background**
At the moment GUI allows to terminate nodes one by one on the `CLUSTER` tab. It would be helpful to expand GUI options to terminate nodes.

**Approach**
- Add `terminate` button to `Node` tab
- Add batch `terminate` to  `CLUSTER` tab to allow deleting of multiple nodes at once

[2021-02-15 17:45] mzueva opened #1810 "Show node status on Cluster and Node tabs"
**Background**
At the moment actual status of nodes in the cluster shall be checked directly on the master node using `kubectl` or cloud CLI. It would helpful to show kubernetes node status and cloud instance state in the GUI.

**Approach**
- Add `Status` column to `CLUSTER` tab with kubernetes node status
- API shall return `status` for all `/cluster/node/` requests
- Add `Node state`  and `Cloud

[2021-02-16 10:04] mzueva opened #1811 "Improve Tool tab performance"
**Background**
At the moment all Tool related data is loaded in one request `/tool/id/attributes` which returns image dependencies and security scan results for all existing tool versions. This requests takes up to several seconds for large images with lots of layers and it significantly affects performance of `Tool` tab. It would be nice to improve performance of this request.

**Approach**
-  in

[2021-02-17 11:47] mzueva opened #1816 "Create a new API method to get list of runs along with associated tools"
**Background**
At the moment Edge service requests run and tool info for each active run via a separate request. In order to improve performance we need to implement a method to get info for a list of runs.

**Approach**
Implement a new API method which will load a list of `PipelineRun` objects with associated `Tools`. Method shall accept a list of `PipelineRun` ids and return the following info:

[2021-02-17 12:09] rodichenko commented on #1809
@sidoruka @mzueva @NShaforostov implemented, backported to `release/0.16` (232983750886902ebf2a38966a36feb684957659)

[2021-02-17 15:56] Wedds commented on #1802
<h1> E2E test cases description</h1>

<h2>`pipe pause`</h2>

**Requirements:**
1. Active on-demand run:

    1.1. Start new run using UI or CLI

    1.2. Wait till the run is initialized (has status 'RUNNING')

For the cases description, assume, that the active run has RunID=*1234* and its' image is *centos:latest*.
<hr>
<h3>CLI-PAUSE-TC-1</h3>

Run is paused in the non-sync mode

**Commands to ru

[2021-02-17 16:42] sidoruka opened #1817 "/datastorage/<ID>/generateUploadUrl is broken"
**Describe the bug**
`403` error is thrown if PUTting file using the URL, generated by `/datastorage/<ID>/generateUploadUrl`

**To Reproduce**
Steps to reproduce the behavior:
1. Generate upload url:
[code]
2. Extract the `.payload.url` response value
3. PUT the file
[code]
4. Error is thrown
[code]

**Environment:**
 - Cloud Provider: AWS
 - Version: `0.16.0.8731.30f13e098f33a5efeed2a61ca0e3665f6

[2021-02-18 10:06] NShaforostov commented on #1805
## Main use cases

- [CRUD operations](#crud-operations)
  - [VS creation](#vs-creation)
  - [View and read content](#view-read-content)
  - [View the file](#view-file)
  - [Create new object (file/folder)](#create-new-object)
  - [Upload file](#upload-file)
  - [Rename file/folder](#rename-file-folder)
  - [Remove file/folder](#remove-file-folder)
  - [Edit file](#edit-file)
- [Blind data](#blind

[2021-02-18 22:17] sidoruka opened #1822 "`pipe` can't handle special symbols"
**Describe the bug**
`pipe storage cp` can't (almost) transfer files with "special" symbols in names.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Environment:**
 - Cloud Provider: AWS
 - Version: ` 0.16.0.8731.30f13e098f33a5efeed2a61ca0e3665f6e746e1c`

[2021-02-19 10:46] sidoruka opened #1823 "SYSTEM LOGS shall display the last day, be default"
**Background**
The SYSTEM LOGS, introduced by #989, may hang/timeout when the GUI requests the whole data range. We shall limit the user to reduce the compute costs.

**Approach**
* By default, set `From:` field to `datetime.now()-1d`, so the logs are displayed only for the last 24 hours
* If the date diff (`To` - `From`) is more than a week - display a "soft" notification, that this request will

[2021-02-19 10:46] sidoruka commented on #1823
Backport to `release/0.16`

[2021-02-19 14:20] rodichenko commented on #1823
@sidoruka @NShaforostov implemented, backported to `release/0.16` (a177de9883b8312e81d246a5692918062e1e1746)

[2021-02-19 14:53] rodichenko commented on #1811
@sidoruka @NShaforostov @mzueva backported to `release/0.16` (73ee55de0f6a20382699e158a314d6dac1b80d91)

[2021-02-22 16:54] sidoruka commented on #1822
Additional testing, using the following filenames:
[code]

* All the files were uploaded correctly
* The following files have failed downloading:
  * 123?1.txt: `Source s3://... doesn't exist`
  * 123#1.txt: `Source s3://... doesn't exist`
  * 123%1.txt: `Error: Failed to fetch data from server. Server responded with message: Required String parameter 'id' is not present`

Looks like the issues ha

[2021-02-24 13:38] sidoruka opened #1825 "Allow to run "hosted" applications"
**Background**
At the moment, Cloud Pipeline allows launching "long-running" applications. But the general approach, initially implemented for the compute jobs, suffers from a number of issues:
* If a run fails (for whatever reason) it's not restarted automatically
* For the internal access (e.g. if a database is hosted) - the IP and name (which match the pod) change during the restarts

**Approac

[2021-02-24 13:38] sidoruka commented on #1825
@rodichenko do not implement GUI, until the API is in place

[2021-02-25 09:39] mzueva commented on #1817
Method works fine, this issue is caused by tag options: API generates presigned URL with owner and acl-owner tags and these tags shall be passed as headers when request is submitted.

[2021-02-25 09:39] #1817 closed, assigned to mzueva

[2021-02-25 16:28] NShaforostov commented on #1807
### Main use cases. Using Versioned Storages in runs (Git operations)

- [Additional controls for VS usage during runs](#additional-controls)
- [Launch a run from the VS page](#launch)
- [Clone the VS content into the running instance](#clone-into-run)
- [Diffs for a cloned storage](#diffs)
- [Save content from the running instance to the VS](#commit-vs)
- [Change the revision in the running insta

[2021-02-26 16:13] sidoruka opened #1829 "Introduce "faceted filter" capability"
**Background**
At the moment, Cloud Pipeline allows searching for the data using a "plain" search string. This works great, but sometimes users have well-structured data, and they want to search by the attributes.
These are attributes is a collection of the dictionaries, with predefined members.

E.g. we can have a dictionary called `Engineer` with the following members:
* mzueva
* sidoruka
* rodi

[2021-02-26 16:17] sidoruka opened #1830 "Create QuPath docker image"
**Background**
At the moment, Cloud Pipeline does not offer any default "Pathology Imaging" docker images. Let's add one to enrich our "out-of-the-box" tools library

**Approach**
Let's use this great tool https://github.com/qupath/qupath

[2021-02-26 16:27] sidoruka opened #1831 "Implement the "OnPrem" integration service"
**Background**
At the moment, Cloud Pipeline offers a "Data Transfer Service" which allows users to upload the data from the OnPrem environment to the Cloud easily. But this happens during the pipeline execution. For some use cases, it would be great to perform this process automatically.

Probably, it's quite common for the OnPrem environments to have some sort of lab machinery (e.g. NGS sequence

[2021-02-26 21:21] sidoruka opened #1832 "Allow to run Windows-based applications in the Cloud Pipeline"
**Background**
At the moment, Cloud Pipeline is a fully Linux-based solution, but there is a growing demand on running Windows-based apps as well (especially for the `Modelling and Simulation`, `PK/PD` use cases).
There was an attempt (#755) to implement this via the Windows containers, but it failed as only "headless" applications can be run this way. The majority of the relevant apps are GUI-bas

[2021-02-26 21:24] sidoruka commented on #755
Closing in favor of #1832

[2021-02-26 21:24] #755 closed, assigned to mzueva, sidoruka

[2021-02-26 21:37] sidoruka opened #1833 "Versioned Storage: Git operations"
**Background**
To make the `Versioned Storages` (#1805) available from inside the running job - will need some service, running inside a container.
This service shall the user to perform common Git operations to:
* Clone the Versioned Storage
* Commit/Push the changes to the Versioned Storage
* Resolve conflicts, if any

**Approach**
* A service shall be implemented as a part of the FSBrowser
* `C

[2021-03-02 18:23] rodichenko commented on #1805
@mzueva @NShaforostov @sidoruka
We need the following API enhancements to meet the requirements:

**Versioned Storage** creation:
I suggest to use `type`=`versioned_storage` attribute for such objects (pipelines). **TBD** shall we use the current method
for pipeline creation or use a new one?

**View and read content**:
- we need to add `Revision` (commit hash), `Author`, `Message` fields for dire

[2021-03-03 08:43] rodichenko opened #1836 "Faceted Filter Search page (GUI)"
**Background**
At the moment, Cloud Pipeline allows to search pipelines/jobs/tools/etc by specifying search criteria (string) and entity type(s). We're going to introduce new **Faceted Filter** feature (#1829) with advanced filters, but keep current search interface as well.

**Approach**

**Layout**:
* Implement a new **search/advanced** (TBD) route for the **Faceted Filter** page. To open facete

[2021-03-03 09:49] rodichenko opened #1837 "Faceted Filter controls (GUI)"
**Background**
To introduce a new **Faceted Filter** feature (#1829 #1836), we must implement E-Commerce -like faceted filter controls.

**Approach**
* `System dictionaries` (#1426) are going to be used as faceted filters; to configure their order, visibility and other properties, GUI shall consider `faceted.filter.dictionaries` preference (JSON), i.e.:
[code]
* Only dictionary entries with associ

[2021-03-03 10:07] rodichenko opened #1838 "Faceted Filter search results (GUI)"
**Background**
To introduce a new **Faceted Filter** feature (#1829), we must implement a paged list of search results with previews.

**Approach**
* Each modification of the faceted filter or search criteria must trigger the search (see #1837);
* Search Results list must be paged;
* GUI shall display an object preview on hover; we must re-use and (if necessary) improve current preview controls;
*

[2021-03-03 10:30] mzueva commented on #1829
#### Server Implementation Details

1. At the moment metadata for any object is indexed as a set of tags and it is not possible to run facet queries against it. In allow such queries we need to convert metadata attributes into elasticsearch document fields during document indexing process in `elasticsearch-agent` service. ES mapping for the docs shall be also changed to support variable fields (te

[2021-03-05 15:38] mzueva opened #1840 "Configure idle timeout for autoscaled SGE workers"
**Background**
At the moment autoscaled SGE workers are stopped after 30 seconds idle timeout. It would be helpful to allow users to configure this idle timeout via run parameters.

[2021-03-09 13:09] mzueva opened #1842 "Zombie mount processes"
**Describe the bug**
At the moment some runs may hang indefinitely after end of main script execution due to zombie mount processes. As an option to address this issue we may try to preliminarily unmount all storages in launch.sh script at the end of its execution.

[2021-03-09 15:51] tcibinan opened #1844 "Missing environment for non interactive SSH sessions"
**Describe the bug**

Currently non interactive SSH sessions to runs with certain images have reduced environment and f.e. miss proxy settings which makes it impossible to properly use SSH session to perform any network-based commands.

It turned out that `launch.sh` script doesn't properly configure environment for non interactive SSH sessions if run's image contains the following file `/etc/bash

[2021-03-09 16:39] #1844 closed, assigned to nobody

[2021-03-09 16:42] tcibinan commented on #1844
Cherry-picked to `release/0.16` via e3824cefc430dfd5da7d7b06cd5b8e146ad35458.

[2021-03-10 14:22] NShaforostov commented on #1569
**e2e-tests** were implemented via #1759.

[2021-03-10 15:45] NShaforostov commented on #1569
Daily e2e-tests results are located and updated [here](https://github.com/epam/cloud-pipeline/blob/e2e-reports/e2e/reports/AWS/test/classes/com.epam.pipeline.autotests.SampleProcessingModuleTest.html) (for `AWS`).

[2021-03-10 15:47] NShaforostov commented on #1589
**e2e-tests** were implemented via #1759.

[2021-03-10 15:47] NShaforostov commented on #1589
Daily e2e-tests results are located and updated [here](https://github.com/epam/cloud-pipeline/blob/e2e-reports/e2e/reports/AWS/test/classes/com.epam.pipeline.autotests.SampleProcessingModuleTest.html) (for `AWS`).

[2021-03-10 15:49] NShaforostov commented on #1613
**e2e-tests** were implemented via #1759.

[2021-03-10 15:51] NShaforostov commented on #1613
Daily e2e-tests results are located and updated [here](https://github.com/epam/cloud-pipeline/blob/e2e-reports/e2e/reports/AWS/test/classes/com.epam.pipeline.autotests.SampleProcessingModuleTest.html) (for `AWS`).

[2021-03-11 08:48] tcibinan opened #1848 "Support connections to internal ips in pipe tunnel"
**Background**

Relates to #1501.

Currently pipe tunnel connections can be established only to a specific run by specifying its run id. At the same time it can be helpful to support tunnel connections to not only run instances but to any ip address accessible from edge service.

**Approach**

Support both run id and internal ip as a target in `pipe tunnel start` command.

[2021-03-11 10:21] mzueva opened #1851 "Fix file indexing for sensitive storages"
**Describe the bug**
At the moment files in the sensitive storages are not indexed due to `StorageForbiddenOperationException`. `Elasticsearch-agent` service shall request temporary storage credentials for listing only to solve this issue.

[2021-03-11 10:23] mzueva opened #1852 "Fix file indexing for S3 storages with prefixes"
**Describe the bug**
At the moment file indexing is broken for S3 storages with prefixes (e.g. `s3://bucket/folder`)

[2021-03-11 11:15] mzueva commented on #1825
@rodichenko method GET/POST /run/{runId}/kube/services & `kubeServiceEnabled` flag of `PipelineRun` object

[2021-03-11 13:35] #1848 closed, assigned to tcibinan

[2021-03-11 15:28] rodichenko commented on #1851
@mzueva GUI part fixed (6063b0a70950b7a355be6809c5951c04b2f6f141)

[2021-03-12 09:22] NShaforostov commented on #1590
**e2e-tests** were implemented via #1853.

[2021-03-12 11:04] NShaforostov commented on #1569
**Docs** were updated via #1855.

[2021-03-12 11:05] NShaforostov commented on #1589
**Docs** were updated via #1855.

[2021-03-12 11:05] NShaforostov commented on #1613
**Docs** were updated via #1855.

[2021-03-12 11:06] tcibinan opened #1857 "Support concurrent passwordless ssh configuration in pipe tunnel"
**Background**

Relates to #1501.

Currently pipe tunnel passwordless ssh configuration updates several local files on the remote run instance such as `~/.ssh/authorized_hosts`. It is possible that two concurrent pipe tunnel can update the same file simultaneously which can lead the file to an inconsistent state.

**Approach**

Pipe tunnel passwordless ssh configuration should use file system lock

[2021-03-12 11:06] NShaforostov commented on #1613
**Docs** were updated via #1855.

[2021-03-12 11:07] NShaforostov commented on #1339
**Docs** were updated via #1855.

[2021-03-12 11:08] NShaforostov commented on #1353
**Docs** were updated via #1855.

[2021-03-12 13:16] rodichenko commented on #1771
@mzueva @sidoruka GUI part implemented (#1854)

[2021-03-15 14:03] mzueva opened #1861 "Allow to configure filesystem type for an instance"
**Background**
At the moment we are using `btrfs` filesystem for instances. It would be useful to allow to switch to `ext4` filesystem for some instance types.

[2021-03-16 09:51] tcibinan opened #1864 "Implement advanced background pipe tunnel waiting approach"
**Background**

Relates to #1501.

Currently pipe tunnel processes launched in background mode may not be fully initialized even if parent process has exited. It happens because pipe tunnel parent process waits for only a predefined amount of time and then exits. In practice this approach doesn't work pretty well for some local and remote configurations . This may lead to an inconsistent behavior

[2021-03-16 10:14] mzueva opened #1865 "Allow to skip node reassignment for a run"
**Background**
For some cases, e.g. tests, it would be helpful to allow to skip node reassignment and always create a new node for a run.

**Approach**
If a run is launched with a param `CP_CREATE_NEW_NODE=true`, `Autoscaler` shall not try to reassign any of existing nodes for a run and create a new node instead.

[2021-03-16 11:34] #1864 closed, assigned to tcibinan

[2021-03-17 10:41] #1776 closed, assigned to Sergeev-Ilya

[2021-03-17 10:43] #1809 closed, assigned to rodichenko

[2021-03-17 10:43] #1816 closed, assigned to ekazachkova

[2021-03-17 13:44] tcibinan opened #1867 "Versioned data storage folders deletion removes everything by prefix"
**Describe the bug**

Currently google cloud versioned data storage folder complete deletion in GUI deletes all folders which name starts with the deleting folder name.

**To Reproduce**

Steps to reproduce the behavior:
1. Open google cloud data storage with versioning enabled using GUI
2. Create two folders with names `folder` and `folder-another`
![image](https://user-images.githubusercontent.c

[2021-03-19 09:36] NShaforostov commented on #1836
Additions:
1. Previous search interface shall be available by **Ctrl+F** (**Cmd+F**) shortcut, but the previous search interface shall not be opened by this shortcut if the user is already on the new advanced search page.
2. To the previous search interface, a link to the new advanced search shall be added (e.g. "**Show Advanced Search**").
3. Pagination control of the "Search results" panel shoul

[2021-03-19 13:14] tcibinan opened #1871 "Merge cloud-pipeline-common and core modules"
**Background**

Currently Cloud Pipeline repository contains two java modules `cloud-pipeline-common` and `core` which are responsible for almost the same goal - sharing some commonly used entities, utilities and etc. between different services. Due to historical reasons these two modules have been living together for quite some time.

**Approach**

It may be helpful to merge these two modules int

[2021-03-19 14:00] ekazachkova opened #1872 "Unable to modify file with .txt extension into pipeline git repository"
**Describe the bug**
Unable to modify file with `.txt` extension to pipeline git repository

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any pipeline
2. Create file with `.txt` extension
3. Click to file and click `EDIT`
4. Try to save changes
4. See error

**Expected behavior**
File shall be committed

**Environment:**
 - Cloud Provider: AWS
 - Version: 0.17.0.9003.3c09691cca864e94

[2021-03-19 15:48] NShaforostov commented on #1838
## Clarifications

Search results contain an array of objects (Cloud Pipeline entities - `file`, `storage`, `run`, etc.).

For each object in results, the additional info shall be displayed - according to the entity type.
I suggest to show the following info:

| Entity | Required info | Additional info |
| --- | --- | --- |
| **Folder** | NAME | OWNER |
| **Pipeline** | NAME | OWNER / DESCRIPTION

[2021-03-23 10:07] tcibinan commented on #1872
Relates to https://gitlab.com/gitlab-org/gitlab-foss/-/issues/34963.

[2021-03-23 13:29] NShaforostov commented on #1628
Verified.
Works well.

Were tested:
- export node utilization report by run ID
- export node utilization report by instance ID
- export node utilization report with different non-required options (`--output`, `--date-from`, `--date-to`, `--interval`, `--report-type`)
- comparison with the same report exported via the GUI

[2021-03-23 13:30] NShaforostov commented on #1628
**Docs** were updated via #1516.

[2021-03-23 16:54] NShaforostov commented on #1637
Verified.
Works well.

Was tested usage of hot node pool with:
- applying different filters (`run owner`, `run owner group`, `pipeline`, `run parameter`, `configuration`, `docker image`)
- applying different filter conditions (logical `AND`, `OR`)
- applying different operators for filters: `EQUAL`, `NOT_EQUAL`, `EMPTY`, `NOT_EMPTY`.

[2021-03-23 16:57] NShaforostov commented on #1637
**Docs** were updated via #1516.

[2021-03-23 17:33] NShaforostov opened #1875 "Pipeline detachment from the configuration isn't being saved"
**Describe the bug**
Pipeline detachment from the configuration doesn't really detach it.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new Configuration
2. Select an existing Pipeline (Model) to attach to the Configuration
3. Save the Configuration, e.g.:
4. Click the button **Pipeline** (**Model**) to open the popup with pipeline select
5. Click the "**Clear selection**" button

[2021-03-24 09:20] NShaforostov commented on #1639
**Docs** were updated via #1516.

[2021-03-24 10:08] NShaforostov commented on #1501
**Docs** were added via #1516.

[2021-03-24 10:36] NShaforostov commented on #1646
Verified.
Works well.

Were tested:
- export node utilization data in `xls` via GUI (with different settings - period interval, start/end dates)
- export node utilization data in `xls` via `pipe` CLI (with different options - `--interval`, `--date-from`, `--date-to`, `--output`)
- comparison of reports received by different ways

[2021-03-24 10:37] NShaforostov commented on #1646
**Docs** were updated via #1516.

[2021-03-24 11:08] NShaforostov commented on #1713
Verified.
Works well.

For the testing, the Profile with Read/Write access to the certain `AWS` data storage (`S3` bucket) was created.
This profile was used to access specified storage from the run via `AWS CLI` directly.
Also, were tested:
- different mount credential rules (`None`, `Same cloud`, `All`)
- usage Profiles for admins/non-admins
- usage of several Profiles with/without the default o

[2021-03-24 11:09] NShaforostov commented on #1713
**Docs** were added via #1796.

[2021-03-24 11:36] NShaforostov commented on #1779
Verified.
Works well.

**Docs** were updated via #1804.

[2021-03-24 12:36] NShaforostov opened #1877 "`pipe` CLI doesn't work in Windows"
**Describe the bug**
`pipe` CLI fails in Windows with the following error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Setup `pipe` in Windows
2. Try to execute any `pipe` command
3. See error:
   ![image](https://user-images.githubusercontent.com/45459424/112310975-3a996500-8cb6-11eb-800a-a8aa44e25ab6.png)

**Environment:**
 - Cloud Provider: AWS
 - Version  0.17.0.9038

**Addit

[2021-03-24 14:24] NShaforostov commented on #1877
New details have been opened.

Current issue doesn't link with the Cloud Pipeline functionality. It appears when using built-in Windows archiver and context menu item `Extract all` during the `pipe` installation. It seems that during such installation not-whole `pipe` folder can be extracted.

Ways to avoid the issue - use any other archiver except built-in Windows `Extract all` in context menu.
S

[2021-03-25 10:25] tcibinan opened #1878 "Refresh temporary credentials during file indexing and native tags transferring"
**Describe the bug**

Relates to #1717.

Currently only single temporary credentials are used to index a single data storage or transfer native tags. This may lead to errors while processing big data storages with a lot of files because their processing may take more time than temporary token expiration time.

**Expected behavior**

Temporary credentials should be refreshed during files indexing a

[2021-03-25 11:06] maryvictol commented on #1825
@rodichenko
"Save" button on 'Configure Internal DNS' pop-up should be disabled when pop-up is opened.
![image](https://user-images.githubusercontent.com/47791878/112462877-a3461780-8d72-11eb-9ff1-13c81e8a9df3.png)

[2021-03-25 14:49] ekazachkova opened #1879 "Unexpected behavior for pipe storage cp/mv command"
**Describe the bug**
`pipe storage cp/mv` command performs copy operation but logs error message `Error: 'VersionId'` and returns exit code `1`. This behavior appears for storages with disabled versioning only.

**To Reproduce**
Steps to reproduce the behavior:
1. Create data storage and disable versioning
2. Try to upload file to storage with CLI: `pipe storage cp /path/to/local/file s3://bucket-

[2021-03-25 15:26] tcibinan opened #1880 "Set data storage object tags explicitly if signed url is used in GUI"
**Background**

Relates to #1717.

As long as #1717 backend changes are merged then data storage tags should be set manually for files uploaded using singed urls in GUI.

**Approach**

Once file is uploaded using a signed url the following API method `POST /datastorage/{id}/tags` should be used to set the corresponding data storage object tags.

[2021-03-25 17:02] rodichenko commented on #1880
@tcibinan after file uploaded `CP_OWNER` tag is set using API (62169500fa7a271308612a5044cb7977bdccae51)

[2021-03-26 08:07] #1880 closed, assigned to rodichenko

[2021-03-26 11:22] rodichenko commented on #1825
@sidoruka @mzueva @NShaforostov GUI *services* part (specifying an internal DNS name, ports) backported to `release/0.16` (245548586b074f940accd2f9973e8dec16ad8da1)

[2021-03-26 11:29] rodichenko commented on #1825
@maryvictol fixed, backported to `release/0.16` (2fc97327fe96e9f88b8653df1488e2ee93110187)

[2021-03-29 09:27] tcibinan opened #1883 "Set data storage object tags in pipe fuse"
**Background**

Relates to #1717.

As long as #1798 is merged then data storage object tags should be managed explicitly in pipe fuse.

**Approach**

Pipe fuse should buffer data storage tags and upload them in a batch manner considering thread-safety.

[2021-03-29 10:29] tcibinan commented on #1879
Should be fixed by bf6f91e634c810e7f36905519149051b52703f35. @ekazachkova Could you please verify?

[2021-03-29 10:46] mzueva opened #1885 "Allow to access pods via domain names"
**Background**
At the moment pods are available from another pods via IP. For some cases, e.g. MPI clusters we manually add pod's hostnames and ips to `/etc/hosts` file to allow access to pods via hostname. It would be useful to allow access to a pod using some predefined hostname in an automated way using kubernetes DNS.

**Approach**
- Add the following fields to pod spec:
[code]

- At applicati

[2021-03-29 16:21] sidoruka commented on #1838
@mzueva @rodichenko let's implement the list of "additional" attributes, as @NShaforostov suggests in the following way:
* **As a step 1**: The "base" attributes (from @NShaforostov comment) shall be always indexed, returned to the client and shown in the GUI
* **As a step 2**: In addition to that, the administrator is able to configure a preference, which specified which `metadata attributes` sha

[2021-03-30 10:41] #1878 closed, assigned to nobody

[2021-03-30 10:41] tcibinan opened #1890 "Implement retryable calls to api from search"
**Background**

Relates to #1717.

Currently indexing and native tags transferring processes fail immediately if API is being redeployed or it is just not accessible at the moment.

**Approach**

In order to improve the overall indexing stability retries should be applied to all API calls in search.

[2021-03-31 13:13] mzueva commented on #1838
The following changes shall be implemented for search index & query requests:
1. Check that all fields mentioned in this [comment](https://github.com/epam/cloud-pipeline/issues/1838#issuecomment-802929437) are put into ES index and stored (`"store": true` in index mapping.json)
2. Set `"store": true`  for all fields added from metadata
3. In search query methods extend `buildStoredFields` with all

[2021-03-31 15:03] NShaforostov commented on #1825
**Test cases** were created by #1876 and located [here](https://github.com/epam/cloud-pipeline/tree/develop/docs/testcases/UI/Run_tools_in_sandbox/1825_allow_to_run_hosted_applications).

[2021-04-02 09:07] NShaforostov commented on #1590
Daily e2e-tests results are located and updated [here](https://github.com/epam/cloud-pipeline/blob/e2e-reports/e2e/reports/AWS/test/classes/com.epam.pipeline.autotests.LaunchLimitMountsTest.html) (for `AWS`).

[2021-04-02 11:08] mzueva opened #1897 "Provide a more efficient way get runId for a node"
**Background**
At the moment `fsautoscaler` and `oom-reporter` services use API method `GET /node/{}/load` to load `runId` related to current node. This method is rather "heavy" and makes a lot of requests to kubernetes and this may lead to performance degradation.

**Approach**
- Provide a new API method to get `runId` for a specified `nodename`
- Optimise method `GET /node/{}/load` to reduce num

[2021-04-02 13:14] NShaforostov commented on #1501
Verified. Tested functionality works well.
Were tested base scenarios:

- creation of the tunnel connection from instance `ssh` port to some local port
   - plus different logging options
   - plus different regimens (background/foreground)
- connection to the run instance using `ssh` client
- copying files up to 5Gb to/from the run instance using `scp` client
- tunnel stop operation
   - plus dif

[2021-04-02 15:15] NShaforostov commented on #1751
Verified. Fixed

[2021-04-05 11:45] NShaforostov commented on #1353
**e2e-tests** were implemented via #1884.

[2021-04-05 13:34] tcibinan opened #1900 "Implement kubernetes dns custom hosts management"
**Background**

Currently pods can access other pods using fully qualified domain names or FQDN thanks to #1885. Unfortunately some tools such as openmpi have strict requirement for host name resolving. In order for openmpi to work dns should resolve the same host names which Cloud Pipeline runs use f.e. `pipeline-12345` rather than `pipeline-12345.pods.default.svc.cluster.local`.

**Approach**

I

[2021-04-05 14:38] ekazachkova opened #1903 "pipe CLI shall not fail with --skip-existing option"
**Describe the bug**
The current version of pipe CLI fails during `pipe storage cp/mv` operation with enabled `-s (--skip-existing)`

**To Reproduce**
Steps to reproduce the behavior:
1. Upload file 'test.txt' to bucket
2. Try to upload file via pipe CLI with enabled `-s` option: `pipe storage cp test.txt s3://test-bucket/test.txt -s -f`
3. See error:
[code]

**Expected behavior**
[code]

**Enviro

[2021-04-05 17:39] sidoruka opened #1906 "Allow to hide certain objects from the general user's UI"
**Approach**
* Introduce `ui.hidden.objects` preference
  * Section: `User Interfact`
  * Type: `JSON`
* Preference shall contain a list of the objects IDs, which are not displayed to the non-admin users in the GUI (whatever permissions are set)
* Format:
[code]

[2021-04-05 18:38] NShaforostov commented on #1805
Some additions

### Report generation

The following approach to the report generation should be implemented:
- report shall be generated from the `docx`-format template
- in the system, there shall be the "base" template but an admin shall have the ability to load other template and replace the "base" one
- template can contain plain text and a set of predefined keywords that are replaced by actu

[2021-04-06 09:56] NShaforostov commented on #1805
## TBD

### File changes

**Way 1**

If user checks the option "Include file diffs" at the report settings popup:
- diffs of each revision from the report shall be presented by the separate file in `docx` format
- name of such diffs files should have format like `<revision_date>_<revision_hash>.docx`
- array of report files (summary plus diffs files) should be placed to single archive before autom

[2021-04-06 10:59] ekazachkova opened #1908 "pipe storage should fail if set-object-tag/get-object-tag launched on not existing file"
**Describe the bug**
Current version `pipe storage set-object-tag/get-object-tag` does't fail if operation performed on file that doesn't exist.

**To Reproduce**
Steps to reproduce the behavior:
1. run `pipe storage set-object-tag cp://test-bucket/not-exists.txt tag-key=tag-value` or `pipe storage get-object-tag cp://test-bucket/not-exists.txt`
2. no error

**Expected behavior**
Appropriate error

[2021-04-06 14:27] mzueva commented on #1906
@sidoruka done for `develop` & `release/0.16`

[2021-04-06 16:59] rodichenko commented on #1906
@sidoruka @mzueva @NShaforostov @maryvictol @kamyshova GUI part implemented (#1912).

UI can handle the following properties of `ui.hidden.objects` preference:
[code]
and
[code]

[2021-04-07 09:52] tcibinan commented on #1903
Should be fixed by af35bce097c33c6d386b953a998b49629e379e16. @ekazachkova Could you please verify?

[2021-04-07 11:54] mzueva commented on #1838
As we didn't make a final decision on `search.elastic.index.metadata.fields` format, at the moment server accepts just a plain list for this preference.

[2021-04-07 14:40] rodichenko commented on #1906
@sidoruka backported to `release/0.16` (2681fcf442f8684884997a02dc8c43b7e9230dfc)

[2021-04-08 09:57] NShaforostov commented on #1353
Daily e2e-tests results are located and updated [here](https://github.com/epam/cloud-pipeline/blob/e2e-reports/e2e/reports/AWS/test/classes/com.epam.pipeline.autotests.PipelineLibraryTest.html) (for `AWS`).

[2021-04-08 17:20] NShaforostov commented on #1517
**Docs** were added via #1896.

[2021-04-09 13:39] mzueva opened #1914 "Last pages of search results are not available"
**Describe the bug**
At the moment `Global search` option allows to browse search results using `page` controls. But Elasticsearch which used as a backend search engine limits an offset (page in our case) which can be requested (see [docs](https://www.elastic.co/guide/en/elasticsearch/reference/6.8/search-request-from-size.html)).

**To Reproduce**
Search API shall be rewritten to use `next-previo

[2021-04-12 08:39] #1517 closed, assigned to nobody

[2021-04-12 11:19] tcibinan commented on #1908
Should be fixed by 6b7f6505ed2bc980df2a9c695d906b7c54287657. @ekazachkova Could you please verify?

[2021-04-12 11:39] ekazachkova commented on #1903
@tcibinan Verified, works well. Thanks!

[2021-04-12 11:41] ekazachkova commented on #1879
@tcibinan Verified, works well. Thanks!

[2021-04-12 12:46] tcibinan opened #1918 "Keep existing tags during data storage object native tags transferring"
**Background**

Relates to #1717.

Currently data storage object native tags transferring overrides its already existing tags. It leads to deletion of data storage tags written during the transferring process.

**Approach**

Data storage object native tags transferring should keep already existing tags.

[2021-04-12 13:33] #1879 closed, assigned to tcibinan

[2021-04-12 13:33] #1903 closed, assigned to tcibinan

[2021-04-12 13:42] ekazachkova commented on #1908
@tcibinan Verified, works well. Thanks!

[2021-04-12 13:42] #1908 closed, assigned to tcibinan

[2021-04-12 16:51] NShaforostov commented on #1805
## TBD

### Property changes

Additional keyword - for output changes of file properties:

| Keyword | Type | Description | Example |
|---|---|---|---|
| **{<br />"property_changes_table" : {<br />"revision" : "Revision",<br />"date_changed" : "Date changed",<br />"path" : "Path",<br />"author" : "Author",<br />"blinded_value" : "New BLINDED value",<br />"previous_name" : "Previous name" }<br />}*

[2021-04-13 10:17] maryvictol opened #1922 "Linked system dictionary tags aren't specified for file automatically via CLI"
**Describe the bug**
When set dictionary tags mapped with linked items for a specific file in a datastorage via CLI linked tags aren't specified for file automatically.

**To Reproduce**
Steps to reproduce the behavior:
1. Create data storage
2. Upload file to storage with CLI: `pipe storage cp /path/to/local/file s3://bucket-name/path/file -t Dict1=Key1`
or set tag for existing file `pipe storage

[2021-04-13 12:25] mzueva opened #1923 "Transfer outputs using run-specific paths"
**Background**
At the moment when outputs are transferred to an external location the following approach is user:
1. Outputs are uploaded from. instance disk to an intermediate `s3 transfer bucket`
2. Data is downloaded from `s3 transfer bucket` to external location using DTS service
If several runs use the same  `s3 transfer bucket` and have the same output folder structure this may lead to data

[2021-04-13 12:55] #1918 closed, assigned to tcibinan

[2021-04-13 13:05] sidoruka commented on #1923
Just one note - the resulting (on-prem/DTS) path shall not contain this "surrogate" directory ($RUN_ID), i.e.:
* Run's files:
  * `$ANALYSIS_DIR/file1.txt`
  * `$ANALYSIS_DIR/file1.txt`
* Transfer bucket: `s3://transfer-bucket`
* Result path: `/on/prem/dir`
* Data flow:
  * `$ANALYSIS_DIR/*` -> `s3://transfer-bucket/$RUN_ID/`
  * `s3://transfer-bucket/$RUN_ID/*` -> `/on/prem/dir/`
* In the end - `

[2021-04-13 14:36] #1890 closed, assigned to nobody

[2021-04-15 13:07] #1780 closed, assigned to youkofan

[2021-04-15 13:07] #1754 closed, assigned to Sergeev-Ilya

[2021-04-15 13:07] #1755 closed, assigned to VolLol

[2021-04-15 13:08] #1790 closed, assigned to VolLol

[2021-04-15 13:08] #1788 closed, assigned to youkofan

[2021-04-15 13:08] #1752 closed, assigned to youkofan

[2021-04-15 13:09] #1743 closed, assigned to tcibinan, Sergeev-Ilya

[2021-04-15 13:09] #1736 closed, assigned to VolLol

[2021-04-15 13:09] #1735 closed, assigned to Sergeev-Ilya

[2021-04-15 13:09] #1695 closed, assigned to mzueva, youkofan

[2021-04-15 13:09] #1688 closed, assigned to ekazachkova

[2021-04-15 13:09] #1687 closed, assigned to tcibinan, youkofan

[2021-04-15 13:10] #1405 closed, assigned to mzueva, ekazachkova, youkofan

[2021-04-15 13:10] #1404 closed, assigned to mzueva, ekazachkova, youkofan

[2021-04-15 14:35] #1865 closed, assigned to mzueva, ekazachkova

[2021-04-15 14:36] #1872 closed, assigned to mzueva, tcibinan

[2021-04-15 14:43] mzueva opened #1928 "Optimize `defaultCmd` tool API method"
**Background**
At the moment `tool/{}/defaultCmd` api method loads cmd from image history for each request which is slow.

**Approach**
Let's use approach introduced by #1811: save `defaultCmd` to the DB during scanning and return it in requests.

[2021-04-15 22:12] mzueva opened #1930 "Parallel transfer for input files"
**Background**
At the moment Cloud Pipeline supports parallel transfer for input folders, but input files are uploaded in single threaded mode. It would be helpful to upload input files in parallel as well.

**Approach**
Input files shall be uploaded in parallel with respect to `CP_PARALLEL_TRANSFER` and `CP_TRANSFER_THREADS` parameters.

[2021-04-16 08:44] NShaforostov commented on #841
**Test cases** were created by #1929 and located [here](https://github.com/epam/cloud-pipeline/tree/develop/docs/testcases/UI/Cluster_nodes/Hot_node_pools/841_persistent_cluster_nodes).

[2021-04-16 08:52] NShaforostov commented on #841
**Docs** were added via #1516.

[2021-04-16 08:53] NShaforostov commented on #1751
**Test case** was created by #1929 and located [here](https://github.com/epam/cloud-pipeline/blob/develop/docs/testcases/UI/Cluster_nodes/Hot_node_pools/841_persistent_cluster_nodes/841_1_pool_creation.md).

[2021-04-16 08:55] NShaforostov commented on #1751
**Docs** were added by #1516.

[2021-04-16 08:57] NShaforostov commented on #1779
**Test case** was added by #1929 and located [here](https://github.com/epam/cloud-pipeline/blob/develop/docs/testcases/UI/Cluster_nodes/Hot_node_pools/841_persistent_cluster_nodes/841_6_pool_autoscaled.md).

[2021-04-16 09:26] NShaforostov commented on #1637
**Test case** was added by #1929 and located [here](https://github.com/epam/cloud-pipeline/blob/develop/docs/testcases/UI/Cluster_nodes/Hot_node_pools/841_persistent_cluster_nodes/841_4_pool_filters.md).

[2021-04-16 10:05] maryvictol commented on #1838
Object preview opened on hover any search results string shall be shown near the selected string. Else it isn't possible to click any link on preview popup.
![image](https://user-images.githubusercontent.com/47791878/115009000-78a03800-9eb4-11eb-9306-1ea85a67c85c.png)

[2021-04-16 10:17] maryvictol commented on #1837
Selected faceted filter control shall not be disabled even if it doesn't have related documents after applying other filters.
![image](https://user-images.githubusercontent.com/47791878/115010462-206a3580-9eb6-11eb-8603-ddaeb1375967.png)

[2021-04-16 10:22] maryvictol commented on #1837
It would be useful for user to have a button to clear all filters.

[2021-04-16 14:24] rodichenko commented on #1837
@maryvictol fixed with 9191cad2c1e2c17e4269e623b6817a0a04b021b1

[2021-04-16 16:48] NShaforostov opened #1933 "[System Dictionaries] Access for "general" users"
**Background**

Currently, only admins can create System Dictionaries and use them for "tagging" Cloud-Pipeline objects.
As we use this functionality for a new search type ([faceted filters](https://github.com/epam/cloud-pipeline/issues/1837)), it would be convenient to allow non-admin users to have an access to Dictionaries in Read-only regimen.

**Approach**

Add the ability for admins to set re

[2021-04-19 09:26] maryvictol commented on #1838
Search by all values gives different reults for **Pipelines** entity types selector for Global and Faceted search. In Global Search  pipelines and their configurations are shown for that option. In Faceted Search files from pipelinesa are returned additionally for that option. Expected that this option shall work the same in both cases.
![image](https://user-images.githubusercontent.com/47791878/1

[2021-04-19 19:07] maryvictol commented on #1838
New browser tab with **incorrect entity URL** is opened at case of openning entity details from search result using Ctrl + item's click.

[2021-04-19 21:05] rodichenko commented on #1838
@maryvictol this should be fixed with 933195c840f330b4880c00fa07b8f152bc8d7a38

[2021-04-19 21:16] rodichenko commented on #1838
@maryvictol should be fixed by 1241950323faea6b9b1764fa07961c47bb2c6f7e

[2021-04-20 13:59] mzueva opened #1934 "Allow general user to get user roles/group info"
**Background**
At the moment only administrators are allowed to load role/group membership for a user. For some cases it would be helpful to allow general user to load information on roles/groups for a user or a list of users.

**Approach**
Add a new API method `POST /users/info`
- method should be available for general users
- include user role/group membership into response
- allow to specify us

[2021-04-20 14:54] mzueva opened #1936 "Allow users with READ permission for an object list all granted permissions"
**Background**
At the moment API method `GET /permissions` allows to load all permissions granted for an object including permissions inherited from parents. This method is available for object owner only, but for some cases it would be helpful to allow users with READ permission for an object to access this method as well.

[2021-04-21 09:11] maryvictol commented on #1837
For dictionaries with `defaultDictEntriesToDisplay = "all"` in `faceted.filter.dictionaries` preference all entries should be shown in list. Now this list is limited to 5 entries max.

[2021-04-21 12:33] maryvictol commented on #1838
In the Line view of Search results long values should be truncated with ellipsis to separate from the entity Owner info.

[2021-04-21 13:22] mzueva opened #1938 "Introduce ACL management for CategoricalAttributes"
**Background**
Related to #1933. At the moment `CategoricalAttribute` API is managed using role based access - only administrator users are allowed to call these methods. With implementation of #1829 `CategoricalAttribute` objects are also used as filters for search and general users also need at least READ access to some of `CategoricalAttribute` instances.

**Approach**
`CategoricalAttribute` ob

[2021-04-21 14:15] #1897 closed, assigned to mzueva

[2021-04-21 14:15] #1885 closed, assigned to mzueva

[2021-04-21 14:16] #1811 closed, assigned to rodichenko, mzueva

[2021-04-21 14:16] #1799 closed, assigned to nobody

[2021-04-21 14:17] #1773 closed, assigned to mzueva

[2021-04-21 14:19] #1708 closed, assigned to nobody

[2021-04-21 14:20] #1706 closed, assigned to nobody

[2021-04-21 14:20] #1653 closed, assigned to mzueva, youkofan

[2021-04-21 14:20] #1652 closed, assigned to mzueva

[2021-04-21 14:47] maryvictol commented on #1838
Last selected format (Line or Table view) should be saved for the current user and used for the next time he(she) will leverage the Advanced Search. Now, Line view is always selected at opening Advanced Search.

[2021-04-21 15:41] mzueva opened #1939 "Create tool and template to run CWL pipelines"
**Background**
Cloud Pipeline shall support running CWL pipelines as part of default deployment.

[2021-04-21 19:37] maryvictol commented on #1838
Verified

[2021-04-21 19:58] maryvictol commented on #1838
Verified

[2021-04-22 09:27] maryvictol commented on #1837
If the number of available dictionary entries is more then 10 (configurable?), Faceted Filter control must have text input for filtering items.

[2021-04-22 09:59] rodichenko commented on #1837
@maryvictol fixed with daf59ada

[2021-04-22 10:30] maryvictol commented on #1837
Verified

[2021-04-22 10:33] maryvictol commented on #1837
Verified

[2021-04-22 10:44] maryvictol commented on #1836
Pagination control of the "Search results" panel should be removed.

[2021-04-22 15:55] rodichenko commented on #1771
@mzueva @sidoruka @NShaforostov backported to `release/0.16` (2678f60bef5a55d6ae647724b0d3e4fa7fed8c69)

[2021-04-23 14:52] tcibinan opened #1942 "Support local port forwarding in pipe tunnel"
**Background**

Currently pipe tunnel allows to setup tunnel connections from a local host to a remote host using edge as a proxy. In certain scenarios it can be also helpful to have local port forwarding functionality without any proxies being involved f.e. here #1832.

**Approach**

Support for port forwarding can be added via an additional pipe tunnel flag such f.e. `--direct`.

[2021-04-23 17:38] NShaforostov commented on #1513
Verified.

Were tested:
- accessibility of the pipeline parameter in the detach configuration with default value when `no_override` is `true`/`false`
- accessibility of the pipeline parameter in the detach configuration without default value when `no_override` is `true`/`false`
- tests above for different users (admin/non-admin)

[2021-04-23 17:38] NShaforostov commented on #1513
**Docs** were provided by #1896.

[2021-04-26 10:01] mzueva commented on #1914
@rodichenko Changes are deployed to dev. In current version search request now supports `scrollingParameters` with three fields:
- `docId` - of the last/first doc on the previous page, shall be retrieved from `elasticId` of search result
- `docScore` - of the last/first doc on the previous page,  shall be retrieved from `score` of search result
- `isScrollingBackward`- flag determines whether next

[2021-04-29 04:57] rodichenko commented on #1838
@maryvictol 4e5ed0bbecd0f8853258eb7f4a029ea8a38219ca  has some fixes:
- preview styles have been changed: document preview now triggered by click on <img width="25" alt="info" src="https://user-images.githubusercontent.com/5070496/116504137-5947d880-a8c0-11eb-8fbd-b50640a2332e.png"> button of the document list item / row;
- for *List view* mode: we're trimming long text lines with ellipsis now.

[2021-04-29 09:21] maryvictol commented on #1838
Verified. Works well

[2021-04-30 10:50] sidoruka opened #1948 "Allow general users to run a job on behalf of the other account"
**Background**
#1085 introduced support for running jobs on behalf of the other users for `ROLE_ADMIN` only. This feature is widely requested by the `general` users.
We need to implement separate permissions to grant access for specific users/groups rights to "run as" some other users.

**Approach**
* Each user shall get an additional `Launch option` in the profile: `Can run as this user` (default

[2021-04-30 10:55] sidoruka opened #1949 "Allow to force "run as" and "sharing" options for the pipelines"
**Background**
Once #1948 is implemented, we shall be able to force certain pipelines to be run on behalf of the other users.

**Approach**
* Add support for the following additional options in the pipeline's configuration (config.json):
  * `run_as` - NameID of the user, which is going to be the `OWNER` of the job
  * `share_with_users` - pipeline job shall be automatically shared with these user

[2021-05-04 12:04] sidoruka opened #1950 "`pipe tunnel start` fails on MacOS"
**Describe the bug**
`pipe tunnel start` fails on MacOS with the error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Install `pipe` from the source tarball
2. Run `pipe tunnel start ...` command
3. Error is thrown

**Environment:**
 - Version: 0.16+
 - Python 2/3, MacOS Mojave+

**Additional context**
According to the [docs](https://psutil.readthedocs.io/en/latest/#psutil.net_conne

[2021-05-04 13:58] sidoruka commented on #1950
Please backport to `release/0.16`

[2021-05-05 09:34] NShaforostov commented on #1829
**Docs** were added via #1896.

[2021-05-05 09:34] NShaforostov commented on #1836
**Docs** were added via #1896.

[2021-05-05 09:35] NShaforostov commented on #1837
**Docs** were added via #1896.

[2021-05-05 09:35] NShaforostov commented on #1838
**Docs** were added via #1896.

[2021-05-05 09:37] NShaforostov commented on #1829
**Test cases** were added by #1943 and located [here](https://github.com/epam/cloud-pipeline/tree/develop/docs/testcases/UI/Advanced_Search).

[2021-05-05 09:38] NShaforostov commented on #1836
**Test case** was added by #1943 and located [here](https://github.com/epam/cloud-pipeline/tree/develop/docs/testcases/UI/Advanced_Search/1836.md).

[2021-05-05 09:39] NShaforostov commented on #1837
**Test cases** were added by #1943 and located [here](https://github.com/epam/cloud-pipeline/tree/develop/docs/testcases/UI/Advanced_Search).

[2021-05-05 09:40] NShaforostov commented on #1838
**Test cases** were added by #1943 and located [here](https://github.com/epam/cloud-pipeline/tree/develop/docs/testcases/UI/Advanced_Search).

[2021-05-05 09:42] NShaforostov commented on #1825
**Doc** was added via #1896.

[2021-05-05 10:35] tcibinan commented on #1950
Cherry-picked to `release/0.16` via af7ed142d3e2a79626817bc8c8cfc643a8503621.

[2021-05-05 12:58] mzueva opened #1954 "Wrong error message for duplicate Role/Group"
**Describe the bug**
At the moment not user-friendly message is shown when users tries to create a duplicate ROLE/GROUP

![image](https://user-images.githubusercontent.com/12640002/117144520-af35e800-adba-11eb-9297-494b6c125f3e.png)

[2021-05-05 14:54] mzueva opened #1955 "Clair service crashes during vulnerability data update"
**Describe the bug**
Clair service crashed during vulnerability data update with the following logs:
[code]
Issue seems to be related to https://github.com/quay/clair/issues/1249

[2021-05-05 16:42] tcibinan commented on #1832
The following scope of issues have to be resolved in order to provide complete Windows experience in Cloud Pipeline.

## @Wedds

@Wedds Could you please implement the following tasks?

1. [x] Support tools scanning

    Currently Windows tools scanning fails due to NullPointerException in API. It seems that the Clair itself can scan those images and the fix should be pretty simple.

1. [x] Install

[2021-05-11 10:45] mzueva opened #1959 "Health point for `notifier` service"
A basic process existence check shall be fine for the SMTP Notifier service.
E.g. we can `pgrep -f notifier.jar` and use it's exit code as a liveness metric.

[2021-05-12 13:42] maryvictol commented on #1805
Upload files to Version Storage root gives error "File name \</file name\> contains invalid characters.
![image](https://user-images.githubusercontent.com/47791878/117984854-df443480-b340-11eb-92d2-ace932f28e47.png)

[2021-05-12 14:12] rodichenko commented on #1832
@tcibinan GUI tasks are implemented (6f6344729fabcb103ca3d463ce98ef7ec314d210, branch `gui-windows-based-tools-1832`)

[2021-05-12 14:49] maryvictol commented on #1805
@SilinPavel  Unclear error message `"Unexpected response status code: 400 Message: {"error":"actions is missing"}"` is given when trying to create a folder with a name already existing in this version storage.

[2021-05-13 11:38] maryvictol commented on #1805
Perhaps it would be better to make the ***Edit versioned storage info*** pop-up fields names  the same as for ***Create versioned storage*** pop-up (*Name* instead of *Versioned storage name* and *Description* instead of *Versioned storage description*)? Truncated field names look strange now.
![image](https://user-images.githubusercontent.com/47791878/118120136-145f8e00-b3f8-11eb-88d1-19dcc2070b8

[2021-05-14 14:36] rodichenko commented on #1948
@sidoruka GUI part implemented (#1964)

[2021-05-14 15:18] maryvictol commented on #1805
There is no information which file preview is not available.
![image](https://user-images.githubusercontent.com/47791878/118291878-bbb7f000-b4e0-11eb-90a5-b44757d719b3.png)

[2021-05-14 16:45] kamyshova opened #1965 "Metadata control extension"
## **Background**

At the moment, Cloud Pipeline has `Metadata` class objects that define custom data entities associated with raw data files (fastq, etc.). It would be great to extend the current methods to manage metadata entities and add new features:

- **sample aggregation**
  Combining and viewing data in a separate view.
- **field filters**
  Restricting the list of metadata items by the fi

[2021-05-17 08:02] maryvictol commented on #1805
Spaces and symbol '@' are specified as a possible characters for a file and folder names in the VS.
![image](https://user-images.githubusercontent.com/47791878/118452729-1a5ab500-b6ff-11eb-8a71-771d22dbb15f.png)
But using these symbols at creating files and folders gives error.
![image](https://user-images.githubusercontent.com/47791878/118452956-59890600-b6ff-11eb-97a4-37a425dae4b5.png)

[2021-05-17 11:19] maryvictol commented on #1805
**Create** and **Upload** buttons shouldn't be shown on VS page for User that doesn't have 'Write' permissions.

[2021-05-18 09:27] maryvictol commented on #1805
***Edit repository settings*** link should be removed from **Edit versioned storage info** pop-up.

[2021-05-18 10:12] maryvictol commented on #1805
Comments automatically created at some actions with files and folders (create, upload, delete) shall have the same style (include or not quotes, path, type entity(file/folder)) :
for ex.
_Creating folder fold1/fold2_, _Creating file fold1/file1_ , _Creating 'fold1/80_CD8.txt'_
_Removing 80_CD8.txt_ , _Removing fold2_

[2021-05-18 11:47] rodichenko commented on #1805
@maryvictol should be fixed by 5ea511add7ae51d9485dff18912f23a499a5f26f

[2021-05-18 11:47] rodichenko commented on #1805
@maryvictol fixed by 0f28b6507e0ba18bfe0b81cb9a4c764677ba1b18

[2021-05-18 11:49] rodichenko commented on #1805
@maryvictol validation fixed (1fec9d4e7a93b50d3bb778ee0aa534417b398af5)

[2021-05-18 11:51] rodichenko commented on #1805
@maryvictol fixed by ed310bc00d82bd6f7095717e9991f6047e3fe65a

[2021-05-18 15:50] rodichenko commented on #1805
@maryvictol should be fixed by 5df823016075cd5edf544d8af35c8bce652c3696

[2021-05-18 16:01] rodichenko commented on #1805
@maryvictol if user did not specify commit message, GUI will use the following message formats (5705ce413491086aff00ab3ae48b4ade175ab7bb):
*Creating folder `path`*
*Creating file `path`*
*Removing folder `path`*
*Removing file `path`*
*Renaming file `path` to `path`*
*Renaming folder `path` to `path`*

However GUI cannot set *upload*-action message. @SilinPavel could you please correct the default

[2021-05-18 16:51] maryvictol commented on #1805
Verified as fixed

[2021-05-18 18:27] maryvictol commented on #1805
Verified as fixed

[2021-05-18 18:28] maryvictol commented on #1805
Verified as fixed

[2021-05-18 18:38] maryvictol commented on #1805
Verified as fixed. Message about possible symbols has been corrected.

[2021-05-18 19:15] rodichenko commented on #1948
@sidoruka @mzueva backported to `stage/0.16/issue_1939_runas` (511d51fa022eaa88db6bacd753e460f296c1353f)

[2021-05-19 12:00] rodichenko commented on #1781
@mzueva @SilinPavel @sidoruka "*Disable Hyper-Threading*" option added to the `Run capabilities` section of the launch form (741edcb3f33aa4b0d7955412527bb10bd16d953e)

[2021-05-20 19:05] maryvictol commented on #1805
Verified as fixed

[2021-05-20 19:11] maryvictol commented on #1805
`Pipeline` shall be changed to `Versioned storage` in the validation message shown when try to create VS with incorrect characters.
![image](https://user-images.githubusercontent.com/47791878/119035552-5b312300-b9b8-11eb-89ac-557150acab94.png)

[2021-05-20 20:27] maryvictol commented on #1805
When creating a file with the name of a file that already exists in this folder, the contents of the file are overwritten.
**Steps to reproduce:**
1. Open VS
2. Upload file (or create file and add content)
3. Create file with the same name as file at step 2

**Actual result:**
File is owerwritten by empty content without any message.
**Expected result:**
Error message that file with this name alre

[2021-05-21 07:18] rodichenko commented on #1805
@SilinPavel (@mzueva) could you check this please? Since we have paged results, it's not so convenient to check file & folder names at the UI.
I think, such requests should fail with corresponding error.

[2021-05-21 07:24] rodichenko commented on #1805
@SilinPavel could you also check this please (and fix response error message)?

@maryvictol anyway, 1762f6f0b2e5eb87e94841b995f8399e98ab741b corrects VS name validation, as well as *initial structure* folder names validation

[2021-05-21 15:04] mzueva opened #1974 "Versioned Storages: clone at run start up"
**Background**
At the moment when a run is started with `Pipeline` with `VERSIONED_STORAGE` type it is cloned to `$SCRIPTS_DIR`, but it won't be initialised for Fsbrowser/versioned storages.
Related to #1833

**Approach**
`Fsbrowser` shall clone versioned storage at service start-up, if launched `Pipeline` type is `VERSIONED_STORAGE` .

[2021-05-24 09:28] sidoruka opened #1976 "Azure Implement compute nodes' disks/swap autoscaling"
As we've already rolled out a couple of Azure deployments - it will be really helpful to implement #837 for the Azure as well

[2021-05-24 14:31] maryvictol commented on #1805
@SilinPavel At attempt to rename file  to existing in this folder name gives error `Unexpected response status code: 400 Message: {"message":"A file with this name already exists"}`. Could you please fix response Could you please correct the response to show only the text of the message (`"A file with this name already exists"`)?

[2021-05-25 11:38] rodichenko commented on #1805
@ekazachkova @mzueva we faced the following issue:
1. `User 1` creates a `new-file.txt` file and pushes it to the repo;
2. `User 2` also creates a `new-file.txt` file;
3. `User 2` *refreshes* Versioned Storage (i.e. user performs *stash*, *pull* and *unstash*);
4. `User 2` got broken file (that contains git conflict markers like `<<<<<<`), but `vs/list` and `vs/<id>/status` methods doesn't report

[2021-05-25 12:28] maryvictol commented on #1807
Tags for differences are different for **Commit changes** pop-up from the running instance with the cloned VS and for VS Revision History:
**CREATED** for **Commit changes** pop-up <-> **ADDED** for VS Revision History
![image](https://user-images.githubusercontent.com/47791878/119497816-a7d87d80-bd6d-11eb-817b-72e0883fe62f.png)
![image](https://user-images.githubusercontent.com/47791878/119497773

[2021-05-28 10:37] maryvictol commented on #1805
Reloading file with spaces in name doesn't give error message that file with this name already exist.

[2021-05-28 11:23] maryvictol commented on #1807
File with spaces in the name created in cloned VS content gives error `Unexpected response status code: 404 Message: {"message":"404 File Not Found"}` at attemption rename it in the VS or see it's preview.
**Steps to reproduce:**
1. Clone the VS content into the running instance
2. Create file with spaces in the name and commit it
3. Open VS and click created file name to open its preview => error

[2021-05-28 16:25] maryvictol commented on #1807
Folder created in cloned VS content can't be renamed in VS.
**Steps to reproduce:**
1. Clone the VS content into the running instance
2. Create folder with file and commit it
3. Open VS and try to rename created folder

**Actual result:**
Error message `Error: folder <folder name> not found.` appears

[2021-05-31 07:50] rodichenko commented on #1805
**Known issues**:

GUI @rodichenko , @AleksandrGorodetskii :

- [x] TSV, CSV files preview: display table-like preview if file extension is `csv` or `tsv` (4d07c56bcf8cf55c1b0dda6852f9e94b5756fd90);
- [x] Check file existence while creating a new file (3aa71730f677ceb89ffb3817343434fe8115de96);
- [x] Check file existence while uploading a new file (86681be72e28e7d6629a34f8f8e2ed19c9a75882);
- [x]

[2021-06-01 14:37] rodichenko commented on #1713
@mzueva @sidoruka GUI backported to `release/0.16` (1f2f878beb5f6202823dcc86cbec28439b82617b)

[2021-06-01 16:10] sidoruka commented on #1715
API:
* Run's ServiceURL - map:
  * key: region
  * value: current edge-formatted json
* SSH/BROWSE:
  * List EDGE services from different regions (based on label)
  * Get SSH/BROWSE URL's based on the region from a list
* Default EDGE region - in preferences

EDGE:
* Deployment of `N` EDGE instances
* EDGE shall support adding ServiceURLs into array and include region/default information
* `Route5

[2021-06-01 17:14] rodichenko commented on #1965
**Known issues / todos**:

## Column filter

**API** @kamyshova (@mzueva):
- [x] API: POST `metadataEntity/filter` method should accept `startDateFrom` and `endDateTo` dates in `YYYY-MM-DD HH:mm:ss.SSS` format (UTC);
- [x] API: POST `metadataEntity/filter` method should support case-insensitive search;

**GUI**:
- [x] *Created Date* filter: remove `From` / `To` placeholders, display label and date

[2021-06-01 21:09] maryvictol commented on #1807
@rodichenko Launch a run from the VS page as non-admin user gives error `Unexpected response status code: 404 Message: {"message":"404 File Not Found"}`.
**Steps to reproduse:**
1. Login as non-admin user
2. Open any VS
3. Click **Run** button
4. Select Tool and click **Launch** button (or use Run custom button)

[2021-06-02 09:09] maryvictol commented on #1805
@rodichenko, Extra error message at attempt to create file or folder with existing name.
![image](https://user-images.githubusercontent.com/47791878/120453059-606c7580-c39b-11eb-8cbf-0281fe1affde.png)

[2021-06-02 09:42] rodichenko commented on #1805
@maryvictol 5d9dd09153a7bc6048931567f9de5f4e62ad9e36 should fix that

[2021-06-02 13:46] rodichenko commented on #1807
@mzueva @ekazachkova could you check this please?

[2021-06-02 16:26] #1974 closed, assigned to ekazachkova

[2021-06-02 16:27] #1959 closed, assigned to mzueva

[2021-06-02 20:43] maryvictol commented on #1805
Verified as fixed

[2021-06-02 21:30] maryvictol commented on #1807
The preview and Revision history remain on the Information panel after deleting the file.
**Step to reproduce:**
1. Open VS
2. Click on file name to open Information panel
3. Click Delete icon near the file
![image](https://user-images.githubusercontent.com/47791878/120554845-ec65b800-c402-11eb-8b57-32d2f3e3d5fc.png)

[2021-06-03 06:59] rodichenko commented on #1965
@sidoruka @kamyshova **Column filters** and **Sample aggregation** features backported to `release/0.16` (1101f5bc24234c2682ff13790cf0bba62ea63fc8)

[2021-06-03 09:00] maryvictol commented on #1805
@rodichenko The preview and Revision history remain on the Information panel after deleting the file.
**Step to reproduce:**

1. Open VS
2. Click on file name to open Information panel
3. Click Delete icon near the file
![image](https://user-images.githubusercontent.com/47791878/120618012-5150fa80-c463-11eb-8fc0-ecdd37f532a5.png)

[2021-06-03 09:50] maryvictol commented on #1807
@rodichenko Incorrect tooltip `[object Object]` is shown for revision field on **Select Version Storage** pop-up.
![image](https://user-images.githubusercontent.com/47791878/120625288-37ff7c80-c46a-11eb-9756-84aaacd8ad31.png)

[2021-06-03 13:29] rodichenko commented on #1807
@maryvictol 74c60478a83e0ba729aff593000270c725990c3d fixes that

[2021-06-03 13:30] rodichenko commented on #1805
@maryvictol 64fff4d08f2180978ac2039704bfbf5e9ffdbf41 fixes that

[2021-06-03 13:35] ekazachkova commented on #1807
@maryvictol  fixed

[2021-06-04 10:00] maryvictol commented on #1805
Verified as fixed

[2021-06-07 08:23] maryvictol commented on #1807
@rodichenko
At case of Launch a run from the VS page message `current revision is not the latest` is shown in the **Versioned Storage** menu for ***Save*** item.
![image](https://user-images.githubusercontent.com/47791878/120983614-8a9aaa80-c782-11eb-86cf-db34ee96b04a.png)

[2021-06-07 08:28] rodichenko commented on #1807
@ekazachkova (@mzueva) could you please take a look? We've got `detached` == `true` for the repo after running VS via POST `/run`:

**After launching**:
[code]

**After refresh operation**:
[code]

[2021-06-08 08:42] rodichenko commented on #1965
@sidoruka @kamyshova **Search extension** feature backported to `release/0.16` (2d7076f8bc9c07d7bdec48c3745565cc43ac3755)

[2021-06-09 08:32] tcibinan opened #2020 "SLURM static clusters don't initialize properly"
Relates to #865.

**Describe the bug**

Currently SLURM static clusters based on _debian:10_ and _ubuntu:18.04_ aren't initialized properly due to the following error:

[code]

Notably _centos:7_ SLURM static clusters work fine.

**To Reproduce**

Steps to reproduce the behavior:
1. Start static cluster with SLURM enabled using _ubuntu:18.04_ tool
2. Check that workers cannot attach to the SLURM c

[2021-06-09 10:36] #2020 closed, assigned to tcibinan

[2021-06-09 16:55] kamyshova opened #2023 "Metadata control improvements"
## **Background**
At the moment, there are many new metadata features in Cloud Pipeline thanks to the #1965 issue. It would be great to extend control methods even further to manage metadata entities:

- **column sorting extension**
   Sorting multiple columns independently.
- **metadata entities display setting**
   Pre-configuring the display order and visibility of metadata columns.
- **metadat

[2021-06-10 11:47] tcibinan opened #2025 "Endless background pipe tunnel polling on Linux"
Relates to #1501.

**Describe the bug**

Currently background pipe tunnel on Linux doesn't stop even if the required tunnel is ready. Recently the same problem was fixed via 224f5f7a585e580867b7cb6400454cc80ce2e044 for MacOS as part of #1950.

**To Reproduce**

1. Open Linux terminal and start pipe tunnel in background mode.
[code]
2. See that the background tunnel polling doesn't stop.
3. Open an

[2021-06-10 14:22] #2025 closed, assigned to tcibinan

[2021-06-10 14:24] tcibinan commented on #2025
Cherry-picked to `release/0.16` via 70bd73999f095d1839c4e6b63eb7ba2b6df3d630.

[2021-06-16 10:17] mzueva opened #2032 "Security logs may not be initialized due to long Elasticsearch startup"
**Describe the bug**
At the moment `init.sh` script which is used to start `cp-search-elk` service waits for 60 seconds for Elasticsearch server to start and accept requests. For large Elasticsearch servers this time is not enough as startup may take up to several minutes.

[2021-06-16 13:33] mzueva opened #2034 "Security logs backup shall support AWS instance role credentials"
**Background**
At the moment security logs backup configuration requires AWS credentials (key and secret) to be provided in credentials file. For deployments using instance role credentials for authorization this approach doesn't work.

**Approach**
Elasticsearch security logs backup shall support instance role credentials for AWS authorization.

[2021-06-16 15:09] #1942 closed, assigned to nobody

[2021-06-16 19:17] sidoruka opened #2035 "Permissions dialog causes "duplicate key" exception"
**Describe the bug**
If the user changes R/W/X permissions of the objects within the permissions management dialog quite fast (so that the API calls are executed almost simultaneously) - this causes  "duplicate key" exception on the API side. As multiple records are being added to the DB in the same time.

**Expected behavior**
* Do not allows users to change the permissions if the previous reques

[2021-06-17 07:17] rodichenko commented on #1832
@mzueva @sidoruka @tcibinan GUI part merged (#2017)

[2021-06-17 11:00] rodichenko commented on #2035
@sidoruka fixed, backported to `release/0.16` (2922741f826428ecb00be582d9382aa6edd93feb)

[2021-06-18 08:46] rodichenko commented on #2035
7a186e72cafe0c210885209fec4f16e1b31317a9 32be448e2a6b844b17a976d36999b94eb38baa1b commits belong to the #2023

[2021-06-18 08:47] rodichenko commented on #2023
7a186e7 32be448 commits implement **resolve variables for rerun** feature

[2021-06-23 10:34] rodichenko commented on #2023
### Metadata entities display setting
For default column sorting & ordering, we use `MetadataColumns` attribute for **project**, **user** or user's **role** (with mentioned priority); the value of `MetadataColumns` attribute is comma-separated column names (e.g. `Path, Created Date, ID, SampleSheet`)

[2021-06-23 13:02] sidoruka opened #2039 "`pipe` CLI shall respect `-e` and `-f` combination"
When using "pipe storage cp -r", the copying is aborted with the message "Flag --force (-f) is required to overwrite files in the destination data." even when "-f" is not necessary, because conflicting files are skipped by -e and/or -s.

This prevents performing bulk copies where specifics files are known to conflict and excluded, while the files of interests are not. This happens: when some files

[2021-06-23 13:02] sidoruka commented on #2039
Shall be cherry-picked to `release/0.16`

[2021-06-23 13:34] rodichenko commented on #2023
@kamyshova @sidoruka 64adb2a10841d83a818615f19eeae0f4564217b4 implements **Multiple column sorting** feature

[2021-06-23 16:52] rodichenko commented on #2023
@sidoruka @kamyshova **Multiple columns sorting** feature backported to `release/0.16` (a890154cfa8b19ebb4ad899d3c42aa78a860f844)

[2021-06-24 10:34] maryvictol commented on #1805
@SilinPavel, ***Files summary*** table should be sorted by the path column.

[2021-06-25 09:21] maryvictol commented on #1805
Tables view in the reports don't correspond template file.

[2021-06-25 09:42] maryvictol commented on #1805
At case of preference `storage.version.storage.report.template` value isn't specified, the error message should be appropriate. Now error message `Error downloading file` is shown.

[2021-06-25 19:58] maryvictol commented on #1805
In the ***Report summary*** `time` shall be removed from selected period for which revisions (commits) will be included to the report.

The report shall be generated according to the customer's time zone.

![image](https://user-images.githubusercontent.com/47791878/123478863-be8e2080-d608-11eb-8c66-b6b210b05cae.png)
![image](https://user-images.githubusercontent.com/47791878/123478882-c6e65b80-d60

[2021-06-29 07:41] maryvictol commented on #1805
**Reports:**
Author of revision should be added to the revision info at case of _Diffs report with splitting by changed files_:
_File <file_path_1>:_
_In revision <revision_1>_ **by <author_revision_1>** _at <date_revision_1> was <file_status_1>_
![image](https://user-images.githubusercontent.com/47791878/123757282-7b60d580-d8c6-11eb-991c-0127dfe15d41.png)

[2021-06-29 08:39] maryvictol commented on #1805
***Reports***:
1. Extra technical info shall be removed from revisions info (`diff --git ...` , `index ...`) in the Diff Reports
2. State of the file in the revision (ADDED / REMOVED / MODIFIED / RENAMED) should be added to the revision info

[2021-06-29 09:55] maryvictol commented on #1805
**Reports**:
Blocks of changes should be sorted ascending by lines  in the diff table.
![image](https://user-images.githubusercontent.com/47791878/123772018-3479dc80-d8d4-11eb-9a1d-8ec15d31cf87.png)

[2021-06-29 15:04] tcibinan opened #2044 "Support autonomous data synchronization in DTS"
**Background**

The following tasks are required to support autonomous data synchronization in DTS.

# @Wedds

@Wedds Could you please implement the following tasks?

**API**
1. [x] Add support for DTS specific preferences
    Add specific preferences field to DTS table and add API methods for DTS specific preferences upsert and delete operations.
1. [x] Expose DTS resources via static files
    E

[2021-06-30 11:29] rodichenko commented on #1805
@maryvictol should be fixed, can you check please?

[2021-06-30 13:35] maryvictol commented on #1805
Verified as fixed

[2021-06-30 18:18] maryvictol commented on #1805
**Reports:**
_Diffs table_ should be stretched to fit the width of the page.
![image](https://user-images.githubusercontent.com/47791878/124011466-b824ed80-d9e8-11eb-8929-a942712e80c6.png)

[2021-06-30 18:34] maryvictol commented on #1805
**Reports:**
If font size = **11** is specified for `{commit_diffs}` in *Report template*, Report is created with broken *Diff reports* part: headers of revisions have font size =3, text of revision info has size 32767.

[2021-07-01 09:04] maryvictol commented on #1805
**Reports:**
Reports containing a _Diff report_ on any changes for the .pdf file cannot be opened in the Microsoft Word.
![image](https://user-images.githubusercontent.com/47791878/124097476-45595800-da64-11eb-8b8d-f1aa0b33c13b.png)

[2021-07-01 09:33] SilinPavel commented on #1805
should be fixed for now

[2021-07-01 09:33] SilinPavel commented on #1805
should be fixed

[2021-07-01 09:33] SilinPavel commented on #1805
also fixed

[2021-07-01 09:34] SilinPavel commented on #1805
fixed

[2021-07-01 09:34] SilinPavel commented on #1805
should be fixed

[2021-07-01 09:36] maryvictol commented on #2023
@rodichenko , @AleksandrGorodetskii The display order and visibility of columns ***should be preserved*** when leaving the metadata page. Now the display order and visibility of columns are reset when leaving the metadata page.

[2021-07-01 11:01] maryvictol commented on #1805
**Reports:**
If regular quotes from Microsoft Word is used in the json for ***Files Summary/Revision History*** table format in the template file ***Files Summary/Revision History*** tables aren't created in the Report (table format json is shown instead of it).

[2021-07-01 12:14] SilinPavel commented on #1805
should be resolved

[2021-07-01 12:16] SilinPavel commented on #1805
fixed

[2021-07-01 12:17] SilinPavel commented on #1805
should be fixed

[2021-07-01 15:29] SilinPavel commented on #1805
should be fixed

[2021-07-01 15:29] maryvictol commented on #1805
Verified as fixed

[2021-07-01 15:29] SilinPavel commented on #1805
should be fixed

[2021-07-01 15:42] maryvictol commented on #1805
Verified as fixed

[2021-07-01 18:50] maryvictol commented on #1805
Verified as fixed

[2021-07-01 19:00] maryvictol commented on #1805
Verified as fixed

[2021-07-01 19:14] maryvictol commented on #1805
Verified as fixed

[2021-07-01 19:30] maryvictol commented on #1805
Verified as fixed

[2021-07-01 20:48] maryvictol commented on #1805
Verified as fixed

[2021-07-01 21:33] maryvictol commented on #1805
Verified as fixed

[2021-07-02 14:08] maryvictol commented on #2023
@rodichenko , @AleksandrGorodetskii  Cells aren't filled exactly following of pattern if the value's numeric part starts with 0.
![image](https://user-images.githubusercontent.com/47791878/124286878-102e3200-db58-11eb-97d2-19f76e4d0b23.png)

[2021-07-02 17:16] maryvictol commented on #1805
Verified as fixed

[2021-07-02 17:17] maryvictol commented on #1805
Verified as fixed

[2021-07-05 10:56] maryvictol commented on #1807
@mzueva, @ekazachkova
Error message `'NoneType' object has no attribute '_pointer'` is shown when user try to change the VS revision, from which the content should be cloned, to morw recent without Refresh.
![image](https://user-images.githubusercontent.com/47791878/124460990-c3856980-dd98-11eb-8a25-725acb9fd447.png)

**Steps to reproduce:**
1.  Launch the run from the VS page or Clone VS to any r

[2021-07-05 11:02] maryvictol commented on #2023
If metadata has custom column _Name_ or _Created date_ then metadata table aren't sorted and filtered by that column.

[2021-07-05 15:01] maryvictol commented on #2023
At case of user select sample metadata for a rerun the Rerun is specified with the same parameters as the initial run.

[2021-07-05 15:35] AleksandrGorodetskii commented on #2023
@maryvictol should be fixed by 21f06cc , can you check please?

[2021-07-07 10:56] maryvictol commented on #1832
Warning message `"A large number of the object data storages are going to be mounted for this job"` shouldn't be shown at launch of Windows tool.
![image](https://user-images.githubusercontent.com/47791878/124747931-2a3a8c80-df2b-11eb-823f-7ad2e9217771.png)

[2021-07-07 11:32] maryvictol commented on #1832
**Pause** and **Versioned Storages** links don't work now and should be removed.

[2021-07-07 12:51] maryvictol commented on #1832
On Windows machine:

1. [ ] **question 1.** Admins cannot access efs storages via webdav without explicit storage permissions. Is it correct behaviour?
1. [ ] **question 2.** At case of user isn't owner any storage or doesn't have permission to any storages message `Authentication succeeded for Cloud Storage Drive mapping/ Please follow instructions to configure....` is shown several times at open

[2021-07-09 12:59] maryvictol commented on #2023
@rodichenko Sorting should be removed from the column if column is hidden.
**Steps to reproduce:**
1. Open any metadata table
2. Click header of any column to sort table by it
3. Open "Show columns" control
4. Hide column from step 2.

**Actual result:**
Table is sorted by hidden column

[2021-07-09 17:10] maryvictol commented on #1832
**Big files copy research:**
| File size | 976.59Mb | 1.5Gb | 4.7Gb |
| --- | --- | --- | --- |
| **Copy file via CloudData:** |
| Windows --> Storage | - File is copied <br> - File appears in the storage after reload only | - File is copied <br> - File appears in the storage after 2-3 min reload | - Progress bar displays that file is copied <br> -After that all info exclude modal name disappears

[2021-07-13 13:04] rodichenko commented on #1832
@maryvictol should be fixed with ccf7b3e3685f11bf35580a3ea0f727b3b261682f

[2021-07-13 13:40] rodichenko commented on #1832
@maryvictol warning message was removed (f24a58360d2ff5be66abb7467c93f8f076837345)

[2021-07-13 15:03] rodichenko commented on #2023
@maryvictol cf84d7192e7f82dcb9ed80198ae346ce8f94876a fixes this, could you verify this please?

[2021-07-13 15:25] rodichenko commented on #2023
@maryvictol f79d53cea1eb5b723c2fe42bd355f367ffbc5979 fixes this, could you check this please?

[2021-07-13 15:50] rodichenko commented on #2023
@maryvictol 7e999927722f22dd3df1778969e40cb579cabc7d fixes sorting and filtering of *Name*, *Created date* and *ID* columns

[2021-07-13 21:12] maryvictol commented on #2023
Verified as fixed

[2021-07-14 08:59] maryvictol commented on #2023
Verified as fixed

[2021-07-14 09:02] maryvictol commented on #2023
Verified as fixed

[2021-07-14 09:24] maryvictol commented on #2023
Verified as fixed

[2021-07-14 10:13] maryvictol commented on #1832
Verified as fixed

[2021-07-14 10:15] maryvictol commented on #1832
Verified as fixed

[2021-07-14 11:00] mzueva opened #2063 "Notify user that BLASTp results visualisation is not exact"
**Background**
BLASTp alignment visualisation is not exact, alignment block just marks gene or feature which is associated with BLAST results.

**Approach**
It would useful to add a notification to BLASTp track with the following text "BLAST protein search results visualisation do not show exact location of alignment".  Notification shall have close button and shall be demonstrated to user only on

[2021-07-14 11:06] #2063 closed, assigned to rodichenko

[2021-07-14 13:41] sidoruka opened #2066 "Implement a WSI metadata parser and preview generator"
- [ ] Scan bucket/prefix for the files which lack or contain updates for the following tags:
  - Tags
  - Preview
- [ ] Extract tags from the file
- [ ] Tag the file in the bucket
  - If the mapped system dictionary does not contain a corresponding item - it shall be added to the dictionary
- [ ] Generate preview in the DZ format and place it into the same bucket/prefix with the name `<original_fi

[2021-07-14 14:29] rodichenko opened #2067 "GUI: User profile page"
**Background**
At the moment, non-admin users cannot view their roles, groups and attributes. It would be nice to have a user's **Profile** page available for everyone.

**Approach**
Let's introduce **My Profile** page (tab) within the **Settings** page. This page must contain:
- User attributes (i.e. *email*, *first name*, *last name* etc.)- **readonly**;
- User roles list - **readonly**;
- User

[2021-07-14 16:35] kamyshova opened #2070 "File editing fails using Pluma text editor in mounted object storage"
**Describe the bug**
When a file is edited using Pluma text editor in mounted object storage, the content of the modified file disappears.

**To Reproduce**
Steps to reproduce the behavior:
1. Mount the Magellan object storage to a Linux workstation:
`pipe storage mount -b bucket_name /mount/point`
2. Create a new file with content using command-line-based text editor: `vi/nano/etc`
3. Open the cr

[2021-07-15 09:47] maryvictol commented on #2044
**Comments:**

1. [ ] If `DTS_NAME` isn't specified then command `pipe dts preferences update "$DTS_NAME" -p 'dts.local.sync.rules=[....]` gives unclear error message
[code]
1. [ ] Timestamp for `DtsSynchronizationService - Running transfer task from` is given in another format
![image](https://user-images.githubusercontent.com/47791878/125767394-41601e44-db33-4981-b5df-e00260099930.png)
1. [ ] No

[2021-07-16 09:47] rodichenko commented on #2067
@sidoruka @mzueva GUI part backported to `release/0.16` (81721d9c235620fab1f786360bd96c31d616334a)

[2021-07-16 09:49] rodichenko commented on #2023
@sidoruka @kamyshova
- **metadata entities autofill**
- **resolve variables for rerun**
- **samples preselect for rerun**

backported to `release/0.16` (29f9b2d4b4359f9a04f400eee0a8cace2a8f5470)

[2021-07-16 13:52] tcibinan commented on #1432
Resolved in #2073.

[2021-07-16 13:52] #1432 closed, assigned to nobody

[2021-07-20 09:40] tcibinan commented on #2070
@kamyshova The issue should be resolved by #2076.

[2021-07-21 11:03] rodichenko opened #2079 "User-defined UI configuration"
## Background
At the moment, Cloud Pipeline provides default UI configuration for every user:
- Pages (i.e. *Dashboard*, *Library*, *Tools* etc.);
- Default dashboard layout (3 panels: *Active runs*, *Personal tools*, *Data*)
- Default home page (*Dashboard*).

It would be nice to have a *user-specific* configuration of the mentioned UI parts.

## Approach
Let's introduce the following metadata at

[2021-07-22 17:03] sidoruka opened #2082 "FSBrowser shall clone VS using it's name instead of the ID"
At the moment (#1805), FSBrowser clones the Versioned Storage into `{git.fsbrowser.workdir}/{VS_ID}`. This confusing for the users.
Let's change this behavior to use the VS name as a directory.
E.g.:
* We have a VS:
  * Name: Project1
  * ID: 10
* At the moment, it is cloned into `/git-worker/10`
* Shall be cloned into `/git-worker/Project1`

[2021-07-22 17:07] sidoruka opened #2083 "Cloned VS directory shall be available to the "general" user"
At the moment (#1805), once a VS is cloned into a "run" - it is only writable by the `root` user.
Such a behaviour works fine for the SSH session, but breaks the RStudio/Jupyter/Nomachine and other cases, where user acts on behalf of the personal account.

Image the the following scenario:
* User runs RStudio
* Clones VS
* Opens a file from a cloned directory in RStudio
* Modifies the files and sa

[2021-07-22 17:10] sidoruka opened #2084 ".git_keep shall not be displayed in the VS change history"
`.git_keep` file  (#1805) shall not be included into:
* VS diff (retrieved from the FSBrowser)
* Diffs, retrieved from the GUI change history for a VS
* DOCX reports

Let's introduce some preference to control a list of such "shadow" files

[2021-07-22 17:13] sidoruka opened #2085 "GUI shall display VCS run menu only if any VS is available to the user"
At the moment, VCS menus (for a job in a dashboard and run log form) are always available in the GUI.
This shall be changed, so that the VCS is available only if the user has any sort of access to any VS.

[2021-07-22 17:25] sidoruka opened #2086 "The OWNER of the Filesystem storage shall be able to convert it into a Versioned Storage"
**Background**
Some of the datasets/scripts stored in the Cloud Pipeline environment have the following lifecycle:
* Created/Uploaded into the Filesystem storage
* For some time, development occurs in this kind of a "plain" filesystem
* At some stage, users want to put the data under a version control

It is possible to perform this operation manually (e.g. mount a filesystem and push its contents

[2021-07-23 09:05] sidoruka opened #2088 "Send status email notifications on a per-run basis"
**Background**
At the moment, run status notification can be configured globally by the administrator. But in certain cases, global notifications are not encouraged and the users would like to control this behaviour on their own.
We shall allow users to enable email notifications, based on the job parameters/user profile.

**Approach**
* User shall be able to specify the following notification opt

[2021-07-23 13:47] maryvictol opened #2089 "Runs indexing should be fixed"
**Describe the bug**
At the moment indexing of runs is broken. New runs aren't shown in the search results.

**Environment:**
 - Cloud Provider: AWS
 - Version 0.17.0.10215

[2021-07-26 11:01] maryvictol commented on #1715
@mzueva, @ekazachkova
Autocloning VS into the running instance at launch a run from the VS page doesn't work.

[2021-07-26 15:16] kamyshova opened #2091 "Billing group and cost center mapping validation and automatic update for a user"
## **Background**
At the moment, cost centers may have no linked billing group.
* When importing users with cost centers from CSV files, we can only manually check which users don't have a billing group.
* When linking cost center with billing group, billing group will not automatically update for the user with the center and should be set manually.

## **Approach**

#### Validation

Implement `Ch

[2021-07-27 09:00] mzueva commented on #2082
@sidoruka done

[2021-07-27 09:14] maryvictol commented on #1715
@mzueva, @ekazachkova
***Endpoint*** link should be hidden for stopped and paused runs.

[2021-07-27 10:17] tcibinan opened #2093 "Historical resources utilisation is shown for active nodes only"
**Describe the bug**

Relates to #857.

Currently historical resources utilisation can be viewed for active nodes only. In case node is already offline then empty monitoring page is shown.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to finished run's page.
2. Open `Instance` tab.
3. Click to run's node name.
4. See that the opened monitoring page is empty.

**Expected behavior**

His

[2021-07-27 14:59] mzueva commented on #2084
@sidoruka @SilinPavel @maryvictol
- GUI VS history and Docx reports shall hide commits containing changes only in `skipped` files. If commit contains changes both: ordinary and `skipped` files, diff shall be returned only for plain files
- For FSBrowser GUI for VS no changes shall be applied for now

[2021-07-27 16:23] kamyshova commented on #2023
@rodichenko The project’s path parts are included in the job parameters as a separate parameter/environment variable named `METADATA_FOLDER_N`.
Could we add a new `METADATA_FOLDER_PATH` job parameter that includes the full path to the project, please?

[2021-07-28 10:39] rodichenko commented on #2023
@kamyshova sure, 16cfddb65ef2fbe49c89899ef82525e1685733ca implements this

[2021-07-28 11:25] rodichenko commented on #2023
@kamyshova @sidoruka feature is backported to `release/0.16` (4db7c52184d1b359cbbd87daac3884fddbccc1c5)

[2021-07-28 11:29] rodichenko commented on #2093
@tcibinan @sidoruka @mzueva TBD: for *offline* nodes we don't have OS info (windows/linux), so we cannot hide **Monitor** page for offline windows nodes (as described here #1832)

[2021-07-29 10:41] mzueva commented on #2089
@maryvictol shall be fixed

[2021-07-29 14:55] maryvictol commented on #1807
@SilinPavel
Delete file commit disapppears from history at case of file is deleted and updated by 2 users at the same time.

**Steps to reproduce:**
1. Open VS and create file1
2. ***User1:*** Launch run. Clone VS to running instance.
3. Edit file1 using ssh.
4. ***User2:*** Open VS and delete file1
5. ***User1:***  Open logs page of run from step 2.
6. Click **Versioned Storage** link. Select *Sa

[2021-07-29 18:42] SilinPavel commented on #1807
@maryvictol should be fixed by b9fc054 and 01ef32e

[2021-07-30 07:32] maryvictol commented on #1715
@rodichenko
Pop up with list of regions should be closed after selection one of them by user.

[2021-07-30 07:56] maryvictol commented on #2089
Verified as fixed

[2021-07-30 07:56] #2089 closed, assigned to mzueva

[2021-07-30 08:41] maryvictol opened #2102 "All links and buttons are disabled on the Tools page after select any option from Settings menu"
**Describe the bug**
After the user select any option from Settings menu on the Tools page all links and buttons on the page (exclude Settings button and _magnifier_ icon) become disabled.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Tools page
2. Click on Settings button
3. Select any option and click cancel on the appearing pop up
4. Try to input any text to Search field or click a

[2021-07-30 08:54] rodichenko commented on #2102
@maryvictol 1deb3124f5aeb25fa9f92c9c24d0265bacdc6e44 should fix that

[2021-07-30 10:03] sidoruka opened #2103 "Advanced search improvements for WSI"
- [ ] Allow to save current view of the image, including annotations (respect annotation layer visibility state)
- [ ] Allow to share a current view of the image via URL
- [ ] Allow to configure which sections of the advanced filter shall be automatically selected for a user via attributes. If such an attribute is set - advanced filter sections selector shall not be shown at all.
- [ ] Advanced se

[2021-07-30 10:03] sidoruka opened #2104 "Allow to save current view of the image, including annotations (respect annotation layer visibility state)"

[2021-07-30 10:03] #2104 closed, assigned to nobody

[2021-07-30 13:28] mzueva commented on #2083
@sidoruka done

[2021-07-31 17:24] maryvictol commented on #1807
Verified as fixed

[2021-07-31 17:25] maryvictol commented on #1715
Verified as fixed

[2021-07-31 17:25] maryvictol commented on #1715
Verified as fixed

[2021-08-03 20:22] rodichenko commented on #2103
@sidoruka

649a870e2a51798b4ea489c19556f5d2e0388b66 implements *save current view* operation;

844f83912d83f3c5d8a5fd26cd1dc8069e6fbc6a introduces *share* button that opens current preview in the separate tab; user can copy the link to share (TBD - shall we implement *copy url to clipboard* behavior?)

59f9d15874649f54786306b0e25ef872d48e29a0 introduces `ui-search-document-types` attribute: comma-

[2021-08-04 10:00] rodichenko commented on #2086
61206964e363e64e64aba0d73d5a636750058cfb implements GUI part: "Convert to Versioned Storage" action is available under "Edit" menu for *non-empty* NFS storages (see https://github.com/epam/cloud-pipeline/pull/2107#issue-701657231)

[2021-08-04 14:56] NShaforostov opened #2110 "Ability to restrict docker images list to which the storage can be mounted"
### Background

Currently, the list of storages that will be mounted to the running instance can be restricted via "limit mounts" option - it can be performed via the tool settings or exactly before the run launch via custom settings.
But in some cases, it is necessary to restrict the list of tools (docker images) to which the specific storage will be mounted.
For example, we want the specific use

[2021-08-06 11:00] kamyshova opened #2114 "Slurm cluster: execution host is not connected"
**Describe the bug**
When the `SLURMMasterSetupWorkers` task is executing in a run with `Slurm` cluster `NOT all execution hosts are connected` from time to time.

**To Reproduce**
Steps to reproduce the behavior:
1. Run shell pipeline with Slurm cluster (`Enable Slurm` checkbox)
2. Wait for a run initialization
3. Open `SLURMMasterSetupWorkers` task
4. Wait for the task to complete

**Expected be

[2021-08-06 11:09] rodichenko commented on #2088
@sidoruka backported to `release/0.16` (1fb7cdf5fd4a526f5bd639a2634da72e32cdbd7d)

[2021-08-06 12:22] sidoruka opened #2115 "Allow to store `pipe` CLI config in the installation directory"
**Background**
In certain cases, users need to have several `pipe` versions installed into the same workstation.
But this cases issues with the configuration setup. At the moment, `pipe` stores configuration in `~/.pipe/config.json`, so each `pipe` installation - rewrites this file.
We need a way to distinguish configuration between the versions.

**Approach**
Let's introduce `--config-store|-cs`

[2021-08-09 19:20] rodichenko commented on #2091
@SilinPavel (@mzueva) we need a new `misc.metadata.mandatory.keys` preference (`OBJECT` type, "Miscellaneous" section) that specifies mandatory user attributes, i.e. `["billing-center", "billing-group"]`

[2021-08-11 13:02] kamyshova opened #2122 "A run can be shared with non-existent user or group"
**Describe the bug**
Currently runs can be shared with non-existent users or groups.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch any tool
2. Click the launched run
3. Click the "Not shared (click to configure)" link
4. Click the "Add group" or "Add user" icon in appeared pop-up
5. Specify any non-existent user/role. E.g. 'ASDF123'
6. Click "OK" button

**Expected behavior**
An err

[2021-08-11 13:42] tcibinan commented on #1877
Open this again because the problem still persists and probably we can package pipe somewhat different in order to support default window extractor.

[2021-08-11 13:45] kamyshova opened #2123 "Chosen user/role should be fully into line with entered group or role after press 'enter' key"
**Describe the bug**
Currently the first value is chosen in a drop-down list if a user specifies group/role and presses the' enter' key in "Not shared (click to configure)" -> "Add group" popup.

**To Reproduce**
Steps to reproduce the behavior:

1. Launch any tool
2. Click the launched run
3. Click the "Not shared (click to configure)" link
4. Click the "Add group" or "Add user" icon in appeared

[2021-08-11 14:08] kamyshova opened #2124 "The 'SAVE' button is always active on the settings tool page without changing the settings"
**Describe the bug**
Currently, the 'SAVE' button is always enabled on the settings tool page without changing the settings.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the 'Tools' page
2. Select any tool
3. Click the 'SETTINGS' tab
4. See: 'SAVE' button is enabled
5. Click the 'SAVE' button
6. 'SAVE' button is still enabled

**Expected behavior**
The 'SAVE' button should be disable

[2021-08-12 08:22] tcibinan commented on #2093
Closing since it seems to be working for linux runs now.

[2021-08-12 08:22] #2093 closed, assigned to rodichenko

[2021-08-16 17:43] tcibinan opened #2128 "Support storage path permissions"
**Background**

Relates to #1805.

Currently read or write access to data storage or versioned storage allows to modify any object by any path. Nevertheless in certain scenarios read or write access to only specific storage directories or files is required.

**Approach**

In order to support such behaviour acl-like permissions support should be implemented for storage paths.

[2021-08-17 11:33] maryvictol commented on #2110
@rodichenko, @AleksandrGorodetskii
At case of option ***Limit mounts*** is selected on *Select docker images to limit mounts* pop up but no one docker image was added for the storage **OK** button should be disabled.

[2021-08-17 11:38] maryvictol commented on #2110
@rodichenko , @AleksandrGorodetskii
It wil be usefull to display full path for tools on *Storage is automatically mounted to:* info panel.
![image](https://user-images.githubusercontent.com/47791878/129719070-252ec806-a2ab-424c-8bd3-66897ce9ed94.png)

[2021-08-17 12:03] kamyshova commented on #2122
It has always been this way and does not need to be changed due to AD groups

[2021-08-17 12:03] #2122 closed, assigned to rodichenko

[2021-08-17 12:15] rodichenko commented on #2110
@maryvictol fixed with 8c622948be1a2a248e67cf5621933cf922af6fb1

[2021-08-17 12:18] rodichenko commented on #2110
@sidoruka backported to `release/0.16` (8c065d8528cbbfb4261e6b0d11b32d1028ee4772)

[2021-08-17 14:16] kamyshova opened #2130 "Trim the spaces in a entered user/group in the 'Share with users and groups' input"
**Describe the bug**
If the entered user or group contains trailing or leading whitespace it will be saved as-is - the non-existent user/group.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch any tool with endpoint
2. Click the launched run
3. Click the "Not shared (click to configure)" link
4. Click the "Add group" or "Add user" icon in appeared pop-up
5. Specify any existent user/ro

[2021-08-18 11:51] sidoruka opened #2132 "DataStorage content permissions management and sharing"
# Storage paths permissions management
- Select folder/file
- Edit permissions (as usual: users/groups/RWX)
- Respect permissions mask for the storage paths when listing/editing:
  - No need to filter contents based on the mask
  - Remove any edit/create/delete controls if no WRITE
- If a user has read permission for a folder - it shall be possible to view permissions dialog in a RO mode
- Who can

[2021-08-18 14:34] rodichenko commented on #2079
@sidoruka @SilinPavel @mzueva @maryvictol  2f39030103c1780c900e13cf7a5044e19d5eefc4 implements UI configuration for user *groups* (AD groups): `misc.groups.ui.preferences` preference specifies `ui-pages`, `ui-dashboard`, `ui-home-page` and `ui-search-document-types` (see #2103) settings for AD groups, e.g.:
[code]

@SilinPavel could you please add this preference to `Miscellaneous` group:
- name:

[2021-08-20 07:07] rodichenko commented on #2124
@kamyshova #2133 should fix this issue, can you re-check this please?

[2021-08-23 08:33] tcibinan commented on #2128
Duplicate of #2132.

[2021-08-23 08:33] #2128 closed, assigned to tcibinan

[2021-08-23 10:11] maryvictol commented on #2102
Verified as fixed

[2021-08-23 10:11] #2102 closed, assigned to rodichenko

[2021-08-23 16:30] rodichenko commented on #2123
@kamyshova d5ebdfe7b9e24cce0a18d77235566f710b1e9254 should fix this issue

[2021-08-23 16:31] rodichenko commented on #2130
@kamyshova d5ebdfe7b9e24cce0a18d77235566f710b1e9254 should fix this

[2021-08-26 13:42] tcibinan opened #2140 "Support number of io threads configuration in pipe cp/mv commands"
**Background**

By default pipe cli performs concurrent io operations. In certain scenarios it can be a good idea to tweak the number of threads in order to reduce network or disk bandwidth usage.

**Approach**

Introduce optional `-nio/--io-threads` parameter to specify number of io threads to use for a single file processing.

[2021-08-30 12:00] sidoruka opened #2142 "Extend "Open in..." GUI behavior"
# 1 Default placeholder
Copy file path:
[code]

Placeholders:
- {FILE_PATH}: Depending on tool type (Linux/Windows):
    * Windows: Z:\BucketName\Path
    * Linux: {mount-point}/path OR /cloud-data/bucket_name/path
- {APP_NAME}: Tool name
- {APP_LINK:TEXT}: LAUNCH/Wait.../{TEXT}

# 2 Customizable placeholder
- Add attribute in MD

# 3 "Open in" extenstion
- Add attribute to tools: list of file ext

[2021-08-30 15:09] sidoruka commented on #2091
@rodichenko @AleksandrGorodetskii
Please implemented the following enhancements:
* Show more rows per page. Lets double it at least
* Add user information (email, first name, last name)
* Highlight or add an icon for the users who are blocked
* Allow to filter users by (nothing fancy - just a drop-down list with a couple of options):
  * Blocked
  * Never logged in

[2021-08-30 16:06] rodichenko commented on #2091
@sidoruka f01c0e1414b92c0fa2bb9f54edeb013a38294006 implements this, backported to `release/0.16` (e32e732b4b921743da69955136383e5b6b846c7c)

[2021-08-31 08:48] sidoruka opened #2144 "Allow to "impersonate" administrator as a "General" user"
**Background**
While administering Cloud Pipeline deployment it is common to reproduce users' issues on their behalf. As some of the errors are not reproduced from the `ROLE_ADMIN` users.
It would be beneficial to have an "impersonate" option available for the admins.

**Approach/Use case**
* Administrator loads list of the users
* Administrator loads a user's profile popup
* There is an `imperson

[2021-08-31 08:52] sidoruka opened #2145 "Need a way to run automated tests without Cloud Pipeline service interruption"
**Background**
At the moment, auto-tests require API to be moved into `JWT-only` mode. This does not allow "general" users to login and causes "service interruption" for a day.
While this is fine for DEV/UAT environments - for the PROD environments this is not acceptable.
We need to design an approach, where the tests can be run isolated from the end-user space and allow them to proceed with their

[2021-09-01 14:05] maryvictol opened #2147 "run_as/share_with_users/share_with_groups fields disappear from config.json after saving Configuration"
**Describe the bug**
`run_as/share_with_users/share_with_groups` fields disappear from pipeline `config.json` after saving Configuration page.

**To Reproduce**
1. Create and open pipeline.
2. Go to the **CODE** tab
3. Add `run_as` (or `share_with_users/share_with_groups`) value to the  `config.json`
4. Go to the **CONFIGURATION** tab
5. Update any field and click *Save* button
6. Return to the **

[2021-09-03 11:26] rodichenko commented on #2142
@mzueva it would be nice to have an API method that fetches *entities* by entity type and attribute's *name* (some sort of existing GET `metadata/search` method but without attribute *value*)

[2021-09-06 09:11] tcibinan opened #2149 "Support checks for existing tunnel processes in pipe tunnel"
**Background**

Relates to #1501.

Currently if pipe tunnel is launched on the same local port as existing pipe tunnel is running on then the launching tunnel initiation will fail. It would be a nice approach to check for existing pipe tunnel process on the same local port first and either:
- keep the existing tunnel running
- keep the existing tunnel running if it has the same configuration as th

[2021-09-09 10:13] kamyshova commented on #2145
As a solution, the "impersonate" approach could be accepted. The 'first' login could be implemented using a chrome auth extension. The issues relating to this approach:
- EPMCMBIBPC-3162 and EPMCMBIBPC-3163
   Fix System logs to show log when 'impersonation' authentication:
   - 'impersonate' user login
   - 'impersonate' user logout
   - 'impersonate' login try of blocked user
- RoleModelTest: ht

[2021-09-09 13:22] Wedds opened #2155 "Improve NFS search synchronization"
**Background**
At the moment, NFS shares scanning is a time-consumable procedure, so synchronization of NFS storage is less frequent, compared to object storage.
As a result:
1. It is hard to control quotas on such type of storage
2. Its search relevance is low, which also affects the accuracy of billing reports.

It would be nice to implement a mechanism to reduce synchronization latency for NFS

[2021-09-15 08:56] tcibinan opened #2159 "Support pipe fuse on Windows"
**Background**

Originally pipe fuse support on Linux for webdav and object storages were introduced in #637 and #679 respectively. As long as some time passed since Windows runs introduction in #1832 it seems that the necessety of pipe fuse support on Windows have appeared. From some initial research it seems that the whole approach can perform quite efficient using some fuselib-like apis such as

[2021-09-15 12:27] rodichenko commented on #2142
The following attributes were added for tools for configuring **Open-In** dialog for files:
- `open-in-files`: comma-separated list of file extensions, e.g. `txt, svg, png` (such files will have "Open in" button with this tool)
- `open-in-files-template`: template for *open-in* instructions (as described in issue; see examples below)

## Template examples
### Default
`open-in-files-template` = `Co

[2021-09-16 10:09] sidoruka opened #2162 ""Hot nodes" cannot be created as the "instance platform" is null"
**Describe the bug**
"Hot nodes" cannot be created as the "instance platform" is passed as "null" (literally) from Java to Python.

**To Reproduce**
Steps to reproduce the behavior:
1. Create any new hot node pool
2. Review the `pipeline.log`
3. `nodup.py` is called with `--ins_platform null`
4. Nodes are not created

**Environment:**
 - Cloud Provider: AWS
 - Version: 0.17.0.10572.359a1cbaf04678b

[2021-09-16 15:10] mzueva commented on #2162
fixed

[2021-09-17 14:13] #2162 closed, assigned to tcibinan

[2021-09-23 15:18] tcibinan opened #2167 "Support NICE DCV sessions on Windows"
**Background**

Currently the only way to connect to Windows runs is via NoMachine sessions. At the same time there are different solutions such as [NICE DCV](https://docs.aws.amazon.com/dcv/index.html) for AWS which seems to perform better on common workloads in Cloud Pipeline.

**Approach**

Implement additional endpoints for Windows runs:
- NICE DCV web endpoint
- NICE DCV desktop connection fi

[2021-09-24 08:45] kamyshova commented on #2130
Fixed

[2021-09-24 08:45] #2130 closed, assigned to rodichenko

[2021-09-24 08:46] kamyshova commented on #2124
Fixed

[2021-09-24 08:46] #2124 closed, assigned to rodichenko

[2021-09-24 08:47] kamyshova commented on #2123
Fixed

[2021-09-24 08:47] #2123 closed, assigned to rodichenko

[2021-09-27 08:47] #2167 closed, assigned to nobody

[2021-09-29 15:18] tcibinan opened #2172 "Support a2 instance types in Google cloud properly"
**Background**

Relates to #13.

Currently a2 instance types don't have any GPUs in Google cloud region in Cloud Pipeline. But in fact these instances do have A100 GPUs on board. Moreover default gcp billing configuration doesn't include prices for a2 instances and a100 GPUs which results in incorrect calculated costs.

[2021-09-29 15:48] #2172 closed, assigned to nobody

[2021-09-29 16:30] maryvictol commented on #2144
**Test case** was created by #2153 and located [here](https://github.com/epam/cloud-pipeline/blob/develop/docs/testcases/UI/Role_Based_Access_Control/2144_impersonate_admin_as_general_user.md).

[2021-10-01 14:45] rodichenko opened #2179 "pkpd: nonmem wrapper enhancements"
**Background**
At the moment, Cloud Pipeline provides **pkpd** tool with **nonmem** wrapper script (**nonmem_run_sge.sh**) making cluster processing possible. But there are some limitations/issues:

- `infile` argument: only absolute path is allowed;
- script arguments must be passed in the predefined order: `infile [threads] [outfile]`; that makes impossible to launch a script by specifying input

[2021-10-01 14:54] rodichenko opened #2180 "pkpd tool enhancements"
At the moment, **pkpd** tool installs **NFS client**, **LFS**, **SGE** during the initialization, which slows down the overall job "launching" time. To achieve faster initialization we need to pre-install these components.

[2021-10-04 11:03] SilinPavel opened #2181 "SGE Autoscale cluster can't be scaled if master node cores is set to 0"
For now if we will set `CP_CAP_SGE_MASTER_CORES` = `0` `autoscale_sge` will fail to scale because can't parse sge output

[2021-10-04 11:37] sidoruka opened #2182 "FS quotas management"
- [x] Introduce email notifications:
  - Shall have only following attrbutes: `Enabled`, `Subject`, `Body`
  - Default `Body` value shall be set during a deployment procedure:
  - Admin shall be able to use any quota or datastorage field in the `Body` template
[code]

- [x] Add `mountStatus` to the GUI (info/highlight):
  - `ACTIVE`
  - `MOUNT_DISABLED`
  - `READ_ONLY`
- [x] Show FS size in the GU

[2021-10-04 11:39] sidoruka commented on #2182
Shall be cherry-picked to `release/0.16`

[2021-10-04 11:39] sidoruka commented on #2182
@rodichenko please take care of (2) and (3)
@Wedds (1) and (4) are on your plate. Please implement (4) first and then proceed with the emails

[2021-10-04 11:40] sidoruka opened #2183 "Autoscaled cluster costs"
**Background**
At the moment, Cloud Pipeline allow to view a price estimation for the `single` instance jobs and `static` clusters.
But the auto-scaled clusters do not provide such information. Users see a price only for a master node.

This feature shall be added, as the auto-scaled clusters are used at most.

**Approach**
* Compute the estimated price for all the cluster (including static and au

[2021-10-04 11:40] sidoruka opened #2184 ""Smart" filesystem implementation"
**Background**
At the moment, Cloud Pipeline offers two types of data storages with their pros and cons:
* `Object storages` - cheap, redundant, but can't be treated as "real" filesystems. Even though we have own FUSE implementation which works great, but it can't compare to the NFS/SMB. It lacks certain capabilities (e.g. permissions, symlinks, etc.) and the performance is not that good
* `File s

[2021-10-04 14:30] rodichenko opened #2186 "pkpd: clusterNONMEM R library improvements"
After #2179 implementation it would be nice to have following enhancements regarding **clusterNONMEM** R library:
* rename *runNonmemSge* method to *nonmemSubmit*
* respect relative paths of `infile`, `outfile`
* if `outfile` is omitted, should respect `infile`: results file must be saved at the same directory as input file;
* if `outfile` is omitted, results file name must be the same as `infile`

[2021-10-04 22:50] tenayathera opened #2189 "Adding the capability to configure and use an on-premise server or cluster as an alternative computing resource"
**Background**
Cloud Pipelines comprehensively manages the process of running workflows on the 3 main Cloud Services providers. However, I could not find any defined process to config the Cloud Pipeline to use an on-premise server or cluster to run the jobs.

**Approach**
Ideally, Cloud Pipeline should allow to use a local server or cluster as an alternative computation platform.

I may be missing

[2021-10-05 13:34] tcibinan opened #2190 "Support run billing owner overriding via run parameters"
**Background**

Currently each run is billed to its owner. Nevertheless in certain scenarios specific runs should be billed to some explicitly specified users. F.e. if some autoscaled cluster is shared between multiple users then it can be a good idea to bill each additional worker to a user which submitted most of the jobs.

**Approach**

Specific run parameter f.e. `CP_BILLING_OWNER` should allo

[2021-10-06 08:25] #2190 closed, assigned to nobody

[2021-10-07 09:26] tcibinan opened #2195 "Support users and groups sharing within clusters"
**Background**

Relates to #2197.

Currently all nodes in both static and autoscaled clusters manage users and groups independently. For certain use cases (f.e. per user SGE jobs submission) it can be a good idea to share cluster manager node users and groups with all its worker nodes.

**Approach**

The simplest yet tricky approach would be to share manager node local users and groups management

[2021-10-07 11:30] maryvictol opened #2196 "Incorrect error message at attemption to upload big file to a storage"
**Describe the bug**
Incorrect error message is shown at attemption to upload big file (>500Mb) to a storage

**To Reproduce**
1. Go to stoage
2. Click on **Upload** button
3. Select any file with size >500Mb
4. See error `Maximum 500Gb per file`

**Expected behavior**
Error message `Maximum 500Mb per file` should be shown.
![image](https://user-images.githubusercontent.com/47791878/136375544-fb6e

[2021-10-07 12:43] tcibinan opened #2197 "Support local users synchronisation for shared runs"
**Background**

Relates to #2195.

Currently any user can share her/his run with some other user or a group. In this case run endpoints are accessible by users the run was shared with. Nevertheless such users don't have corresponding local accounts in the shared run and therefore they can only connect using local root account. As a result there is no way to strictly limit certain user permissions

[2021-10-07 13:02] tcibinan opened #2198 "Support non root ssh access to certain runs"
**Background**

Relates to #842.

There are two supported run ssh connection modes in Cloud Pipeline for Linux runs:
- Connection as `root` account.
- Connection as run owner account.

These two modes can be switched using the following system preference `system.ssh.default.root.user.enabled`.

Nevertheless it can be quite useful to allow ssh connections as user accounts to certain runs. Once #219

[2021-10-08 10:46] tcibinan opened #2205 "Support multiple ports forwarding in pipe tunnel"
**Background**

Relates to #1501.

Currently pipe tunnel can only forward a single local port for a single remote port. Nevertheless this is a common use case to forward multiple ports or even a range of ports at once.

**Approach**

Tunnel processes should be able to serve multiple local ports at once and lazily establish connections to a remote host whenever a connection is requested.

**Other o

[2021-10-08 11:00] NShaforostov opened #2206 "[Draft] Blind/unblind data for versioned storages"
## Background

As the Versioned Storage content (functionality is implemented via #1805) can be used and changed by several users, it would be convenient for versioned storages owners to have the ability to blind separate files/folders in storages - i.e. to hide files content (not files themselves) and make them non editable for others.

## Approach

- Users shall have the ability to blind/unblind

[2021-10-08 11:05] tcibinan opened #2207 "Support ssh connection modes in pipe tunnel and pipe ssh"
**Background**

Relates to #2198 and #1501.

Support for ssh connection modes was introduced in #2204. Currently pipe tunnel and pipe ssh commands don't respect the modes and only check `system.ssh.default.root.user.enabled` system preference value to determine which user to use for ssh connections.

**Approach**

Both pipe tunnel and pipe ssh commands should support different ssh connection modes

[2021-10-08 11:31] SilinPavel opened #2209 "Mount point is cleared when datastorage is moved to another folder"
When we move `datastorage` from one folder to another it lose its `mount-point` setting.

It seams that it relates to UI code base because when we move storage `POST` /update is sent and no `mountPoint` field is provided in this case:

![Screenshot from 2021-10-08 14-25-15](https://user-images.githubusercontent.com/11179595/136549465-c6739dcc-2f65-4ecb-a6b8-c351b9ea51d2.png)
![Screenshot from 2021

[2021-10-08 11:47] sidoruka opened #2210 "Allow to set default mount limits on a per-user basis"
**Background**
At the moment, Cloud Pipeline allows settings environment variables (and thus `CP_CAP_LIMIT_MOUNTS`) using the following options:
* `launch.env.properties` - globally for all the jobs
* Tool paramaters
* Specific job parameters

But for certain cases - users would benefit from setting default list of mounted storages (e.g. for the `ROLE_ADMIN`).

**Approach**
* User shall be able to

[2021-10-08 11:50] sidoruka commented on #2210
Shall be backported to `release/0.16`

[2021-10-08 13:59] maryvictol commented on #2182
@rodichenko
1. ***Disable mount*** and ***Make read-only*** options should not be inserted into the one *Action* field on the *Configure FS mount notifications* pop-up at the same time.
2. Field *Action* should be requered for added notification

[2021-10-08 15:42] rodichenko commented on #2182
@maryvictol should be fixed with 67b86c89e1525bba7e2a432e7adad1785cfbf312

[2021-10-08 15:42] rodichenko commented on #2196
@maryvictol should be fixed with 67b86c89e1525bba7e2a432e7adad1785cfbf312

[2021-10-11 08:55] sidoruka opened #2211 "`Share Service` integration maintenance"
**Background**
[Share Service](https://github.com/epam/cloud-pipeline/tree/develop/data-sharing-service) - a part of Cloud Pipeline platform, was not used for a period of time and thus, not maintained well.
It is likely, that it is not fully compatible with the backend API and requires modifications.
We need to update the `Share Service` to be fully functional.

**Approach**
* Deploy `Share Servic

[2021-10-11 09:52] sidoruka commented on #2182
@Wedds, there is another item (p.5) added to the initial issue. Please take care of that.

[2021-10-11 12:40] ekazachkova commented on #2183
@rodichenko  a new field `workersPrice` added to pipeline run output object. This value indicates the total price for all cluster workers.

[2021-10-11 15:14] rodichenko commented on #2183
@sidoruka @mzueva @ekazachkova GUI part implemented (#2212)

[2021-10-12 11:09] rodichenko commented on #2183
@sidoruka @mzueva backported to `release/0.16` (79dfa1535c2c51263d805e18205ab2254172a35e)

[2021-10-12 11:10] rodichenko commented on #2210
@sidoruka @mzueva backported to `release/0.16` (11feac47f786110fcd04dedaa42620aba7eaba2b)

[2021-10-14 09:56] sidoruka opened #2219 ""basic" IdP shall be installed as a "deployment" and persist it's state in a managed volume"
At the moment, Cloud Pipeline's basic IdP (used for the DEV environments) can't survive restarts:
* It is run as a `POD` and does not start back automatically
* Users and Connections configs are stored in a POD's filesystem, so they are erased each reboot

Let's fixed that:
* Change the `POD` to `DEPLOYMENT`
* Mount the configs to the host's filesystem (e.g. `/opt/idp/basic/`)

[2021-10-14 15:20] NShaforostov opened #2220 "`pipe pause/resume` commands are allowable for the cluster runs"
**Describe the bug**
Currently, cluster runs can not be paused (and resumed correspondingly) via the GUI.
But cluster runs can be paused/resumed via the `pipe` functionality (due to #1802).

Should we prohibit such operations in both regimen?

**To Reproduce**
Steps to reproduce the behavior:
1. Launch cluster run (e.g. static cluster with 1 child node)
2. Wait until the master and child nodes wil

[2021-10-14 16:55] NShaforostov commented on #1965
Docs were added via #1972 and located [here](https://github.com/epam/cloud-pipeline/blob/develop/docs/md/release_notes/v.0.17/v.0.17_-_Release_notes.md#updates-of-metadata-object).

[2021-10-14 16:56] NShaforostov commented on #1802
Docs were added via #1972 and located here - [pause command](https://github.com/epam/cloud-pipeline/blob/develop/docs/md/manual/14_CLI/14.5._Manage_pipeline_executions_via_CLI.md#pause-a-pipeline-execution) and [resume command](https://github.com/epam/cloud-pipeline/blob/develop/docs/md/manual/14_CLI/14.5._Manage_pipeline_executions_via_CLI.md#resume-paused-pipeline-execution).

[2021-10-14 16:58] NShaforostov commented on #1781
Docs were added via #1972 and located [here](https://github.com/epam/cloud-pipeline/blob/develop/docs/md/manual/10_Manage_Tools/10.9._Run_capabilities.md#disable-hyper-threading).

[2021-10-15 10:18] SilinPavel opened #2221 "Provide way to invalidate edge bearer token when impersonate or logout"
For now when user impersonates himself/herself bearer toke for edge server is still persists and can be used it leads to bad side effect: while impersonated user will have appropriate permission on Cloud-Pipeline platform he/she still will have old edge bearer token and will have the same permission as if he/she didn't impersonate at all.

To solve this problem it is proposed to implement new edge

[2021-10-15 11:29] NShaforostov commented on #1543
@rodichenko I've tried to verify this.
Search by dictionary values works well.
But, the search by the dictionary name is not working at all now. I expected that the search should be performed by both criteria (values and name), or did I misunderstand the issue statement?

[2021-10-15 14:52] NShaforostov opened #2223 "System Dictionaries enhancements"
## Background

There are some possible enhancements that can be implemented to make the using of System Dictionaries Management form more convenient.

### Special symbols in dictionary names

Currently, user can add values to system dictionaries with any special symbols.
But if user will try to add special symbols to a dictionary name - some troubles would happen. From what is discovered:
- `%` -

[2021-10-18 12:23] sidoruka opened #2224 "Allow to set "help" wording, based on group-memebrship"
**Background**
At the moment, Cloud Pipeline provides **Help** dialog with useful links, which is generated using the `ui.support.template` preference. This text is static, but it would be nice to have different text for different user *groups*.

**Approach**
Let's reuse `ui.support.template` preference in the following way:
* if this preference contains text, which is **not** a valid JSON, behavi

[2021-10-18 12:24] sidoruka opened #2225 "Data storage folders sharing implementation"
**Background**
At the moment, Cloud Pipeline does not allow user to share separate data storage folders with other users; it would be nice to have this feature;

**Approach**
Let's introduce **Share folder** button for selected folder within data storage which opens "Share folder" dialog. This dialog should allow to:
* specify users / groups to share this folder with;
* "SAVE AND SHARE" button to

[2021-10-18 12:24] sidoruka opened #2226 "[DRAFT] WSI "Preview" in the data storage listing"
**Background**
A clear and concise description of what the problem is. Ex. At the moment, Cloud Pipeline does not allow [...] and it would be nice to [...] because [...]

**Approach**
A clear and concise description of what you want to happen.

**Other options**
A clear and concise description of any alternative solutions or features you've considered.

[2021-10-18 12:30] sidoruka opened #2227 "[DRAFT] Faceted filter results sorting (default and configurable)"
**Background**
A clear and concise description of what the problem is. Ex. At the moment, Cloud Pipeline does not allow [...] and it would be nice to [...] because [...]

**Approach**
A clear and concise description of what you want to happen.

**Other options**
A clear and concise description of any alternative solutions or features you've considered.

[2021-10-19 07:14] tcibinan opened #2228 "Support additional worker owner parameter in grid engine autoscaler"
**Background**

Relates to #2190.

Currently there is no way to determine which user grid engine jobs have caused cluster scaling up. Nevertheless for certain purposes such as one in #2190 it is required to have an owner parameter being set for each cluster additional worker run.

**Approach**

Grid engine autoscaler should set `CP_CAP_AUTOSCALE_OWNER` parameter for each autoscaled cluster worker

[2021-10-19 08:48] rodichenko commented on #2221
@sidoruka @SilinPavel GUI part backported to `release/0.16` (6fb06c33a8615ec3ef4a2b35e7150384d27d7c2f)

[2021-10-19 09:11] rodichenko commented on #2223
@NShaforostov 25a3ebb101d8548c4f27d0a3410fb59cb8af2d7c implements dictionaries sorting and fixes the following:

As for the the rest:

we should refactor current API methods (`GET`, `DELETE` `/categoricalAttribute/{key}`) to respect such dictionary names - change them to `/categoricalAttribute?key=${key}` for instance

[2021-10-20 09:20] NShaforostov opened #2232 "NAT Gateway configuration"
## Background

Currently, if the Cloud Pipeline Platform is deployed in some private subnet, it could be quite difficult for the admin to expose a network endpoint for some service. This requires manual execution of a number of tasks on the Platform Core instance and, accordingly, may lead to errors.
It would be convenient to allow the management (creating/removing) network routes from the GUI - t

[2021-10-20 12:37] SilinPavel opened #2233 "DAV Mount storage limit"
- It would be great to have opportunity for user to request to mount data storage for dav service automatically (now it only possible if user has permissions to add metadata to storage)
- It also great to have possibility to define time period for the datastorage to be mounted to dav, after this time storage should be automatically unmounted from dav

[2021-10-20 12:56] SilinPavel commented on #2233
The following approach is proposed for this issue:

### New datastorage API

#### Request datastorage to be mounted to dav

`POST` `/datastorage/{id}/davmount`

**Body**
[code]
`time` - mount time period in sec

#### Call off mounting to dav service for this datastorage
 `DELETE` `/datastorage/{id}/davmount`

### Workflow

 - User wants to mount some storage to dav and request it on datastorage pa

[2021-10-21 06:32] #2195 closed, assigned to nobody

[2021-10-21 06:38] #994 closed, assigned to tcibinan

[2021-10-21 06:38] #2198 closed, assigned to nobody

[2021-10-21 06:39] #2228 closed, assigned to nobody

[2021-10-21 10:04] sidoruka opened #2234 ""Custom" capabilities implementation"
**Background**
At the moment, Cloud Pipeline allows to set a predefined set of capabilities in the GUI for a job or a tool. Which trigger complex reconfiguration for the job (e.g. DIND).
For some use-cases we need to run some simple scripts per user's request. Such scripts may vary between the environments.
It would be nice to let the admins specify those scripts in the platform settings and allow

[2021-10-21 10:05] sidoruka commented on #2234
Cherry-pick to the `release/0.16`

[2021-10-21 10:51] sidoruka opened #2235 ""Assume" AWS role when accessing AWS region"
**Background**
At the moment, Cloud Pipeline considers that all the AWS regions are accessible via the same AWS user/role (either ~/.aws/credentials or instance profile).
For some of the use-cases additional AWS regions are deployed in a different AWS account.
I.e. "core" services are deployed into `us-east-1` of `account1` and `eu-west-1` is attached from `account2`. This makes impossible to acce

[2021-10-21 10:51] sidoruka commented on #2235
Shall be cherry-picked into `release/0.16`

[2021-10-21 11:15] rodichenko commented on #2225
@mzueva @SilinPavel could you please take care of

and

[2021-10-21 15:45] kamyshova opened #2238 "Users can be not consistent in the SYSTEM LOGS"
**Describe the bug**

In some entries of the SYSTEM LOGS, the admin in the `User` column can be represented in upper or lower case for exactly the same entry log which can be confused. Also, some entries have the `NotAuthorize` value in the `User` column, although the username is expected.

**Expected behavior**
1. All usernames are uppercase
2. Username instead of NotAuthorize

**Environment:**

[2021-10-22 10:46] tcibinan commented on #2190
Cherry-picked to `release/0.16` via 7fe2b9566c34ad4a8290151f60583a860e94417a and 062ff9bd5a2d66616aa994886ec6f83f8ba89926.

[2021-10-22 10:47] maryvictol commented on #2196
Verified as fixed

[2021-10-22 10:47] #2196 closed, assigned to rodichenko

[2021-10-22 10:47] tcibinan commented on #2195
Cherry-picked to `release/0.16` via 1eb80ab18354ace429774d6b85ec84997d7c7158.

[2021-10-22 10:48] tcibinan commented on #2197
Cherry-picked to `release/0.16` via 253b78daf0f4098d2efe15e5608a882821cb160c and bfe659c80453e4cf0c4e2e19a9f93de79c17a2b5.

[2021-10-22 10:48] #2197 closed, assigned to nobody

[2021-10-22 10:49] tcibinan commented on #2198
Cherry-picked to `release/0.16` via f4dea0a61381795aba0dc456e2d47353bd51e2d9.

[2021-10-22 10:50] tcibinan commented on #842
Cherry-picked to `release/0.16` via 6fd8d4fb83d5e48eae9c3ab8a080182bb7868833 and 5fa2cb759f5fcee2d1c70fdf8ef8173fa3d7f945.

[2021-10-22 10:51] tcibinan commented on #2228
Cherry-picked to `release/0.16` via 5deaa32cfd875853578f613acde1aa84597f215a.

[2021-10-22 12:01] tcibinan commented on #2149
Cherry-picked to `release/0.16` via 13658ea6ba45972bddab81035bf62bf76f47b7b0 and 21326be23f71116a6f73889172ddc36e7f6ae57e.

[2021-10-22 12:01] tcibinan commented on #2205
Cherry-picked to `release/0.16` via 120dd074b234a780474bf39063071d12ddc5494b.

[2021-10-22 12:02] tcibinan commented on #2207
Cherry-picked to `release/0.16` via 760de2fba03768f8b2443a024850263ca16cdb81.

[2021-10-22 13:37] rodichenko commented on #2234
@sidoruka backported to `release/0.16` (42ec7b2c32cb6d4e59bba43abd6532d75c5717b3)

[2021-10-26 06:51] #2149 closed, assigned to tcibinan

[2021-10-26 06:53] #2205 closed, assigned to nobody

[2021-10-26 06:56] #2207 closed, assigned to nobody

[2021-10-26 07:04] #2159 closed, assigned to tcibinan

[2021-10-26 07:22] tcibinan opened #2241 "Clean up temporary resources on pipe startup"
**Background**

Currently pipe cli binary distribution extracts itself to `~/.pipe/tmp/_MEIsmth` before proceeding to specific commands execution. It's a common procedure for _one-file_ pyinstaller distributions. In most cases such temporary resources are deleted once a corresponding pipe process finishes its execution.

Nevertheless in certain scenarios such temporary directories may persist occu

[2021-10-26 12:07] maryvictol commented on #2210
**Case:**
1. Only Storages to which non-admin user doesn't have any permissions are added to the Tool's Limit mounts list.
2. Non-admin user launch this Tool with Custom Settings

**Actual results:**
- Text *"All available non-sensitive storages"* is shown in the Limit mounts field non-admin user
- Empty *CP_CAP_LIMIT_MOUNTS* parameter: is shown on the Run Log page
- Errors in the run log:
`Unable

[2021-10-26 12:30] SilinPavel opened #2242 "Release Notes Agent"
**Approach**
Main idea:

Release Note Agent works in the manner of daemon application.

Each n sec (configurable) application checks if followed deployment `app version` is changed. If so - agent will do next:

If `version head number` (e.g. 0.16) isn't change:
            Get from an `app version` commit sha
            Goes to GitHub fetch all commits between old version and new version

[2021-10-26 12:34] SilinPavel opened #2243 "Release Notes Agent: GitHub Integration"
Lets implement `GitHubService`
to provide possibility to get commits from release and issue related to it

The algorithm should be the following:
 - get commits from old version commit to new version commit
 - parse it and get from message issue id
     - possible message convention : .... [Issue/issue] #<issue number>
 - for each distinct issue number get issue info and parse it to `GitHubIssue`

[2021-10-26 12:36] SilinPavel opened #2244 "Release Notes Agent: Cloud-Pipeline Integration"
We need to implement integration with application to:
 - Get current version
 - Compare two version
 - Store current version

values that we need to configure with properties:
 - auth type `HEADER` `COOKIE`
 - token
 - application url

[2021-10-26 13:35] SilinPavel opened #2245 "Release Notes Agent: deployment"
Integrate Release Notes Agent to Cloud-Pipeline deployment process:
- Artifact build
- Deployment
  - scripts
  - kube cronJob configuration
  - etc

[2021-10-26 13:44] SilinPavel opened #2246 "Release Notes Agent: Notification Templates"
We need to implement a way to build and form email with release notes. Lets consider the next approach:

After issues from github and jira are fetched we need to combine it and fill special template of the email with Thymeleaf engine

Please provide 2 templates:
- Template for minor version change
- Template for major version build

[2021-10-26 13:49] SilinPavel opened #2247 "Release Notes Agent: Jira Integration"
To be able to get information from Jira about specific issues we need to implement integration with Jira REST API.

Main points:

- Token based auth should be implemented
- We assume that issues that we are interested in are marked with specific custom field (id of this field should be configurable with application property)
- If issue from Jira duplicates some issue from github there would be add

[2021-10-26 14:04] rodichenko opened #2248 "pkpd PsN wrapper enhancements: relative path support"
**Background**
At the moment, Cloud Pipeline provides **pkpd** tool with **PsN** wrapper script (**psn_submit.sh**) making cluster processing possible. However, only absolute paths are supported for input files for now. It would be nice to have both absolute and relative paths support available.

**Execution log**
Running **psn_submit** with relative path gives the following error:
[code]

[2021-10-26 14:08] SilinPavel opened #2249 "Release Notes Agent: Pre-commit hooks"
Since we decide to implement Release Note Agent #2242  and this software relies on commit messages conventions we need to provide convenient way to remind for the developer team to commit all changes with appropriate messages.

Lets use https://git-scm.com/book/en/v2/Customizing-Git-Git-Hooks for this

The main idea is to define Pre-Commit or Pre-Push hook to be able to restrict such action if mes

[2021-10-26 18:27] NShaforostov opened #2250 "[DRAFT] Cloud Pipeline GUI themes management"
## Background

Since many different users leverage the Cloud Pipeline Platform - there can appear requests for some kind of UI customizing - e.g., for some users, more contrast interface or dark interface may required for comfortable work.
These requests can be resolved by implementation of UI themes support.

## Approach

- [UI themes management](#themes-management)
  - [Create a theme](#create-t

[2021-10-27 09:29] NShaforostov opened #2252 "Cloud Pipeline GUI themes installing"
## Background

Once the #2250 is implemented, we should add the ability for users to install any of the available UI themes.

## Approach

Only admin users can manage the UI themes.
But any user shall have the ability to select and install (set) any existing UI theme.

For that, a new section should be added to the tab **MY PROFILE** in the System Settings, e.g.:
![image](https://user-images.githu

[2021-10-28 10:49] sidoruka opened #2258 "Notifier service cannot be started without login and password"
If the SMTP username and password are not specified the notifier service cannot start.
It shall be able to work fine in the environment, which does not required explicit authentication for the SMTP server.
Please backport to `release/0.16`

[2021-10-28 10:52] sidoruka opened #2259 "`pipe` shall respect the ui.hidden.objects preference"
GUI now uses `ui.hidden.objects` to hide any object, which is listed in the preference (#1906).
`pipe` CLI shall respect this preference and skip the same objects from any list commands. E.g.:
* `pipe storage ls`
* `pipe view-...` commands
* Any other, which lists the Cloud Pipeline objects

Please backport to `release/0.16`

[2021-10-28 10:57] sidoruka opened #2260 "NICE DCV support for Linux instances"
NICE DCV support was introduced for the Windows machines via #2167
Now we shall expose the same functionality for the Linux instances as well.

For the user it shall behave in the following manner:
* User starts a new job (any ubuntu/debian/centos) and opens `Custom settings`
* Selects `DCV` from the capabilities list
* Job starts and initializes
* Once done - two endpoints are exposed: NICE DCV W

[2021-10-28 17:34] sidoruka opened #2264 "Allow to disable the "Download" button for the Share Service"
* The "Download" button shall be hidden if the `data.sharing.download.enabled` is set to `false`.
* If it is not set at all - consider it `enabled` by default
* Preferences for the Share Service can be retrieved as shown in https://github.com/epam/cloud-pipeline/pull/2262

[2021-10-28 17:37] sidoruka opened #2265 "Allow to hide certain directories/files in the Share Service GUI"
* If the `data.sharing.hidden.mask` is set - it shall be used to filter the files/directories
* This preference shall support multiple values
* Items, which match the mask(s), shall not be shown in the listing
* Preferences for the Share Service can be retrieved as shown in https://github.com/epam/cloud-pipeline/pull/2262

[2021-10-29 07:34] rodichenko commented on #2264
@sidoruka d39a4cd3a4070200898ce91cb08f096d578984d2 implements this

[2021-10-29 08:34] rodichenko commented on #2265
@sidoruka 3d775f9c2f3a50292acf410ed325e63e2ccce943 does this trick

[2021-10-29 09:23] rodichenko opened #2269 "PKPD PsN Wrapper: missing module"
**Describe the bug**
**psn_submit** command throws `ModuleNotFoundError: No module named 'pandas'` error for `bootstrap` command:

[code]

Please, check all **PsN** dependencies to be installed.

[2021-10-29 10:01] sidoruka opened #2270 "Faceted filters results shall be sortable"
**Background**
At the moment, results of the faceted filters search are sorted in a "random" manner.
This makes it hard to find items of interest and reproduce the search results next time.

**Approach**
* Expose sorting settings to the faceted search API. User shall be able to sort by any "pre-defined" field (i.e. Name, Dates, etc.) and "metadata" fields (i.e. any additional fields, which are ava

[2021-10-29 10:21] rodichenko opened #2271 "PKPD PsN wrapper: run on SGE by default"
**Background**
At the moment, **pkpd** image has pre-installed **PsN** tool which is *not* configured to submit jobs to SGE by default. It's not essential if users want to launch **psn** using **psn_submit** wrapper with multiple *cores* (threads) - to make each *nonmem* call to be executed in parallel.

However, there is a number of **psn** tools (like *bootstrap*, for instance), that do the foll

[2021-10-29 10:31] rodichenko commented on #2233
@SilinPavel @mzueva @sidoruka let's introduce `storage.webdav.access.duration.seconds` preference for the *mount duration* in seconds:

- Group: **Data storage**
- Type: **STRING**
- Visible: **true**
- Default value: not set

[2021-10-29 10:39] NShaforostov commented on #2223
@rodichenko

I've tried to verify:
- dictionaries sorting works well
- opening/editing of dictionaries that contain `%` symbol in their names also works well now. But impossibility of removing of such dictionaries is still in place. When trying to remove such dictionary - the error `Error: HTTP Error 404` or `Error: Bad Request` appears. I suppose that this also relates to:

[2021-11-01 11:20] #1203 closed, assigned to nobody

[2021-11-01 11:20] #1218 closed, assigned to nobody

[2021-11-01 11:20] #2241 closed, assigned to nobody

[2021-11-02 07:17] tcibinan commented on #2241
Cherry-picked to `release/0.16` via fe676fab9bb071742eb602c18002e061b46b2b54 and b30a2b30336bea034c7e370e6e140d38e8a3fc5a.

[2021-11-02 07:18] tcibinan commented on #1203
Cherry-picked to `release/0.16` via fe676fab9bb071742eb602c18002e061b46b2b54 and b30a2b30336bea034c7e370e6e140d38e8a3fc5a.

[2021-11-02 07:18] tcibinan commented on #1218
Cherry-picked to `release/0.16` via fe676fab9bb071742eb602c18002e061b46b2b54 and b30a2b30336bea034c7e370e6e140d38e8a3fc5a.

[2021-11-02 07:21] #2140 closed, assigned to nobody

[2021-11-02 07:23] #1900 closed, assigned to nobody

[2021-11-02 07:25] #1733 closed, assigned to tcibinan

[2021-11-02 09:03] NShaforostov commented on #2182
**Test cases** were added by #2208 and located [here](https://github.com/epam/cloud-pipeline/tree/develop/docs/testcases/UI/Data_storages/2182_2398).

[2021-11-02 10:09] SilinPavel opened #2277 "Release Notes Agent: Sending Notification"
We need to prepare process of sending formed email to specific users. `ActionNotificationService` interface should be implemented with new `EmailSendActionNotificationService`

Please consider the next main points:
 - Emails should be configured with application.properties
 - Check if Java Mail is suitable for us

[2021-11-02 12:35] #1339 closed, assigned to nobody

[2021-11-02 12:36] #1353 closed, assigned to mzueva

[2021-11-02 12:50] #1469 closed, assigned to ekazachkova

[2021-11-02 14:55] #1506 closed, assigned to rodichenko

[2021-11-02 15:00] #1590 closed, assigned to rodichenko, SilinPavel, mzueva

[2021-11-02 15:03] #1613 closed, assigned to tcibinan

[2021-11-02 15:18] #1447 closed, assigned to rodichenko

[2021-11-02 15:20] #1480 closed, assigned to rodichenko, mzueva

[2021-11-02 15:22] #1504 closed, assigned to rodichenko

[2021-11-02 15:23] #1505 closed, assigned to rodichenko

[2021-11-02 15:30] #1569 closed, assigned to mzueva, tcibinan

[2021-11-02 15:35] #1589 closed, assigned to rodichenko, mzueva, tcibinan

[2021-11-02 19:57] sidoruka opened #2280 "Support FileStorages in `search.storage.elements.hide.mask`"
File storage contents shall be indexed according to the `search.storage.elements.hide.mask` preference (introduced by  #2143)

[2021-11-03 10:46] NShaforostov commented on #2023
**Test cases** were created by #2060 and located [here](https://github.com/epam/cloud-pipeline/tree/develop/docs/testcases/UI/Sample_Processing_Module/2023_Metadata_control_improvements).

[2021-11-03 11:46] SilinPavel opened #2283 "Release Notes Agent: Implement approach for support several actions"
It would be convenient to have some kind of `ActionServiceProvider` that will store all available `ActionService`s and be able to run `perform` method for it.

The main idea of this provider is:

 - We have some `command` for spring-shell
 -  This command has number of actions that should be performed
 -  We pass this actions to the `ActionServiceProvider` and its run `perform` method of specific

[2021-11-03 12:47] sidoruka commented on #2233
@rodichenko, please add the following features as well:
* Add `ui.pipe.file.browser.request` preference of the following format:
[code]
* If a `ui.pipe.file.browser.request` preference is specified:
   * If it contains `start_request` section - display a `help` icon with a tooltip next to `Request Filesystem Access` hyperlink:
![image](https://user-images.githubusercontent.com/20998291/140049066-f

[2021-11-03 14:24] NShaforostov commented on #2210
**Test cases** were created by #2253 and located [here](https://github.com/epam/cloud-pipeline/tree/develop/docs/testcases/UI/Run_tools_in_sandbox/Limit_mounts/2210).

[2021-11-08 09:18] sidoruka opened #2286 "Allow admins to force certain storage mounts"
**Background**
At the moment, Cloud Pipeline allows to limit the number of storage mounts via `CP_CAP_LIMIT_MOUNTS`. But some tools require databases or other files to be present in the machine.
We need to make sure that certain data storages are mounted to the instances even if the `CP_CAP_LIMIT_MOUNTS` is set.

**Approach**
* Introduce another system parameter (environment variable): `CP_CAP_FOR

[2021-11-08 11:19] NShaforostov commented on #2210
Daily e2e-tests results are located and updated [here](https://github.com/epam/cloud-pipeline/blob/e2e-reports/e2e/reports/AWS/test/classes/com.epam.pipeline.autotests.LimitMountsTest.html) (for `AWS`).

[2021-11-08 11:20] NShaforostov commented on #2210
**e2e-tests** were implemented via #2274.

[2021-11-08 11:20] NShaforostov commented on #2210
Daily e2e-tests results are located and updated [here](https://github.com/epam/cloud-pipeline/blob/e2e-reports/e2e/reports/AWS/test/classes/com.epam.pipeline.autotests.LimitMountsTest.html) (for `AWS`).

[2021-11-09 07:17] #1658 closed, assigned to tcibinan

[2021-11-09 07:21] #1501 closed, assigned to nobody

[2021-11-09 07:23] #1374 closed, assigned to tcibinan

[2021-11-09 07:28] #1186 closed, assigned to nobody

[2021-11-09 08:07] #1867 closed, assigned to ekazachkova

[2021-11-09 08:08] tcibinan commented on #1014
Verified.

[2021-11-09 08:08] #1014 closed, assigned to nobody

[2021-11-09 08:08] tcibinan commented on #1867
Verified.

[2021-11-09 08:48] tcibinan commented on #975
Cannot be reproduced with the latest pipe cli version. Most likely related to #1271.

[2021-11-09 08:48] #975 closed, assigned to nobody

[2021-11-09 09:59] #1750 closed, assigned to kamyshova

[2021-11-09 10:00] kamyshova commented on #797
Fixed

[2021-11-09 10:00] #797 closed, assigned to mzueva

[2021-11-09 10:11] sidoruka opened #2292 "Notify administrators if the users are blocked/IDLE for a long time"
* Cloud Pipeline shall check the list of users who are blocked or "IDLE" for a long period of time. This shall allow to remove their data to minimize the storage costs and block those users, who are already not using the platform
* Two checks shall be performed:
  * Users who are "IDLE" - did not login for a N days (included those, who never logged)
  * Users who are Blocked for M days
  * Users w

[2021-11-09 10:19] #1338 closed, assigned to tcibinan

[2021-11-09 10:20] kamyshova commented on #2070
Fixed

[2021-11-09 10:20] #2070 closed, assigned to tcibinan

[2021-11-09 17:17] maryvictol commented on #2233
@rodichenko ,
**Bug:**
If attributes added for the data storage but *Request file system access* or *Configure notifications* isn't specified then click on *Remove all* button gives error `Could not delete non existing key.`. Attributes aren't removed.

[2021-11-10 09:35] sidoruka opened #2295 ""Custom" capabilities shall allow to configure job parameters"
"Custom" capabilities (#2234 ) shall also allow to set run parameters for a job.

I.e. administrator shall be able to add (optionally) `params` field to the capability - list of key/values. Each of those keys and values shall be set as the parameters for a job.
[code]

[2021-11-10 09:35] sidoruka commented on #2295
@rodichenko please backport to `release/0.16`

[2021-11-10 10:32] rodichenko commented on #2295
@sidoruka implemented (d3f0d20813ee93c777f6abd701ba26a47132458c), backported to `release/0.16` (3d0841f3be394d3ae1ec5eacfe4b7a7b635b45bd)

[2021-11-10 12:56] rodichenko commented on #2232
@NShaforostov @sidoruka "NAT Gateway" settings implemented (f8a4ae008cdcd4445e4b1932d3bd01c328f30f6d)

[2021-11-11 12:09] rodichenko commented on #2233
@maryvictol fixed with (dda521590696436965f997da28c2a8fd0bfa4867); "Remove all" button will ignore *special* attributes (like *Request file system access* or *Configure notifications*), even if they are set.

@sidoruka backported to `release/0.16`

[2021-11-11 17:27] sidoruka opened #2301 "Allow to exclude "IDLE" jobs by tags/parameters"
**Background**
At the moment, Cloud Pipeline allows excluding jobs from the "IDLE" notifications and actions by the instance type (#1395).
Let's add another set of rules, based on job parameters, to make this mechanism for flexible.

**Approach**
* Introduce `system.notifications.exclude.params` preference
* It shall be defined as a JSON object:
  * Root level keys - names of the parameters
  * Ea

[2021-11-11 17:27] sidoruka commented on #2301
Shall be backported to `release/0.16`

[2021-11-11 20:19] sidoruka opened #2302 "Filesystems IPs shall be added to the "sensitive" network policy"
To make the EFS/Lustre/Netapp/etc. filesystem available in a read-only mode to the users of the "sensitive" jobs - we shall allow the access via a [kube network policy](https://github.com/epam/cloud-pipeline/blob/develop/deploy/contents/k8s/kube-system/network-policy/sensitive-runs-policy.yaml).

Please implement this in the core API. Any time the administrator modifies the "FS Mounts" of a Cloud

[2021-11-12 11:40] sidoruka opened #2306 "Cloud-Data shall respect `ui.hidden.objects` preference"
In the same manner as #2259 and a general Cloud Pipeline GUI:
* Cloud-Data shall not display data storages, which are hidden via `ui.hidden.objects`
* Such storages shall be skipped in the "browser" GUI and in the "Filesystem access request" dialog

[2021-11-12 11:40] sidoruka commented on #2306
Cherry-pick to `release/0.16`

[2021-11-15 16:12] SilinPavel opened #2308 "Release Notes Notification Agent: Deployment"
We need to have mechanism to deploy Release Notes Notification Agent #2242

Lets consider the next approach:

- It should be deployed as a kube CronJob
- Schedule should be configured when overall deploy process is started
- This service should be optional to deploy
- application properties and logs dir should be mounted to the pod

[2021-11-17 21:53] maryvictol commented on #2233
@rodichenko
Non-admin user doesn't see help icon with a tooltip next to *Request File system Access* hyperlink (or *File system access enabled* label)

[2021-11-18 09:01] tcibinan opened #2318 "Optimize run billing indexing"
**Background**

Billing indexing can take a lot of time and require a lot of memory in case there are a lot of runs to process. There are several issues which can be addressed in order to optimize an overall billing indexing and especially initial indexing performance:

1. Currently for each indexing run an additional node disks request is made. In case of initial indexing this may take a lot of t

[2021-11-18 11:21] rodichenko commented on #1716
**Billing** reports (exported both as CSV and image) have aggregated data, i.e. with applied *discounts* configured by administrator.
There are `compute` and `storage` discounts - percent values within the range of `-100%...100%` (default value is "no discount", i.e. `0%`).:
- `compute` discounts are applied only for data received with `resource_type=COMPUTE` filter;
- `storage` discounts are appl

[2021-11-18 12:43] sidoruka opened #2319 "Cloud Pipeline shall be able to automatically block users, based on the AD info"
In addition to #2292, we shall also control the users' "blocked" status in the AD.
Meaning that:
* A scheduled process (probably the same as performs the #2292 job) shall query the LDAP endpoint
* LDAP query shall check if there are any "blocked" users in AD, which are not "blocked" in the Cloud Pipeline
* If this is uncovered - such users shall be "blocked" in the Cloud Pipeline

### How to deter

[2021-11-18 13:50] maryvictol opened #2322 "User with READ only permission shouldn't be able to request to mount data storage for webdav service"
Now user that has only ***READ*** permission to storage can request to mount data storage for webdav service automatically (see #2233) . But requested storage isn't mounted to webdav for current user.

**Expected behavior:**
- User that has only *READ* permission to storage shouldn't have possibility to request to mount data storage for webdav service automatically - ***Request Filesystem Access**

[2021-11-18 14:02] sidoruka commented on #2232
@mzueva @rodichenko can we please also add a "comment" field to each entry?
I.e. allow to store any random string in the kube-service annotation and pass it to the client.

[2021-11-18 14:09] sidoruka opened #2323 ""Capabilities" feature shall be dependant on the docker image OS"
Any of the existing pre-built capabilities and custom capabilities (#2295) shall support `os` parameter:
* This parameter shall control if the capability is allowed for a current docker image.
* We shall be able to enable whole OS family (`centos`) or stick to a specific version only (`centos 7.1.0`). It shall be a comma-delimited list of masks (wildcard is wnough). E.g.:
[code]
* If `os` is not s

[2021-11-18 15:09] rodichenko commented on #2322
@maryvictol @sidoruka fd9fa38f7ce0248a0d01523bcb258280f7de2050 (Cloud Pipeline UI) and 6e5a523686ad2231712b2a848eac89caf0b0145c (Cloud Data app) implements `write` permission check.

[2021-11-18 15:15] rodichenko commented on #2322
@sidoruka backported to `release/0.16` (a8c1a3ec3f2e46631218b3d882d3183637d36c02, 8e61d6128f70fd6e40473118d970846bde1300ab)

[2021-11-18 15:50] sidoruka commented on #2323
Please backport to `release/0.16`

[2021-11-18 19:01] SilinPavel commented on #2322
@sidoruka @maryvictol develop (8094917c), backported to `release/0.16` (bc891425)

[2021-11-19 11:59] mzueva commented on #2232
@sidoruka @rodichenko server backported to `release/0.16`

[2021-11-19 12:53] rodichenko commented on #2232
@sidoruka GUI backported to `release/0.16` (5a41cb429baead83269589bd6f531d6e98a0d608)

[2021-11-19 13:43] mzueva commented on #2301
@sidoruka @rodichenko backported to `release/0.16`

[2021-11-19 13:43] mzueva commented on #2292
@sidoruka @rodichenko backported to `release/0.16`

[2021-11-19 13:50] rodichenko commented on #2301
@sidoruka GUI backported to `release/0.16` (9535f6c037464ad954b4a3a4f887446c5620de71)

[2021-11-23 08:32] rodichenko commented on #2182
@mzueva could you please add `ui.storage.refresh.request` preference for the default message shown after storage size update requested?

- name: `ui.storage.refresh.request`
- group: **User Interface**
- type: `string`
- visibility: visible
- default value: `Storage size refresh has been requested. Please wait a couple of minutes.`

[2021-11-23 08:39] rodichenko commented on #2182
@sidoruka storage size update request backported to `release/0.16` (e5fb198f60dccc4e89062589ab90ae6e17e918c0)

[2021-11-23 12:31] sidoruka opened #2338 "It shall be possible to disable `COMMIT` function for the tool"
**Background**
Some of the tools contain applications with a restrictive licensing. Cloud Pipeline shall offer functionality to keep the user away from copying the docker contents from the image.

One of such features - restrict `commit` operation for a tool. So the user won't be able to save a copy into a personal tool group.

**Approach**
* Tool/version settings shall contain `Allow commit of th

[2021-11-24 09:20] sidoruka opened #2342 "Allow to restrict "system" parameters only to specific users groups"
* API shall support `roles` field (array) for the parameters, defined in `launch.system.parameters`. E.g.:
[code]
* Only members of the roles, defined by `roles` field, shall be able to use those parameters
* If `roles` is empty or not set - consider it as "allow to all the users"
* This new field shall be respected by the GUI and CLI
* GUI part:
  * Do not show parameters in the "Add system param

[2021-11-24 09:21] sidoruka commented on #2338
@rodichenko please take care of the GUI part in the Tools settings forms

[2021-11-24 09:26] sidoruka commented on #2342
Please backport to `release/0.16`

[2021-11-24 09:26] sidoruka commented on #2338
Please backport to `release/0.16`

[2021-11-24 11:11] NShaforostov commented on #2023
Docs were added via #1972 and located [here](https://github.com/epam/cloud-pipeline/blob/develop/docs/md/release_notes/v.0.17/v.0.17_-_Release_notes.md#updates-of-metadata-object).

[2021-11-24 11:13] NShaforostov commented on #1520
Docs were added via #1972 and located [here](https://github.com/epam/cloud-pipeline/blob/develop/docs/md/release_notes/v.0.17/v.0.17_-_Release_notes.md#saving-of-interim-data-for-jobs-stopped-by-a-timeout).

[2021-11-25 14:30] maryvictol commented on #2232
@Wedds
*Comment* added at creation route disappears when route's *CREATION_SCHEDULED* status changes to *ACTIVE*.

[2021-11-25 15:05] maryvictol commented on #2232
@Wedds
If several routes for a single server name but for different ports are added and user try to delete one of them, then this route remains in  list with status UNKNOWN until all routes with the same server name are deleted.

[2021-11-25 16:06] NShaforostov commented on #2234
**Test case** was created by #2287 and located [here](https://github.com/epam/cloud-pipeline/blob/develop/docs/testcases/UI/Run_tools_in_sandbox/Launch_parameters/2234.md).

[2021-11-25 16:11] NShaforostov commented on #2295
**Test case** was created by #2287 and located [here](https://github.com/epam/cloud-pipeline/blob/develop/docs/testcases/UI/Run_tools_in_sandbox/Launch_parameters/2295.md).

[2021-11-25 16:14] NShaforostov commented on #2234
**e2e-tests** were implemented via #2287.

[2021-11-25 16:17] NShaforostov commented on #2234
Daily e2e-tests results are located and updated [here](https://github.com/epam/cloud-pipeline/blob/e2e-reports/e2e/reports/AWS/test/classes/com.epam.pipeline.autotests.ToolsParametersTest.html) (for `AWS`).

[2021-11-25 16:18] NShaforostov commented on #2295
**e2e-tests** were implemented via #2287.

[2021-11-25 16:18] NShaforostov commented on #2295
Daily e2e-tests results are located and updated [here](https://github.com/epam/cloud-pipeline/blob/e2e-reports/e2e/reports/AWS/test/classes/com.epam.pipeline.autotests.ToolsParametersTest.html) (for `AWS`).

[2021-11-25 16:23] NShaforostov commented on #2233
**Test cases** were created by #2313 and located [here](https://github.com/epam/cloud-pipeline/tree/develop/docs/testcases/UI/Data_storages/2233).

[2021-11-26 00:41] madmongoose opened #2346 "Windows instances can't access to AWS EFS (NFS4.1)"
The version of the AWS NFS server driver differs from the version currently implemented in Windows, so AWS does not officially support Windows EC2 with AWS EF S.

Several solutions have been tried in search of a workaround.
1. Using WSL with the NFS client. Returns the error "mount.nfs: There is no such device". The bug will be fixed in future versions of WSL2 that are under testing. A mandatory r

[2021-11-26 18:39] NShaforostov opened #2350 "[pipe] Can't perform SSH tunnel creation due to inability to recognize command options"
**Describe the bug**
I've tried to create SSH tunnel to the running instance via the Windows PowerShell.
Any attempts to perform `pipe tunnel start` command are failed as command options were not recognized.

**To Reproduce**
Steps to reproduce the behavior:
1. Run a launch, wait until the SSH hyperlink will appear at the **Run logs** page
2. Open Windows PowerShell or Command Prompt
3. Configure

[2021-11-26 19:08] NShaforostov opened #2351 "[pipe] SSH tunnel is not being created"
**Describe the bug**
I've tried to create SSH tunnel to the running instance via the Windows PowerShell/Command Prompt/WSL.
Attempts to perform `pipe tunnel start <RUN_ID> -lp 4567 -rp 22 --ssh` command:
- in Windows PowerShell/Command Prompt are failed with the following error: `Error: psutil.AccessDenied (pid=3312, name='python2.7')`. Traceback:
[code]
- in WSL are failed with the following erro

[2021-11-29 09:59] sidoruka opened #2354 "Cloud Pipeline shall allow to disable mounting of specific data storages"
**Background**
At the moment, Cloud Pipeline allows to restrict data storages mounts based on the docker images selection (introduced by #2110).
But some of the data storages shall never be mounted. E.g. system storages ("etc", "fsbrowser", "fsobserver").

**Approach**
* Introduce an option for the data storage to disable the mounting at all:
  * From the GUI - this shall be a checkbox `Disable mo

[2021-11-29 10:32] tcibinan commented on #2350
Should be fixed with c8323718ea905540724801d065b62dae62099a8b.

[2021-11-29 13:48] sidoruka opened #2356 "Allow to configure several "support" icons"
`ui.support.template` shall support the following JSON form:
[code]

* So if the user is a member of any role/group, defined by the root-level key
* Then a corresponding number of "help" buttons shall be rendered in the left blue panel (in it's bottom)
* Each of these button shall have an icon, as defined by the "icon" key and a content from the "content" field (Markdown-formatted)

[2021-11-29 13:48] sidoruka commented on #2356
Please backport to release/0.16

[2021-11-30 07:39] tcibinan commented on #2351
Should be fixed with 6536e677bbee7e98d5371d63e81fbd76c0a2dc10.

[2021-11-30 07:41] tcibinan commented on #2351
Cherry-picked to `release/0.16` via 0d6aa2859ff961408efd0145ca34641d471c3d34.

[2021-11-30 13:15] rodichenko commented on #2342
@sidoruka GUI part implemented (d4315df7e2c947df263e3fa72a344784fee2df5a ), backported to `release/0.16` (bbe7cd2348f20f0244dcd2f4161f70e2cb92412d)

[2021-11-30 13:15] rodichenko commented on #2338
@sidoruka backported to `release/0.16` (6dbfc7e46a158dbe9324912dd1df9184425290d6)

[2021-11-30 13:43] Wedds commented on #2342
CLI and API parts are merged into `develop` (6c679cbec693e9391e3ee10ba75dbe83da6c95f7) and backported to `release/0.16`(a46f787507706e12ce712a0ddf91fc719e6056cc)

[2021-11-30 16:50] rodichenko commented on #2356
@sidoruka implemented (327fa0967e17252227b544471cca106c637446bf, 83a156efe2823e1a92aaeb82cc00834fb462008f), backported to `release/0.16` (517e5913baefc429a8c34f45a4d643f5c54d0b12, a868cf934b83125a0406ea2d745b9a38b8f341c5)

[2021-12-01 08:44] tcibinan opened #2363 "Introduce pipe tunnel list command"
**Background**

Relates to #1501.

Currently the only way to check if there are any running tunnel processes is to manually list processes and check their parameters in order to find which ports it serves on and etc. It can be pretty tough thing to do especially on Windows.

**Approach**

Add support for new `pipe tunnel list` command which simply allows a user to list all existing tunnel processe

[2021-12-01 08:56] tcibinan opened #2364 "Support checks for occupied local ports in pipe tunnel"
**Background**

Relates to #1501 and #2149.

Currently pipe tunnel checks for other pipe tunnel processes which serves on the same local ports. It simplifies troubleshooting by providing a clear error message.

Unfortunately it doesn't work with non pipe tunnel processes which occupies the same local ports.

**Approach**

Support for automated checks for non pipe tunnel processes which serves the

[2021-12-01 09:13] tcibinan opened #2365 "Prevent stopping of pipe tunnel processes owned by other users"
**Background**

Relates to #1501.

Currently pipe tunnel commands can try to stop pipe tunnel processes owned by other users. Usually users don't have permissions to do so which results in access denied errors.

**Approach**

By default pipe tunnel should not try to stop pipe tunnel processes owned by other users because in most scenarios it won't work anyway.

[2021-12-01 11:46] sidoruka opened #2367 "VM monitor shall group the VM-related notifications"
**Background**
At the moment, VM-monitor checks for the compute nodes statuses:
* If they have required labels
* If they exist in AWS, but not in the Kube cluster

In such cases it sends the email notifications. Emails are sent for each VM separately.
E.g. if we have 10 nodes in a "bad" status - 10 emails are sent each cycle (each hour). This produces a lot of email traffic and some of the other n

[2021-12-01 11:47] sidoruka commented on #2367
Please backport to `release/0.16`

[2021-12-01 11:54] NShaforostov commented on #2350
Verified. Fixed.
SSH Tunnel is being created with all specified options without errors

[2021-12-01 12:01] NShaforostov commented on #2351
Verified. Fixed.
SSH Tunnel is being created without errors (checked in Windows PowerShell and WSL)

[2021-12-02 16:03] rodichenko commented on #2260
@sidoruka backported to `release/0.16` (c84ee8daa736ba95fdd1551c3c580309c7525301)

[2021-12-02 16:04] rodichenko commented on #2323
@sidoruka backported to `release/0.16` (9ee80bce18774f64c046d2f5f010b2d27dc7e206, 85f5303cf2bcc8581f1142d1236450e9d040a82d)

[2021-12-03 11:43] Wedds commented on #2232
If some routes are configured already in a certain deployment, corresponding services could be edited to go under the NAT gateway service control.

**1. Edit service annotations**
Information regarding route external IP/name and ports' statuses is stored there.

Common route annotations
- nat-route-ip: **IP**
- nat-route-name: **NAME**

Specific port annotations (each port of a route should have i

[2021-12-03 11:43] SilinPavel opened #2372 "NICE DCV dynamically set dcv proxy host and port for desktop endpoint"
Related to #2260
For now additional env variables should be added to preference `launch.env.properties` to be able to start nice dcv feature with CP CAPABILITY
[code]

It would be great to have some sort of dynamical mechanism to get this proxy settings while user click a link to get desktop nice dcv launch conf file.

Possible solution:
NICE DCV  desktop nginx endpoint could additionally  provide

[2021-12-06 15:55] rodichenko commented on #1716
@sidoruka @NShaforostov `Export raw data` menu item implemented for Compute reports; all `.csv` reports are fetched using API methods. Backported to `release/0.16` (6a101515af09d05cda0be4eef2e1a75069edbece)

[2021-12-09 10:17] tcibinan commented on #1716
Cherry-picked to `release/0.16` via 037526807e07757aab44429b9ca82c3a703bc30d, c46628875bfb4f15200088d02a5ca7fc72118729, 2b9afe77192b7022f0e25d349497c08393efef5f, 5e4e274f5face3151b880832fd0dd816210cc6f8, 9e6acf03506a5792ca8a846c703f77134394b6fe, b0d47d50ef6da91a63c10fe126fff3d9674a10c7 and 104a99cb4870548dc7ba78413d7a97cfd05bff74.

[2021-12-09 10:27] SilinPavel commented on #1528
was resolved by #1529

[2021-12-09 10:27] #1528 closed, assigned to SilinPavel

[2021-12-09 10:54] tcibinan opened #2388 "Implement requests synchronisation and backoff in Cloud Pipeline GUI"
**Background**

There are several endpoints in Cloud Pipeline API which are constantly polled by Cloud Pipeline GUI such as:

- runs count,
- runs list,
- node monitoring live update,
- and etc.

If a request to one of such endpoints is not performed within an expected time period GUI may send another request. The number of such waiting requests increases during time which results in a constantly

[2021-12-09 14:18] #2363 closed, assigned to tcibinan

[2021-12-09 14:21] #2365 closed, assigned to tcibinan

[2021-12-09 14:24] #2364 closed, assigned to tcibinan

[2021-12-10 07:48] tcibinan commented on #2363
Cherry-picked to `release/0.16` via aa9ac75a190cc3208f59e145b269617c76b88ef0.

[2021-12-10 07:48] tcibinan commented on #2365
Cherry-picked to `release/0.16` via 7c8abc6a432af1776eb1ef7c947bc67c48d223c8.

[2021-12-10 07:49] tcibinan commented on #2364
Cherry-picked to `release/0.16` via 28a04dcef3a4e0b9dd6bdc7ebd3b2beae376782d.

[2021-12-13 12:48] sidoruka opened #2395 ""Cloud CRON" jobs are duplicated in a HA configuration"
**Describe the bug**
If the API is deployed in a HA configuration (at least two API pods are running) any "Cloud CRON" job (#938) is launched as many times as there are API pods.

**To Reproduce**
Steps to reproduce the behavior:
1. API is deployed in a HA mode with two pods running
2. Create a "Cloud CRON" job (any schedule/configuration)
3. Wait till it is executed according to the schedule
4. T

[2021-12-13 12:49] sidoruka commented on #2395
Please backport to `release/0.16`

[2021-12-13 12:51] sidoruka opened #2396 "/datastorage/available API performance issue"
**Describe the bug**
With ~1000 data storages (mostly EFS volumes) the `/datastorage/available` API call takes ~12 seconds to complete.
This happens for the "general" users only.

Expectation is to get the results in less than a second.

[2021-12-13 12:52] sidoruka commented on #2396
Please backport to `release/0.16`

[2021-12-13 15:56] sidoruka opened #2397 "Expose more SGE parameters to override on a per-run basis"
* Expose the following SGE parameters to the job params, so the users can control the behavior:
[code]

* Allow to configure the PEs on the fly. E.g. read the spec from the file.

[2021-12-13 18:10] sidoruka opened #2398 "Grace period for the FS quotas"
**Background**
At the moment, FS quotas are applied immediately as they are reached. While this is totally correct - users may face the compute workloads to stop.
To address this - we need to implement a grace period for the quotas restrictions to become effective.

**Approach**
* Grace period shall be configurable for both states: `DISABLE_MOUNT` and `READ_ONLY`. It's ok to introduce two separate

[2021-12-13 21:11] sidoruka opened #2399 "Allow to skip certain files/folders when applying quotas to the filesystems"
**Background**
Certain apps (like RStudio) use home directories, which are EFS volumes, to store session data. When the session is suspended - all the current environment is dumped into the home directory (it is common to have 50Gb+ session snapshot).
If there are quotas set for the home directory - it gets reached quickly and the users are not aware of the reasons.
We need to skip some of the "we

[2021-12-14 09:03] SilinPavel opened #2400 "Custom billing reports"
### Background
For now several number of predefined billing reports are available for the user in Cloud Pipeline. It would be great to have feature that will allow to user to create a custom dashboard.

## Approach
### Description
User stories could be described as below:

1) As an user I want to be able to create my custom billing dashboards template

 - Click "+" near to `Custom` in the billing

[2021-12-14 10:07] sidoruka commented on #2399
Shall be backported to `release/0.16`

[2021-12-14 10:17] sidoruka commented on #2398
Please backport to `release/0.16`

[2021-12-15 10:18] sidoruka commented on #2397
Configuration options:
* `shell_start_mode` via `$CP_CAP_SGE_SHELL_START_MODE` (default: `unix_behavior`)
* `reporting_params ` via `$CP_CAP_SGE_REPORTING_PARAMS` (default: `accounting=true reporting=true flush_time=00:01:00 joblog=true sharelog=00:00:00`)
* Additional PEs are read from a directory, defined by `$CP_CAP_SGE_EXTRA_PE_PATH`:
  * PE files shall have `.spec` extension
  * PE spec file

[2021-12-15 13:28] kamyshova opened #2404 "Disabled SAVE button after system parameter adding in pipelines and detach configurations"
**Describe the bug**
After adding a system parameter with a default value `Save` button is disabled in pipelines and detach configurations.

**Expected behavior**
The `Save` button should be enabled.

**Environment:**
 - Cloud Provider:  **AWS**
 - Version **0.17.0.11472**
 - Browser: **chrome**

[2021-12-16 15:17] tcibinan opened #2407 "Optimize ElasticSearch operations"
## Description

ElasticSearch is heavily used in Cloud Pipeline for search, billing, monitoring and logging capabilities. In case of a small Cloud Pipeline deployment with small amount of data and computations everything seem to perform pretty well. Unfortunately if a number of data and computations grows then performance degrades pretty quickly.

The purpose of the issue is to aggregate all the p

[2021-12-17 09:17] madmongoose opened #2408 "Unable to add more than 12 schedules, unable to add hourly schedule."
**When adding a schedule from 13 and above, the text goes out of the frame**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the 'Library'
2. Create a 'Configuration'
3. Select a 'Run schedule' in the upper right corner
4. Create more than 12 rules
4. See a problem

**Expected behavior**
The ability to create more than 12 schedules.

**Screenshots**
<img width="604" alt="Screenshot 202

[2021-12-17 11:53] madmongoose opened #2410 "Add an hourly schedule"
**Background**
When adding a schedule for configuration, there is no way to add an hourly schedule.

**Approach**
The ability to create an hourly schedule.

**Other options**
The ability to create a custom schedule.

<img width="606" alt="Screenshot 2021-12-17 at 14 50 21" src="https://user-images.githubusercontent.com/76645646/146540866-94d431e1-b1c3-45a4-b9c9-8790615701cb.png">