[2021-12-17 13:16] maryvictol commented on #2338
**Test case** was created by #2370 and located [here](https://github.com/epam/cloud-pipeline/blob/develop/docs/testcases/UI/Run_tools_in_sandbox/2338.md).

[2021-12-17 13:26] maryvictol commented on #2338
e2e-test was implemented via #2370 .

[2021-12-17 17:13] ekazachkova opened #2414 "Notify administrators if node pool reached its max size and all nodes in use"
**Background**
At the moment, when node pool is full and user initiated a new run (with appropriate instance parameters) a new instance will be launched and it takes an unexpectedly long time. It would be nice to notify administrators if any pool has reached its maximum size and no new instance can be autoscaled.

**Approach**
Cloud Pipeline shall check active node pools for ability to scale. If f

[2021-12-20 10:35] rodichenko commented on #2408
@madmongoose @tcibinan 3908701e3f53cc5456878ced531e4b2385610099 fixes styles for this modal dialog

[2021-12-20 11:33] rodichenko commented on #2399
@sidoruka GUI part implemented (4d64e609197e6c5eeea2a773cd42043395075972)

[2021-12-20 11:37] rodichenko commented on #2399
@sidoruka backported to `release/0.16` (595515d0f2a4750acd061988423f915690bda149)

[2021-12-21 14:05] tcibinan opened #2419 "Request monitoring data using a single request during node monitoring live update"
**Background**

Relates to #2407.

Currently Cloud Pipeline GUI requests monitoring data 2-3 times for a single monitoring charts update. At the same the same data can be retrieved using a single request.

**Approach**

An optimized approach should be used for monitoring data retrieval which performs a single request every n seconds.

[2021-12-21 14:10] tcibinan opened #2420 "Show last hour monitoring charts on node monitoring page by default"
**Background**

Relates to #2407.

Currently Cloud Pipeline GUI shows a node lifetime monitoring charts by default. Such periods monitoring data retrieval is extremely heavy and requires a lot of resources. At the same such data is not usually what a user wants to see.

**Approach**

By default a last hour node monitoring charts should be shown.

[2021-12-21 14:18] tcibinan opened #2421 "Scale charts relatively on node monitoring page"
**Background**

Currently node lifetime monitoring charts are scaled based on a node creation time rather than monitoring data. This leads to such charts being scaled badly for long living nodes.

<img width="1344" alt="Снимок экрана 2021-12-21 в 17 12 42" src="https://user-images.githubusercontent.com/16464586/146944779-70db8065-6bfe-45b0-8179-a760d36b6985.png">

**Approach**

Scale node lifetime

[2021-12-21 14:51] maryvictol commented on #2232
@rodichenko
Please, add warning "You have unsaved changes. Continue?" at case of the user leaves the NAT Gateway page without saving changes.

[2021-12-21 19:11] maryvictol commented on #2342
Test cases were created by #2379 and located [here](https://github.com/epam/cloud-pipeline/tree/develop/docs/testcases/UI/Run_tools_in_sandbox/Launch_parameters/2342).

[2021-12-21 20:14] sidoruka commented on #2399
@mzueva @Wedds please implement "wildcards" for the `storageName` field. See last point from the original issue.

[2021-12-21 20:16] sidoruka commented on #2232
@Wedds, it throws the following exception if there are services with the correct labels, but no annotations:
[code]

[2021-12-21 20:18] sidoruka opened #2423 "Maintenance mode support"
Cloud Pipeline shall be capable of setting a so called "Maintenance mode" to limit access to certain features, while platform is being updated of other maintenance operations are happening.

* Introduce a preference `system.maintenance.mode`
  * Type: `boolean`
  * Default value: `false`
* If this preference is set to `true`, the following behaviour changes shall happen:
  * `PAUSE`, `RESUME`, `CO

[2021-12-21 20:18] sidoruka opened #2424 "[Platform usage] Statistics reporting"
## Background

Once the #2433 is implemented, admins will have the ability to view who is online at the Platform at the moment.
For some cases, it can be convenient to have the ability to view Platform statistics of users activity. E.g. when creating different schedulers or node pools and info about count of online users can be helpful.

## Approach

- Add a new subtab to the "**User Management**"

[2021-12-21 20:19] sidoruka opened #2425 "Hot pools usage reporting"
**Background**
A clear and concise description of what the problem is. Ex. At the moment, Cloud Pipeline does not allow [...] and it would be nice to [...] because [...]

**Approach**
A clear and concise description of what you want to happen.

**Other options**
A clear and concise description of any alternative solutions or features you've considered.

[2021-12-21 20:19] sidoruka opened #2426 "Data storage selection dialog slowness"
**Describe the bug**
Data storage selection dialog is slow if it contains 500+ storages in the list

**To Reproduce**
Steps to reproduce the behavior:
1. Login as a user with access to 500 or more data storages
2. Run any tool with `custom` settings
3. Click `Limit mounts` control in the `Advanced` section
4. Filter the list of the datastorages
5. It takes up to 10 seconds to produce the results a

[2021-12-22 11:49] sidoruka commented on #2423
Please backport to `release/0.16`

[2021-12-22 12:39] mzueva commented on #2399
Done and backported to `release/0.16`

[2021-12-22 18:06] sidoruka opened #2432 ""Cluster state" page shall allow to filter by "RUN_ID" label existance"
Within a "Cluster state" page - a user shall be able to:
* All cluster nodes (default, current behavior)
* Nodes with NO Run ID
* Nodes WITH Run ID

[2021-12-22 18:07] sidoruka commented on #2432
Backport to `release/0.16`

[2021-12-23 13:06] NShaforostov opened #2433 "[Platform usage] Show user statuses"
**Background**

Currently, admins can monitor Platform usage, for example, by list of **ACTIVE RUNS** or via **CLUSTER STATE** pages.
But for some cases, it can be useful for admins to know which users do utilize the Platform in the current moment.
So, we should add the displaying of user states in the "User management" system tab.

**Approach**

In the "**User management**" system tab, for "**Use

[2021-12-23 15:07] sidoruka commented on #2433
Shall be backported to `release/0.16`

[2021-12-27 19:04] NShaforostov opened #2442 "Hot nodes pools usage"
## Background

Currently, if admin wants to know the consumption of any hot node pool - some info can be gotten from the hot nodes pool list.
But at this list, only the info at the moment is displayed. Other information will be much more useful for the administrator - how the pool consumption has been changed during the certain period.
It would be convenient to have the ability to view and export

[2021-12-28 11:20] sidoruka opened #2444 "Support UDP traffic for the NAT Gateway"
**Background**
At the moment, Cloud Pipeline allows to configure NAT Gateway via #2232 for the TCP traffic/ports. We need to implement the same for the UDP ports, as some of the workloads require UDP for the bulk data transfers.

**Approach**
* GUI:
  * Add `Protocol` dropdown list to the `Add Route` form:
![image](https://user-images.githubusercontent.com/20998291/147560562-19ec4fae-5185-4c82-962

[2021-12-28 11:28] sidoruka opened #2445 "Markdown is broken for the Tools Description page (and probably others)"
**Background**
Looks like the GUI themes management feature has broke the Markdown rendering which we have in the Tools/Pipelines descriptions.

E.g. bulleted lists are not displayed well:
* This markdown:
[code]
* Is shown as:
![image](https://user-images.githubusercontent.com/20998291/147561463-d07670a8-f514-4085-aeb6-d258cdb784b6.png)
* While shall be like this:
  * One
  * Two
  * Three

**App

[2021-12-29 14:37] #2425 closed, assigned to nobody

[2021-12-30 10:09] maryvictol commented on #2323
Test cases were created by #2412 and located [here](https://github.com/epam/cloud-pipeline/tree/develop/docs/testcases/UI/Run_tools_in_sandbox/Launch_parameters/2323).

[2021-12-30 10:18] maryvictol commented on #2354
Test cases were created by #2447 and located [here](https://github.com/epam/cloud-pipeline/tree/develop/docs/testcases/UI/Run_tools_in_sandbox/Limit_mounts/2354).

[2021-12-30 10:25] maryvictol commented on #2356
Test case was created by #2403 and located [here](https://github.com/epam/cloud-pipeline/blob/develop/docs/testcases/UI/Dashboard/2356.md).

[2021-12-30 11:00] maryvictol opened #2450 "Port value isn't checked to unique on "Add route" form if IP isn't specified"
***NAT Gateway configuration: GUI issues***

**1.** Warning message `Value should be unique` should be shown if user tries to add nonunique for current service name port value at case of add route without resolved IP.

**To Reproduce**
1. Go to ***System Management*** >> ***NAT Gateway***
2. Add route without specified IP.
3. Click **Save** button
4. Click on **Add route** button
5. Input the same

[2021-12-30 15:58] NShaforostov commented on #2232
**Docs** were added via #2453 and located [here](https://github.com/epam/cloud-pipeline/blob/develop/docs/md/manual/12_Manage_Settings/12.14._NAT_gateway.md).

[2021-12-30 16:00] NShaforostov commented on #2232
**Test cases** were created by #2443 and located [here](https://github.com/epam/cloud-pipeline/tree/develop/docs/testcases/UI/System_Management/2232-2444_NAT_Gateway).

[2022-01-10 10:37] maryvictol commented on #2356
e2e-test was implemented via #2422.

[2022-01-10 10:46] maryvictol commented on #2356
Daily e2e-tests results are located and updated [here](https://github.com/epam/cloud-pipeline/blob/e2e-reports/e2e/reports/AWS/test/classes/com.epam.pipeline.autotests.PlatformPreferencesTest.html) (for `AWS`).

[2022-01-10 11:26] maryvictol commented on #2342
e2e-tests were implemented via #2422.

[2022-01-10 11:28] maryvictol commented on #2342
Daily e2e-tests results are located and updated [here](https://github.com/epam/cloud-pipeline/blob/e2e-reports/e2e/reports/AWS/test/classes/com.epam.pipeline.autotests.LaunchParametersTest.html) (for `AWS`).

[2022-01-10 14:32] rodichenko commented on #2423
@sidoruka
GUI part implemented:
* Disable `PAUSE`, `RESUME`, `COMMIT` buttons: 4462dbff5a72fcc7c98d5a8cb7318c7e6842a1b2
* Show banner: 3554f1a99a94f3257be0a398c887914c2f0af0a3

[2022-01-10 16:21] maryvictol commented on #2354
e2e-tests were implemented via #2449.

[2022-01-10 16:26] maryvictol commented on #2354
Daily e2e-tests results are located and updated [here](https://github.com/epam/cloud-pipeline/blob/e2e-reports/e2e/reports/AWS/test/classes/com.epam.pipeline.autotests.DataStoragesFeaturesTest.html) (for `AWS`).

[2022-01-10 19:57] maryvictol commented on #2323
e2e-tests were implemented via #2449.

[2022-01-10 20:07] maryvictol commented on #2323
Daily e2e-tests results are located and updated [here](https://github.com/epam/cloud-pipeline/blob/e2e-reports/e2e/reports/AWS/test/classes/com.epam.pipeline.autotests.ToolsParametersTest.html) (for `AWS`).

[2022-01-10 20:26] maryvictol commented on #2144
e2e-tests were implemented via #2168.

[2022-01-10 20:27] maryvictol commented on #2144
Daily e2e-tests results are located and updated [here](https://github.com/epam/cloud-pipeline/blob/e2e-reports/e2e/reports/AWS/test/classes/com.epam.pipeline.autotests.RoleBasedAccessControlTest.html) (for `AWS`).

[2022-01-10 20:33] maryvictol commented on #2338
Daily e2e-tests results are located and updated [here](https://github.com/epam/cloud-pipeline/blob/e2e-reports/e2e/reports/AWS/test/classes/com.epam.pipeline.autotests.DockerCommitTest.html) (for `AWS`).

[2022-01-10 20:39] maryvictol commented on #2233
**e2e-tests** were implemented via #2336.

[2022-01-10 20:40] maryvictol commented on #2233
**Daily e2e-tests results** are located and updated [here](https://github.com/epam/cloud-pipeline/blob/e2e-reports/e2e/reports/AWS/test/classes/com.epam.pipeline.autotests.DavMountStorageLimitTest.html) (for `AWS`).

[2022-01-11 13:53] kamyshova opened #2458 "LDAP urls parameter should be configurable via system preferences"
**Describe the bug**
At the moment, LDAP URLs parameter is configured in **application properties** as `spring.ldap.urls`.
It would be convenient to make the parameter configurable via **system preferences** for test usage.

[2022-01-11 16:17] tcibinan commented on #2458
Relates to #910.

[2022-01-12 09:28] tcibinan opened #2460 "Duplicated billing requests"
**Describe the bug**

Relates to #2407.

In specific scenarios billing requests can be sent twice in Cloud Pipeline GUI.

**To Reproduce**

Steps to reproduce the behavior:

1. Open billing tab.
2. Click the following buttons `Storages`, `File Storages`, `Object Storages`, `Compute Instances`, `CPU`, `GPU`.
3. Click `General` button.
4. See that duplicated requests are sent once `General` button i

[2022-01-12 11:08] tcibinan commented on #2458
Should be working once #2459 is merged. Please check #1004 to find all LDAP server configuration system preferences.

[2022-01-14 07:01] tcibinan opened #2461 "Use monthly intervals in quarter billing requests"
**Background**

Relates #2407.

Currently quarter billing requests use daily intervals. At the same time monthly intervals are really required. This is critical since per month billing indices will be introduced in #2407 and monthly intervals requests performance will be increased.

**Approach**

Use monthly intervals in quarter billing requests.

[2022-01-14 08:28] sidoruka opened #2462 "[Versioned Storages] Allow to configure `.gitignore` for the versioned storages"
**Background**
A clear and concise description of what the problem is. Ex. At the moment, Cloud Pipeline does not allow [...] and it would be nice to [...] because [...]

**Approach**
A clear and concise description of what you want to happen.

**Other options**
A clear and concise description of any alternative solutions or features you've considered.

---

* Check `.gitignore` at a folder - leve

[2022-01-14 08:29] sidoruka opened #2463 "[Versioned Storages] Allow to restore a file to a specific commit"
### Background

Currently for files in Versioned Storages, users can view any changes that were performed with the certain file - via the **Revision history** panel.
And in some cases, users may want to restore a specific version of the file that has been performed in some previous commit.
We should implement such ability via the GUI.

### Approach

To the **Revision history** panel for the Versio

[2022-01-14 08:30] sidoruka opened #2464 "[Versioned Storages] Allow to view/download files at a specific commit"
### Background

Currently for files in Versioned Storages, users can view any changes that were performed with the certain file - via the **Revision history** panel.
But often, users may want to view the file content corresponding to the specific revision not only the file differences or even download some of such previous version to the local workstation.
We should implement such abilities via th

[2022-01-14 08:38] maryvictol opened #2465 "Info panel with previously selected docker image shouldn't be shown for the disabled to mount storage"
**1.** Icon and *Storage is automatically mounted to:* info panel with docker image is shown for the storage that was disabled to mount after the selection docker image in the ***Allow mount to*** field.

**To Reproduce**
1. Open any object storage
2. Click gear button to edit object storage
3. Select any docker image in the ***Allow mount to*** field. Save changes
4. Edit object storage again
5.

[2022-01-14 15:46] sidoruka opened #2467 "[Versioned Storages] Allow to select which files to commit when saving via GUI"
### Background

Due to #1807, users can access to the Versioned Storage(s) during the run - similarly as to the folder of any mounted storage. And also users can write data to such Versioned Storage(s) exactly from inside the run.
But when user wants to save the changed files to the storage from the run (by creating a new revision) - all changed files will be saved simultaneously. It can be inconv

[2022-01-17 11:07] maryvictol commented on #2433
@rodichenko
**Bug**: User with `ROLE_USER_READER` role shouldn't see statuses icons for users in the *Users Management* list.

[2022-01-17 11:32] maryvictol commented on #2426
@rodichenko
It should be usefull to shown storages list sorted alphabetically on the *Select data storages to limit mounts* modal.

[2022-01-18 15:59] kamyshova opened #2472 "Change 'system.user.monitor.delay.hours' preference from hours to milliseconds."
Relates to #2319.
At the moment, the `system.user.monitor.delay.hours` system preference is configured in hours.
It would be convenient to configure the preference in milliseconds for testing purposes.

[2022-01-19 12:40] #2472 closed, assigned to nobody

[2022-01-19 12:41] ekazachkova commented on #2472
@kamyshova
Also, preference name changed to `system.user.monitor.delay`

[2022-01-21 09:03] kamyshova commented on #2458
Verified

[2022-01-21 09:03] #2458 closed, assigned to nobody

[2022-01-26 08:45] tcibinan opened #2484 "Support additional workers batch launch in grid engine autoscaler"
**Background**

Depends on #1616.

Currently grid engine autoscaler only allows to launch a single additional worker at a time. At the same time in case of some heavy workloads with lots of job it makes sense to setup several additional workers at the same time.

**Approach**

Batch additional workers launch shall be implemented.

[2022-01-28 21:59] NShaforostov opened #2489 "Preview for the HCS images"
## Background

In similar way as we've implemented the support of the "Patology images" previews in the Cloud-Pipeline, we should implement the support of previews of [HCS](https://en.wikipedia.org/wiki/High-content_screening) images received by confocal microscopy methods.

## Approach

For our issue, each HCS image represents a scope of raw `tiff` images and metadata `xml` file(s) united by one

[2022-01-31 09:14] sidoruka opened #2490 "Cloud Infra setup automation"
**Background**
When the Cloud Pipeline is being deployed, the Cloud infrastructure ([AWS prerequisites doc](https://github.com/epam/cloud-pipeline/blob/develop/docs/md/installation/prerequisites/aws.md)) is typically set up manually via the respective Cloud console.
We need to have an automation scripts to simplify the procedure and have a single "point of truth" regarding the requirements.

**App

[2022-01-31 11:33] rodichenko commented on #2463
@sidoruka @mzueva we need a new **Cloud Pipeline API** method for performing such operation, something like `POST` `/pipeline/<id>/restore` with payload `{path: <file path>, revision: <revision to be restored>, message: <commit message>}`

[2022-02-02 14:24] Wedds commented on #2489
<h1>Preview files layout</h1>

This section describes the proposal regarding the structure of files to be consumed by a previewer.
Each sequence will be presented by a separate [OME-TIFF](https://docs.openmicroscopy.org/ome-model/5.6.3/ome-tiff/) file.
OME-TIFF is a multi-paged TIFF image, it supports wells' structure and allows working with image channels.

Besides, some previewers support index

[2022-02-02 15:50] SilinPavel opened #2494 "Automation of NGS Project data pre-processing"
## Background
Cloud-Pipeline has flexible model of object `metadata` along with project templates.
With this model a lot of common tasks could be accomplished, such as grouping and managing together a set of data, a metadata, and pipelines.
However a lot of pre-processing work need to be done with this set of artifacts to start data pipeline and get final result.

Automation of pre-processing of n

[2022-02-03 09:59] #1637 closed, assigned to rodichenko, mzueva

[2022-02-03 09:59] #1751 closed, assigned to rodichenko

[2022-02-03 10:01] #1779 closed, assigned to mzueva

[2022-02-03 10:13] #1802 closed, assigned to mzueva, Wedds

[2022-02-03 10:15] #1829 closed, assigned to rodichenko, mzueva, ekazachkova, NShaforostov

[2022-02-03 10:16] #1836 closed, assigned to rodichenko

[2022-02-03 10:16] #1837 closed, assigned to rodichenko

[2022-02-03 10:17] #1838 closed, assigned to rodichenko

[2022-02-03 10:21] #1825 closed, assigned to rodichenko, mzueva, ekazachkova

[2022-02-03 13:34] tcibinan opened #2496 "Support entity links in data storages"
## Background

Currently data storages in Cloud Pipeline may contain only directories and files. At the same time it can be helpful to support links to certain Cloud Pipeline entities such as versioned storages, data storages and etc.

In GUI such links can follow a user to the corresponding entity pages such as versioned storage pages, data storage pages and etc.

In FUSE such links can be displa

[2022-02-03 15:47] mzueva commented on #2494
@SilinPavel @sidoruka
**TODO** for SampleSheet parsing:
- tests
- add an option to create machine run entity if it doesn't exist
- add an option to force overwrite sample sheet if it already exists in the bucket

[2022-02-04 12:52] tcibinan opened #2498 "Extract grid engine autoscaler script to a separate module"
**Background**

Once #2492 is merged `workflows/pipe-common/scripts/autoscale_sge.py` script will become almost 2k lines. The script consists of a lot of classes with different responsibilities such as grid engine management, autoscaling instances selection, scaling up/down handling, autoscaling cycling, faults recovering and testing.

**Approach**

It seems that the autoscaling script became pret

[2022-02-04 15:17] maryvictol commented on #2433
@rodichenko
**Bug:** *Show online users* and *Show offline users* filters should be hidden (or disabled) for User with `ROLE_USER_READER` role.

[2022-02-04 16:25] maryvictol commented on #2433
@ekazachkova,
User session in impersonation mode should be displayed in **Last visited:** info as well as normal login.

[2022-02-08 09:42] sidoruka opened #2500 "`pipe storage cp` uses file prefix when `--exclude` is specified"
**Describe the bug**
`pipe storage cp` copies extra files when `--exclude` is specified

**To Reproduce**
Steps to reproduce the behavior:
1. Bucket setup:
[code]
2. Run a command:
[code]
3. `file.name` is downloaded correctly
4. Run command:
[code]
5. All three files are downloaded:
[code]

**Expected behavior**
Only a specified file shall be downloaded.

**Environment:**
 - Cloud Provider: AWS

[2022-02-08 10:28] NShaforostov commented on #2319
**Test case** was created by #2497 and located [here](https://github.com/epam/cloud-pipeline/blob/develop/docs/testcases/UI/Run_tools_in_sandbox/Launch_parameters/2319.md).

[2022-02-08 14:23] mzueva opened #2501 "Hot pool nodes may be lost during API reboot"
**Describe the bug**
At the moment process of initialisation of pool nodes is not reentrable: if API is rebooted while some pool node is initialised, such node won't be added to cluter properly and cannot be used for run scheduling. We need to support resuming if pool node initialisation process.

[2022-02-10 12:08] maryvictol commented on #2423
@rodichenko ,
**Bug:** Message `Platform is in a maintenance mode, operation is temporary unavailable` shouldn't be shown on *Stop run confirmation pop-up* in Maintenance mode.

![image](https://user-images.githubusercontent.com/47791878/153405017-35ce2ef4-e63c-4178-95b0-bd295021229c.png)

[2022-02-10 13:14] rodichenko commented on #2423
@maryvictol should be fixed with d946550aaaf2245ebd8092811533f47d97da81e8

[2022-02-14 19:00] sidoruka opened #2507 "Tools symlinks do not respect the versions"
**Describe the bug**
Tools symlinks are always resolved as a latest version

**To Reproduce**
* Create a tool with a couple of version in a personal repo
[code]
* Make changes to the image
[code]
* Create a symlink from `aleksandr_sidoruk/do-not-use` to `library/do-no-use`
* Run two jobs:
  * `library/do-no-use:v1`
  * `library/do-no-use:v2 `
* SSH into `library/do-no-use:v1` and run:
[code]
* SSH

[2022-02-14 19:01] sidoruka commented on #2507
If it's also reproduced in `develop` - please backport a fix to `release/0.16`

[2022-02-15 09:23] tcibinan commented on #2507
Relates to #1122.

[2022-02-15 11:44] tcibinan commented on #2507
Cherry-picked to `release/0.16` via 149c14b24d128560c1c8ffe8a1a8ece55e70ff0a.

[2022-02-16 13:20] rodichenko opened #2511 "GUI Launch form: parameters section enhancements"
**Background**
At the moment, Cloud Pipeline' **Launch form** allows to add, modify or remove job parameters manually, but it would be nice to have an ability to *upload* a file with job parameters/values.
Also all parameters are displayed in a non-sorted order, while *grouped* way is more readable.

**Approach**
Let's enhance **Launch Form** and job **Log** form:
1. **Log form**: add `Export` but

[2022-02-17 11:32] maryvictol commented on #2433
Verified as fixed

[2022-02-17 11:33] maryvictol commented on #2433
Verified as fixed

[2022-02-17 11:33] maryvictol commented on #2433
Verified as fixed

[2022-02-18 12:05] rodichenko opened #2517 "[Versioned Storage] Performing PULL command before commit-push"
**Background**
Consider the following scenario:
- **User A** and **User B** clone the same repo at revision `START` to the personal jobs;
- **User A** commits changes to the *file* and pushes it to the remote repo (`commitA`);
- **User B** commits changes to the *file* and pushes it to the remote repo (`commitB`).

At the moment, Cloud Pipeline' **FS Browser API** creates *merge commit* on **Save*

[2022-02-18 12:13] rodichenko opened #2518 "[Versioned Storage] Specifying commit author"
At the moment, Cloud Pipeline' **FS Browser API** uses *job owner* as a commit author. We need to change this behavior: FS Browser API save/commit methods shall respect the user who performs those requests.

**Approach**

*Option 1*
FS Browser API methods can use `bearer` header to determine user who performs commit/save operation.

*Option 2*
Commit/Save author shall be specified at the request p

[2022-02-22 14:22] mzueva commented on #2423
@sidoruka server backported to `release/0.16` 30b2bb2f141ecab2cc4a67d9d6aca050a3c7702c

[2022-02-22 14:23] mzueva commented on #2414
@sidoruka backported to `release/0.16` 61f85ce63d40b5d64280b6e3218ae79a6430ac81

[2022-02-22 14:24] mzueva commented on #2424
@sidoruka backported ro `release/0.16` 5d1e380f09f347f9a5504cd18c64f88a1515d00b

[2022-02-22 14:24] mzueva commented on #2433
@sidoruka server backported to `release/0.16` 4812e8d9d50a480e616f6f779fc4f3f8fa64e0da

[2022-02-22 14:25] mzueva commented on #2398
@sidoruka server backported to `release/0.16` 41bd8cf16626ec0340587d3f13f3ad6e6b6ce7b5

[2022-02-22 18:58] NShaforostov opened #2525 "[Versioned Storages] Ability to perform versioned operations from the remote desktop"
### Background

Due to #1807, users can access to the Versioned Storage(s) during the run - similarly as to the folder of any mounted storage. And also users can write data to such Versioned Storage(s) exactly from inside the run.
Also in some cases, users can edit files from such "mounted" Versioned Storage using different applications remote desktops launched from the run endpoint (like NICE DCV

[2022-02-24 12:01] NShaforostov opened #2527 "[HCS images] Ability to download displayed image"
**Background**

Once the #2489 is implemented, we should add the ability to download the image that is shown at the moment for the user in the preview pop-up.

**Approach**

Add the download button to the HCS preview form, e.g.:
![image](https://user-images.githubusercontent.com/45459424/155519315-acbb4eb6-caa0-4d2a-8a26-e763e3bb631d.png)

By click this button, the displayed image (corresponding t

[2022-02-24 17:47] NShaforostov opened #2528 "[HCS images] Ability to lock ranges of the channels"
**Background**

Once the #2489 is implemented, users can preview HCS images, selecting plate, well, field, etc. to view.
Also, they can configure the contrast for any of the available channel of the image. Currently, value of the channel contrast range is being set automatically (autofluorescence regimen, for the best displaying). This happens every time when user select another field or another w

[2022-02-25 13:26] maryvictol opened #2533 "SQL error at attempt to create Hot node pool with 00:00 time specified for Start on or Ends on"
**Describe the bug**
Attempt to create Hot node pool with time 00:00 (server time) specified for _Start on_ or _Ends on_ gives SQL error.

**To Reproduce**
1. Open the **Cluster state** page
2. Click the **HOT NODE POOLS** tab
3. Click the "**+ Create**" button
4. Specify required values on the ***Create hot node pool*** pop up
5. Set time 00:00 for _Start on_ or _Ends on_ field (if time on client

[2022-02-25 15:46] NShaforostov opened #2534 "[HCS images] Ability to preview "global" image of the well"
**Background**

Once the #2489 is implemented, users can preview HCS images selecting plate, well, field, etc. to view.
Also, the can switch between separate well fields using simplify well scheme at the right side of the preview pop-up.
But in some cases, it would be convenient to view the global image of the whole well - received by combining of all fields' images of the current well.
We shall a

[2022-02-28 16:36] rodichenko commented on #2423
@sidoruka GUI backported to `release/0.16` ee658d2f941afd4251294fc1d9f135945e5c7173

[2022-03-01 06:25] rodichenko commented on #2433
@sidoruka GUI backported to `release/0.16` 2bf870d

[2022-03-01 06:25] rodichenko commented on #2424
@sidoruka GUI part backported to `release/0.16` 2896c857

[2022-03-01 06:26] rodichenko commented on #2414
@sidoruka GUI part backported to `release/0.16` 43ae7b06

[2022-03-02 15:10] maryvictol commented on #2442
@rodichenko
List of all existing pools in the dropdown shall be sorted alphabetically. The same shall be for the list of nodes on the *All hot node pools usage* diagram.

[2022-03-02 21:17] sidoruka opened #2540 "EFS storages do not allow downloading files with # in a path"
**Describe the bug**
EFS storages do not allow downloading files with # in a path

**To Reproduce**
Steps to reproduce the behavior:
1. Create a file in EFS in "/path/#to/file"
2. Download a file via GUI
3. File is downloaded but contain an error message, that `/path/` is not a file

[2022-03-03 06:29] rodichenko commented on #2540
@ekazachkova `GET` and `POST` `datastorage/<id>/generateUrl` should return an URL with url-encoded `path` parameter (and other query parameters):

**Request**
`GET` `datastorage/<id>/generateUrl?path=path%2F%23to%2Ffile.txt&contentDisposition=ATTACHMENT`

**Expected response**

[code]

**Actual response**
[code]

[2022-03-03 12:52] rodichenko commented on #2528
@sidoruka @NShaforostov **Persist channels state** option implemented (#2542)

[2022-03-03 12:53] rodichenko commented on #2442
Should be fixed by e8fb1e371c3d1af583e1cf8b653634ef90a95b06, de6e5a76d0744aeba8bc51e039b7a2bdd429fd9c

[2022-03-03 13:47] tcibinan opened #2543 "Generate ssh keys remotely in pipe tunnel for Linux"
**Background**

Relates to #1501.

Support for passwordless SSH connections on Linux was added to pipe tunnel in #1534. It allows users to establish passwordless ssh tunnel connections to Cloud Pipeline runs.

Currently pipe tunnel passwordless SSH support on Linux require `ssh-keygen` utility to be available locally. In certain distributions this can be quite challenging.

**Approach**

In order

[2022-03-03 15:49] tcibinan commented on #2543
Cherry-picked to `release/0.16` via 0f78c23b627d35752e8f499efcfe93fbc084a18d.

[2022-03-03 15:49] #2543 closed, assigned to tcibinan

[2022-03-05 12:52] maryvictol commented on #2423
Verified as fixed.

[2022-03-05 13:23] maryvictol commented on #2450
Verified as fixed

[2022-03-05 13:24] #2450 closed, assigned to rodichenko

[2022-03-05 14:15] maryvictol commented on #2423
Test cases were created by #2514 and located [here](https://github.com/epam/cloud-pipeline/tree/develop/docs/testcases/UI/Run_tools_in_sandbox/Launch_parameters/2423).

[2022-03-09 15:26] maryvictol commented on #2433
**Test case** was created by #2512 and located [here](https://github.com/epam/cloud-pipeline/blob/develop/docs/testcases/UI/Platform_Usage/2433.md).

[2022-03-09 15:28] maryvictol commented on #2433
**e2e-test** was implemented via https://github.com/epam/cloud-pipeline/pull/2512.

[2022-03-11 09:45] sidoruka commented on #2219
@rodichenko please point to the location of the configuration files, used by the "basic" idp

[2022-03-11 10:15] sidoruka opened #2552 "VM-Monitor service shall notify about the "core" filesystem free space"
**Background**
At the moment, Cloud Pipeline (via `vm-monitor` service) allows to monitor the core services health and certificates expiration dates.
But the "core" filesystem (`/opt`) is not covered by monitoring. Any issue with this filesystem may cause a global platform outage.

**Approach**
* VM-Monitor shall run a scheduled analysis of the "core" filesystem(s)
* List of the filesystems shall

[2022-03-11 10:34] maryvictol commented on #2414
Test cases were created by #2537 and located [here](https://github.com/epam/cloud-pipeline/tree/develop/docs/testcases/UI/Cluster_nodes/Hot_node_pools/2414).

[2022-03-12 13:42] maryvictol commented on #2398
Test cases were created by https://github.com/epam/cloud-pipeline/pull/2549 and located [here](https://github.com/epam/cloud-pipeline/tree/develop/docs/testcases/UI/Data_storages/2182_2398).

[2022-03-14 10:46] sidoruka opened #2555 "Clusters - enable GPU scaling"
Introduce GUI support for #1521

1. Add "Enable GPU scaling" (below "Enable Hybrid cluster")
2. Help icon - text TBD
3. Add `ge.autoscaling.scale.multi.queues.template` preference
* InstanceTypeCPU - allow only non-GPU instances
* InstanceTypeGPU - allow only GPU instances
* No <cloud> or <cloud> is empty: do no show "Enable GPU scaling checkbox"
* No Hybrid/General or is empty: do no show "Enable

[2022-03-14 10:55] maryvictol commented on #2423
e2e-tests were implemented via #2523.

[2022-03-14 10:58] maryvictol commented on #2444
**Test cases** were created by #2546 and located [here](https://github.com/epam/cloud-pipeline/tree/develop/docs/testcases/UI/System_Management/2232-2444_NAT_Gateway).

[2022-03-14 10:59] maryvictol commented on #2444
**e2e-tests** were implemented via https://github.com/epam/cloud-pipeline/pull/2546.

[2022-03-14 11:26] rodichenko commented on #2219
@sidoruka @madmongoose

Configuration files default location (can be overridden by CLI commands):

- Profiles database: `./saml-idp-profiles.json` (`--pd` CLI parameter);
- IDP signature public key: `./idp-public-cert.pem` (`--cert` CLI parameter);
- IDP signature private key: `./idp-private-key.pem` (`--key` CLI parameter).

[2022-03-15 08:31] rodichenko commented on #2555
@sidoruka GUI part implemented (9e9ea43daf565b93361647ba2636d4c71f6aecf6), backported to `release/0.16` (389fbf5783c280cdfdd662ed646a7e20b379802a)

[2022-03-15 09:04] rodichenko commented on #2534
@AleksandrGorodetskii, could you please take care of:

1. **[BUG] unable to select previously chosen *field* of the *well***

Steps to reproduce:
- Open any *.hcs image
- Select any well
- Select any field (A) of the well
- Enable **global image** view for the well
- Select field (A) from step 3

**Expected result**: field A selected.
**Actual result**: nothing happened.

2. **[ENHANCEMENT] Enable

[2022-03-15 09:44] tcibinan commented on #2555
Same for the backend changes. Cherry-picked to `release/0.16` via e491b767158004fdd8b2f86a9f0d616237be6a8f.

[2022-03-15 10:56] tcibinan opened #2558 "Allow additional mount options in pipe mount"
**Background**

Currently pipe fuse mount options can be managed using only a limited amount of run parameters (see #1255). It can be quite helpful to allow setting additional pipe fuse mount options to f.e. configure different chunk size of buffer size.

**Approach**

Support for additional pipe fuse mount options shall be added via an additional run parameter.

[2022-03-15 11:01] #2558 closed, assigned to tcibinan

[2022-03-15 11:04] tcibinan commented on #2558
Cherry-picked to `release/0.16` via eca732cf8bc762833d9d51cd4964ada0c72dfb37.

[2022-03-15 11:20] rodichenko commented on #2534
implemented/fixed by #2557

[2022-03-18 09:15] maryvictol commented on #1948
**Test cases** were created by #2556  and located [here](https://github.com/epam/cloud-pipeline/tree/develop/docs/testcases/UI/Pipe_CLI/1948_launch_run_as_different_user).

[2022-03-18 09:34] maryvictol commented on #1948
**e2e-tests** were implemented via https://github.com/epam/cloud-pipeline/pull/2556.

[2022-03-21 14:53] maryvictol commented on #2319
e2e-test was implemented via #2479.

[2022-03-21 14:55] maryvictol commented on #2319
Daily e2e-test result is located and updated [here](https://github.com/epam/cloud-pipeline/blob/e2e-reports/e2e/reports/AWS/test/classes/com.epam.pipeline.autotests.ADInfoTest.html) (for `AWS`).

[2022-03-22 09:29] maryvictol commented on #2182
@Wedds
**Bug:**
If all contents of the Data Storage that has status `MOUNT_DISABLED` or `READ_ONLY`  are deleted at the same time, then the status isn't changed to active for empty Data Storage after reindexing.

[2022-03-22 10:52] maryvictol commented on #2433
**Daily e2e-tests** results are located and updated [here](https://github.com/epam/cloud-pipeline/blob/e2e-reports/e2e/reports/AWS/test/classes/com.epam.pipeline.autotests.PlatformUsageTest.html) (for `AWS`).

[2022-03-23 08:48] maryvictol commented on #2444
**Daily e2e-tests** results are located and updated [here](https://github.com/epam/cloud-pipeline/blob/e2e-reports/e2e/reports/AWS/test/classes/com.epam.pipeline.autotests.NATGatewayTest.html) (for `AWS`).

[2022-03-23 08:52] maryvictol commented on #2423
Daily e2e-tests results are located and updated [here](https://github.com/epam/cloud-pipeline/blob/e2e-reports/e2e/reports/AWS/test/classes/com.epam.pipeline.autotests.MaintenanceModeTest.html) (for `AWS`).

[2022-03-23 08:58] maryvictol commented on #1948
**Daily e2e-tests** results are located and updated [here](https://github.com/epam/cloud-pipeline/blob/e2e-reports/e2e/reports/AWS/test/classes/com.epam.pipeline.autotests.PipeCLITest.html) (for `AWS`).

[2022-03-23 17:08] sidoruka opened #2568 "Extend VM monitor notifications for the missing nodes/labels"
At the moment, Cloud Pipeline monitors two types of "bad" instances:
* Nodes, missing a Cloud Pipeline RUN_ID or POOL_ID labels
* Nodes, which exist in AWS, but are not registered in the Cloud Pipeline cluster

The notification lack information about the instances and Cloud Pipeline jobs. Let's add the following columns to the instance information:
* `Instance type`
* `Creation date`: creation dat

[2022-03-23 17:09] sidoruka commented on #2568
Please backport to `release/0.16`

[2022-03-24 12:09] maryvictol commented on #762
@rodichenko
The **Add quota** button should be hidden if ***Overall*** quota has been already configured in the correspond section at the *Quotas*/*Compute instances*/*Storages* tab.

[2022-03-28 18:04] NShaforostov opened #2572 "[HCS images] Ability to "restore" HCS images at the original on-prem source"
### Background

Currently, the following flow is supported for the automatic loading of the HCS images from on-prem source:
- to the on-prem instrument workstation, where the prepared HCS images data are being stored, the data transfer service (DTS) is deployed
- DTS uploads raw HCS images data from configured local folder to the certain Cloud data storage, available from the Cloud Pipeline deploy

[2022-03-29 10:12] sidoruka opened #2573 "Allow to set the alias/friendly name for the runs"
**Background**
At the moment, Cloud Pipeline names the job in the GUI using:
* A pod name (in the runs lists)
![image](https://user-images.githubusercontent.com/20998291/160587168-63d6bbee-212f-433c-bee8-f83cc51901f5.png)
* A docker image name (in the dashboard)
![image](https://user-images.githubusercontent.com/20998291/160587255-8e3f49f5-4222-4bd7-9700-f1690c0d7383.png)

It would be nice to allo

[2022-03-29 10:12] sidoruka commented on #2573
Please backport to `release/0.16`

[2022-03-29 13:34] sidoruka opened #2574 "`pipe storage cp` shall start data upload before traversing full source hierarchy"
**Background**
At the moment, `pipe storage cp/mv` CLI command for `--recursive` operations runs (at least) in two phases:
* Scan the `source` directory recursively and collect all the files/folders
* Transfer the data collected

For huge filesystem hierarchies the `scan` process may take a lot of time (hours) and consume a lot of memory.

**Approach**
It would be great to change the scanning proc

[2022-03-30 07:41] sidoruka commented on #2574
Backport to `release/0.16`

[2022-03-30 10:44] rodichenko opened #2577 "Cloud Data app: change executable icon"
**Background**
Ex. At the moment, **Cloud Data** application icon is configured during the *build* stage. It would be nice to have an ability to change pre-built icon of the distributable.

**Approach**
Let's introduce a script that changes **Cloud Data** application icon for **macOS**, **Linux** and **Windows** executables

[2022-03-30 10:49] rodichenko commented on #2577
**macOS executable**

To change an icon of the **macOS** Cloud Data app (`cloud-data-darwin-x64/cloud-data.app`):
- replace `cloud-data.app/Contents/Resources/electron.icns` with the new icon file of the **icns** format;
- run `touch <path-to-cloud-data.app>`, e.g. `touch build/cloud-data-darwin-x64/cloud-data.app`.

**Linux executable**

**Windows executable**

[2022-03-31 08:50] sidoruka opened #2580 "Allow to exclude certain data storages from the billing reports"
**Background**
At the moment, Cloud Pipeline includes any data storage into the billing reports. But we have a number of storage types which are either duplicates or managed by external cloud account:
* Buckets, which are "mirrors" of the existing storages (i.e. those which are used for the data sharing). They are already excluded from the search results, but might be included into billing reports

[2022-03-31 08:50] sidoruka commented on #2580
Shall be backported to `release/0.16`

[2022-03-31 09:36] sidoruka opened #2581 "Show additional data storages info via pipe CLI"
**Background**
At the moment, Cloud Pipeline does not allow to view the data storage information easily. `pipe storage ls` shows only a list of them.
It would be beneficial to show (optionally) the following information:
- Tags (key=value)
- Quota status: ACTIVE/READONLY/MOUNT_DISABLED
- Mount limits (if a data storage is limited to a specific docker image)

**Approach**
Let's add this functionali

[2022-03-31 09:36] sidoruka commented on #2581
Please backport to `release/0.16`

[2022-03-31 11:37] sidoruka opened #2582 "Cannot delete user who is an OWNER of any object"
**Describe the bug**
Cannot delete user who is an OWNER of any object

**To Reproduce**
Steps to reproduce the behavior:
1. Create `USER_X`
2. Grant this user OWNER access to any Cloud Pipeline object
3. Delete user
4. `SQL Error` message is shown, user is not deleted

**Expected behavior**
User is deleted and the object keeps track of the ownership

[2022-03-31 11:37] sidoruka commented on #2582
Please backport to `release/0.16`

[2022-03-31 12:50] Wedds opened #2583 "Run estimation improvement"
At the moment, run price estimation in UI might differ from the one, displayed in billing reports. It would be nice to make calculation procedures consistent.

Right now, `billing-report-agent` implements the following approach to determine compute resource billing for a certain period:
1. Retrieve statuses of a run
2. Adjust statuses:
 - all the statuses outside desired period are omitted (could

[2022-04-04 11:18] tcibinan opened #2587 "Implement remote ports forwarding in pipe cli"
**Background**

Currently pipe cli supports local ports forwarding via pipe tunnel command (see #1501). It's extremely useful when local applications require access to remote applications.

At the same time in certain use cases remote applications require access to local applications. Such remote ports forwarding is usually implemented in a client-server manner where server is hosted on a remote i

[2022-04-05 11:23] rodichenko commented on #2583
@Wedds @sidoruka backported to `release/0.16` (d5e972abbb9dc45b67f7f9257156f73c6703d244)

[2022-04-05 12:34] rodichenko commented on #2573
@mzueva could you please help us with API methods?

[2022-04-05 13:26] sidoruka opened #2590 "Extend `vm-monitor` to monitor the tinyproxy"
**Background**
As we have to proxy egress traffic from the internal networks to the Internet - a `tinyproxy` is used. It may be overloaded with requests is some cases and start degrading.
Administrators shall be aware of this and get a notification, similar to the node/filesystem/etc problems.

**Approach**
* Extend `vm-monitor` to monitor `tinyproxy` stats
* These statistics can be retrieved by r

[2022-04-05 13:27] sidoruka commented on #2590
Please backport to `release/0.16`

[2022-04-06 10:12] #2219 closed, assigned to madmongoose

[2022-04-06 10:12] madmongoose commented on #2219
https://github.com/epam/cloud-pipeline/tree/cp-idp-deployment

[2022-04-06 17:26] NShaforostov commented on #2568
Bug has been found:
in notification about nodes, which exist in the Cloud Provider, but are not registered in the Cloud Pipeline cluster, the info in the "**Matching runs**" column was absent.

Some details:
- Cloud Provider: AWS
- Version: 0.16.0.12264

[2022-04-06 17:31] NShaforostov commented on #2568
Bug has been found:
in notification about nodes, missing Cloud Pipeline `RUN_ID` or `POOL_ID` labels, the info in the "**Corresponding run/pool**" column was absent.

Some details:
- Cloud Provider: AWS
- Version: 0.16.0.12264
- it became clear from the AWS console that these nodes were originally from the hot node pool

[2022-04-06 17:45] NShaforostov commented on #2568
Bug has been found:
the same notification about nodes, missing Cloud Pipeline `RUN_ID` or `POOL_ID` labels, was sent to the admin three times at the same time moment. Each notification had fully the same details about 3 nodes missing labels.

Some details:
- Cloud Provider: AWS
- Version: 0.16.0.12264

[2022-04-07 15:09] NShaforostov commented on #2568
Bug has been found:
admin has received an email notification about nodes, which exist in the Cloud Provider, but are not registered in the Cloud Pipeline cluster. In the notification, 3 nodes were specified.
At the same time, all 3 nodes had Run IDs in the "**Matching runs**" column, these nodes and their runs were visible from the Cloud Pipeline GUI - runs were completed, nodes are absent in the

[2022-04-11 15:14] tcibinan opened #2595 "Support reverse tunnel connections in DTS"
**Background**

Support for autonomous data synchronisation was introduced in DTS via #2044. It allows DTS to autonomously transfer data to Cloud Pipeline even if there is no direct network connection from Cloud Pipeline to DTS.

**Approach**

Nevertheless autonomous data synchronisation triggers data transfers only from within DTS itself and not from Cloud Pipeline. In order to trigger data trans

[2022-04-12 13:26] SilinPavel opened #2599 "[Quick Launcher] Quick Launcher fail to find shiny apps for user with @ in the name"
**Describe the bug**
Cloud Pipeline work with user names that contains `@` (e.g. emails) in the following way:
 - User will registered in the CP with full name (e.g. user@domain.org)
 - All infrastructure related to user directories (f.e. default storage, local home dirs in runs) will cut the name by `@`

However for the `quick-launcher` it's not true. While user has its home dir with name `userna

[2022-04-12 13:47] SilinPavel opened #2600 "[Quick Launcher] Quick Launcher service"
## Background
Cloud Pipeline could be configured to provide separate functionality to:
 - Organize and view rstudio tools and rshiny apps (quick-launcher UI)
 - Provide mechanism to scale resources automatically (based on hot node pools)

Such big peace of functionality seems to be great candidate for integration in default deployment process. However right now all configuration should be done man

[2022-04-14 07:59] tcibinan opened #2602 "Introduce data transfer management API"
**Background**

Relates to #2595.

Currently Cloud Pipeline provides listing API for registered data transfer services. It allows to list any local paths from data transfer service. Nevertheless Cloud Pipeline does not provide any APIs for creating and retrieving data transfer tasks from data transfer services.

**Approach**

Cloud Pipeline shall provide API for data transfer tasks management for

[2022-04-14 09:16] SilinPavel opened #2603 "[Quick Launcher] Refactor quick launcher settings for tools"
**Background**
For now it is possible to configure several settings for tool before launch it (r libs, java etc). However it is possible to configure it for every tool in the same way (same number of settings for whole tool set).

It seems reasonable to have option to split tools by some tag or something and be able to specify separate settings for such tag (f.e. it would be necessary to configure

[2022-04-14 09:23] SilinPavel opened #2604 "[Quick Launcher] Include Quick Launcher as a service in deployment process"
## Background
To successfully implement #2600 we need to add `quick-launcher` to build process.
Solution to integrate this functionality to default deployment (f.e. with -s quick-launcher automatically done the next) :

## Approach
Approach for including `quick-launcher` to deploy process could be decomposed to the next parts:

### Build process
- Include quick-launcher to build process and final

[2022-04-15 10:23] mzueva opened #2605 "Allow to control DTS file system synchronisation using file tokens"
**Background**
A clear and concise description of what the problem is. Ex. At the moment, Cloud Pipeline does not allow [...] and it would be nice to [...] because [...]

**Approach**
A clear and concise description of what you want to happen.

**Other options**
A clear and concise description of any alternative solutions or features you've considered.

[2022-04-15 16:50] tcibinan opened #2607 "Support scheduled local files deletion in DTS"
**Background**

Currently Data Transfer Service allows to list local files and transfer local files to/from cloud data storages. Nevertheless in certain scenarios local files deletion may be also helpful. For example a user may want to download some temporary local files which will be deleted automatically after some configured timeout.

**Approach**

Data Transfer Service shall support scheduled

[2022-04-18 10:15] tcibinan opened #2609 "Introduce data deletion management API"
**Background**

Relates to #2607, #2602 and #2595.

Similarly to #2602 Cloud Pipeline does not provide data deletion API for registered data transfer services (see #2607).

**Approach**

Cloud Pipeline shall provide API for data deletion tasks management for registered data transfer services.

[2022-04-18 13:02] mzueva opened #2611 "Bitbucket support"
**Background**
Cloud Pipeline shall support Bitbucket as VCS for pipelines and version storages.

Target Bitbucket API version - 7.17

[2022-04-26 16:04] tcibinan opened #2617 "Manage transferring unicode storage paths explicitly in pipe cli"
**Background**

Currently pipe storage `cp/mv` commands fail on linux if some of the transferring files have non ascii symbols in their paths. The issue is related to #1334 where the same problem is partly resolved by changing the default encoding in python. At the same time more common approach would be to manage unicode paths explicitly in order to avoid multiple issues with subsequent processin

[2022-04-28 18:32] NShaforostov opened #2622 "Credentials for storage access for users outside the Platform"
## Background

In some cases, it might be necessary for admins to give access to the storages created and existing in Cloud Pipeline for outside user that has not any access to Platform, but such users might need to read/write data directly to storage via some services -  e.g. to AWS S3 bucket via AWS CLI.
We should add the ability for admins to generate credentials for such users on specific stor

[2022-05-04 10:08] #2617 closed, assigned to nobody

[2022-05-04 16:01] SilinPavel commented on #2622
Just drop peace of information regarding necessary permissions for such feature (AWS):
[code]

[2022-05-05 18:05] maryvictol commented on #762
@mzueva , @sidoruka

- Only *Admins* and users with the ***ROLE_BILLING_MANAGER*** shall have the ability to see exceeded billing quotas in the **Users management** table.

- Regular user should see his quotas (his own quotas, his groups and roles quotas) on the *Billing charts*.

[2022-05-24 20:54] NShaforostov opened #2639 "Autoscaling of the high availability service"
**Background**

As separate Cloud Pipeline deployments may face periodically with large workload peaks, it would be useful to implement an autoscaling of the system nodes (HA service) - to allow scaling up and down of the service according to the actual workload.

**Approach**

We shall monitor the state of the system API instances (at least, their RAM and/or CPUs consumption).
HA service shall ha

[2022-05-25 09:36] SilinPavel commented on #2599
should be fixed by [d596700](https://github.com/epam/cloud-pipeline/commit/d59670072ac6785f195644ff3c01751e542e484b)

[2022-05-25 11:09] mzueva opened #2641 "Allow to limit number of active runs for a user/group"
**Background**
It would be helpful to limit number of active runs for a user/group using contextual preferences.

[2022-05-25 20:55] NShaforostov opened #2642 "Restrict a count of the instances to launch"
**Background**

In some cases, it may be useful for admins to have the ability to restrict the number of instances that any or certain user can launch simultaneously.
It can be helpful against the overloading of the Cloud Pipeline deployment by a single user.
We should implement such ability.

**Approach**

Restriction by the running instances count shall be implemented similar to "Allowed instanc

[2022-05-26 10:50] ekazachkova commented on #2611
The following actions are not supported for bitbucket repositories (due to Bitbucket Server API does [not support](https://community.atlassian.com/t5/Bitbucket-questions/How-to-delete-file-using-bitbucket-server-REST-APIs/qaq-p/1967162) file deletion):
- DELETE `pipeline/{id}/file`
- DELETE `pipeline/{id}/folder`
- POST `pipeline/{id}/folder` (when `previousPath` is not empty)
- POST `pipeline/{id

[2022-05-27 11:27] mzueva opened #2643 "Allow to customise path to pipeline configuration file"
**Background**
At the moment Cloud Pipeline uses the default file name for storing configuration file for pipeline: `config.json` in the root of repository. For some cases it would be helpful for to allow users to customise path to this file.

**Approach**
Let's add a new field to Pipeline entity `configurationPath` with default value `config.json`. Pipeline configuration shall be stored and updat

[2022-05-30 13:56] mzueva opened #2646 "Allow to create pipeline from a branch"
**Background**
At the moment pipeline uses default branch working with the underlying VCS. For some cases it would be helful to allow user to create a pipeline from a brach.

**Approach**
Let's add a field `branch` to a pipeline, if this field is specified it shall be used to request current commit from the VCS, otherwise the default branch shall be used. API shall support update of this field.

[2022-06-01 12:27] maryvictol commented on #2182
**Daily e2e-tests** results are located and updated [here](https://github.com/epam/cloud-pipeline/blob/e2e-reports/e2e/reports/AWS/test/classes/com.epam.pipeline.autotests.NFSQuotasTest.html) (for `AWS`).

[2022-06-01 17:20] tcibinan commented on #2639
## Goals

From the technical point of view we would like to achieve the following goals:

1. Kubernetes cluster shall be autoscaled based on specific deployment utilization.
2. Autoscaling shall not depend on other Cloud Pipeline services.
3. Autoscaling shall be expandable in terms of autoscaling triggers and target deployments.
4. Autoscaling shall support independent multiple deployment autosca

[2022-06-07 09:57] maryvictol commented on #762
@mzueva
Billing Quota to ***Billing centers*** with action ***Stop all jobs*** is applied to admin members of Billing center: all active jobs with admin user owners are stopped as well as for non-admin owners when quota is exceeded.

[2022-06-07 11:54] Wedds commented on #2642
Contextual preference, that describes a user limit, has `launch.max.runs.user` name.

I believe, that system-level preference `cluster.allowed.instance.max.count` might be renamed to `launch.max.runs.user.global`, because as far as I understood, it should be considered as some default limit for every user registered in the platform.

[2022-06-15 14:40] mzueva opened #2663 "Report run status to metadata entities"
**Background**
At the moment a `PipelineRun` object can be associated with metadata entities and for some use cases it would be helpful to report Run status back to Metadata entity.

**Approach**
If `PipelineRun` is launched with system parameter `CP_REPORT_RUN_STATUS`=`Analysis status`, all run status changes shall be saved in the associated metadata entities in field `Analysis status`. Run statu

[2022-06-16 11:33] #2605 closed, assigned to Wedds

[2022-06-16 11:34] mzueva commented on #2605
Done

[2022-06-16 13:10] maryvictol commented on #2642
@Wedds
 It should be possible to not set a value for `launch.max.runs.user.global` system-level preference. Now error `Preference 'launch.max.runs.user.global' contains invalid value ''` is shown at saving preference without value.

[2022-06-16 13:11] maryvictol commented on #2642
@Wedds
Resume for paused runs should be restricted if the maximal number of instances allowed to run is exceeded for the current user.

[2022-06-16 13:13] maryvictol commented on #2642
@Wedds
`pipe` CLI command that shall display the count of instances running by the user at the moment not only the configured restriction by the instances count.

[2022-06-16 14:47] mzueva opened #2664 "Allow to share paths from Metadata view"
**Background**
It would be helpful to allow users to share metadata fields with type `Path` from Metadata view similar to datastorage listing page

[2022-06-16 14:58] mzueva opened #2665 "Allow to configure default metadata sorting via preference"
**Background**
Allow to configure default metadata sorting column name via contextual preference `misc.metadata.default.sort.key`.

[2022-06-16 15:06] mzueva opened #2666 "Improve run configuration page for metadata"
**Background**
At the moment one cannot change launch parameters when run is initiated from Metadata view and the launch form looks a little bit odd

**Approach**
- Allow to modify launch form when run is initiated from Metadata view
- Improve UX of this launch form

[2022-06-17 09:12] rodichenko commented on #2665
Preference value format: `Column1:ASC,Column2,Column3:DESC`

[2022-06-17 09:57] sidoruka opened #2668 "Automate macFUSE installation if not found"
<TBD>

[2022-06-17 14:59] SilinPavel opened #2669 "Billing server fails if there is no explicitly excluded from bulling calculation storage."
**Describe the bug**
Billing server fails if there is no explicitly excluded from billing calculation storage. It tries to load storages that were excluded, and if API server will return empty result, e.g.:
[code]
Billing server will fail with NPE.

I believe we should fix it in manner that if API returns empty results - we should skip such step.

[2022-06-21 06:16] mzueva opened #2673 "Allow to apply date filters to metadata fields"
**Background**
At the moment for MetadataEntities we support date filters (from-to) only for the `createdDate` field. It would be helpful to support such filters for other fields as well.

[2022-06-21 08:32] SilinPavel commented on #2669
should be fixed by aba16ea

[2022-06-21 10:31] kamyshova opened #2675 "Summary billing report doesn't display data for custom period"
**Describe the bug**
Summary billing report show `No data to display` when custom specific period is selected, where:
- year of the **FROM** date is different from the selected year of the **TO** date
- day of the **FROM** date is not the first day of the selected month
<img width="500" alt="Screen Shot 2022-06-21 at 1 11 58 PM" src="https://user-images.githubusercontent.com/23356251/174776344-c7d

[2022-06-22 07:54] mzueva opened #2677 "Allow to apply missing or empty value filter to metadata"
**Background**
At the moment `/metadataEntity/filter` method allows to filter metadata entries by a substring. It would be helpful to support missing or empty value filter as well, which will return entities which don't have specified field or do not have value for it.

[2022-06-22 09:40] sidoruka opened #2678 "Automatically renew API_TOKEN for the compute instances"
**Background**
Access token, within the compute instances, exists as an environment variable (API_TOKEN). It is set as a pod variable and then written into `/etc/cp_env.sh` which is sourced for the SSH session.
It can be consumed in two ways:
* `pipe` CLI calls
* Direct API calls (e.g. curl -H "Authorization: Bearer $API_TOKEN" ...)

Access tokens expire as defined by `launch.jwt.token.expiration`

[2022-06-23 06:51] rodichenko opened #2679 "GUI SampleSheet actions enhancements"
For NGS projects with metadata there are several buttons displayed within each cell of the **Sample Sheet** column: **Edit** / **Create**, **Upload** and **Remove**. For large sets of records the table becomes overcomplicated with a lot of similar buttons.

Let's display the **Sample Sheet** value of each record as a *link* (like general *Path* value) and move **Upload** / **Remove** buttons to th

[2022-06-23 06:53] rodichenko opened #2680 "GUI Metadata: display filtered records count"
It would be nice to have a `N records` label displaying the total / filtered records of the Metadata Entities class.

[2022-06-23 09:24] rodichenko opened #2683 "GUI Library: display metadata entities within the folder"
**Background**
At the moment, Cloud Pipeline displays *metadata entity classes* (like Samples, MachineRuns etc.) within the **Metadata** node in Library or Folder view. Sometimes it would be more convenient to display those entity classes directly in the folder, without intermediate node.

**Approach**
Let's introduce `ui.library.metadata.inline` preference (`boolean`) that allows to configure met

[2022-06-24 08:13] mzueva opened #2687 "Allow to specify visibility for SystemPreferences"
**Background**
At the moment one cannot specify default visibility for SystemPreferences and all such preferences are considered not visible. This approach forces user to manually set visibility with isn't always convenient. Let's allow to specify default visibility for SystemPreferences in the code.

**Approach**
- Add a new field/constructor visibility to SystemPreferences
- Do not change existi

[2022-06-27 10:13] rodichenko opened #2690 "GUI Metadata: predefined filters"
**Background**
At the moment, Cloud Pipeline **Metadata** table allows to filter records by some values (e.g., display all records with *Name* equals *Name A* or *Name B*). It would be nice to have project & metadata class -level predefined set of filters.

**Approach**
To define filters, let's use `MetadataFilters` attribute of the *project* with metadata of the following format (json):

[code]

[2022-06-27 10:14] rodichenko commented on #2690
7a61c4b implements predefined filters

[2022-06-27 11:57] rodichenko commented on #2642
GUI part implemented (#2656)

[2022-06-27 22:00] NShaforostov opened #2694 "HCS images analysis. Define results block"
## Background

A clear and concise description of what the problem is. Ex. At the moment, Cloud Pipeline does not allow [...] and it would be nice to [...] because [...]

## Approach

A new panel shall be added to the HCS preview pop-up.
Via this panel, a set of the analysis results to output can be defined.
By default, this panel shall have a view like:
![image](https://user-images.githubusercont

[2022-06-28 10:45] maryvictol commented on #2642
@rodichenko
**Bug:**
***Allowed instance max count*** value specified for ***Group*** should be kept in the `launch.max.runs.group`  Contextual preference. Now it's kept in the `launch.max.runs.user`  preference.

[2022-06-28 13:36] rodichenko commented on #2642
@maryvictol should be fixed with d0aec9e)

[2022-06-28 14:28] rodichenko commented on #2690
cb1c3bc479b0b3ae82ff88f1f1e54589d699110b implements conditions & schemes

[2022-06-28 16:15] maryvictol commented on #2642
@rodichenko
**Bug:**
A warning message doesn't appear at the *Launch pop-up* at case of user tries to launch more instances that defined by the restriction specified for ***User Group*** or by system preference `launch.max.runs.user.global`.

[2022-06-28 17:04] rodichenko commented on #2642
@maryvictol should be fixed with 374bfa9

[2022-06-29 08:49] mzueva opened #2696 "Allow to specify notifications in pipeline/tool configuration"
**Background**
At the moment user may specify custom notifications when a new run is launched:
![image](https://user-images.githubusercontent.com/12640002/176406004-3db7ad6b-c4db-48dc-9f3a-4821b600e58d.png)

It would be useful to support notification section in pipeline/tool configurations and detached configurations as well to allow user set a permanent notification settings.

[2022-06-29 08:50] mzueva opened #2697 "Allow to specify excludes for all run notifications"
**Background**
At the moment it is possible to add some excludes, by instance type and parameters, to IDLE RUN notifications. These excludes are set using SystemPreferences `system.notifications.exclude.instance.types`, `system.notifications.exclude.params`.

It would be great to apply this logic to all run-related notifications: `HIGH_CONSUMED_RESOURCES`, `LONG_PAUSED`, `LONG_PAUSED_STOPPED`, `LO

[2022-06-29 08:51] mzueva opened #2698 "Allow to edit configuration in "raw" mode"
**Background**
At the moment pipeline/tool configuration supports set of directives which affect parameters visibility, allowed values and editing options. For some cases it would be great to have an option to enable `raw` editing, when all these limits are not applied and user can edit configuration without restrictions: e.g. specify custom value for a enum field, override some configuration valu

[2022-06-29 16:01] SilinPavel opened #2701 "[Quick Launcher] Allow for user to specifiy additional tool endpoints when run application"
Quick Launcher is a great way for user to quickly run some pre-configured setup (rstudio/shiny app).
However sometimes user wants to have more power in way to configure tool before launch it (f.e. specify additional tool endpoint).

Lets allow for user to add additional endpoints for run configuration.
For `settings` config file of `quick-launcher` introduce new configuration entry:
[code]

If thi

[2022-06-29 20:17] SilinPavel opened #2702 "Handle custom endpoints in sync-route.py"
Connected to #2701

With help of #2701 and we can propagate custom endpoint settings to specific run. However we still can't configure such endpoints without changes in `sync-route.py` script.

And to do lets change `sync-route.py` to additionally check `Run Parameters` for env vars from #2701and if present - use it to construct `custom endpoint` and add it to list of tool endpoints to be configur

[2022-06-30 10:59] rodichenko commented on #2675
Backported to `release/0.16` (90193a320478b95f24a18ceac3377b8edad4af57) and `stage/0.16/20220314` (c2661348691f87e3aa05eccd8d884bdffd210d31)

[2022-06-30 17:10] maryvictol commented on #2642
@Wedds
**Bug:**
If user has active job based on the static or autoscalled cluster pipe CLI command `pipe users instances`  doesn't  count child nodes at counting `Active runs detected for a user`.

[2022-06-30 23:02] maryvictol commented on #2642
@rodichenko
**Bug:**
 Child nodes of active jobs based on the static or autoscalled cluster, aren't included into total count of user's running jobs. As result warnings about exceeded maximum number of user's running jobs are shown  incorrectly on the Launch form and pop-up.

[2022-07-01 10:51] tcibinan opened #2709 "Show overall number of nodes on cluster page"
**Background**

Cloud Pipeline cluster page shown a table of all nodes in kubernetes cluster. The table includes both system and non system nodes. At the same time the table title shows an overall number of nodes which doesn't include system nodes. As a result the following title wording may seem confusing:

[code]

**Approach**

The table title shall be changed to something more clear to comprehe

[2022-07-01 11:06] rodichenko commented on #2642
@maryvictol should be fixed by 03013d36a31b79d8be1d3bee95bcc890ca96229e

[2022-07-01 14:24] SilinPavel opened #2713 "Add possibility to choose way to sync blocked users with LDAP"
Cloud-Pipeline has a mechanism to sync its current state with LDAP in terms of user blocking status.
However right now cloud-pipeline relay that it has necessary permissions to load any object from LDAP, but in some cases we can have permissions to load only active users but not blocked ones.

Lets add an additional functionality to configure a method to determinate if user is blocked on LDAP or n

[2022-07-01 15:17] mzueva opened #2714 "[DTS] Improve performance of subsequent transfers"
**Background**
It the moment when DTS synchronises a folder multiple times, `pipe storage cp` command is invoked for each iteration even if no actual changes were creates from the last synchronisation. Due to `pipe` default flags `-r -f -s -sl=filter` actual transfer of data is not performed, but it still requires a lot of time, since we are checking last modification timestamp for each file. In o

[2022-07-04 11:05] maryvictol commented on #2642
@rodichenko
**Bug:**
When user tries to run a job based on the ***Autoscaled cluster*** and full (possible) size of that cluster is greater than instances restriction a warning message isn't shown at the **Launch** pop-up.

[2022-07-04 12:41] mzueva opened #2716 "Time zone for Metadata date fields"
**Background**
Some metadata entities may have fields with `date` (`Date`) type which correspond to date values in default server format `yyyy-mm-dd hh:mm:ss.ssssss` in UTC timezone. It would be nice to show these fields on GUI in user timezone, similar to other date data in the application.

[2022-07-04 17:25] maryvictol commented on #2642
@rodichenko, @AleksandrGorodetskii
**Bug:**
 At displaying the warning messages about exceeded maximum number of user's running jobs **Paused** runs shouldn't be included into total count of user's running jobs.

[2022-07-05 05:08] rodichenko commented on #2642
@maryvictol #2718 corrects this misunderstanding

[2022-07-05 14:50] #2687 closed, assigned to okolesn

[2022-07-05 14:50] #2677 closed, assigned to okolesn

[2022-07-05 14:50] #2665 closed, assigned to rodichenko

[2022-07-05 14:50] #2664 closed, assigned to rodichenko

[2022-07-05 14:50] #2663 closed, assigned to rodichenko, ekazachkova

[2022-07-05 14:51] mzueva commented on #2716
Already implemented

[2022-07-05 14:51] #2716 closed, assigned to rodichenko

[2022-07-05 14:51] #2690 closed, assigned to rodichenko

[2022-07-05 14:51] #2683 closed, assigned to rodichenko

[2022-07-05 14:51] #2680 closed, assigned to rodichenko

[2022-07-05 14:51] #2679 closed, assigned to rodichenko

[2022-07-07 09:44] rodichenko commented on #2642
@sidoruka backported to `release/0.16` (a3ba5eba6a30f1243996a961886238e6bbd9aa8c)

[2022-07-07 12:22] mzueva opened #2721 "S3 objects lifecycle management"
**Background**

Requirements to the S3 objects lifecycle management :
- Allow to specify multiple transition rules for a bucket based on file prefix and/or glob pattern
- All available S3 storage archive classes shall be supported (`S3 Glacier Instant Retrieval`, `S3 Glacier Flexible Retrieval`, `S3 Glacier Deep Archive`) as well as deletion of objects
- User shall receive a notification on lifecy

[2022-07-07 14:56] mzueva opened #2722 "[DTS] Transfer status reporting"
**Background**
At the moment DTS service reports heartbeat if it is enabled using dts preference `dts.heartbeat.enabled`, but for some cases user may want to check not only DTS liveness but transfer status as well. A new API and synchronisation shall be implemented to allow users to view DTS transfer events.

**Approach**
- Cloud Pipeline shall provide an API to store DTS transfer events in the da

[2022-07-08 09:46] rodichenko commented on #2445
Backported to `release/0.16` (d560a7f) and `stage/0.16/20220314` (d050790)

[2022-07-08 10:34] maryvictol opened #2723 "In the Chromium It's impossible input value into the "Allowed instance max count" field on the "Edit User" form"
**Describe the bug**
It's impossible input value into the "Allowed instance max count" field on the "Edit User" form via keyboard in the *Chromium* browser. It blocks running tests.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Settings page
2. Open "User management" tab
3. Click on any User in the Users list
4. Input any correct value into the "Allowed instance max count" field

[2022-07-11 08:36] maryvictol commented on #762
**Test cases** were created by https://github.com/epam/cloud-pipeline/pull/2705 and located [here](https://github.com/epam/cloud-pipeline/tree/develop/docs/testcases/UI/Billing/762).

[2022-07-12 09:33] rodichenko opened #2727 "GUI Configure kubeLabels for tools"
It would be nice to have an ability to specify `kubeLabels` for tool version settings - a set of `key`: `value`.

### Approach

**Tool version settings** page shall display controls for specifying custom *kube labels* in **Execution environment** section (after *sensitive storages* configuration controls). Each label consists of a `key` (string) and a `value` (string). User shall be able to add, e

[2022-07-13 20:08] maryvictol commented on #2642
**Test cases** were created by https://github.com/epam/cloud-pipeline/pull/2725 and located [here](https://github.com/epam/cloud-pipeline/tree/develop/docs/testcases/UI/Run_tools_in_sandbox/Launch_parameters/2642).

[2022-07-14 11:07] maryvictol commented on #2639
The follow autoscaler parameters were checked:
`trigger`:
- `cluster_nodes_per_target_replicas`,
- `target_replicas_per_target_nodes`,
- `cpu_utilization`:  `max`, `monitoring_period`
- `memory_utilization`: `max`, `monitoring_period`

`rules`:
- `on_threshold_trigger`:  `extra_replicas`, `extra_nodes`

`limit`:
- `min_nodes_number`,
- `max_nodes_number`,
- `min_replicas_number`,
- `max_replicas_n

[2022-07-14 16:44] sidoruka opened #2736 "Forcible terminate instances if the job is stuck in `umont`"
**Background**
It may happen (quite rare!) that a job is stuck when the `init` command is already finished. This can be reproduced in the environments using LustreFS as a cluster scratch filesystem.
It can't be unmounted and hangs in `uninterruptible sleep` state. While this is being fixed in the LustreFS space, we shall be able to handle such situations.

**Approach**
* Once `init` command is don

[2022-07-18 10:52] mzueva opened #2739 "Store required entity fields for Billing reports"
**Background**
At the moment when data is persisted for billing reports only entity id (tool/pipeline/storage) is saved and details are fetched from the database when billing report is generated. With such approach we cannot provide details (name , owner) for deleted entities in the billing reports.

**Approach**
1. All entities details which are used in billing reports shall be persisted in Elast

[2022-07-20 10:23] kamyshova commented on #2675
Fixed

[2022-07-20 10:23] #2675 closed, assigned to rodichenko, AleksandrGorodetskii

[2022-07-20 10:49] kamyshova opened #2740 "Could not perform pagination in the cluster run's workers table"
**Describe the bug**
At the cluster run's child table is not possible to perform pagination.
The following error appears in the dev console:
`Uncaught TypeError: Cannot read property 'setState' of null`

**To Reproduce**
Steps to reproduce the behavior:
1. Launch cluster run with more than 20 workers
2. Wait for workers to get up
3. Click the `show all N runs` button
4. Try to click the next page

[2022-07-21 10:23] NShaforostov opened #2742 "[VM-monitor] Redundant messages"
### Describe the bug

**_Sometimes_** VM-monitor sends messages with the content that VMs are not registered in a cluster and suggestion to delete them in the Provider console.
But when manually checked, it turns out that these VMs are working well in the Cloud Pipeline deployment (with all mandatory labels) and also look well in the Provider console.

### To Reproduce

Steps to reproduce the beha

[2022-07-25 13:53] rodichenko commented on #2356
@sidoruka @maryvictol b9376283fbb89ed40bbdc93b80e705576dc9c3a5 introduces **Actions** and **URLs** support:

[code]

Either `content`, `url` or `action` must be specified.

**URL**
The url to be navigated to if user clicks corresponding "support" icon. `target` optional property can be specified (provide `_blank` to open url at the separate browser tab)

**Action**
A well-known action **identifier

[2022-07-27 16:47] NShaforostov opened #2749 "[HCS Analysis] Ability to merge Z-stack in a single projection"
## Background

Once #2694 is implemented, we shall add the ability to merge several Z-planes of the same HCS image (in each field) in a single image (intensity projection).

Example:
- let's consider that we have an HCS image with 10 Z-plates. Below you can see separate images of two of them:
![image](https://user-images.githubusercontent.com/45459424/181306022-608abfa0-262c-44e0-8228-7338c842ed11

[2022-07-27 16:52] sidoruka opened #2750 "Docker components scanner shall prioritise os-release files"
If more than one `os-release` file is found across the filesystem - we shall use that one which is located in `/etc/` directory.
This shall take effect for all of the files:

- os-release
- redhat-release
- system-release
- centos-release

[2022-07-28 14:32] #2714 closed, assigned to nobody

[2022-07-28 14:32] mzueva commented on #2714
Done

[2022-08-01 11:17] maryvictol commented on #2736
**Test case** was created by #2741 and located [here](https://github.com/epam/cloud-pipeline/tree/develop/docs/testcases/UI/Run_tools_in_sandbox/Launch_parameters/2736.md).

[2022-08-01 11:19] maryvictol commented on #2736
**e2e-test** was implemented via https://github.com/epam/cloud-pipeline/pull/2741.

[2022-08-01 13:40] rodichenko opened #2756 "[HCS Analysis] Evaluations filters"
Currently, only filter by user name is available.
It would be nice to have the following filters as well::
- by analysis name
- by image name

[2022-08-01 13:41] rodichenko opened #2757 "[API] Runs filter by tags"
It would be nice to have an ability to filter runs by tags

[2022-08-01 14:35] rodichenko opened #2758 "[HCS Analysis] Standard channels colors"
Currently, when user opens any HCS image with several channels - each channel is highlighting in random color. Then user can change that color for the desired one.

It would be convenient if we specify default colors for well-known channel names, i.e. the same channel in any HCS image shall have the same default color. Then user can change color for the desired ones as previously.

[2022-08-02 07:37] rodichenko commented on #2723
@maryvictol should be fixed by #2728

[2022-08-02 09:44] NShaforostov opened #2759 "S3 objects lifecycle GUI"
## Background

This issue describes requirements to the GUI for the functionality implemented via #2721.

## Approach

Admin and owner shall have the ability to configure the transition rules for object storages (currently, only for AWS s3).

- [Create/Edit rule](#create_edit_rule)
- [View rules](#view_rules)
- [Rule logs](#rule_logs)
- [Notifications](#notifications)

Separately, there shall be t

[2022-08-02 12:55] rodichenko opened #2760 "[HCS Analysis] FilterObjects module and objects filtering"
**Add to the `FindNuclei` module a filter for the nuclei size.**

We shall add a filter (with two thresholds) to the advanced settings of the `FindNuclei` module - to restrict the results by object size. I.e. all objects smaller or greater than configured filter shall be excluded from results.

[2022-08-03 11:42] maryvictol commented on #2723
Verified as fixed

[2022-08-03 11:42] #2723 closed, assigned to rodichenko

[2022-08-04 15:33] NShaforostov opened #2766 "[HCS images] Video from images stack"
**Background**

When viewing HCS images, users often want to view the same field but in separate time points to compare some parts of the image. Currently, they can do it but they need to switch between timepoints manually, wait the loading of each field, so it can be inconvenient and not good visually.
It would be more convenient for users, to view such series of images as a short animation or vi

[2022-08-05 07:34] maryvictol commented on #2528
@rodichenko
**Bug:**
Channels settings aren't kept at changing view from *Well view* to *Field view* or back.

[2022-08-05 14:21] maryvictol opened #2768 "[HCS images] Unable to change field/well after timeout"
[HCS images] Unable to change field/well after 10 minutes timeout

**To Reproduce**
1. Open any .hcs file
2. Select any well and field
3. Wait about 10 minutes
4. Try to select another well or field

**Actual behavior:**
- New image doesn't open.
- Error in Console.
- After refresh *Preview pop-up* closes. All channels or analysis settings disappear.

**Expected behavior**
New image opens. After r

[2022-08-05 16:13] NShaforostov opened #2769 "[Billing reports] Show main info in a widget"
**Background**

Currently, users can view their spending reports at the billing page.
In some cases, to know the summary info about spendings is enough.
Especially for such cases, we shall put the main summary of the user's spending info to a new widget and show that widget at the main Dashboard.

**Approach**

Add a new widget to the main Dashboard (e.g. "My costs"):
  ![image](https://user-image

[2022-08-10 11:05] maryvictol commented on #2489
@rodichenko
User shall have the ability to unselect time point (well, field) by second click (with Shift) at multi time point (well, field) selection.

[2022-08-10 16:18] sidoruka opened #2776 "[NAT Gateway] Force lower case for the server name"
Please add a validation to the "Server name" field in the NAT Gateway -> Add route menu:
* Shall be a valid domain name:
  * Maximum length - 253 symbols;
  * Valid characters: "a"-"z", "0"-"9", hyphen ("-"), dot ("."), underscore ("_")
  * Domain name consists of labels divided by dot (".")
  * Each label must have length of 1-63 symbols
  * Each label must starts with "a"-"z" symbol, and ends no

[2022-08-11 09:32] rodichenko opened #2777 "[HCS Analysis] Export analysis results to XLSX format"
Currently, report spreadsheet is being downloaded in CSV format. We shall change it to XLSX format.

[2022-08-11 11:00] bilskla opened #2779 "Deployment on a HPC"
Good afternoon.
I am currently trying to install cloud-pipeline on HPC, but I can't find documentation on how to do it exactly.
Сould you tell me how to do it or where to find clear (even if brief) instructions?

[2022-08-11 14:42] rodichenko commented on #2776
@sidoruka fixed (7a5de52d60725d965e54435b7cf33aac60a73f94), backported to `release/0.16` (4bb08040368e32367a6ba0f3fe673f9d358a0943) and `stage/0.16/20220314` (6a155bcd4d1cb5f0c4e541b249a5c12d9dc2029b)

[2022-08-15 09:54] rodichenko opened #2782 "[HCS Analysis] FindNeurites module"
We shall implement a new module that will find for neurites in HCS images.
This module shall be added to the `Main` subgroup of modules list.

[2022-08-16 11:29] #2739 closed, assigned to mzueva, tcibinan

[2022-08-17 11:54] maryvictol opened #2787 "[HCS Analysis] Enhancements"
It would be helpful for users

- [x] to fill ***Parent Objects*** (*Nuclei objects*,  *Cells objects*, etc) where it 's possible when user adds *Main* modules.
- [x] to disable ***Run analysis*** button if the required *Parent Objects* (*Nuclei objects*,  *Cells objects*, etc) aren't filled.
- [x] to give any *Warning message* when *Analysis* return no results.

---
- [x] At case of single analysi

[2022-08-18 10:40] kamyshova opened #2788 "Could not rename a folder in AWS storage if the storage contains a file that exceeds the 5 Gb limit"
**Describe the bug**
It is not possible to rename a folder in AWS storage if the storage contains a file that exceeds the 5 Gb limit.
The following error appears:
`Moving folder '<folder_name>/' was aborted because some of its files '<storage_file_in_another_folder>' size exceeds the limit of 5368709120 bytes`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to non-empty storage that conta

[2022-08-19 08:18] tcibinan commented on #2639
Cherry-picked to `release/0.16` via 46ba80cb3ead2e43721a502404b1e3e4949255cf, 4eb26dbcef6227f133d534736054136fd623a82d, a19e73fbee597f09321d7981809ccbcfbc461835, e60fbcded01ef44c52b070e331177936c6f7a5f8 and 90e593c422d65d58d2d6fe2bdec38861e2a3d157.

[2022-08-25 12:07] NShaforostov opened #2793 "Logs rotation for services"
**Background**

Currently, inner services used by Cloud Pipeline (`EDGE` and `DAV`) generate lots of different logs.
These logs are useful, but as these logs are storing in the core platform filesystem, we can face a problem when there are too many logs accumulated - and these logs can occupied significant portion of the filesystem, that in turn can lead to the global platform outage due to overco

[2022-08-26 11:29] SilinPavel opened #2797 "Extend Security Logs with Storage Lifecycle Events"
Related to #2721  #2759
## Overview
All actions related to Storage Lifecycle Policy should be logged within `Security Logs` for good traceability:
- Lifecycle Archiving rules
  - Lifecycle Rule creation
  - Lifecycle Rule changes
  - Lifecycle Rule deletion
  - Lifecycle Rule prolongation for specific path
  - Lifecycle Rule execution for specific path
- Lifecycle Restoring actions
  - Lifecycle r

[2022-09-01 10:12] tcibinan opened #2802 "Use predetermined uids and gids for user local accounts"
**Background**

During linux run initialization an owner local account is created with default uid and gid. The same goes for user accounts synchronisation featured in #2197. Such approach doesn't work well with shared file systems because user uid and gid is usually random.

**Approach**

In order to improve an overall support of shared file systems Cloud Pipeline user uid and gid should be prede

[2022-09-05 08:20] tcibinan opened #2806 "Restrict passwordless ssh access to specific users in pipe tunnel"
**Background**

Relates to #1501.

Currently pipe tunnel establishes passwordless ssh access to root, owner and user local accounts. In certain cases such access is not efficient.

**Approach**

By default passwordless ssh access should be established to only a default ssh user. Additionally, passwordless ssh access should be established to explicitly specified users.

[2022-09-05 09:56] maryvictol commented on #2787
@AleksandrGorodetskii, @rodichenko
**Bug:**
HCS Analysis: On the *Evaluations* tab tooltips for *job status icon* and *job owner* are cut off by the browser edge.
![image](https://user-images.githubusercontent.com/47791878/188419963-de88e2e6-5833-4cec-a7aa-2e003adc128a.png)

[2022-09-05 10:49] tcibinan opened #2809 "Introduce dynamic storages mounting"
**Background**

Currently, data storages are mounted only during run initialisation. Nevertheless it can be quite helpful for certain use cases such as #2195 to be able to mount additional data storages after a run was initialised.

**Approach**

Dynamic storage mounting shall be introduced.

[2022-09-05 13:31] SilinPavel commented on #2721
Comment on restoring files implementation:

Main aspects:
 - Server only `initiate` process of restoring files - Restore action created with status `INITIATED`
 - `sls` actually starts this process by creating a batch operation job to restore specified files (aws cloud) - status changed to `RUNNING`
 - After job is created in the next loops of `sls` service will try to check restoring status by `h

[2022-09-05 17:04] maryvictol opened #2812 "[HCS Analysis] Output properties for Spots object at case of "None" parent object in FindSpots module"
In the HCS Analysis *FindSpots* module can have *None* value for Parent object. However certain the spot search region (e.g. cell) where the particular spot is located is needed for output Properties `Region Intensity` and `Spot To Region Intensity` for Spots.

As result, Analysis results aren't returned for all output properties at case of `Region Intensity` or `Spot To Region Intensity` properti

[2022-09-06 10:57] SilinPavel opened #2813 "Error when user tries to restore version of an object that stored in "archive" storage class"
**Describe the bug**
If user tries to restore version of an object that stored in "archive" storage class he/she will get an error says:
[code]
Because it isn't possible to simply restore such object, firstly `cloud restore` process should be done.

**Expected behavior**
It shouldn't be possible for user to restore (make such version `latest`) from Cloud-Pipeline UI

[2022-09-07 15:59] rodichenko commented on #2787
@maryvictol should be fixed with 14a10775cc7cf56225276cf5efe5d3de03da077f

[2022-09-07 15:59] rodichenko commented on #2787
@maryvictol should be fixed with d917184eb5b5aa61ece18d66260b020970f7dc0c

[2022-09-07 16:54] rodichenko commented on #2787
@maryvictol shall be fixed with 9b84d78e3ea3c526e36f52d3751afdb3f8f08ec6

[2022-09-07 20:08] NShaforostov opened #2819 "Incorrect behavior of "Inactive/blocked for a long time users" notifications"
### Describe the bug

Strange behavior with receiving `INACTIVE_USERS` email notifications was observed:
- some users in the list of "Users are blocked or inactive for a long time" have "floating" dates in "Blocked date" field. Although, they all have not ever been logged in the Platform ("Last login date" field is empty). These "floating" dates are changing daily at the same time - e.g., the "Blo

[2022-09-08 08:57] maryvictol commented on #2787
Verified as fixed

[2022-09-08 13:54] NShaforostov opened #2821 "INACTIVE_USERS notification enhancements"
**Background**

Currently, the notifications `INACTIVE_USERS` (about users that are blocked/inactive for a long time) are being sent every period defined as "monitoring delay period" - in case when configured period of inactivity/blocking is over.
Usually monitoring delay period is set from an hour up to day.
Such short period is set cause that monitoring of inactive users is additionally used to

[2022-09-09 10:08] SilinPavel commented on #2813
- Another case: we try to rename **folder** that contains files in GLACIER  we can't do that
- Another case: we try to rename **folder** that contains files in GLACIER **and** files not in glacier (don't forget about file that we might created when create directory (.keep))  - it will create another directory and move files not from GLACIER to that directory and fail to move files from GLACIER

[2022-09-09 11:23] rodichenko commented on #2787
@maryvictol should be fixed with 43f6a130c317fda4ac24e04ce46bc31040dcf62e

[2022-09-09 11:25] rodichenko commented on #2787
@maryvictol should be fixed by #2823

[2022-09-09 12:19] rodichenko commented on #2812
@maryvictol should be fixed with 25b3da3b6ac69c4dcd6036c707aecd44a52ea321

[2022-09-09 16:23] rodichenko commented on #2768
@maryvictol should be fixed with 35c3d5a1aa1573b11aad22fe0637523582c33378

[2022-09-09 16:23] SilinPavel commented on #2759
I will briefly describe here known issues regarding representation of restoring statuses for files and folders:

#### - Files could be shown restored when its aren't
If **folder1** with files in GLACIER (just f.e.) was restored but after this restoration additional file was added to this folder and moved to GLACIER - system will show such file as restored within the same restore operation as all o

[2022-09-12 10:07] rodichenko opened #2827 "[HCS Analysis] Video generation API enhancements"
**Background**
At the moment, **HCS Video generation API** generates output files to the predefined destination (based on the input .hcs image and the selected well / field). For two or more simultaneous requests for the same well / field, API will write files to the same destination. We need to change that behavior - each request should write output file to the unique (i.e., request-dependent) fo

[2022-09-12 14:42] rodichenko opened #2829 "[HCS Analysis] FindMembrane module"
Add "FindMembrane" module that finds the area based on the *cell* object and the inner / outer distance from the cell border

[2022-09-12 22:35] maryvictol commented on #2812
Verified. Works well.

[2022-09-13 08:08] maryvictol commented on #2787
Verified as fixed

[2022-09-13 09:09] maryvictol commented on #2787
Verified. Works well

[2022-09-13 16:12] rodichenko commented on #2528
40915c3841c40c05cf01e41c3b761295aa292ed7 should fix that

[2022-09-15 09:03] maryvictol commented on #2528
Verified as fixed

[2022-09-15 09:30] maryvictol commented on #2768
Verified as fixed

[2022-09-16 11:13] maryvictol commented on #2766
@rodichenko
It would be useful to show **Download current video** button instead of disabled **Download current image** button on the ***Settings*** panel  for video.

[2022-09-16 17:32] NShaforostov opened #2837 "[HCS images] Viewer enhancements"
## Background

We shall implement several features to enhance the HCS image viewer:
- [ ] Rename downloading video file
- [ ] Rename file with analysis results
- [ ] Notify user in case when the same/similar analysis is being launched as was before
- [ ] Change the approach to saving analysis pipeline

## Approach

### Rename downloading video file

When user creates a video from a multi-timepoint

[2022-09-19 09:43] #2806 closed, assigned to tcibinan

[2022-09-19 13:07] kamyshova opened #2841 "[Quick Launcher] Quick Launcher displays an incorrect icon when launching a shiny application"
**Describe the bug**
When I click the launch button of a shiny application on the shiny portal page, the shiny application launching page appears. But the shiny application icon is incorrect and corresponds to the first shiny application listed on the shiny portal page.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the shiny portal page
2. Choose application and click on it
3. Click t

[2022-09-21 08:58] SilinPavel opened #2843 "[Data Storage] Problem to rename directory in a storage, when some of files located in archive storage class"
**Describe the bug**
Problem to rename directory in a storage, when some of files located in archive storage class (GLACIER, or DEEP_ARCHIVE)

**To Reproduce**
Steps to reproduce the behavior:
1. Create storage and folder **test-folder** in it
2. Place two file in a folder (one to GLACIER and one to STANDARD)
3. try to rename folder to **test-folder-2**
4. You will get an error in a middle of an o

[2022-09-27 09:12] maryvictol commented on #2759
@rodichenko, @AleksandrGorodetskii

**Bug:**
**Edit of *Transition rule*:** If user deletes one of the Destination only,  **Save** button remains disabled and changes can't be kept.

**To reproduce:**
1. Create *Transition rule*
2. Select `By the earliest file` or `By the latest file` as *Method*
3. Add at least 2 Destinations
4. Save *Transition rule*
5. Open created *Transition rule* to edit
6.

[2022-09-27 09:40] maryvictol commented on #2759
@SilinPavel

***Glob* pattern works incorrectly:**
Dot in patterns like `*.*` (or `*.pdf` etc) is matched to any character and files from the subfolders of the storage path specified as the *Root path* are transferred by the current rule too.

[2022-09-27 10:36] tcibinan opened #2847 "Introduce extended attributes support in pipe fuse"
**Background**

Currently extended attributes support in pipe fuse is disabled. Nevertheless it can be helpful to have extended attributes for automated processing on Linux.

**Approach**

Limited extended attributes support shall be introduced. At this point extended attributes management shall be based upon cloud storage object native tags.

[2022-09-27 10:48] maryvictol commented on #2759
@SilinPavel
**Destinations order**
*Case: :*
The user has a Transition rule with two destinations ("S3 Glacier Flexible Retrieval" and "S3 Glacier Deep Archive") that should be applied one after another in time.
For some reason, the second destination is applied at first. When all files are moved to the second destination successfully transition to the first destination is tried to start.
The resu

[2022-09-29 09:58] tcibinan opened #2850 "Introduce ssh pretty urls"
**Background**

Currently a pretty url can be configured for a run to change its endpoints location. At the same time SSH endpoints location cannot be configured with some pretty url.

**Approach**

Support for SSH pretty urls shall be introduced in a similar fashion to regular pretty urls.

[2022-09-30 10:51] tcibinan opened #2853 "Inaccessible endpoints with spaces and friendly urls"
**Describe the bug**

Currently if a run is launched with a friendly url and its tool have several endpoints with spaces in their titles then run's endpoints won't be accessible.

<img width="764" alt="Снимок экрана 2022-09-30 в 13 35 28" src="https://user-images.githubusercontent.com/16464586/193252457-baa1d157-e2be-423b-93ff-9cad9b5f3969.png">

**To Reproduce**

1. Add several endpoints with spa

[2022-10-03 11:15] #2850 closed, assigned to tcibinan

[2022-10-03 14:40] tcibinan commented on #2159
Cherry-picked pipe cli and pipe common changes to `release/0.16` via c07eb08c59b812aa89c557280d03fcc59be9aea5 and 1dcdffe969258eafec1698750112819d784d45ac.

[2022-10-03 14:41] tcibinan commented on #1711
Cherry-picked to `release/0.16` via 61b256858c2fc46c7f94d01b7ff75d69feb5dce7.

[2022-10-03 14:42] #2847 closed, assigned to tcibinan

[2022-10-03 14:43] tcibinan commented on #2847
Cherry-picked to `release/0.16` via 92bf238451edbf993ba92883f47038e43209d452.

[2022-10-03 14:43] tcibinan commented on #2850
Cherry-picked to `release/0.16` via 89804d93461a4e66fcc21ea3fabf910c24ca955a.

[2022-10-03 17:15] maryvictol commented on #2759
@tcibinan
**Case:**
1.Storage with archived file is mounted inside run
2. Open Run logs and open **Browse**
3. Try to download archived file:
Error message `<file_name> stdout: b'File transferring has failed /cloud-data/<file_name with path>. Exiting...' stderr: [b'Error: [Errno 22] Invalid argument']` is shown
4. Open SSH panel. Try to copy archived file from to the another storage via `pipe stor

[2022-10-04 14:05] maryvictol commented on #2759
@rodichenko , @AleksandrGorodetskii

**Bug:**
**Restore transferred item** button shouldn't be shown for folders in the NFS Storage.
**To reproduce:**
1. Open NFS Storage
2. Tick checkbox for any folder

*Actual result:*
**Restore transferred item** button appears.

[2022-10-05 11:21] maryvictol opened #2858 "System logs aren't shown if "From" date is specified."
**Describe the bug**
System logs aren't shown in the *Logs* table if **From** date value is specified.

**To Reproduce**
1. Go to **Settings**
2. Open *SYSTEM MANAGEMENT* tab
3. Specify any correct **From** date value
4. See the empty **Logs** tab with the message `No data`

**Expected behavior**
Logs corresponding selected period are shown in the table.

**Environment:**
 - Cloud Provider: [AWS]

[2022-10-05 14:08] maryvictol commented on #2759
@rodichenko, @AleksandrGorodetskii

**Bug:**
**Download** and **Restore version** buttons shouldn't be shown for versions of archived files.

![image](https://user-images.githubusercontent.com/47791878/194080793-69b94e6b-1d5b-43c1-b387-6e7a1eb357b9.png)

[2022-10-05 16:50] tcibinan opened #2859 "Introduce read only storages support in webdav"
**Background**

Currently a user can access storages if given read/write permissions using Cloud Data or pipe fuse tools which both use Cloud Pipeline Webdav endpoint to access its data. It would be helpful to also support storages with read only permission in Cloud Pipeline Webdav. This way users will be able to access read only storages through Cloud Data and pipe fuse.

**Approach**

Introduce

[2022-10-06 10:02] maryvictol commented on #2759
@rodichenko, @AleksandrGorodetskii

**Bug:**
For **shared** files and folders:
- **Download** button is shown for the `DEEP_ARCHIVE` and `GLACIER_IR` archived files.
- **Download** button isn't shown for **restored** files.

**To reproduce:**
1. Open the folder that contains ***archived*** and ***restored*** files with statuses `GLACIER`, `GLACIER_IR` and `DEEP_ARCHIVE`
2.  Click **Share current f

[2022-10-06 15:26] maryvictol commented on #2759
@SilinPavel

**Case:**
It is impossible to restore a transferred file that has archived versions and its latest version has been deleted.

![image](https://user-images.githubusercontent.com/47791878/194353783-1eec529f-7ea3-4b6a-b8df-0fe60bfa549b.png)

[2022-10-11 08:05] tcibinan commented on #2859
Cherry-picked to `release/0.16` via `ef26c73bd66e0c5e238a834fa75e0be960af7092`, `d7b380bd91050fc5185584fe10a2b0e1360fcc3a`.

[2022-10-13 08:48] tcibinan opened #2870 "Introduce node metrics api"
**Background**

Currently only OOM events are being reports on cluster nodes. At the same time there are a lot of helpful metrics which can be collected within cluster nodes.

Specifically the following metrics are of interest atm:
- number of open files per process/per node
- open files limits per process/per node

**Approach**

Existing _oom-reporter_ daemonset shall be updated to include node m

[2022-10-13 12:29] SilinPavel commented on #2843
should be fixed by https://github.com/epam/cloud-pipeline/pull/2864

[2022-10-13 14:35] tcibinan commented on #2859
Cherry-picked to `release/0.16` via ef26c73bd66e0c5e238a834fa75e0be960af7092, d7b380bd91050fc5185584fe10a2b0e1360fcc3a, 46ac86a05274e18f31b79643743a317e3d5c932f and b8ce0f41c34af1dbab375e2af527dcab9e4350e8.

[2022-10-14 10:41] tcibinan opened #2875 "Cannot ssh as run's owner after systemd installation"
**Describe the bug**

Currently if _systemd_ run capability is used then run's owner ssh connections fail with the following error message:
[code]

The issue seems to be resolved once `/var/run/nologin` file is deleted.

**To Reproduce**

Steps to reproduce the behavior:
1. Launch centos run with _systemd_ capability.
2. SSH to the run
3. Try to SSH as run's owner to localhost
4. See error

**Expe

[2022-10-17 08:09] tcibinan commented on #2870
The following commit includes related changes 5f5315230a9a6f4d727557a2ae4a3ef28b86481b.

[2022-10-19 07:16] tcibinan opened #2882 "Introduce node threshold notifications in VM monitor"
**Background**

Node metrics api has been introduced in #2870. As long as some node metrics can indicate potential issues then it can be helpful to notify administrators in such cases.

**Approach**

VM monitor service shall monitor specific node metrics and notify administrators in case of some metrics meeting the configured corresponding thresholds.

[2022-10-19 11:00] SilinPavel opened #2886 "When shared storage is created parent's storage storage policy is reseted"
**Describe the bug**
When shared storage is created parent's storage storage policy will be reset.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any versioned storage
2. Click on share some folder from it
3. Go to AWS console and see that bucket restore policy is disabled

**Expected behavior**
Bucket policy should remain the same

[2022-10-20 15:31] maryvictol commented on #2445
**Test case** was created by #2554 and located [here](https://github.com/epam/cloud-pipeline/tree/develop/docs/testcases/UI/Pipeline_library/Pipeline_details/2445.md).

[2022-10-25 10:08] maryvictol commented on #2759
@SilinPavel

**Case:**
The file in the storage with enabled versioning has several versions and its latest version has *Standard* status and old ones are archived.
It is impossible to restore old versions of file directly because ***Restore transferred item** button isn't shown for such files.

Old versions can be restored only either when restoring the folder containing this file, or if we select

[2022-10-26 14:42] mzueva opened #2897 "Disable commit and pause operations for runs exceeding layers number"
**Background**
At the moment user may face and error during run pause/commit operation when launched images has a maximum number of layers. We need to check whether run is eligible for pause/commit operations before actually submitting the command.

**Approach**
- A new API method shall be added `GET /run/$id/layers` returning current number of layers in the image
- GUI shall verify whether curren

[2022-11-01 13:24] mzueva opened #2905 "Cloud Pipeline shall preserve file creation date as a tag"
**Background**
At the moment for object storages (S3) we `Last modified date` attribute, but for some cases we need to track the date of file creation (when file was initially uploaded to the cloud).

**Approach**
- API shall add `Creation date` tag to all files which are uploaded initially. Name of the tag shall be set in `SystemPreferences`: `storage.creation.tag.name`. Tags shall be stored in c

[2022-11-01 16:38] NShaforostov opened #2907 "Sharing from sensitive storages"
**Describe the bug**
Currently, there is the ability to select file/folder in the sensitive storage and share them with other users/groups/roles.
Additionally, if files/folders were shared for some user with "write" permissions - that user gets more rights than admin or storage owner, e.g. that user will have the ability to upload files to folder in sensitive storage or download sensitive files.
I

[2022-11-03 15:07] mzueva opened #2912 "Support folder browsing for static resources"
**Background**
At the moment Cloud Pipeline provides `/restapi/static-resources/${path}` endpoint for browsing files from S3 objects in a browser. For folders this API at the moment returns 404, even if folder exists.

**Approach**
API `/restapi/static-resources/${path}` shall return simple html with files list for folders.

![image](https://user-images.githubusercontent.com/12640002/199772842-a50

[2022-11-07 06:57] maryvictol opened #2914 "Cloud Data enhancements and bugs"
1. [X] 1. No message/warning is shown when copying/moving an existing file.

2. [x] 2. At attempt to create a folder with an existing name error `Error: Request failed with status code 405` (for storage) / `Error: EEXIST: file already exists, mkdir 'folder_name'` is shown at the bottom of modal.
      - Probably error message should be more user-friendly.
      - It's impossible to remove error me

[2022-11-07 14:04] SilinPavel opened #2916 "Data Catalog: Extensions and Improvements"
## Description
This issue describes several improvements related to Data Catalog functionality and together will provide mechanisms to extend its behavior and use cases.

### Export spreadsheet report from Data Catalog

There should be possibility to export search result (filtered with combination of faceted filters) to a spreadsheet (csv, xlsx)
Such spreadsheet should include such fields as (TBD)

[2022-11-07 20:40] NShaforostov commented on #1036
Docs were added via #2547 and can be found [here](https://github.com/epam/cloud-pipeline/blob/develop/docs/md/manual/08_Manage_Data_Storage/8.11._Sensitive_storages.md).

[2022-11-07 20:42] NShaforostov commented on #1140
Docs were added via #2547 and can be found [here](https://github.com/epam/cloud-pipeline/blob/develop/docs/md/manual/10_Manage_Tools/10.7._Tool_version_menu.md#image-history).

[2022-11-07 20:45] NShaforostov commented on #2234
Docs were added via #2547 and can be found [here](https://github.com/epam/cloud-pipeline/blob/develop/docs/md/manual/10_Manage_Tools/10.9._Run_capabilities.md#custom-capabilities).

[2022-11-07 20:46] NShaforostov commented on #2295
Docs were added via #2547 and can be found [here](https://github.com/epam/cloud-pipeline/blob/develop/docs/md/manual/10_Manage_Tools/10.9._Run_capabilities.md#custom-capabilities).

[2022-11-07 20:46] NShaforostov commented on #2323
Docs were added via #2547 and can be found [here](https://github.com/epam/cloud-pipeline/blob/develop/docs/md/manual/10_Manage_Tools/10.9._Run_capabilities.md#custom-capabilities).

[2022-11-07 20:49] #2323 closed, assigned to rodichenko

[2022-11-07 20:49] #2295 closed, assigned to rodichenko

[2022-11-07 20:49] #2234 closed, assigned to rodichenko

[2022-11-07 20:51] NShaforostov commented on #2721
Docs were added via #2547 and can be found [here](https://github.com/epam/cloud-pipeline/blob/develop/docs/md/manual/08_Manage_Data_Storage/8.10._Storage_lifecycle.md).

[2022-11-07 20:51] NShaforostov commented on #2759
Docs were added via #2547 and can be found [here](https://github.com/epam/cloud-pipeline/blob/develop/docs/md/manual/08_Manage_Data_Storage/8.10._Storage_lifecycle.md).

[2022-11-08 14:21] mzueva opened #2918 "Persist docker image history and cmd during image scan"
Related to #1811

**Background**
At the moment a few of tool related API methods call Docker registry at each request to get image details, while these details are immutable and can be persisted in the database during scheduled tool scan.

**Approach**
- `ToolVersionScanResultView` object shall include and persist in the database number of layers in the image and default cmd, these properties shal

[2022-11-09 13:02] SilinPavel opened #2921 "Docker Component Scan: Can't determinate version for debian releases"
**Describe the bug**
Docker Component Scan service can't determinate version for debian releases.
It seems that the problem is in `/etc/os-release` file, for some linux systems this file is a symbolic link to `/usr/lib/os-release`, so I think we should simple add  `/usr/lib/os-release` file for OSVersionAnalyzer as possible source.

[2022-11-11 00:24] maryvictol opened #2924 ""Save" button on the "Configuration" page is disabled before the save operation is completed."
These problems affect autotests:

1. **Detached configuration page**: **Save** button is disabled before the save operation is completed.

![image](https://user-images.githubusercontent.com/47791878/201220556-ef41d020-2965-4d97-8548-c1c79597fb18.png)

2. **Settings >> Preferences page (especially Cluster section)**: at a quick click, the **Save** button does not  work from the first time.

These p

[2022-11-21 10:05] SilinPavel commented on #2921
Should be fixed by [c637326](https://github.com/epam/cloud-pipeline/commit/c637326b4aa74522120c7529203618051ff0bc39)

[2022-11-28 13:02] mzueva opened #2942 "Allow to specify security groups while launching run"
**Background**
At the moment it is possible to specify some cloud instance attributes using run parameters `CP_CAP_TARGET_AVAILABILITY_ZONE`, `CP_CAP_TARGET_NETWORK_INTERFACE`, etc. We also need to support passing instance security groups in the same manner.

[2022-11-28 15:59] SilinPavel opened #2943 "Object Tagging: NFS storage object tags should respect datastorage hierarchy"
**Background**
There is an inheritance approach for native tags in Cloud-Pipeline Platform, e.g. if there is two hierarchical datastorages:

 - datastorage
 - datastorage/sub-datastorage

and for file `datastorage/sub-datastorage/file.txt` tag (`tag-key: tag-value`) is defined, such tag will be visible for each of datastorage.

However, for NFS datastorage it isn't true, because for such storage m